<div class="text-center">
    <h1>Printable Rules Reference</h1>
    <i>
        The contents of this section will not appear on the printed document.
    </i>
</div>

<div class="css-col-cont">
    <div class="css-double-col">
        <div class="padded-col">
            <h4 style="margin-bottom: 0px;">
                Printable Premade Contractors
            </h4>
            <ul style="margin-top: 5px;">
                <li>
                    <a href="/contractor/print/3818/" target="_blank" rel="noopener noreferrer">Lucy Kate</a>
                </li>
                <li>
                    <a href="/contractor/print/3817/" target="_blank" rel="noopener noreferrer">Five</a>
                </li>
                <li>
                    <a href="/contractor/print/3816/" target="_blank" rel="noopener noreferrer">Sheriff Bo Perkins</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="css-double-col">
        <div class="padded-col">
            <h4 style="margin-bottom: 0px;">
                Printable Scenarios
            </h4>
            <ul style="margin-top: 5px;">
                <li>
                    <a href="/contract/scenario/39/" target="_blank" rel="noopener noreferrer">Smell No Evil</a>
                </li>
                <li>
                    <a href="/contract/scenario/404/" target="_blank" rel="noopener noreferrer">Bobasaurus</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="text-center" style="margin-top: 10px;">
        <button onclick="window.print()">Print / Download PDF</button>
        <div>
            <small>
                <i>
                    (For PDF, select "print to PDF" printer)
                    <div>
                        Recommended browsers: anything but Safari
                    </div>
                </i>
            </small>
        </div>
    </div>