<h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">
    Combat
</h3>
<div class="css-tutorial-text text-center">
    <i>At the start of Combat, roll <b>Initiative</b>:</i>
    Dexterity + Perception
    <div>
        Each Round of Combat represents 3 seconds of near-simultaneous action.
    </div>
</div>
<div class="css-col-cont">
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">It's my Turn</h3>
                You get one <b>Movement</b> and one <b>Action</b> on your turn every Round of Combat.
                <h4 style="margin-top: .05in; margin-bottom: .05in;">Movement</h4>
                <ul>
                    <li>
                        Movement is taken immediately before OR after your Action. It cannot be split.
                    </li>
                    <li>
                            <span data-toggle="tooltip" title="
                                (Dexterity + 1 - Stress)*5 feet. Minimum 5 feet.
                                ">
                                <b>You may Free Move</b> (Dexterity + 1 - Stress) × 5 feet. Minimum 5 feet.
                            </span>
                    </li>
                    <li data-toggle="tooltip" title="Dash up to: Brawn x 5 feet.">
                        <b>You may Dash</b> up to an additional (Brawn) × 5 feet.
                        <ul>
                            <li>
                                Dashing penalizes your Action -1 die per 5 feet.
                            </li>
                        </ul>
                    <li data-toggle="tooltip" title="Sprint: (Outcome + Brawn + Dexterity + 1) x 5 feet.">
                        <b>All-out Sprint:</b> instead of using Free Movement or Dash, you may spend your Action and roll
                        Brawn + Athletics.
                        You move
                        (Free Movement + Dash distance + 5) + (Outcome × 5) Feet.
                    </li>
                    </li>
                </ul>
                <h4 style="margin-top: .05in; margin-bottom: .05in;">Actions</h4>
                <ul>
                    <li>
                        <b>Attack</b> with your weapon or hands.
                    </li>
                    <li data-toggle="tooltip" title="
                                Example: if your Evade Outcome is 4 and you are attacked twice with an Outcome of 3 each time,
                                you would avoid the first attack and suffer the second as though its Outcome was 2.
                                ">
                        <b>Evade</b> by rolling to Defend or Dodge. Your Outcome is "spent" to reduce the
                        Outcome of any incoming attacks until your next Action.
                    </li>
                    <li data-toggle="tooltip" title="
                                Most Powers require an Action to activate.
                                ">
                        <b>Activate a Power</b> or <b>use an Ability</b> as normal.
                    </li>
                    <li data-toggle="tooltip" title="
                                The Action and event cannot be changed once declared.
                                This does not allow you to take two Actions in a Round.
                                You may break the hold to React to incoming attacks.
                                You cannot hold Movement.
                                ">
                        <b>Hold your Action</b> by declaring an Action and a triggering event.
                        If the event occurs before your turn on the next Round, you perform the Action.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">I'm being attacked</h3>
                If you have not yet spent your Action this Round, you may use it as a Reaction.
                <h4 style="margin-top: .05in; margin-bottom: .05in;">Reactions</h4>
                <ul>
                    <li data-toggle="tooltip" title="">
                        <b>Dodge</b> by rolling Dexterity + Athletics.
                        Your Outcome is subtracted from the attacker's.
                    </li>
                    <li data-toggle="tooltip" title="">
                        <b>Defend</b> with your weapon by rolling its attack roll.
                        Your Outcome is subtracted from the attacker's. Availability depends on weapon match-up.
                    </li>
                    <li data-toggle="tooltip" title="">
                        <b>Clash</b> with the attacker using the same roll you would use to Defend.
                        The higher Outcome (not contested) is treated as the result of a successful, undefended attack
                        roll against the loser.
                    </li>
                </ul>

                <h4 style="margin-top: .05in; margin-bottom: .05in;">Desperate Defense</h4>
                <ul>
                    <li>
                        If you have already used your Action, you may Exert your Mind to perform a Reaction.
                        Your next Round's Action receives a -2 dice penalty. You cannot Clash as a Desperate
                        Defense.
                    </li>
                </ul>


                <h4 style="margin-top: .05in; margin-bottom: .05in;">Will to Survive</h4>
                <ul>
                    <li>
                                <span >
                                    Once per Contract, you may reduce the severity of an incoming Injury up to 4 Severity levels
                                    (to a minimum of Severity 4). You take a point of Mind damage and suffer a Major Battle
                                    Scar that lingers after the Injury is healed, even with proper Stabilization.
                                </span>
                    </li>
                </ul>
            </div>
        </div>
   </div>
    <div class="col-xs-12 text-center css-tutorial-text">
        If an attack's Outcome is positive after defense, it results in a new Injury with Severity = <b>Outcome + Weapon damage - Armor</b>
    </div>
</div>



<h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">
    Equipment
</h3>
<div class="css-col-cont">
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <ul>
                    <li>
                        You can list any equipment you would reasonably be able to acquire at the store, online, etc.
                    </li>
                    <li>
                        You can carry up to Brawn x 15 pounds without it affecting your movement.
                        <ul>
                            <li>
                                Most Playgroups only calculate how much equipment weighs if it seems like a Contractor is carrying too much.
                            </li>
                        </ul>
                    </li>
                </ul>


                <h4 style="margin-top: .05in; margin-bottom: .05in;">Armor</h4>
                <ul>
                    <li>
                        <b>Type </b>
                        <i>Armor </i>
                        <b>(Penalty to physical Actions)</b>
                    </li>
                    <li>
                        <b>
                            Street clothes
                        </b>
                        <i>
                            0
                        </i>
                        <b>
                            (-0)
                        </b>
                    </li>
                    <li>
                        <b>
                            Rugged clothes
                        </b>
                        <i>
                            1
                        </i>
                        <b>
                            (-0)
                        </b>
                    </li>
                    <li>
                        <b>
                            Armored clothing
                        </b>
                        <i>
                            2
                        </i>
                        <b>
                            (-0)
                        </b>
                    </li>
                    <li>
                        <b>
                            Flack jacket and helmet
                        </b>
                        <i>
                            3
                        </i>
                        <b>
                            (-0)
                        </b>
                    </li>
                    <li>
                        <b>
                            Plate Armor
                        </b>
                        <i>
                            5
                        </i>
                        <b>
                            (-3)
                        </b>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <h4 style="margin-top: .05in; margin-bottom: .05in;">Weapons</h4>
                <ul>
                    <li>
                        <b>Type </b>
                        <i>Roll </i>
                        <b> (Damage)</b>
                    </li>
                    <li>
                        <b>
                            Club or improvised weapon
                        </b>
                        <i>
                            Brawn + Melee
                        </i>
                        <b>
                            (+1)
                        </b>
                    </li>
                    <li>
                        <b>
                            Knife or dagger
                        </b>
                        <i>
                            (Dex or Brawn) + (Brawl or Melee)
                        </i>
                        <b>
                            (+1)
                        </b>
                    </li>
                    <li>
                        <b>
                            Full-sized edged (sword, axe)
                        </b>
                        <i>
                            Brawn + Melee
                        </i>
                        <b>
                            (+2)
                        </b>
                    </li>
                    <li>
                        <b>
                            Edgeless thrusting (rapier, spear)
                        </b>
                        <i>
                            Dexterity + Melee
                        </i>
                        <b>
                            (+2)
                        </b>
                    </li>
                    <li>
                        <b>
                            Greatsword, giant axe
                        </b>
                        <i>
                            Brawn + Melee
                        </i>
                        <b>
                            (+3)
                        </b>
                    </li>
                    <li>
                        <b>
                            Handgun
                        </b>
                        <i>
                            Dexterity + Firearms
                        </i>
                        <b>
                            (+2)
                        </b>
                    </li>
                    <li>
                        <b>
                            Rifle, Shotgun
                        </b>
                        <i>
                            Dexterity + Firearms
                        </i>
                        <b>
                            (+3)
                        </b>
                    </li>
                    <li>
                        <b>
                            Anti-material sniper
                        </b>
                        <i>
                            Dexterity + Firearms
                        </i>
                        <b>
                            (+3, ignores 2 Armor)
                        </b>
                        (Requires one Action to set up tripod)
                    </li>
                    <li>
                        <b>
                            Rock or improvised thrown weapon
                        </b>
                        <i>
                            Brawn + Athletics, Difficulty between 7 and 9
                        </i>
                        <b>
                            +0 – +1
                        </b>
                    </li>
                </ul>
                See the guide for a full list of Weapons and Armor.
            </div>
        </div>
    </div>
</div>

<h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">
    Conditions and Circumstances
</h3>
<div class="css-tutorial-text">
    Contractors don't exist in a vacuum. Conditions and Circumstances describe other aspects of your charaacter that may
    impact the game. For example, their financial status, legal / wanted status, any extra languages they know, or any curses they acquire.
</div>

<h3 class="text-center" style="margin-top: .05in; margin-bottom: .05in;">
    Gifts
</h3>
<div class="css-tutorial-text">
    These are the payment you've received from your successful Contracts. They can be <b>Powers</b>, <b>Legendary Artifacts</b>, or the ability to craft single-use <b>Consumables</b> or multi-use <b>Artifacts</b>.
</div>
<div class="css-tutorial-text">
    Players make their own custom Gifts for their Contractors using the custom Gift Builder on the website.
</div>
