<h3 class="text-center" style="margin-top: .05in;">
    Body
</h3>
<div class="css-col-cont">
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <div>
                    Body represents a Contractor's physical fortitude and overall health. Your Body is depleted by Injuries,
                    which can lead to increased Stress, Battle Scars, or, in severe cases, death.
                </div>
                <div>
                    <h3 style="margin-top: 5px; margin-bottom: 5px;">
                        Injuries
                    </h3>
                    <p>
                        This is dangerous work, and Injuries heal slowly. Luckily for you, Harbingers don't invite
                        Contractors on jobs until they're healed up, so <b>you start each Contract without any Injuries</b>.
                    </p>
                    <ul>
                        <li>
                            Whenever a character takes Damage, they receive an Injury.
                        </li>
                        <li>
                            An Injury's Severity is equal to the Damage you take minus your Armor rating (if applicable).
                        </li>
                        <li>
                            Injuries deplete your body, which you track by filling in the boxes underneath the <b>Body</b>
                            label on your character sheet.
                            <ul>
                                <li>
                                    The number of boxes you fill in is equal to <b>your worst Injury's Severity rating</b> plus <b>the number of other Injuries you have.</b>
                                </li>
                                <li>
                                    So if you have a single Severity-4 Injury, you fill in 4 boxes. If you take another Severity-4 Injury, you fill in one more box for a total of five.
                                </li>
                                <li>
                                    If you have 3 Injuries with Severities 1, 2, and 3, your Body is depleted 5 boxes (3 [highest Severity] + 2 [number of other Injuries]).
                                </li>
                            </ul>
                        </li>
                        <li>
                            If your Body is exactly fully depleted, you are Incapacitated and cannot move or take Actions.
                            If your Body is depleted any more than that, you die.
                        </li>
                    </ul>
                    All Severity 4 or greater Injuries cause a <b>Battle Scar</b> and will Degrade, meaning they will worsen in Severity by one level every half hour until they are <b>Stabilized</b>.
                </div>
            </div>
        </div>
    </div>
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <h3 style="margin-top: 0px; margin-bottom: 5px;">Stabilization</h3>
                Temporary measures like applying pressure or a tourniquet can be performed by the injured
                character and are assumed for the half hour degradation time. Grossly ignoring a severe Injury makes them degrade quicker.
                <ul>
                    <li>
                        Stabilization attempts are either <b>Makeshift</b> or <b>Proper</b> based on the equipment used.
                        <ul>
                            <li>
                                For Proper Stabilization, Severity 4 Injuries require a medical kit. Severity 5 require a field surgery kit and a blood transfusion. Severity 6+ require a surgical theater.
                            </li>
                            <li>
                                Roll Intellect + Medicine. Difficulty is equal to the Severity of the Injury for a Proper Stabilization and higher for a Makeshift Stabilization.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Makeshift Stabilization attempts can stop degradation, but any Battle Scars caused by the Injury will remain. Anything less than a full success worsens the Injury.
                    </li>
                    <li>
                        Proper Stabilization attempts can stop degradation, and a complete success will also set the Injury to heal cleanly, meaning the Battle Scar will heal along with the Injury.
                    </li>
                </ul>
                <h3 style="margin-top: 0px; margin-bottom: 5px;">Battle Scars</h3>
                Battle Scars are disabilities and disfigurements, for example, a severed hand, a lost eye, or a wheezing cough.
                <ul>
                    <li>
                        The more severe the Injury, the worse the Battle Scar. See the guidebook for examples.
                    </li>
                    <li>
                        The specifics of the Battle Scar are decided by the GM when the Injury is suffered.
                    </li>
                    <li>
                        Unless the relevant Injury was stabilized properly, Battle Scars do not heal naturally and last until cured with a Gift.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h3 class="text-center" style="margin-top: .05in;">
    Mind
</h3>
<div class="css-col-cont">
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                Mind represents your Contractor's mental and emotional fortitude. Mind is rolled to cope with traumatic and stressful events and to resist urges and outside influences. It also acts as a sort of "health pool" to track short-term stress.
                <h3 style="margin-top: 5px; margin-bottom: 5px;">
                    Mind Damage
                </h3>
                Similar to how Injuries deplete your Body, stressful situations can deplete your Mind.
                <i>Unlike</i> Body depletion, Mind Damage depletes your Mind linearly, like a traditional health pool.
                <div>
                    Mind Damage regenerates one point per night of restful sleep. <b>You start each Contract without any Mind Damage.</b>
                </div>
                <h3 style="margin-top: 5px; margin-bottom: 5px;">Limits</h3>
                Your Limits represent events or choices which could be traumatic for you.
                <ul>
                    <li>
                        If you cross one of your Limits, you must make a Trauma Roll (roll Mind, Difficulty 8).
                    </li>
                    <li>
                        Failing a Trauma Roll causes either 1 Mind Damage or a new Trauma (GM's choice).
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="css-double-col">
        <div class="padded-col">
            <div class="css-tutorial-text">
                <h3 style="margin-top: 0px; margin-bottom: 5px;">Traumas</h3>
                Traumas are long-term mental health issues such as phobias, delusions, compulsions, and other instabilities. Think of them as Battle Scars for the mind.
                <ul>
                    <li>
                        Most Traumas outline some triggering circumstance where a Contractor may lose control of themselves.
                    </li>
                    <li>
                        When this situation arises, the Contractor must make a Self-Control Roll (Mind, Difficulty 8) to maintain control.
                    </li>
                </ul>
                <h3 style="margin-top: 5px; margin-bottom: 5px;">Exertion</h3>
                When the chips are down and the stakes have never been higher, a Contractor can Exert themselves, channeling their willpower into a single Action to improve its Outcome.
                <b>Exerting Mind causes a single point of Mind Damage. </b>
                <ul>
                    <li>
                        Before rolling, you may Exert to gain +1 to the Outcome of the roll and ignore your Stress for the Round.
                    </li>
                    <li>
                        Activating many Gifts requires Exerting your Mind or spending a point of your Source (which has a unique name for each Contractor).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h3 class="text-center" style="margin-top: .05in;">
    Stress
</h3>
<div class="css-tutorial-text">
    The more depleted your Body and Mind, the higher your Stress. Stress is indicated by the negative numbers between
    your Mind and Body boxes.
    <div>
        Your Stress rating is equal to the sum of your lowest Mind and Body stress numbers.
    </div>
    All of a character's Dice Pools are reduced by their current Stress rating, to a minimum of two dice.
</div>
