# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
hgapp/node_modules/*
hgapp/static/dist/*
hgapp/static/*
!hgapp/static/src/*
env/*
hgapp/.package*
*.idea/*
*__pycache__*
*~
*.log
*vue.next.js
*.DS_Store
