{% load bootstrap %}
{{mod.errors}}
<div class="checkbox thumbnail">
    {% for field in mod.visible_fields|slice:":1"%}
        <label class="thumbnail" style="border:none" data-mod-name="{{field.readable_name}}">
            &ensp;
            {{ field}}
            {% if mod.eratta %}
            <span data-toggle="tooltip"
                     data-placement="top"
                     title="{{mod.eratta}}"
            ><i class="fa fa-question-circle fa-1x"></i></span>
            {% endif %}
            {{field.label}}
        </label>
         <div class="detail_text_form form-inline">
            {{mod.detail_text.label_tag}}
            {{mod.detail_text}}
         </div>
        <i><small class="text-danger"><div class="js_modifier_requirements"></div></small></i>
    {% endfor %}
</div>