{% load bootstrap %}

{% include "powers/create_power_pages/create_power_enhancement_script_snippet.html" %}
{% include "powers/create_power_pages/create_power_drawback_script_snippet.html" %}
<div class="backdropped">
    <div class="page-header">
        {% if og_power %}
            <h1> Editing {{ og_power.name }}</h1>
        {% else %}
            <h1> Creating a New {{ base_power.name }} Power
            {% if character %}
                For {{character.name}}
            {% endif %}
            </h1>
        {% endif %}
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {{ form.power_name.errors }}
        {{ form.power_name | bootstrap}}
        <span data-spy="affix" data-offset-top="160">
            <h4 class="nav navbar-nav">
                Current Gift Cost: <b><span id="current_gift_cost_number">1</span></b>
                {% if og_power %}
                    ({{og_power.get_point_value}} <span id="gift_cost_delta">+0</span>)
                {% endif %}
            </h4>
        </span>
        <br>
        {% if character %}
            <h5>{{character.name}} has <b>{{character.unspent_rewards|length}}</b> Points to spend on this power!</h5>
            {% endif %}
    </div>
    <div class="double-columns">
        <div class="container">
            <h3>Base Power: <a href="{% url 'powers:powers_view_base' base_power.slug %}">{{ base_power.name }}</a></h3>
            <h4>{{ base_power.summary }}</h4>
            <p>
                {% if base_power.required_status != "ANY" %}
                    Requires: {{base_power.required_status}}
                {% endif %}
            </p>
            <p>{{ base_power.description|linebreaks }}</p>
            <p>{{ power_system.system_text|linebreaks }}</p>
        </div>
        <div class="container">
            <br>
            {{ form.description.errors }}
            {{ form.description | bootstrap}}
        </div>
    </div>
    {% if parameters %}
        <h3>Parameters</h3>
        <ul class="list-unstyled">
        {% for parameter_formset in parameters %}
            {% for param in parameter_formset %}
                <br>
                <li>
                    <b>{{ param.label }}</b>
                    {{ param.level_picker  }}
                    {{ param.errors }}
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
   <div class="double-columns">
        <div class="enhancements">
            <h3 class="text-center">Enhancements</h3>
            {% for modifier_form in enhancements %}
            {% if modifier_form.empty_form.multiplicity_allowed %}
            <div id="{{modifier_form.empty_form.enhancement_slug}}">
                <div id="{{modifier_form.empty_form.enhancement_slug}}-base">
                    {% for mod in modifier_form %}
                        {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="non-multiple">
                {% for mod in modifier_form %}
                {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="drawbacks">
            <h3 class="text-center">Drawbacks</h3>
            {% for modifier_form in drawbacks %}
            {% if modifier_form.empty_form.multiplicity_allowed %}
                <div id="{{modifier_form.empty_form.drawback_slug}}">
                    <div id="{{modifier_form.empty_form.drawback_slug}}-base">
                        {% for mod in modifier_form %}
                        {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="non-multiple">
                    {% for mod in modifier_form %}
                    {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                    {% endfor %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
   </div>
    {{ form.system.errors }}
    {{ form.system | bootstrap}}

    <br>
    <h3 >Put a ribbon on it</h3>
    {{ form.flavor | bootstrap}}

    <div  id="reward_changes">
        <h4><div id="gift_cost_summary"></div></h4>
        <ol id="gifts_affected"></ol>
    </div>
    {% if request.user.is_superuser %}
        <br>
        <h3>Power Tags (Admin only)</h3>
        {{form.tags}}
        <br>
    {% endif %}
    <div class="col-md-2 col-md-offset-5">
        <input class="btn btn-lg btn-default" type="submit" value="Done!" />
    </div>
</div>