{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Create a {{ base_power.name }} Power{% endblock %}

{% load staticfiles %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/create_power.css' %}" />
{% endblock %}
{% block extra_scripts %}
    {% include "powers/create_power_pages/create_power_form.js" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% if character %}
    <form action="{% url 'powers:powers_create_power_for_char' base_power.slug character.id %}" method="post">
{% else %}
    <form action="{% url 'powers:powers_create_power' base_power.slug %}" method="post">
{% endif %}
    <div class="container">
        {% include "powers/create_power_pages/create_power_form_snippet.html" %}
    </div>
</form>
{% endblock %}