{% load bootstrap %}
{% load power_tags %}

{% block extra_scripts %}
    {{ power_system.system_text|json_script:"defaultSystem"}}
{% endblock %}
{% include "powers/create_power_pages/create_power_enhancement_script_snippet.html" %}
{% include "powers/create_power_pages/create_power_drawback_script_snippet.html" %}
<div class="text-center">
    {% if og_power %}
        <h1> Editing {{ og_power.name }}</h1>
    {% else %}
        <h1> Creating a New {{ base_power.name }} Power
        {% if character %}
            For {{character.name}}
        {% endif %}
        </h1>
    {% endif %}
</div>
<div class="row">
    <div class="css-gift-cost-cont">
        <span data-spy="affix" data-offset-top="60">
            <div class="text-center nav navbar-nav css-gift-cost">
                Current Gift Cost: <b><span id="current_gift_cost_number">1</span></b>
                {% if og_power %}
                    ({{og_power.get_point_value}} <span id="gift_cost_delta">+0</span>)
                {% endif %}
            </div>
        </span>
        <div class="css-fake-height-div">
        </div>
    </div>
</div>
<br>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{ form.non_field_errors }}
                {{ text_fields.management_form }}
                {{ roll_fields.management_form }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <span class="pull-right" style="margin-left: 10px;">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tutorialModal">
                        Help
                    </button>
                </span>
                {% if base_power.example_powers.all %}
                    <a class="btn btn-default btn-sm pull-right" id="js-example-power-button" data-toggle="collapse" data-target="#examplepowers">Show Examples</a>
                    <br><br>
                    <div id="examplepowers" class="collapse">
                        {% for power_full in base_power.example_powers.all %}
                            {% with power=power_full.power_set.first %}
                                {% power_badge power_full %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form.power_name.errors }}
                {{ form.power_name | bootstrap}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <h3>
                        Effect: <a href="{% url 'powers:powers_view_base' base_power.slug %}">{{ base_power.name }}</a>
                        <br>
                        <small>
                            {{ base_power.summary }}
                        </small>
                    </h3>
                    {% if base_power.required_status != "ANY" %}
                        <b>Required Status: {{base_power.get_required_status_display}}</b>
                    {% endif %}
                </div>
                <span>
                    <p>{{ base_power.description|linebreaks }}</p>
                    <div class="js-system-static">
                        {% if og_power %}
                            <p>{{ og_power.get_system|linebreaks }}</p>
                        {% else %}
                            <p>{{ power_system.system_text|linebreaks }}</p>
                        {% endif %}
                    </div>
                    <div id="js-system-form" style="display: none;">
                        {{ form.system.errors }}
                        {{ form.system | bootstrap}}
                        <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#reset-system-text">Show Default</button>
                        <div id="reset-system-text" class="collapse">
                            <br>
                            <div class="thumbnail">
                                <p id="js-system-text">{{ power_system.system_text|linebreaks }}</p>
                                <div class="text-center">
                                    <button id="reset-system-text-button" type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#reset-system-text">Reset Edit Field to Default</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="js-system-edit-button" class="btn btn-default">
                        <i class="fa fa-edit fa-1x"></i> Edit System
                    </a>
                </span>
            </div>
            <div class="col-sm-6">
                {% if parameters|length == 0 and roll_fields|length == 0 and text_fields|length == 0%}
                    {{ form.description.errors }}
                    {{ form.description | bootstrap}}
                {% else %}
                    {% if parameters|length > 0 %}
                        <h4 >Parameters</h4>
                    {% endif %}
                    {% for parameter_formset in parameters %}
                        {% for param in parameter_formset %}
                            <div class="css-field-form">
                                <b>{{ param.label }}</b>
                                <br>
                                {{ param.level_picker  }}
                                {{ param.errors }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if roll_fields|length > 0 or text_fields|length > 0 %}
                    <hr>
                    {% endif %}
                    {{ roll_fields.non_field_errors }}
                    {% for field in roll_fields %}
                        <div class="css-field-form">
                            {{field.errors}}
                            {{field.system_field_id}}
                            <b>{{field.initial.system_field.name}}</b>
                            {% if field.initial.system_field.eratta %}
                                <span data-toggle="tooltip"
                                         data-placement="top"
                                         title="{{field.initial.system_field.eratta}}"
                                      class="field-eratta"
                                ><i class="fa fa-question-circle fa-1x"></i></span>
                            {% endif %}
                            <br>
                            <div class="css-roll-field-primary">
                                {{field.attribute_roll}}
                            </div>
                            {% if field.ability_roll %}
                                <div class="css-roll-field-plus">
                                    +
                                </div>
                                <div class="css-roll-field-primary">
                                    {{field.ability_roll}}
                                </div>
                            {% endif %}
                            {% if field.initial.system_field.difficulty %}
                                <div class="css-roll-field-difficulty">
                                    Difficulty
                                        {{ field.initial.system_field.difficulty }}
                                </div>
                            {% endif %}
                            {% if field.initial.system_field.render_speed %}
                                <div class="css-roll-field-speed">
                                    as
                                    <span class="js-roll-field-speed-val-default">
                                        {{ field.initial.system_field.render_speed }}
                                    </span>
                                    <span class="js-roll-field-speed-val-parry" style="display:hidden;">
                                        a Reaction
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {{ text_fields.non_field_errors }}
                    {% for field in text_fields %}
                        <div class="css-field-form">
                            {{field.system_field_id}}
                            {{field.non_field_errors}}
                            <b>{{field.initial.system_field.name}}</b>
                            {% if field.initial.system_field.eratta %}
                                <span data-toggle="tooltip"
                                         data-placement="top"
                                         title="{{field.initial.system_field.eratta}}"
                                        class="field-eratta"
                                ><i class="fa fa-question-circle fa-1x"></i></span>
                            {% endif %}
                            {{field.field_text}}
                            {{field.field_text.errors}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="double-columns">
            <div class="enhancements">
                <h3 class="text-center">Enhancements</h3>
                {% for modifier_form in enhancements %}
                {% if modifier_form.empty_form.multiplicity_allowed %}
                <div id="{{modifier_form.empty_form.enhancement_slug}}">
                    <div id="{{modifier_form.empty_form.enhancement_slug}}-base">
                        {% for mod in modifier_form %}
                            {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="non-multiple">
                    {% for mod in modifier_form %}
                    {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="drawbacks">
                <h3 class="text-center">Drawbacks</h3>
                {% for modifier_form in drawbacks %}
                {% if modifier_form.empty_form.multiplicity_allowed %}
                    <div id="{{modifier_form.empty_form.drawback_slug}}">
                        <div id="{{modifier_form.empty_form.drawback_slug}}-base">
                            {% for mod in modifier_form %}
                            {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="non-multiple">
                        {% for mod in modifier_form %}
                        {% include "powers/create_power_pages/create_power_modifier_snippet.html" %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if parameters|length == 0 and roll_fields|length == 0 and text_fields|length == 0%}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    {{ form.description.errors }}
                    {{ form.description | bootstrap}}
                    <p class="help-block css-description-help">
                        Describe what the Power looks like when it is used, how it works, and its impact on the owner, target, and environment.
                        {% if power_system.default_description_prompt %}
                            <b>
                                By default, {{ power_system.default_description_prompt|safe }}
                            </b>
                        {% endif %}
                    </p>
                </div>
            </div>
            <br>
        {% endif %}
        {{ form.flavor | bootstrap}}
       <div class="row">
            <div class="col-md-10 col-md-offset-1 alert alert-warning js-gift-info text-center" role="alert" style="display:none;">
                <div  id="reward_changes">
                    <h4><div id="gift_cost_summary"></div></h4>
                    <ul id="gifts_affected" class="list-unstyled"></ul>
                </div>
            </div>
        </div>

       <div class="row">
       <div class="col-md-10 col-md-offset-1 alert alert-danger js-gift-warn text-center" role="alert" style="display:none;">
           Your Character does not have enough Gifts to purchase your improvements to this Power.
           <br>
           <b>Available:</b> {{character.num_unspent_rewards}}
       </div>
       </div>
       {% if request.user.is_superuser %}
            <br>
            <h3>Power Tags (Admin only)</h3>
            {{form.tags}}
            <h3>Example Description</h3>
            {{form.example_description | bootstrap}}
            <br>
       {% endif %}
        <div class="row text-center">
            <input class="btn btn-lg btn-default" type="submit" value="Done!" />
        </div>
    </div>
</div>