{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Edit {{ og_power.name }}{% endblock %}

{% load staticfiles %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/create_power.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'powers/tutorial_modal_style.css' %}" />
{% endblock %}
{% block extra_scripts %}
    {% include "powers/create_power_pages/create_power_form.js" %}
    <script src="{% static 'powers/tutorial_modal_script.js' %}"></script>
    <script>
        cookieName="edit";
        {% if not request.user.is_authenticated or not request.user.power_full_set.exists %}
            showTutorial=true;
        {% else %}
            showTutorial=false;
        {% endif %}
    </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        <form action="{% url 'powers:powers_edit_power' og_power.parent_power.id %}" method="post">
            {% include "powers/create_power_pages/create_power_form_snippet.html" %}
        </form>
    </div>
{% endblock %}