{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Edit {{ og_power.name }}{% endblock %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'powers/create_power.css' %}" />
{% endblock %}
{% block scripts %}
<script src="{% static "js/site.js" %}"></script>
    {% include "powers/create_power_pages/create_power_form.js" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        <form action="{% url 'powers:powers_edit_power' og_power.parent_power.id %}" method="post">
            {% include "powers/create_power_pages/create_power_form_snippet.html" %}
        </form>
    </div>
{% endblock %}