.css-writeup-section {
    margin-top: 15px;
}

.css-writeup-section-help {
    margin-bottom: 10px;
}

.css-scenario-section-header {
    font-size: 30px;
}

.css-scenario-element {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    background-color: #2c323d;
}

