.css-edit-history table {
    width: 100%;
}

.css-edit-history td, .css-edit-history th {
    padding:5px;
}

.css-edit-history th {
    text-align: center;
}

.css-diff-text {
    font-style: italic;
    font-size: 11px;
}

.css-edit-content {
    background-color: hsla(0,0%,100%,.1);
    padding: 10px;
}

.css-edit-header {
    font-size: 16px;
}

.css-edit-subheader {
    font-size: 14px;
    margin-left: 30px;
}

.css-section-header {
    margin-top: 8px;
}