{% load staticfiles %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">
            Required to Play
        </h4>
        <div class="row text-center">
            <div class="col-xs-4">
                <i class="fa fa-2x fa-wifi"></i>
                <br>
                Access to this website<br>
                <i>(at least between sessions)</i>
            </div>
            <div class="col-xs-4">
                <img src="{% static 'overrides/branding/homed10.png' %}" width="30" height="30" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
                <br>
                Several 10-sided dice or a dice-rolling app
            </div>
            <div class="col-xs-4">
                <i class="fa fa-2x fa-users"></i>
                <br>
                3+ People
            </div>
        </div>
        <br>
        <h4 class="text-center">
            The Contract is a Tabletop Roleplaying Game
        </h4>
        <ul>
            <li>
                One person acts as Game Master (GM).
                <ul>
                    <li>
                        The GM referees the action and controls the world, mission, and NPCs (Non-Player Characters).
                    </li>
                </ul>
            </li>
            <li>
                The other Players control personal characters called Contractors.
                <ul>
                    <li>
                        Contractors risk their lives in deadly missions for fantastic powers.
                    </li>
                    <li>
                        Most Players have several Contractors, but they may only play one per session.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">
            Contracts
        </h4>
        <ul>
            <li>
                Most sessions of The Contract are self-contained missions called Contracts.
            </li>
            <li>
                The attending Contractors are invited, briefed, and complete the Contract in one sitting.
            </li>
            <li>
                Only the GM knows the details of that session’s Contract.
            </li>
            <li>
                At the end of the Contract, the GM declares which of the attending Contractors achieved the objective. Those Contractors are rewarded with unique supernatural Powers.
            </li>
            <li>
                The GM stands to gain Rewards for their own Contractors as well.
            </li>
        </ul>
        <h4 class="text-center">
            Play with Anyone
        </h4>
        <ul>
            <li>
                It doesn't matter who shows up to each session.
            </li>
            <li>
                A different person may act as GM each time you play.  
            </li>
            <li>
                A different set of Contractors can attend each Contract.
            </li>
            <li>
                Many Players have no regular in-person group and play entirely online. 
            </li>
        </ul>
    </div>
</div>
<div id="format-punk">
    <div class="css-content">
        <div class="hidden-xs">
            <h2 id="css-format-header" class="text-center">
                Format
            </h2>
        </div>
        <div class="visible-xs">
            <h2 class="text-center ">
                Format
            </h2>
        </div>
        <div class="visible-xs">
            <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
                <img src="{% static 'overrides/art/front-punk.jpg' %}" class="css-inline-image">
                <figcaption class="text-center"></figcaption>
            </figure>
        </div>
        <div id="css-art-front-punk-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-punk.jpg' %}")'>
            <div class="css-two-thirds-col">
                <div class="css-narrative">
                    <h3 class="text-center">
                        What price would you pay to achieve your wildest dreams?
                        <br>
                        <br>
                        What risks would you take to change the world?
                    </h3>
                    <br>
                    <h4>
                        <p>
                            For a select few, these questions aren’t hypothetical. <i>They’re an offer.</i>
                        </p>
                        <br>
                        <p>
                            We wager everything in the Contracts: our morals, our humanity, our very lives.
                        </p>
                        <br>
                        <p>
                            But the Harbingers are true to their word. Our pay transcends cash and coin.
                        </p>
                        <br>
                        <p>
                            Let me tell you about the day I accepted the offer that changed my life.
                        </p>
                        <br>
                        <p class="text-center">
                            <br>
                            The day I signed <b>The Contract.</b>
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">Introductions</h4>
    <div class="col-md-6">
        <div class="css-rules">
            At the start of the session, the GM runs an introductory scene for each Contractor.
        </div>
        <div class="css-narrative">
            <p>
                This story starts at a riot. It wasn’t much: an outraged mob, a few dozen squad cars, police lights flashing off the tear gas and smoke. Hard to believe a little domestic action was enough to get my blood pumping back then.
            </p>
            <p>
                That is, until a rubber bullet caught me in the stomach. Next thing I know, I’m getting cuffed and shoved into the back seat of a squad car. A pair of cops climbed in up front and hit the road with me in tow.
            </p>
            <p>
                We were halfway to the station when she spoke to me. Her voice came over the police radio, but it sounded like she was whispering in my ear.
            </p>
            <p>
                “Hate to interrupt your ride, Lucy, but you and I should chat.”
            </p>
            <p>
                The cops glanced at each other. “Uh. . . Dispatch, can you confirm that new destination for Squad 530?”
            </p>
            <p>
                “See you soon.”
            </p>

        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>The driver shrugged to his deputy and took an exit. I was as confused as them, but I knew a distraction when I saw one. I pulled a bobby pin from the back of my belt and started working my handcuffs.</p>

        </div>
        <div class="css-rules">
            <b>Harbingers</b>
            <ul>
                <li>At the start of the session, a mysterious and powerful NPC known as a Harbinger contacts each Contractor.</li>
                <li>The Harbinger gathers the Contractors together and briefs them on their objective.</li>
                <li>Experienced Contractors have quick introductions, but brand-new Contractors usually require some convincing. . .</li>
            </ul>
        </div>
        <div class="css-narrative">
            <p>The cop drove us into an underground parking lot and turned to his deputy. “You see the contact?”</p>
            <p>“I’m right here,” came that whisper again. Only this time she was actually there, sitting right beside me. She looked like she was from another world, all made-up in gold, headphones on, hair drifting in the air like she was underwater. </p>
        </div>
    </div>

</div>
<div id="format-music">
    <div class="visible-xs">
        <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
            <img src="{% static 'overrides/art/front-music.jpg' %}" class="css-inline-image">
            <figcaption class="text-center"></figcaption>
        </figure>
    </div>
    <div class="css-content">
        <div id="css-art-front-music-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-music.jpg' %}")'>
            <div class="css-two-thirds-col-right">
                <div class="css-narrative">
                    <p>“Thanks for driving,” she said to the cops, “but Lucy and I have a gig to discuss.” </p>
                    <p>The officers scrambled out of the car and drew their guns on us. </p>
                    <p>“Get out of the vehicle!” cried the driver.</p>
                    <p>The deputy shouted into his radio: “Requesting immediate backup for a possible 10-300!” </p>
                    <p>I want to say I was cool, but the truth is, I was as freaked out as the cops. You don't hear a lot of encounter stories with happy endings.</p>
                    <p>“What a racket,” she muttered. “I can see why you want to get rid of them. Now about that job. . .” </p>
                    <p>“Job?” I managed.</p>
                    <p>“One night’s work. It’s dangerous, but if you succeed, I’ll put you on the path to greatness.” </p>
                    <p>The twang of my pin releasing my handcuffs snapped me back to earth. </p>
                    <p>“Thanks,” I said, “but I’m already great.”  </p>
                    <p>I slammed my back into the door, tumbled onto the tarmac, and made a break for it. </p>
                </div>
                <div class="css-rules css-rules-centered">
                    <b>Contractors</b>
                    <ul>
                        <li>Most Contractors start as normal humans without Powers.</li>
                        <li>Only the most skilled and driven individuals receive an offer to become Contractors.</li>
                    </ul>
                </div>
                <div class="css-narrative">
                    <p>I got five frantic steps before the deputy tackled me to the ground. He jammed his gun under my chin. I gasped my last breath and waited for the shot, but it never came. </p>
                    <p>Cracking one eye, I found the cop above me frozen mid-sneer. His partner was frozen too, still pointing his gun at the car. Someone had hit the pause button on time itself.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">The Offer of a Lifetime</h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>“Who-- what are you?”</p>
            <p>“Some call us Harbingers. We make the offer: succeed, and we’ll awaken the Powers that lie dormant within you.”</p>
            <p>"Thanks for the save," I said, squirming free of the cop’s frozen arms. “So that’s the offer? Do one job and you’ll give me superpowers? Dangerous or not, that’s a pretty good deal.”</p>
        </div>
        <div class="css-rules">
            <b>Payment</b>
            <ul>
                <li>
                    Each time a Contractor is Victorious on a Contract, they receive a Gift that unlocks their supernatural potential.
                </li>
                <li>
                    A Gift grants a new Power or improves an existing Power.
                </li>
               <li>
                   Each Player creates custom Powers for their Contractors using the Powers System.
               </li>
                <li>
                    No two Contractors share a single trick.
                </li>
            </ul>
        </div>
        <div class="css-narrative">
            <p>“There will be more opportunities to prove yourself. Accept, and you will be <i>imbued</i> so that others like me can find you. It will change the way you learn. You will advance quicker than you thought possible after completing a job. However, if you stop you will stagnate.”</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Learning</b>
            <ul>
                <li>Experience points (Exp) are used to improve your mundane stats. </li>
                <li>Contractors receive 4 Exp for a victory and 2 Exp for a loss.</li>
            </ul>
        </div>
        <div class="css-narrative">
            <p>“So,” she said, extending her hand, “what do you say?” </p>
            <p>I pulled my American Spirits from the frozen deputy’s pocket. My hands were shaking so bad I could barely hold the lighter. “Fuck. So what’s the catch? I agree and I’m locked in? You gunna spirit me away to some government facility where they keep me in a cage between jobs?” </p>
            <p>“The Contract doesn’t rely on trickery. Outside of the Jobs, you are free to pursue your own goals. You can quit at any time, but once you’re out, you’re out for good.”</p>
        </div>
        <div class="css-rules">
            <b>Signing the Contract</b>
            <ul>
                <li>
                    Contractors go on Contracts willingly.
                    <ul>
                        <li>
                            The same goes for Players. You are never obligated to play a session.
                        </li>
                    </ul>
                </li>
                <li>
                    Contractors, especially more advanced ones, spend the Downtime between Contracts pursuing their ambitions, forming alliances, and dealing with the enemies they’ve made on their rise to power.
                </li>
                <li>
                    A Contractor can retire at any time, but once they do so, they can never attend another Contract.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="css-narrative">
    <h4 class="text-center">
        “Fuck it,” I said, taking her hand. “I’m in.”
    </h4>
</div>
<div id="format-doors">
    <div class="visible-xs-block">
        <div class="css-narrative">
            <p>
                What happened next. . . Look, I’m not a poet, but I’ll try to explain it. 
            </p>
        </div>
    </div>
    <div class="visible-xs">
        <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
            <img src="{% static 'overrides/art/front-doors.jpg' %}" class="css-inline-image">
            <figcaption class="text-center"></figcaption>
        </figure>
    </div>
    <div class="css-content">
        <div id="css-art-front-doors-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-doors.jpg' %}")'>
        <div class="css-two-thirds-col">
            <div class="css-narrative">
                <p class="hidden-xs">
                    What happened next. . . Look, I’m not a poet, but I’ll try to explain it. 
                </p>
                <p>
                    It was like I was a drop of rain, and I landed in the ocean. The lines separating me from everything else disappeared. I saw it all: past, present, and future. Every choice, every accident, was like a door leading to a different universe, and I had already gone through all of them a thousand times. You understand what I’m saying?
                </p>
                <br>
                <p>
                    Shit, I give up.  I told you I wasn’t any good at words.
                </p>
                <br>
                <p>
                    I woke up in the garage. I was me again. The cops and the Harbinger were gone. Only sign she’d ever been there was a new tattoo on the palm of my right hand:
                </p>
                <div class="css-tattoo text-center">
                    <p>
                        Room 231 of the Starlight Motel 7:00 PM
                    </p>
                    <p>
                        Take Bradley on flight UA 1294 and ensure he survives
                    </p>
                </div>
                <p>
                    My first Contract. 
                </p>
            </div>
        </div>
    </div>
</div>
