{% load static %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">
            Required to Play
        </h4>
        <div class="row text-center">
            <div class="col-xs-4">
                <img src="{% static 'overrides/branding/homed10.png' %}" width="30" height="30" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
                <br>
                Several 10-sided dice or a dice-rolling app
            </div>
            <div class="col-xs-4">
                <i class="fa fa-2x fa-users"></i>
                <br>
                3+ People
            </div>
            <div class="col-xs-4">
                <i class="fa fa-2x fa-wifi"></i>
                <i class="fa fa-2x fa-print"></i>
                <br>
                Access to this website or a printer
            </div>
        </div>
        <br>
        <h4 class="text-center">
            The Contract is a Tabletop Roleplaying Game
        </h4>
        <ul>
            <li>
                One person acts as Game Master (GM).
                <ul>
                    <li>
                        The GM referees the action and controls the world, mission, and NPCs (Non-Player Characters).
                    </li>
                </ul>
            </li>
            <li>
                The other Players control personal characters called Contractors.
                <ul>
                    <li>
                        Contractors risk their lives in deadly missions for fantastic powers.
                    </li>
                    <li>
                        Most Players have several Contractors, but they may only play one per session.
                    </li>
                </ul>
            </li>
        </ul>
        <b>Only the GM requires a full understanding of the game's rules.</b> Brand new Players
        can easily create a Contractor and learn more as they play.
    </div>
    <div class="col-md-6">
        <h4 class="text-center">
            Contracts
        </h4>
        <ul>
            <li>
                Most sessions of The Contract are self-contained missions called <b>Contracts</b>.
            </li>
            <li>
                The attending Contractors are invited, briefed, and complete the Contract in one sitting.
            </li>
            <li>
                Only the GM knows the details of that session’s Contract.
            </li>
            <li>
                At the end of the Contract, the GM declares which of the attending Contractors achieved the objective.
                Those Contractors are rewarded with a <b>Gift.</b>
                <ul>
                    <li>Gifts include supernatural Powers, items, and the ability to craft extraordinary artifacts.</li>
                </ul>
            </li>
            <li>
                The GM stands to gain Rewards for their own Contractors as well.
            </li>
        </ul>
        <h4 class="text-center">
            Play with Anyone
        </h4>
        <ul>
            <li>
                It doesn't matter who shows up to each session.
            </li>
            <li>
                A different person may act as GM each time you play.  
            </li>
            <li>
                A different set of Contractors can attend each Contract.
            </li>
            <li>
                Many Players have no regular in-person group and play entirely online. 
            </li>
        </ul>
    </div>
</div>
<div id="format-punk">
    <div class="css-content">
        <div class="hidden-xs">
            <h2 id="css-format-header" class="text-center">
                Invitations
            </h2>
        </div>
        <div class="visible-xs">
            <h2 class="text-center ">
                Invitations
            </h2>
        </div>
        <div class="visible-xs">
            <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
                <img src="{% static 'overrides/art/front-punk.jpg' %}" class="css-inline-image">
                <figcaption class="text-center"></figcaption>
            </figure>
        </div>
        <div id="css-art-front-punk-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-punk.jpg' %}")'>
            <div class="css-two-thirds-col">
                <div class="css-narrative">
                    <h3 class="text-center">
                        What price would you pay to achieve your wildest dreams?
                        <br>
                        <br>
                        What risks would you take to change the world?
                    </h3>
                    <br>
                    <h4>
                        <p>
                            For a select few, these questions aren’t hypothetical. <i>They’re an offer.</i>
                        </p>
                        <br>
                        <p>
                            We wager everything in the Contracts: our morals, our humanity, our very lives.
                        </p>
                        <br>
                        <p>
                            But the Harbingers are true to their word. Our pay transcends cash and coin.
                        </p>
                        <br>
                        <p>
                            Let me tell you about the day I accepted the offer that changed my life.
                        </p>
                        <br>
                        <p class="text-center">
                            <br>
                            The day I signed <b>The Contract.</b>
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">The Talent</h4>
    <div class="col-md-6">
        <div class="css-rules">
            At the start of the session, the GM runs an introductory scene for each Contractor.
        </div>
        <div class="css-narrative">
            <p>
                This story starts with me cuffed to a chair in a police interrogation room.
            </p>
            <p>
                I was all alone. No doubt the detective was hoping I’d psyche myself into confessing or trying something stupid like slipping my cuffs. I adjusted my chair, twisted my body, and flipped off the camera.
            </p>
            <p>
                The door opened, and a strange man stepped inside. He didn’t look like a cop. Between the combover, the sunset aviators, and the retro, orange button-down shirt, he looked more like a sleazy Hollywood producer from the 70s.
            </p>
            <p>
                This guy’s outfit looked tackier every time I saw him.
            </p>
            <p>
                He slumped into the chair across from mine and flashed a grin that sent a shiver down my spine.
            </p>
            <p>
                “My my, Lucy Kate. What sort of trouble have you gotten yourself into this time?”
            </p>
            <p>
                “You,” I said, “You’re that freak that kept trying to talk to me at the bar.”
            </p>
            <p>
                “And you wouldn’t hear me out.”
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                “Damn straight. I got the fuck out of there.”
            </p>
            <p>
                “Yes, and I was your Uber driver. And even after that incredible coincidence, you still wouldn’t listen.”
            </p>
            <p>
                “And then at the riot. . .”
            </p>
             <p>
                 “That one I can understand. You looked busy.”
             </p>
            <p>
                “Now you’re here.”
            </p>
            <p>
                “Now I’m here. And you are a captive audience.”
            </p>
            <p>
                “So you’re a cop. Of course. That explains the creepy stalker vibes. Tell me, why do you pigs find chicks like me so irresistible? You jealous?”
            </p>
            <p>
                The interrogation room’s door swung open again, and in walked the detective carrying a fresh cup of coffee. He spotted the man sitting across from me, jumped, and drew his gun.
            </p>
            <p>
                “How the fu-- Freeze!”
            </p>
            <p>
                The man in orange smiled. “Wonderful idea.”
            </p>
        </div>
    </div>

</div>
<div id="format-music">
    <div class="visible-xs">
        <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
            <img src="{% static 'overrides/art/talentbg.jpeg' %}" class="css-inline-image">
            <figcaption class="text-center"></figcaption>
        </figure>
    </div>
    <div class="css-content">
        <div id="css-art-front-music-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/talentbg.jpeg' %}")'>
            <div class="css-two-thirds-col-right">
                <div class="css-narrative">
                    <p>
                        He snapped, and the detective froze.
                    </p>
                    <p>
                        When I say “froze,” I don’t just mean he held still. He didn’t breathe, he didn’t tremble. His mug stopped mid-air, leaving a ribbon of black coffee just hanging there. It was like someone hit reality’s pause button.
                    </p>
                    <p>
                        “That’s better,” sighed the man in orange.
                    </p>
                    <p>
                        I took an unsteady breath just to make sure I still could. “Wha-- what the fuck are you?”
                    </p>
                    <p>
                        “Not a cop. Hopefully that’s clear enough at this point.” He pointed a finger-gun at the room’s camera, made like he was pulling the trigger, and the camera’s circuits popped and sizzled. “I am a harbinger.”
                    </p>
                </div>
                <div class="css-rules css-rules-centered">
                    <b>Harbingers</b>
                    <ul>
                        <li>At the start of the session, a mysterious and powerful NPC known as a Harbinger contacts each Contractor.</li>
                        <li>The Harbinger gathers the Contractors together and briefs them on their objective.</li>
                        <li>Experienced Contractors have quick introductions, but brand-new Contractors usually require some convincing. . .</li>
                    </ul>
                </div>
                <div class="css-narrative">
                    <p>
                        “A harbinger,” I repeated, too freaked to say much else.
                    </p>
                    <p>
                        “They call me ‘The Talent.’ That’s what I’m good at: finding those rare few with true talent, true ambition. And you, Lucy Kate, are one of those people.”
                    </p>
                    <p>
                        “Me? I’m just some freak who got arrested at a riot.”
                    </p>
                    <p>
                        “A riot that you started. Don’t sell yourself short.” He sat up and looked into my eyes. “Why'd you do it?”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">The Offer of a Lifetime</h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                I swallowed. “Because I’m pissed. Because there’s people starving in the streets below empty, luxury condos. Because when a cop murders someone, they get a paid vacation. I start riots because I would rather die than live in a world like this.”
            </p>
            <p>
                “Yes! That’s the fire I’m looking for. You fight a system you hate, despite the fact you’re doomed to fail. It’s inspiring.”
            </p>
            <p>
                “Doomed to fail?”
            </p>
            <p>
                The Talent shrugged. “You know the story by now. People riot. People die. Nothing ever changes. At the end of the day, no normal human-- not even one like you-- has the power really change anything. That’s why I’m here.”
            </p>
        </div>
        <div class="css-rules">
            <b>Contractors</b>
            <ul>
                <li>Most Contractors start as normal humans without powers.</li>
                <li>Only the most skilled and driven individuals are invited to be Contractors.</li>
            </ul>
        </div>
        <div class="css-narrative">
            <p>
                “You’re here to rub it in my face, wizard?”
            </p>
            <p>
                “No! I’m here to offer you a job, remember? But it’s more than a job, really. It’s a shot at greatness, an opportunity to truly make a difference. All you have to do is complete some tasks, and I’ll awaken the incredible powers you have locked inside.”
            </p>

        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Payment</b>
            <ul>
                <li>
                    Each time a Contractor is Victorious on a Contract, they receive a Gift that unlocks their supernatural potential.
                </li>
                <li>
                    A Gift Credit grants a new Gift or improves an existing Gift.
                </li>
                <li>
                    Each Player creates custom Gifts for their Contractors using the Gift Builder.
                </li>
                <li>
                    No two Contractors share a single trick.
                </li>
            </ul>
        </div>
        <div class="css-narrative">
            <p>
                “So that’s the offer? Do some jobs and you’ll give me superpowers? What’s the catch?”
            </p>
            <p>
                “No catch!” he laughed. “I don’t rely on trickery. The jobs can be quite dangerous, of course, but you’re used to that, aren’t you?”
            </p>
            <p>
                “I am.”
            </p>
            <p>
                “That’s what I’m saying! So,” he said, extending his hand, “shake on it?”
            </p>
        </div>
        <div class="css-rules">
            <b>Signing the Contract</b>
            <ul>
                <li>
                    Contractors go on Contracts willingly.
                    <ul>
                        <li>
                            The same goes for Players. You are never obligated to play a session.
                        </li>
                    </ul>
                </li>
                <li>
                    Contractors, especially more advanced ones, spend the Downtime between Contracts pursuing their ambitions, forming alliances, and dealing with the enemies they’ve made on their rise to power.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="css-narrative">
    <h4 class="text-center">
        “Fuck it,” I said, taking his hand. “I’m in.”
    </h4>
</div>
<div id="format-doors">
    <div class="visible-xs-block">
        <div class="css-narrative">
            <p>
                What happened next. . . Look, I’m not a poet, but I’ll try to explain it. 
            </p>
        </div>
    </div>
    <div class="visible-xs">
        <figure class="visible-xs-block" style="width: 100%; padding: 10px;">
            <img src="{% static 'overrides/art/front-doors.jpg' %}" class="css-inline-image">
            <figcaption class="text-center"></figcaption>
        </figure>
    </div>
    <div class="css-content">
        <div id="css-art-front-doors-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-doors.jpg' %}")'>
        <div class="css-two-thirds-col">
            <div class="css-narrative">
                <p class="hidden-xs">
                    What happened next. . . Look, I’m not a poet, but I’ll try to explain it. 
                </p>
                <p>
                    It was like I was a drop of rain, and I landed in the ocean. The lines separating me from everything else disappeared. I saw it all: past, present, and future. Every choice, every accident, was like a door leading to a different universe, and I had already gone through all of them a thousand times. You understand what I’m saying?
                </p>
                <br>
                <p>
                    Shit, I give up.  I told you I wasn’t any good at words.
                </p>
                <br>
                <p>
                    I woke up in a nearby alleyway. I was me again. The Talent was gone, and the only sign he’d ever been there was a new tattoo on the palm of my right hand:
                </p>
                <div class="css-tattoo text-center">
                    <p>
                        Room 231 of the Starlight Motel 7:00 PM
                    </p>
                    <p>
                        Take Bradley on flight UA 1294 and ensure he survives
                    </p>
                </div>
                <p>
                    My first Contract. 
                </p>
            </div>
        </div>
    </div>
</div>
