{% load staticfiles %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">
            Required to Play
        </h4>
        <div class="row text-center">
            <div class="col-xs-4">
                <i class="fa fa-2x fa-wifi"></i>
                <br>
                Access to this website 
            </div>
            <div class="col-xs-4">
                <img src="{% static 'overrides/branding/homed10.png' %}" width="30" height="30" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
                <br>
                Several 10-sided dice or a dice-rolling app 
            </div>
            <div class="col-xs-4">
                <i class="fa fa-2x fa-users"></i>
                <br>
                3+ People
            </div>
        </div>
        <br>
        <h4 class="text-center">
            The Contract is a Tabletop Roleplaying Game
        </h4>
        <ul>
            <li>
                One person acts as Game Master (GM)
                <ul>
                    <li>
                        The GM acts as a referee and controls the world, mission, and NPCs.
                    </li>
                </ul>
            </li>
            <li>
                The other Players control personal characters called Contractors.
                <ul>
                    <li>
                        Contractors risk their lives in deadly missions for fantastic powers.
                    </li>
                    <li>
                        Most Players have several Contractors, but they may only play one per session. 
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">
            Contracts
        </h4>
        <ul>
            <li>
                Most sessions of The Contract are self-contained missions called Contracts. 
            </li>
            <li>
                The attending Contractors are invited, briefed, and complete the Contract in one sitting.
            </li>
            <li>
                Only the GM knows the details of that session’s Contract. 
            </li>
            <li>
                At the end of the Contract, the GM declares which of the attending Contractors achieved the objective. Those Contractors are rewarded with unique supernatural Powers. 
            </li>
            <li>
                The GM stands to gain Rewards for their own Contractors as well.
            </li>
        </ul>
        <h4 class="text-center">
            Play with Anyone
        </h4>
        <ul>
            <li>
                It doesn't matter who shows up to each session.
            </li>
            <li>
                A different person may act as GM each time you play.   
            </li>
            <li>
                A different set of Contractors can attend each Contract.
            </li>
            <li>
                Many Players have no regular in-person group and play entirely online. 
            </li>
        </ul>
    </div>
</div>
<div id="format-punk">
    <span id="css-art-front-punk-sm" class="css-art-sm" style='background-image:url("{% static 'overrides/art/front-punk.jpg' %}")'></span>
    <div class="css-content">
        <div class="css-affix-spacer"></div>
        <h2 id="css-format-header" class="text-center">
            Introductions
        </h2>
        <div class="css-affix-spacer"></div>
        <div id="css-art-front-punk-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-punk.jpg' %}")'>
            <div class="css-two-thirds-col">
                <div class="css-narrative">
                    <h3 class="text-center">
                        What price would you pay to achieve your wildest dreams?
                        <br>
                        <br>
                        What risks would you take to change the world?
                    </h3>
                    <br>
                    <h4>
                        <p>
                            For a select few, these questions aren’t hypothetical. They’re an offer. 
                        </p>
                        <br>
                        <p>
                            We wager everything in the Contracts: our morals, our humanity, our very lives.
                        </p>
                        <br>
                        <p>
                            Those who hire us, the Harbingers, uphold their side of the bargain. Our pay transcends cash and coin.
                        </p>
                        <br>
                        <p>
                            Let me tell you about the day I accepted that offer.
                        </p>
                        <br>
                        <p class="text-center">
                            <br>
                            The day I signed The Contract.
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="css-post-affix-spacer"></div>
<div class="thumbnail css-rules text-center">
    At the start of the session, the GM runs a short introductory scene for any brand new Contractors. 
</div>
<div class="css-narrative">
    <p>
        I was at a riot when I had my first encounter with a Harbinger. 
    </p>
    <p>
        It wasn’t much: a few dozen cops, an outraged mob, lights flashing off the tear gas and smoke. Hard to believe a little domestic action was enough to get my blood pumping back then. 
    </p>
    <p>
        I had a molotov in my left hand, a lighter in my right, and an American Spirit between my lips. Thankfully I lit my cig before the cocktail, because that’s when I saw her. 
    </p>
</div>
<br>
<div id="format-music">
    <span id="css-art-front-music-sm" class="css-art-sm" style='background-image:url("{% static 'overrides/art/front-music.jpg' %}")'></span>
    <div class="css-content">
        <div id="css-art-front-music-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-music.jpg' %}")'>
            <div class="css-affix-spacer"></div>
        <div class="css-affix-spacer"></div>
        <div class="css-affix-spacer"></div>
            <div class="css-two-thirds-col-right">
                <div class="css-narrative">
                    <p>
                        She passed through the melee like she hardly noticed it, like she knew there wasn’t a flying brick or rubber bullet that would dare hit her. It wasn’t the orange dress, the fancy headphones, or even the way the air carried her hair that caught my attention. It was her gaze. Time paused when she locked eyes with me. It was like we were the only people on earth. Then she turned and disappeared into the smoke. 
                    </p>
                    <p>
                        I shoved my way through the crowd, ducking under punches, leaping over fights that had taken to the ground, following every glimpse of her sunset dress. No one else seemed to notice her, but they parted to make way all the same. She never broke her stride. She passed through a crack in a wall of riot shields and left me on the other side. Thankfully, I still had the molotov. 
                    </p>
                    <hr>
                    <p>
                        I collapsed against the wall of the alleyway, panting. The fire I left behind had the shadows dancing, but there was no sign of her. Not until I heard her voice. 
                    </p>
                    <p>
                        “I’m impressed.”
                    </p>
                </div>
                <div class="css-rules thumbnail text-center">
                    Most Contractors start as normal humans without Powers. 
                    <br>
                    Only the most driven, skilled, and ambitious people are chosen to become Contractors.
                </div>
                <div class="css-narrative">
                    <p>
                        “Thanks,” I said, standing, “I try to stay fit.” 
                    </p>
                    <p>
                        “Not the running. Starting the riot.” 
                    </p>
                    <p>
                        “Guess I’ve got a talent for getting under people’s skin.”
                    </p>
                    <p>
                        She nodded and looked me up and down like she was trying to price a cut of steak. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                “Who--” I started, “what are you?”
            </p>
            <p>
                “I’m the one who opens doors. Perhaps for you.”
            </p>
            <p>
                “Me?”
            </p>
            <p>
                “You’re talented. You’re ambitious. You want to change the world, but you’ll never succeed. Not without my help.” 
            </p>
            <p>
                “Yeah? You gunna to teach me how to walk through a war zone without getting shot?” 
            </p>
            <p>
                A smile hinted across her lips. “That’s merely a matter of following the proper rhythm. Your gifts lie elsewhere. I can help you find them.”
            </p>
        </div>
        <div class="css-rules thumbnail text-center">
            Each Player creates custom Powers for their Contractors using the Powers System.
            <br>
            No two Contractors share a single trick.
            <br>
            Any concept is possible. .  .
            <br>
            . . . Not all concepts are viable.
        </div>
        <div class="css-narrative">
            <p>
                “What’s the catch?” 
            </p>
            <p>
                “I have a gig for you, a task that carries deadly risk. Perform well, and I will help you break the limits of your human condition.”
            </p>
        </div>
        <div class="css-rules thumbnail text-center">
            Each time a Contractor is Victorious on a Contract, they receive a Gift that unlocks their supernatural potential.
            <br>
            A Gift can be spent on purchasing a new Power or improving an existing Power.
        </div>
        <div class="css-narrative">
            <p>
                “One job, huh? Dangerous or not, that’s a pretty good deal.” 
            </p>
            <p>
                “There will be more opportunities. You will be imbued so that others like me can find you.”
            </p>
        </div>
        <div class="css-rules thumbnail text-center">
            Each GM has at least one Harbinger they use to gather participants for their Contracts.
            <br>
            After a Contractor’s initial Introduction, subsequent invitations are much quicker.
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                “The imbuing will also change the way you learn. After completing a job, you will advance quicker than you thought possible. However, if you do not participate, you will stagnate.”
            </p>
        </div>
        <div class="css-rules thumbnail text-center">
            Experience points (Exp) can be used to improve your Contractor’s mundane stats. 
            <br>
            Contractors receive 4 Exp for a victory and 2 Exp for a loss.
        </div>
        <div class="css-narrative">
            <p>
                “So,” she said, extending her hand, “what do you say?” 
            </p>
            <p>
                I lit another cigarette. My hands were shaking so bad I could hardly hold the lighter. “Fuck. So what’s the catch? I agree and I’m locked in? You gunna spirit me away to fucking Hogwarts or some government facility where they keep me in a cage between jobs?” 
            </p>
            <p>
                “The Contract doesn’t rely on trickery. Outside of the Jobs, you are free to pursue your own goals. You can back out at any time, but once you’re out, you’re out for good.”
            </p>
        </div>
        <div class="css-rules thumbnail text-center">
            Contractors go on Contracts willingly.
            <br>
            Contractors, especially more advanced ones, spend the Downtime between Contracts pursuing their ambitions, forming alliances, and dealing with the enemies they’ve made on their rise to power.
            <br>
            A Contractor can retire at any time, but once they do so, they can never attend another Contract.
        </div>
    </div>
</div>
<div class="css-narrative">
    <div class="css-art-front-doors" style='background-image:url("{% static 'overrides/art/front-doors.jpg' %}")'>
    <div class="css-backdropped-text" style="width: 50%; margin: auto;">
        <h4 class="text-center">
            “Fuck it. I’m in.” I reached for her hand and shook it. 
        </h4>
        <br>
        <p>
            What happened next. . . Look, I’m not a poet, but I’ll try to explain it. 
        </p>
        <p>
            It was like I was a drop of rain, and I landed in the ocean. The lines separating me from everything else disappeared. I saw it all: past, present, and future. Every choice, every accident, was like a door leading to a different universe, and I had already gone through all of them a thousand times. You understand what I’m saying?
        </p>
        <br>
        <p>
            Shit, I give up.  I told you I wasn’t any good at words.
        </p>
        <br>
        <p>
            I woke up in the alleyway. I was me again, and she was gone. Only sign she’d ever been there was a new tattoo on the palm of my right hand:
        </p>
        <p class="text-center">
            Room 231 of the Starlight Motel 7:00 PM
            Take Bradley on flight UA 1294 and ensure he survives
        </p>
        <p>
            My first Contract. 
        </p>
    </div>
</div>
</div>
