{% load static %}
{% load power_tags %}
<h2 class="text-center">
    Contractors
    <hr>
</h2>

<div class="row">
        <div class="col-sm-7">
        <div class="css-rules">
            <b>Character Sheets</b>
            <ul>
                <li>Your Contractor's Character Sheet tracks their stats, status, Gifts, equipment, and more.</li>
                <li>The Contract offers online and printed Character Sheets.</li>
                <li>
                    At game time, Players access their online sheets on their devices or print them out in advance.
                </li>
                <li data-toggle="tooltip" title='Mouse-over tooltips provide useful information throughout the site.'>
                    If you ever need to reference a rule, you can
                    <span class="visible-xs-inline">tap on</span><span class="hidden-xs">mouse-over</span>
                    any element of your online Character Sheet to learn more.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-5">
        <figure class="css-figure-container" style="width: 100%;" >
            <img src="{% static 'info/graphics/qs_char_sheet.jpg' %}" class="css-inline-image">
            <figcaption class="text-center">An Online Character Sheet</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <h4 class="text-center">Teammates</h4>
    <div class="col-sm-4">
        <div class="css-narrative">
            <p>
                The Starlight Motel struck me as the sort of place you ended up after a night of bad decisions.
                Not even that twilight sky— no sun or moon in sight, casting everything in shades of violet—
                could turn this parking lot motel into somewhere that felt safe.
            </p>
            <p>
                I climbed the steps to the second floor and knocked on the door labeled <span class="css-typeface">231</span>. No answer. The windows were black.
            </p>
            <p>
                “You’re looking for Bradley,” came a voice from behind. It belonged to a pale teenager wearing a pleather duster and watches on both wrists.
            </p>
            <p>
                “Are you here on Contract?” they asked.
            </p>
            <p>
                “You could say that.”
            </p>
            <p>
                “Then we are working together. I am Five.”
            </p>
            <p>
                “You look a little older than that.”
            </p>
            <p>
                “That is my name. I am seventeen years old. I think.”
            </p>
        </div>
    </div>
    <div class="col-sm-3">
        <figure class="" style="height: 500px; padding: 10px;">
            <img src="{% static 'info/graphics/five_web.jpg' %}" class="css-inline-image">
            <figcaption class="text-center">
                <i>Art by <a href="https://twitter.com/mopipoe_">Mopipoe</a></i>
            </figcaption>
        </figure>
    </div>
    <div class="col-sm-5">
        <div class="css-narrative">
            <p>
                “Uh huh. Look, kid, I don’t really need a sidekick.”
            </p>
            <p>
                Five stared at me. “You must be new. We will need all the help we can get.”
            </p>
            <p>
                “You’ve done this before?”
            </p>
            <p>
                Five nodded.
            </p>
            <p>
                “So you have powers.”
            </p>
            <p>
                Another nod.
            </p>
            <p>
                “Okay. I’ll work with you," I said. "My name's Lucy. Don't get in my way.”
            </p>
            <p>
                “Same to you.”
            </p>
        </div>
        <div class=" css-rules">
            <b>Contractor Status and Teams</b>
            <ul>
                <li>
                    A Contractor's Status is determined by how many times they've claimed victory on a Contract.
                </li>
                <li>
                    <b>Newbies</b> have fewer than four victories.
                </li>
                <li>
                    <b>Novice</b> Contractors have 4-9 victories,
                    <b>Seasoned</b> have 10-16, <b>Professionals</b> have 17-24, and
                    <b>Veteran</b> Contractors have claimed victory 25 times or more.
                </li>
                <li>
                    All Contractors invited to a given Contract must be of the same Status.
                </li>
                <li>
                    Certain Gifts are only available to Seasoned or Veteran Contractors.
                </li>
                <li>
                    Only Veteran Contractors may attend solo Contracts.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">Rivals</h4>
    <div class="col-sm-6">
        <div class="css-narrative">
            <p>
                The click-clacking of cowboy boots echoed up the stairwell. The man attached had one arm, a revolver on each hip, and a mustache that would put Yosemite Sam to shame.
                His sheriff’s star winked at me.
            </p>
            <p>
                “Great," I muttered. "Another cop.”
            </p>
            <p>
                Five nodded. “Bo.”
            </p>
            <p>
                As the man approached, his face cracked into a smile. “Five! Here to pick up a new timepiece?”
            </p>
            <p>
                “No. We are on Contract.”
            </p>
            <p>
                “We’ve gotta work on your sense of humor, Five.” He turned to me and held out his hand. “Looks like we've got ourselves a team. The name’s Bo Perkins. Pleasure to meet you.”
            </p>
            <p>
                “Fuck off, pig.”
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="css-narrative">
            <p>
                Bo’s smile disappeared. “I don’t like that attitude. Not one bit.”
            </p>
            <p>
                Five stiffened. “She is new.”
            </p>
            <p>
                “Ah. Well, little miss sunshine, as long as we’re bein’ candid with each other, I don’t think I like you either.
                You look like a good-fer-nothin' punk. Now I’m sure I could uncover enough dirt to put you away for a long time, but, unless you signed a very different contract than I did, I think we ought to put aside our differences and work together.”
            </p>
        </div>
        <div class=" css-rules">
            <b>Ambitions</b>
            <ul>
                <li>
                    Contractors must work together to achieve the Contract's objective, but they may have opposing ambitions.
                    <ul>
                        <li>
                            Lucy wants to destroy capitalism.
                        </li>
                        <li>
                            Bo wants to create a police state utopia.
                        </li>
                    </ul>
                </li>
                <li>
                    In many Playgroups, realpolitik and Player-vs-Player (PvP) conflicts occur during and outside of Contracts.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">
        Capabilities
    </h4>
</div>
{% include "info/new_player_guide/attributes-and-abilities.html" %}
<br>
<div id="js-first-resolution" class="js-resolution-container">
    <div class="row">
        <h4 class="text-center">Rolling Dice</h4>
        <div class="col-md-6">
            <div class="css-narrative">
                <p>I chewed on Bo's question. “What am I good at? Causing trouble.”</p>
                <p>“Big surprise. Well, the plane leaves in two hours. Let’s give ‘er a knock and get this show on the road.”</p>
                <p>Five shook their head. “Already knocked. No answer. And the door is locked.”</p>
                <p>“Well shit,” sighed Bo. “Suppose I could go talk to the manager—”</p>
                <p>I set down my backpack and pulled out my crowbar.</p>
                <p>“What in the hell do you think you’re doing, miss?”</p>
                <p>“Causing trouble.”</p>

                <p>
                    I slid the crowbar between the door and its frame and gave a tug. The crackling of wood echoed down the hall, and the door fell off its hinges.
                </p>
                <p>
                    “So much for subtlety,” Bo grumbled, pushing past me into the room. “Bradley? You here, Bradley? Bra— AGH!” 
                </p>
                <p>
                    A massive creature crashed into the cop, pinning him to the ground. A maw of slavering, razor-sharp fangs opened above him, ready to go for the kill. I raised my crowbar to brain the thing, but Five caught my wrist and flipped on the lights. 
                </p>
                <p>
                    “It appears that Bradley is a dog.” 
                </p>
                <p>
                    <b>“WOOF! WOOF!”</b> stated Bradley before licking Bo’s face with a steak-sized tongue. 
                </p>
                <p>
                    Bo struggled under Bradley's weight, fending off his kisses. “A dog? Thing’s a gat-dammed bear!” 
                </p>
                <p>
                    “Caucasian mountain dog,” said Five, guiding the beast off of Bo. “It smells like he has been eating roadkill.”
                </p>
                <p>
                    I tried not to laugh. "Looks like you've got your hands full, Five. Come on, Bo. Let's search the apartment."
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="css-rules ">
                <b>Resolution</b>
                <ul>
                    <li>
                        Most of the time, controlling your Contractor is as simple as telling the GM what you'd like to do.
                    </li>
                    <li>
                        When you attempt an action that is dangerous or might not succeed, the GM may call for a roll to determine the outcome.
                    </li>
                    <li>
                        The GM declares an Attribute, an Ability, and the Difficulty.
                        <ul><li>If the Difficulty is not specified, it is 6 by default.</li></ul>
                    </li>
                </ul>
                <div class="css-quickstart-container text-center" style="margin-bottom: 5px;">
                    <p>
                        <b>Player:</b> "I want to investigate the apartment"
                    </p>
                    <p>
                        <b>GM:</b>"Roll <b class="js-qs-attribute"></b>
                        + <b class="js-qs-ability"></b>,
                        Difficulty <b class="js-qs-difficulty">-</b>"
                    </p>
                </div>
                <ul>
                    <li>
                        Add up your ratings in the relevant Attribute and Ability and roll that many 10-sided dice.
                    </li>
                    <li>
                        The number each die lands on contributes to the <b>Outcome</b>.
                        <ul>
                            <li>
                                <b class="css-qs-big">+2</b> for each 10 (some dice use 0)
                            </li>
                            <li>
                                <b class="css-qs-big">+1</b> for each 6 (Difficulty) or higher
                            </li>
                            <li>
                                <b class="css-qs-big">-1</b> for each 1
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class=" css-quickstart-container text-center" style="margin-bottom: 5px;">
                    <p>
                        <b class="js-qs-attribute-val"></b>
                        <span class="js-qs-attribute"></span>
                        + <b class="js-qs-ability-val"></b>
                        <span class="js-qs-ability"></span>  =
                        <span id="js-qs-roll-first-button" class="btn btn-primary">
                        Roll <b class="js-roll-num-dice js-qs-num-dice">-</b> Dice
                    </span>
                    </p>
                    <div class="text-left">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="js-qs-roll-dice css-qs-roll-results">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="js-qs-roll-results css-qs-roll-results">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <h4 >Outcome: <b class="js-qs-outcome-num">-</b>
                            </h4>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        The Outcome determines the result of your Action
                        <ul>
                            <li>
                                6+ Exceptional success
                            </li>
                            <li>
                                4–5 Complete success
                            </li>
                            <li>
                                1–3 Partial success, or a success with a complication
                            </li>
                            <li>
                                0 Failure
                            </li>
                            <li>
                                -1 Botch, something goes horribly wrong.
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class=" css-quickstart-container" style="margin-bottom: 5px; ">
                    <div class="css-narrative">
                        <p class="js-qs-action-outcome">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="css-narrative css-rules-centered">
                <div id="js-qs-additional-narrative">

                </div>
                <p>
                    “You feel a pulse under all that fur, Five?”
                </p>
                <p>
                    Five pushed their hand into Bradley's fur.
                </p>
                <p>
                    “No.”
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">
        Advanced Dice Rolling
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                There was a moment of silence. Bradley’s tongue slid over his razor fangs in a breathless mimicry of panting.  
            </p>
            <p>
                I shook my head. “Wild. I mean, I’ve seen the videos of werewolves and ghosts and shit on CryptoLeak, but none of the vampire ones are confirmed.” 
            </p>
            <p>
                “Look at this,” said Five, pointing their phone’s camera at Bradley. “He doesn’t appear on film. Even so, I am sure if we live-streamed in public—” 
            </p>
            <p>
                Bo held up his hand. “Absolutely not. Goin’ viral is the last thing we need. We’ve got a flight to catch, and as far as the US Government is concerned, this thing’s a WMD. Lucy, grab the leash; you’re our handler.” 
            </p>
            <p>
                “Me? Five seems better with dogs.” 
            </p>
            <p>
                “Yeah, but Five couldn’t talk their way into a timeshare presentation. No offense, Five.” 
            </p>
            <p>
                Five shrugged. “They are often scams.”
            </p>
            <p>
                “But sneaking contraband should be second nature to a punk like you,” he said, offering me the leash. “Unless you’re yellow.” 
            </p>
            <p>
                I snatched the leash from his hand. “I took this job for a chance to change the world. I’ll do whatever it takes.”
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            {% include "info/new_player_guide/resolution_tutorial_snip.html" %}
        </div>
    </div>

</div>

<div class="row">
    <h4 class="text-center">
        The Mission
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                Bradley and I boarded first with the elderly and uniformed military personnel. I gave him the window seat, took the aisle for myself, and saved the middle seat for Five.
            </p>
            <p>
                Bo slumped into the aisle seat across from mine. “Well color me impressed, Lucy. We made it on board without getting arrested. Now we just have to survive the flight. And the other passengers.”
            </p>
            <p>
                “What about ‘em?”
            </p>
            <p>
                “You didn’t notice?” he whispered. "Looks like we’re heading to Hawaii with a band of monster hunters.” 
            </p>
            <p>
                “You’re fucking kidding.”  
            </p>
            <p>
                “Keep your cool. Chances are they’re nothing but charlatans and scam artists. ‘Course I can’t say the same for the pair of air marshals in row 35.”  
            </p>
            <p>
                “Shit.”
            </p>
            <p>
                Five squeezed past me to their seat and started petting Bradley. “The dog looks different. Longer fangs. Pointed ears. Red eyes.” 
            </p>
            <p>
                “He’s getting hungry,” I said. “When he snapped at that dog, he looked like a full-on demon.”
            </p>
            <p>
                The flight attendants finished their presentation. The plane lurched into motion. 
            </p>
            <p>
                "Maybe he will eat my roast beef sandwich,” Five said, rummaging through their bag. Bradley sniffed the sandwich once, snorted, and started licking at the arteries in Five’s wrists. 
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                The plane shot down the runway with a mighty rumble, and we were away. It was about now I started to panic. 
            </p>
            <p>
                “Fuck this. We’re not dog trainers. We aren’t priests. Why the fuck did he choose us for this job?”
            </p>
            <p>
                Bo scoffed. “This ain't Ocean’s 11, sweety.”
            </p>
            <p>
                “The fuck does that mean?”
            </p>
            <p>
                “He means they did not pick us for our specific talents. These jobs are more like,” Five paused, “like an escape room. Except all the puzzles are impossible. If you want to win, you have to cheat.”
            </p>
        </div>
        <div class="css-rules ">
            <b>Problem Solving</b>
            <ul>
                <li>
                    Contractors may not be suited for the Contracts they attend.
                </li>
                <li>
                    Most Contracts demand outside-the-box solutions to critical situations. 
                </li>
                <li>
                    Violence is a risky tactic, not the assumed solution.
                    <ul>
                        <li>
                            Trying to fight your way through every Contract will earn you a one-way trip to the graveyard.
                        </li>
                    </ul>
                </li>
            </ul>
            <b>Scenarios</b>
            <ul>
                <li>
                    The missions that GMs run as Contracts are called <b>Scenarios</b>.
                </li>
                <li>
                    New GMs are given 5 Scenarios to help them start running The Contract.
                </li>
                <li>
                    After you play in a user-created Contract, its Scenario write-up is revealed to you, allowing you to run it for others.
                </li>
                <li>
                    Unlocked Scenarios include notes from GMs who previously ran it as well as Journal entries written by the Contractors who attended.
                </li>
                <li>
                    Playing in an online Contract is a great way to unlock content for your own Playgroup.
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="row">
    <h4 class="text-center">
        Taking Inventory
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                “He wants blood,” I said, pulling Five’s wrists away from Bradley. “Human blood.” 
            </p>
            <p>
                “Water, water everywhere, and not a drop to drink,” muttered Bo. “Unless, of course, we do something drastic.”
            </p>
            <p>
                I leaned close to Bo. “What are you saying? We feed him a person?” 
            </p>
            <p>
                “Seems like things are heading that way, one way or another,” he said, nodding towards the demonic dog currently trying to lick its way through the skin on Five’s neck. 
            </p>
            <p>
                “I’m gunna be fucking sick. There has to be another way.”  
            </p>
            <p>
                “I’m listenin’ for bright ideas, sugarplum, but I ain’t hearin’ any.”
            </p>
            <p>
                I wracked my brain. “We’re so stupid. We could have gotten donor blood on our way to the airport, or at least some syringes. Instead we’ve got jack shit.” 
            </p>
            <p>
                “I have syringes,” said Five.
            </p>
            <p>
                “Excuse me?”
            </p>
            <p>
                “I am type-1 diabetic.”
            </p>
        </div>
    </div>
    <div class="col-md-6">
        {% include "info/new_player_guide/equipment.html" %}
    </div>
</div>
<div class="row">
    <h4 class="text-center">
        Getting Hurt
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                “Five, I could kiss you.” 
            </p>
            <p>
                “Please do not.” 
            </p>
            <p>
                “Give me one of those syringes. Bo, hand me that water bottle. I’m going to the bathroom.”
            </p>
            <p>
                You ever try to draw blood from yourself? It isn’t easy, especially with turbulence.
            </p>
        </div>
        <div class="css-rules ">
            <b>Body</b>
            <ul>
                <li>
                    Body represents your physical fortitude.
                </li>
                <li>
                    Its value is calculated based on your Brawn Attribute. 
                </li>
                <li>
                    All regular humans have between 5 and 8 Body.
                </li>
                <li>
                    When your physical fortitude is tested, the GM may ask you to roll your rating in Body in place of
                    the standard Attribute + Ability.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules ">
            <b>Injuries</b>
            <ul>
                <li>
                    Injuries are tracked individually on your Character Sheet.
                </li>
                <li>
                    An Injury’s Severity determines how deadly it is, how difficult it is to treat, how long it takes to heal, and what kind of lasting Battle Scar it may leave behind.
                </li>
                <li>
                    Typically, there is an in-game month between Contracts. Each Injury you've sustained heals 2 Severity levels in this time.
                </li>
            </ul>
            <b>Severe Injuries</b>
            <ul>
                <li>
                    Injuries Severity 4 and greater require medical treatment and may leave permanent <b>Battle Scars</b>.
                </li>
                <li>
                    These severe Injuries will worsen one level per half hour until Stabilized.
                </li>
                <li>
                    There are two ways to Stabilize an Injury:
                    <ul>
                        <li>
                            <b>Proper Stabilization</b> requires advanced medical supplies and knowledge or Gifts.
                        </li>
                        <li>
                            Contractors can instead attempt a <b>Makeshift Stabilization</b>, but it's harder to pull off and
                            risky. Your Stabilized patient may end up worse off and will be left with a permanent Battle Scar.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        Combat
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                I emerged from the bathroom with new blood stains on my jeans carrying a 12 oz water bottle full of what I hoped looked like wine. The line of people waiting in the aisle gave odd looks as I squeezed by. 
            </p>
            <p>
                “One Bloody Mary for our buddy,” I said, handing the plastic bottle to Five. “Why’s Bradley under that blanket?” 
            </p>
            <p>
                Bradley lifted his head to greet me, and I nearly had a heart attack. A pair of glowing red eyes peered over an upturned, bat-like nose. Strands of saliva swung from the tips of needle-sharp fangs that no longer fit behind his lips. 
            </p>
            <p>
                “He’s getting worse,” said Five.
            </p>
            <p>
                "Jesus," I said, and Bradley growled. "Good thinking keeping him out of sight of those wannabe Van-Helsings."
            </p>
            <p>
                Five uncapped the bottle for Bradley, who proceeded to swallow the meal, bottle and all, with a single chomp. Five was lucky to keep their hand. 
            </p>
            <p>
                As the dog set to work lapping up any excess splatter, his demonic features receded. Soon, he was back to the big, clumsy teddy bear we’d met in the motel. We breathed a sigh of relief.
            </p>
            <p>
                “Gotta hand it to you, kid,” whispered Bo. “That was some good thinking.” 
            </p>
            <p>
                “Thanks,” I said, reaching out to pet our still giant, but otherwise normal, dog. 
            </p>
            <p>
                Bradley gave my leg a sniff, recognized the scent of a good meal, bared his fangs, and lunged.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        {% include "info/new_player_guide/combat.html" %}
    </div>
</div>


<div class="row">
    <h4 class="text-center">
        Getting Hurt More
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>
                In an instant, Bradley the monster returned. His fangs sank into my calf like a dozen steak knives. I remember making a noise, not a scream, something more primal. I twisted and kicked. My heel connected with Bradley’s eye, but he didn’t let go. 
            </p>
        </div>
        <div class="css-rules ">
            <b>Wound Level</b>
            <ul>
                <li>
                    Injuries deplete your Body, which can lead to increased Stress, Battle Scars, and even death.
                </li>
                <li>
                    The amount your Body is depleted is equal to <b>the Severity of your worst Injury + the number of other Injuries you have.</b>
                </li>
                <li>
                    Let’s say Bradley’s bite counts as a Severity 4 Injury.
                </li>
                <li>
                    Combined with Lucy's existing Severity 2 Injury from drawing blood, her Body is now depleted by 5.
                    <ul>
                        <li>
                            <b>4</b> (Highest Severity) + <b>1</b> (number of other Injuries) = <b>5</b>.
                        </li>
                    </ul>
                </li>
                <li>
                    Try it out using the widget
                    <span class="visible-xs-inline">below</span><span class="hidden-xs">to the right</span>.
                </li>
            </ul>
            <b>Stress</b>
            <ul>
                <li>
                    Injuries aren't easily shrugged off. Pain and loss of functionality impacts your effectiveness.
                </li>
                <li>
                    As your Body is depleted, you gain <b>Stress</b>.
                </li>
                <li>
                    Stress subtracts dice from every roll you make, to a minimum of 2 dice.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 css-rules">
        <div class="text-center">
            <b>Try it Out!</b>
        </div>
        {% include "info/new_player_guide/healthwidget.html" %}
    </div>
</div>

<div class="">
    <h4 class="text-center">
        Gifted
    </h4>
    <div id="format-five-time">
        <span id="css-art-front-time-sm" class="css-art-sm" style='background-image:url("{% static 'overrides/art/front-time.jpg' %}")'></span>
        <div class="css-content">
            <div id="css-art-front-music-lg" class="css-art-lg" style='background-image:url("{% static 'overrides/art/front-time.jpg' %}")'>
            <div class="css-affix-spacer"></div>
            <div class="css-two-thirds-col-right">
                <div class="css-narrative">
                    <p>
                        Bo Perkins snapped his body like he was throwing a punch with his missing arm. A blue shimmer slammed Bradley against the wall beneath the window. Undeterred, Bradley bared his jaws and prepared to lunge again.
                    </p>
                    <p>
                        Five leaped onto the beast's back, and they both vanished. A lone watch clattered to the ground, the only sign they’d ever been there. 
                    </p>
                    <p>
                        “What the hell!?” cried a passenger in the row behind us. He was standing up, gawking at us with a look of utter shock.
                    </p>
                    <p>Bo scrambled over, threw the airline blanket over my injured leg, and tied a tourniquet around my thigh. His single hand worked in tandem with an invisible one. </p>
                    <p>“They went 12 seconds into the future,” he whispered urgently. “It’s one of Five’s Gifts. You best not be around when we catch up to them. Go!” </p>
                    <p>I struggled to my feet. More passengers craned their necks and covered their mouths in shock. I shot Bo a frantic glance.</p>
                    <p>“I’ll deal with it. You go!”</p>
                </div>
                <div class="css-rules css-rules-centered">
                    <b>Gifts</b>
                    <ul>
                        <li>
                            Gifts unlock a Contractor's latent supernatural potential.
                        </li>
                        <li>
                            Each time a Contractor claims victory on a Contract, they receive a Gift Credit that can be
                            spent on a new Gift or to improve an existing one.
                        </li>
                        <li>Most Gifts do not grant dice bonuses or make you more effective in a fight.</li>
                        <ul>
                            <li>Instead, they provide things like information, influence, rapid restoration, transformation, mobility, and equipment.</li>
                        </ul>
                        <li>Gifts work. If a Gift allows you to sidestep or solve the primary challenge of a Contract, you win.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-center">
        Unique
    </h4>
    <div class="col-md-6">
        <div class="css-rules ">
            <b>Building Custom Gifts</b>
            <ul>
                <li>
                    Players create custom Gifts for their Contractors using The Contract's unique
                    <a href="{% url 'powers:powers_create_ps2' %}"> Gift Builder</a>.
                </li>
                <li>
                    Custom Gifts allow each Contractor to achieve their own unique concept.
                </li>
                <li>
                    Gift systems have specific, automatically generated text to ensure they behave the same no matter who is acting as GM.
                </li>
            </ul>
            <div class="text-center" style="margin-top: 15px;">
                Wanna try it out?
            </div>
            <div class="text-center">
                <a class="" href="{% url 'powers:powers_create_ps2' %}" target="_blank">
                    Create a Gift
                </a>
                or check out the
                <a class="" href="{% url 'powers:powers_stock' %}" target="_blank">
                    Stock Gifts.
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules ">
            <b>For example, here is the Gift Five used</b>
            <div style="margin-top:10px;">
                {% power_badge five_power False None False rewarding_character True %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        Exertion
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>I used the seat backs like crutches, jostling another dozen passengers from their sleep, grimacing at each agonizing step. Hot blood pooled in my shoe.</p>
            <p>A dozen rows back, an arm reached out and caught my wrist. It was one of the air marshals. </p>
            <p>“What happened up there, miss? Are you okay?” </p>
            <p>“I— it—” I stammered.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules ">
            <b>Exerting</b>
            <ul>
                <li>When the chips are down and the stakes have never been higher, you may Exert yourself to get a bonus on a roll.</li>
                <li>Exerting allows you to ignore your dice penalty from Stress for a single roll AND increases that roll’s Outcome by 1.
                <ul>
                    <li>
                        You must declare that you are Exerting before you roll.
                    </li>
                    <li>
                        You may Exert a maximum of once per Round of Combat.
                    </li>
                </ul>
                </li>
                <li>Many Gifts require Exertion to activate.</li>
                <li>
                    Exerting is stressful and takes a toll on your Mind.
                </li>
                <li>
                    Lucy will Exert while making a Charisma + Influence roll to calmly, successfully persuade the air marshal that everything is perfectly fine.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        Mind
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>“I stepped on the dog’s tail, and he bit me. Just surprised him. All’s good now.”</p>
            <p>The air marshal and I looked back up the aisle. There was no commotion. The man who’d seen everything was seated, maybe sleeping. </p>
            <p>“Okay,” he said, letting go. “You should let the flight attendants know if you need first aid.”</p>
            <p>“Thanks. I’ll do that.”</p>
            <p>I didn’t talk to anyone. Hell, I don't know if I drew a single breath until the bathroom door was locked behind me. My body was shaking uncontrollably. I didn’t know what to do. I just sat there, waiting. My leg didn’t hurt anymore; it had gone numb, and that was even worse.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules ">
            <b>Mind</b>
            <ul>
                <li>
                    Mind represents your mental and emotional fortitude.
                </li>
                <li>
                    Mind Damage represents mental strain which can contribute to your dice penalty from Stress.
                    <ul>
                        <li>
                            Unlike Injuries, Mind Damage is accrued linearly (like a traditional health bar).
                        </li>
                        <li>
                            Click the “Exert Mind” button on your Character Sheet to incur one Mind Damage.
                        </li>
                    </ul>
                </li>
                <li>Mind Damage recovers one level per night of restful sleep.</li>
                <li>
                    When your mental fortitude is tested, the GM may ask you to roll your rating in Mind in place of
                    the standard Attribute + Ability.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        Conspiracy
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>Thirty minutes later, there was a knock at the door.</p>
            <p>“Occupied!”</p>
            <p>“It’s Bo. Open up.”</p>
            <p>I cracked open the door. Bo pressed his way in and closed it behind him. There was hardly enough room for one person inside, let alone two.</p>
            <p>“How’s the leg, champ?” </p>
            <p>“I’ll live. What’s going on out there?”</p>
            <p>He sighed. “Situation’s under control. For now. Bradley’s getting hungry again, startin’ to get the whole,” he gestured at his face. “We need your help.” </p>
            <p>“I can’t. He’s tasted me. He’ll attack on sight.” </p>
            <p>“I know, I know. That’s how come Five and I can’t give our own blood. Listen, the syringe idea was a good one, I’ll give ya that, but it’s time for plan B.” </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>“Murder.”</p>
            <p>He winced. “Listen, I can do, well, what needs to be done. But to make it look like a suicide, I’ll need that blade you snuck past the TSA. Yeah, I noticed. What do you say?”</p>
        </div>
        <div class="css-rules ">
            <b>Limits</b>
            <ul>
                <li>
                    Limits are circumstances or choices that could be traumatic.
                </li>
                <li>
                    You choose three Limits during character creation.
                </li>
                <li>
                    Most normal humans have these standard Limits:
                    <ul>
                        <li>
                            <b>Murder:</b> killing another person outside of immediate self-defense.
                        </li>
                        <li>
                            <b>Anguish:</b> being tortured or enduring extended physical or emotional stress.
                        </li>
                        <li>
                            <b>Atrocities:</b> witnessing a humanitarian atrocity.
                        </li>
                    </ul>
                </li>
                <li>
                    Non-typical Contractors (e.g. psychopaths, zealots, fairies) can select other Limits or create custom ones.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        Whatever it Takes
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>“No fuckin’ way,” I said, resisting the urge to spit in his face. </p>
            <p>“Don’t let your idealism blind you. Way I see it, we got two options. One: we wait, let this monster lose control, kill a few people, and get taken out by the air marshals, if we’re lucky. Two: we take one life, relax until we land in Hawaii, and get paid.” </p>
            <p>“You forgot option three: kill the monster.” </p>
            <p>Bo’s face turned red. “Kill it!? We don’t even know if we can!” he snorted. “We brought this creature on board. It’s our responsibility to see it through. Are you gunna throw this opportunity away? You gunna rip up The Contract?” </p>
            <p>My heart pounded in my throat. “What did Five say?” </p>
            <p>“They’re on board.” </p>
            <p>“Fuck.” </p>
            <p>Bo held out his hand. “Give me the blade, Lucy. We’ll all get home safe, and we’ll all get paid.”</p>
            <p>I pulled the pocket knife and turned it over in my hand. The blade caught my reflection. </p>
            <p>“I feel sick.”</p>
            <p>I handed it over.  </p>
            <p>Bo relaxed. “Trust me kid, you don’t wanna think too much about it.” </p>
            <p>He opened the door and paused. “You made the right choice.”</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>I probably shouldn’t have, but I watched him walk away. He slipped into a bathroom up the aisle and kept the door open. A few minutes later, a woman walked in. Don’t know how she didn’t see him. </p>
            <p>She closed the door.</p>
            <p>There was one loud bang— something hitting the door.</p>
            <p>People looked up and then went back to looking at their books and phones.</p>
        </div>
        <div class="css-rules">
            <b>Trauma</b>
            <ul>
                <li>
                    When you cross a Limit (in this case Murder), you make a Trauma Roll.
                    <ul>
                        <li>
                            Roll your Mind, Difficulty 8.
                        </li>
                    </ul>
                </li>
                <li>
                    If you fail, you take one point of Mind damage or acquire a new Trauma.
                    <ul>
                        <li>
                            Traumas are long-lasting mental health issues such as phobias, delusions, and compulsions.
                        </li>
                        <li>
                            The specific Trauma you develop is based on the circumstances that led to its formation.
                        </li>
                        <li>
                            When a Trauma is triggered, you must roll Mind, Difficulty 8 to maintain Self-Control.
                            <ul>
                                <li>
                                    For example, someone with a phobia of the open ocean would need to succeed a Mind
                                    roll to board a ferry.
                                </li>
                                <li>
                                    Failing a Self-Control roll causes you to behave in a way you otherwise wouldn't,
                                    but it does not cause an additional Trauma or Mind Damage.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Being Imbued makes Contractors more mentally and emotionally resilient than normal humans.
                    <ul>
                        <li>Traumas may be "cured" by spending 3 Experience and a Downtime in therapy.</li>
                        <li>Certain Gifts allow Contractors to heal Traumas without an Experience cost.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    </div>
</div>

<div class="row">
    <h4 class="text-center">
        The End of the Line
    </h4>
    <div class="col-md-6">
        <div class="css-narrative">
            <p>I threw up. </p>
            <p>Later, I heard the other passengers discover the body. An anguished scream, a hushed murmuring. I didn’t open the bathroom door until we touched down in Hawaii, and by the time I did, Five, Bo, and Bradley were gone. </p>
            <p>It’s only now, looking back on it, that I realize Bo lied to me. If I hadn’t given him that knife, he would have fed Bradley a different in-flight meal. </p>
            <p>Me.</p>
            <p>I can’t blame him. There’s no sense keeping a dead-weight Contractor around. Liabilities end up in the graveyard. </p>
        </div>
        <div class="css-rules">
            <b>Death</b>
            <ul>
                <li>
                    The Contract is dangerous, and survival is not guaranteed.
                </li>
                <li>
                    If your Body is depleted below 0, you die.
                </li>
                <li>
                    Dead Contractors are interred in the
                    <a href="{% url 'characters:characters_graveyard' %}" target="_blank">Graveyard</a>
                    and can't be played again.
                </li>
                <li>
                    Imbuing grants Contractors <b>Will to Survive.</b>
                    <ul>
                        <li>
                            Once per Contract, you may reduce an incoming Injury's
                    Severity by up to four levels (to a minimum of Severity 4). However, you take a point of Mind Damage,
                    and suffer a Major Battle Scar.
                        </li>
                    </ul>
                </li>
                <li>
                    Contractors gain access to Gifts that let them cheat death once they reach Seasoned Status.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Underworld Upsides</b>
            <ul>
                <li>
                    When one of your Contractors dies, you are given a <b>Charon Coin</b> which you can use to start a
                    new Contractor with a Gift.
                </li>
                <li>
                    Some Playgroups opt-in to rewarding GMs for achieving <b>The Golden Ratio</b>.
                    <ul>
                        <li>
                            In Playgroups with The Golden Ratio, GMs receive 6 Experience when they run a Contract
                            where at least one Contractor dies while another achieves Victory.
                        </li>
                    </ul>
                </li>
            </ul>
            <b>But I don't want to die!</b>
            <ul>
                <li>
                    Good. Contractors are not throwaway characters.
                </li>
                <li>
                    The Golden Ratio and Charon Coins only exist because most GMs are hesitant to kill Contractors who
                    deserve it.
                </li>
                <li>
                    Each Player has a different appetite for danger.
                    <ul>
                        <li>
                            To help you identify GMs and Playgroups that suit your tastes, the website assigns <b>GM Titles</b>
                            based on each GM's deadliness and experience.
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="text-center">
                <small>
                    <span class="visible-xs-inline">Tap on</span><span class="hidden-xs">Mouse-over</span>
                    a GM's title for precise stats
                </small>
            </div>
            <div class="text-center">
                <span data-html="true" data-toggle="tooltip" title="" style="margin-top: 0px; display: inline-block; margin-bottom: 5px;" data-original-title="Contracts GMed: 3<br>Contractors killed: 0<br>Victories awarded: 7 <br>Losses awarded: 0">
                    <span class="css-gm-danger-rating css-gm-danger-Pillow">
                        Pillow Referee
                    </span>
                </span>
                    <span data-html="true" data-toggle="tooltip" title="" style="margin-top: 0px; display: inline-block; margin-bottom: 5px;" data-original-title="Contracts GMed: 26<br>Contractors killed: 5<br>Victories awarded: 75 <br>Losses awarded: 10">
                     <span class="css-gm-danger-rating css-gm-danger-Just">
                        Just Boss
                    </span>
                </span>
                    <span data-html="true" data-toggle="tooltip" title="" style="margin-top: 0px; display: inline-block; margin-bottom: 5px;" data-original-title="Contracts GMed: 10<br>Contractors killed: 8<br>Victories awarded: 31 <br>Losses awarded: 4">
                    <span class="css-gm-danger-rating css-gm-danger-Cruel">
                        Cruel Middle Management
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="css-narrative">
            <h4 class="text-center">
                But, in the end, some of the sheriff’s words were true. It is better not to think about it. 
                <br>
                <br>
                And I did get paid. 
            </h4>
        </div>
    </div>
</div>
