<h2 class="text-center">
    Downtimes, Setting, Worlds
</h2>
<hr>
<h3 class="text-center">Downtime</h3>
<div class="css-rules css-rules-centered">
    <div class="row">
        <div class="col-md-6">
            <b>Downtime</b>
            <ul>
                <li>
                    One month passes between Contracts. This is called Downtime.
                </li>
                <li>
                    Most Newbie and low-Novice Contractors spend their Downtimes doing little other than healing, training (spending Experience Points), and preparing for future Contracts.
                </li>
                <li>
                    No roleplay is necessary for any of these activities.
                </li>
                <li>However, Contractors are ambitious, and more advanced Contractors take initiative during their Downtimes to seek power and change the world. </li>
                <li>For Seasoned and Veteran Contractors, Downtimes become as important-- or even more important-- than the Contracts themselves. </li>
            </ul>
        </div>
        <div class="col-md-6">
            <b>Side Games</b>
            <ul>
                <li>Any roleplay that occurs between Contracts is called a Side-Game.</li>
                <li>While no Gifts or Experience can be earned through Side-Games, Contractors can make moves that will help them on Contracts.
                    <ul>
                        <li>They can seek out powerful artifacts, form a cult, make a fortune, or even try to take over the world.</li>
                    </ul>
                </li>
                <li>The setting of The Contract is not static. It evolves in major ways the more you play, shaped by the events of Contracts and the actions of ambitious Contractors. </li>
            </ul>
        </div>
    </div>
</div>


<h3 class="text-center">Setting</h3>
<div class="row">
    <div class="col-md-6">
        <div class="css-rules text-center">
            The narrative in the first two sections of this guide takes place in the default setting of The Contract: <b>Illuminated Earth.</b>
        </div>
        <div class="css-narrative">
            <p>
                Illuminated Earth is a version of the modern world where the advent of smartphones and the internet confirmed the existence of the supernatural instead of disproving it.
            </p>
            <p>
                The spectre of magic and otherworldly phenomena loom large in zeitgeist despite their extreme rarity. As a result, modern society has twisted into a superstitious and paranoid reflection of itself.
            </p>
            <p>
                Yet, some witch hunts <i>do</i> have merit. It's an open secret that billionaires and Senators employ paranormal advisors and bodyguards. Charlatans become pop culture icons, and each revelation inspires a new cult.
            </p>
            <p>
                The world is changing. The secret societies that pull humanity's strings are scrambling to adapt.
            </p>
            <p>
                Now's a good time to move up.
            </p>
        </div>
        <div class="text-center">
            <a href="/guide/setting-world-building">
                Learn more about Illuminated Earth
            </a>
            -
            <a href="{%url 'info:fiction' %}">
                Read more The Contract fiction
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Custom Settings</b>
            <ul>
                <li>The true story of The Contract is in the format: powerful beings approach ambitious individuals and offer them a deal to go on deadly missions in exchange for fantastic Powers. </li>

                <li>It’s easy to picture such a story taking place in any number of settings. </li>

                <li>
                    One popular option is to start the setting as a completely mundane earth, where all supernatural elements are introduced by the Contracts and Contractors.
                    <ul>
                        <li>This allows even Novice Contractors to make huge moves during their Downtimes. Seasoned Contractors have a shot at world domination.</li>
                    </ul>
                </li>

                <li>
                    Other groups prefer to use established settings from TV, movies, books, anime, or other roleplaying games.
                    <ul>
                        <li>
                            Modern settings work best.
                        </li>
                    </ul>
                </li>

                <li>
                    Although Contractors' stats and Powers are tightly balanced, elements of the Setting and the Contracts themselves
                    are not subject to any balance requirements.
                    <ul>
                        <li>
                            Play groups can introduce any supernatural elements into their settings that they want.
                        </li>
                        <li>
                            Players do not have meta-game knowledge about the systems of the creatures and situations they are facing.
                        </li>
                        <li>
                            GMs and Scenario-writers have an idea what sorts of Powers and capabilities Contractors of a given Status will bring to the table.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<h3 class="text-center">Worlds</h3>
<div class="row">
    <div class="text-center">
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Worlds are Player groups with a shared Setting.</b>
            <ul>
                <li>Each group of Players typically shares a single World.</li>
                <li>Each World's homepage centralizes information about its setting, membership rosters, Game records, and upcoming sessions.</li>
                <li>GMs may post World Events to inform members of significant world-changing events within the setting.</li>
                <li>Players can be members of multiple Worlds, but each Contractor calls a single World home.</li>
            </ul>
            <b>Each World has a World Leader</b>
            <ul>
                <li>World Leaders act as head GM for the group.</li>
                <li>They define and maintain their World’s setting.</li>
                <li>They settle disputes relating to events and Contractors in the World.</li>
                <li>They may view and edit the Character Sheets of the Contractors in their World, allowing them to help less motivated Players with their recordkeeping.</li>
                <li>They control memberships, roles, and permissions for their World. </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Visiting Other Worlds</b>
            <ul>
                <li>Unless your Contractor belongs to a closed World, you may bring them on Contracts that occur in other Worlds. </li>
                <li>You can play your Contractors whenever you want, with any group.</li>
                <li>Contractors cannot move between Worlds on their own.</li>
                <li>
                    However, Harbingers from other Worlds can invite your Contractor to participate in Contracts that occur in their World.
                    <ul>
                        <li>Your Contractor is transported to that World for the duration of the Contract and returned to their home World immediately afterwards.</li>
                        <li>While traveling between Worlds, only your Contractor’s Attributes, Abilities, and Powers are guaranteed to work. </li>
                        <li>
                            Equipment may not travel with you, and supernatural items and effects that were obtained in one World may work differently (or not at all) in another.
                            <ul>
                                <li>Items and effects that use GM-created systems are tracked as Artifacts and Conditions on your Character Sheet.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>A Contractor cannot participate in more out-of-World Contracts than home-World Contracts. </li>
            </ul>
       </div>
    </div>
</div>
