<h2 class="text-center">
    Downtimes, Setting, Worlds
</h2>
<h3 class="text-center">Downtime</h3>
<div class="css-rules css-rules-centered">
    <div class="row">
        <div class="col-xs-6">
            <b>Downtime</b>
            <ul>
                <li>
                    One month passes between Contracts. This is called Downtime.
                </li>
                <li>
                    Most Newbie and low-Novice Contractors spend their Downtimes doing little other than healing, training (spending Experience Points), and preparing for future Contracts.
                </li>
                <li>
                    No roleplay is necessary for any of these activities.
                </li>
                <li>However, Contractors are ambitious, and more advanced Contractors take initiative during their Downtimes to seek power and change the world. </li>
                <li>For Seasoned and Veteran Contractors, Downtimes become as important-- or even more important-- than the Contracts themselves. </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <b>Side Games</b>
            <ul>
                <li>Any roleplay that occurs between Contracts is called a Side-Game.</li>
                <li>While no Gifts or Experience can be earned through Side-Games, Contractors can absolutely make plays that will help them on Contracts. They can seek out powerful artifacts, form a cult, make a fortune, or even try to take over the world.</li>
                <li>The setting of The Contract is not a static theme park to explore. It changes in major ways the more you play, shaped by the events of Contracts and the actions of ambitious Contractors. </li>
            </ul>
        </div>
    </div>
</div>


<h3 class="text-center">Settings</h3>
<div class="row">
    <div class="col-md-6">
        <div class="css-rules text-center">
            The narrative in the first two sections of this guide takes place in the default setting of The Contract: Illuminated Earth.
        </div>
        <div class="css-narrative">
            <p>
                Illuminated Earth is a twisted reflection of the modern world where the advent of smartphones and the internet confirmed the existence of the supernatural instead of disproving it.
            </p>
            <p>
                Here, witch hunts have merit. Billionaires and Senators employ paranormal advisors and bodyguards, and everyone knows. Charlatans become pop culture icons, and each revelation inspires a new cult. The world is changing. The secret societies that pull humanity's strings scramble to adapt.
            </p>
            <p>
                Now's a good time to move up.
            </p>
        </div>
        <div class="text-center">
             Learn more about Illuminated Earth
            -
            Read more The Contract fiction
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <b>Custom Settings</b>
            <ul>
                <li>The true story of The Contract is in the format: powerful beings approach ambitious individuals and offer them a deal to go on deadly missions in exchange for fantastic Powers. </li>

                <li>It’s easy to picture such a story taking place in any number of settings. </li>

                <li>
                    One popular option is to start the setting as a completely mundane earth, where all supernatural elements are introduced by the Contracts and Contractors.
                    <ul>
                        <li>This allows even Novice Contractors to make huge moves during their Downtimes. Seasoned Contractors have a shot at world domination.</li>
                    </ul>
                </li>

                <li>Other groups prefer to use established settings from TV, movies, books, anime, or even other roleplaying games. Modern settings work best.</li>

            </ul>
            <b>Visiting other Settings</b>
            <ul>
                <li>[rewrite]The Contract is a game where Contractors are extremely portable. Players may play their Contractors when visiting other play groups or even with complete strangers online. </li>

                <li>The answer is Worlds. </li>
            </ul>
        </div>
    </div>
</div>

<h3 class="text-center">Worlds</h3>
<div class="row">
    <div class="col-md-6">
        <div class="css-rules">
            <b>Rewrite this</b>
            <ul>
<li>If your Contractor steals a nuke and drops it on New Orleans (which is entirely feasible in many settings), do all Contractors living in New Orleans die?</li>

<li>vaporize all the Contractors from your own play group, but you wouldn’t expect every Player of The Contract around the world to kill their NOLA Voodoo Priests.</li>

    <li>uke was dropped in your play group’s World, not the World of every play group. </li>


    <li> Players with a shared setting.</li>


<li>ature of The Contract and the key to Contractor portability. They establish rules and conventions that maintain balance between playgroups while giving each group the freedom to run The Contract in any setting.</li>

<li> settings from being “poisoned” by silly or unbalanced elements from other groups.</li>

    <li> useful features for managing a group of players, tracking developments within the shared setting, finding new Players, and scheduling play sessions. </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="css-rules">
            <ul>
                <li>Each Contractor has a “home” World. This is the World they return to at the end of each Contract and where they spend all of their Downtimes. </li>
<li>Contracts themselves also take place in a particular World. </li>
<li>Harbingers may invite Contractors from other Worlds to join their Games. </li>
<li>If the Contractor accepts, they are transported to the World where the Contract takes place for the duration of the session and returned to their home World immediately afterwards. </li>
<li>Contractors cannot move between Worlds of their own free will.</li>
                <li>Contracts usually only last a single day of in-game time.</li>
            </ul>
Find a world, Create World.
        </div>
    </div>
</div>
