<br>
<div class="css-start-playing-container alert alert-info">
    <h2 class="text-center">
        Start Playing!
    </h2>
    <div>
        <ul class="nav nav-tabs nav-justified nav-justified-sm css-nav-tabs" role="tablist">
            <li role="presentation" class="active" >
                <a href="#play-game" aria-controls="play-game" role="tab" data-toggle="tab">
                    <h3 style="margin: 0px;">
                        Play Online
                    </h3>
                </a>
            </li>
            <li role="presentation">
                <a href="#start-gming" aria-controls="start-gming" role="tab" data-toggle="tab">
                    <h3 style="margin: 0px;">
                        Start GMing
                    </h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content css-tab-content">
        <div role="tabpanel" class="tab-pane active " id="play-game">
        </div>
        <div role="tabpanel" class="tab-pane" id="start-gming">
        </div>
    </div>
    <div class="css-start-play-section">
        Log in / create account
    </div>
    <div class="css-start-play-section">
        Create a Contractor
    </div>
    <div class="css-start-play-section">
        Find a Game
    </div>
    <div class="css-start-play-section">
    </div>
    <div class="css-start-play-section">
        Read the GM Guide
    </div>
    <div class="css-start-play-section">
        Unlock Scenarios
    </div>
    <div class="css-start-play-section">
        Create a World, invite your friends.
    </div>
    <div class="css-start-play-section">
        Schedule a Contract
    </div>
</div>