<div class="css-start-playing-container">
    <div class="css-start-play-section">
        Log in / create account
    </div>
    <div class="css-start-play-section">
        Create a Contractor
    </div>
    <div class="css-start-play-section">
        Find a Game
    </div>
    <div class="css-start-play-section">
    </div>
    <div class="css-start-play-section">
        Read the GM Guide
    </div>
    <div class="css-start-play-section">
        Unlock Scenarios
    </div>
    <div class="css-start-play-section">
        Create a World, invite your friends.
    </div>
    <div class="css-start-play-section">
        Schedule a Contract
    </div>
</div>