<div class="row">
    <div class="col-md-5">
        <div class="css-narrative">
            <p>
                “Fine. All we gotta do is give some dude a ride on an airplane.”
            </p>
            <p>
                Bo scoffed. “Yeah, I’m sure it’ll be an absolute cakewalk. Now listen, I’ve been a detective for twenty years. I know Five’s got their own set of tricks. What are you good at?”
            </p>
            <p>
                "Well. . ."
            </p>
        </div>
        <div class="css-rules">
            <div class="row ">
                <div class="col-xs-12">
                    <div class="text-center">
                        <b style="font-size: 17px;">Punk's Attributes</b>
                    </div>
                    <div class="text-center">
                        <small>
                            <span class="visible-xs-inline">Tap on</span><span class="hidden-xs">Mouse-over</span>
                            any Attribute for more details
                        </small>
                    </div>
                    <div class="css-quickstart-container">
                        <div class="row">
                            {% for attribute_value in physical_attributes %}
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6" data-toggle="tooltip" title='{{attr.relevant_attribute.tutorial_text}}'>
                                <h5 data-toggle="tooltip" title='{{attribute_value.relevant_attribute.tutorial_text}}'>
                                    <span class="stat-value">{{attribute_value.val_with_bonuses}}</span>
                                    <span class="css-attribute-color">{{attribute_value.relevant_attribute.name}}</span>
                                </h5>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            {% for attribute_value in mental_attributes %}
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6" data-toggle="tooltip" title='{{attr.relevant_attribute.tutorial_text}}'>
                                <h5 data-toggle="tooltip" title='{{attribute_value.relevant_attribute.tutorial_text}}'>
                                    <span class="stat-value">{{attribute_value.val_with_bonuses}}</span>
                                    <span class="css-attribute-color">{{attribute_value.relevant_attribute.name}}</span>
                                </h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <b><span class="css-attribute-color">Attributes</span> describe your intrinsic strengths and weaknesses</b>
                    <ul>
                        <li>
                            Attributes are rated between 1-5.
                            <ol>
                                <li>Poor</li>
                                <li>Average</li>
                                <li>Good</li>
                                <li>Superb</li>
                                <li>World-class</li>
                            </ol>
                        </li>
                        <li>
                            Your Attributes' values determine many of your other stats, such as movement speed, Mind (mental fortitude), and Body (physical fortitude).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
        </div>
        <div class="css-rules">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="text-center">
                        <b style="font-size: 17px;">Punk's Abilities</b>
                    </div>
                    <div class="text-center">
                        <small>
                            <span class="visible-xs-inline">Tap on</span><span class="hidden-xs">Mouse-over</span>
                            any Ability for more details
                        </small>
                    </div>
                    <div class="css-quickstart-container">
                        <div class="row">
                            {% for ability_value in ability_value_by_name %}
                            <div class="ability {% if not ability_value.2%} zero-ability {% endif %}">
                                <p>
                                    <div class="col-md-4 col-sm-3 col-xs-6 css-physical-ability"
                                         data-toggle="tooltip"
                                         title='{{ability_value.1.tutorial_text}}'>
                                <p>
                                    <span class="stat-value hidden-xs">{{ability_value.2}}</span>
                                    <span class="stat-value visible-xs-inline">{{ability_value.2}}</span>
                                    {% if ability_value.1.is_primary %}
                                    <span class="css-ability-color"> {{ability_value.1.name}}</span>
                                    {% else %}
                                    <span class="css-sec-ability-color"> {{ability_value.1.name}}</span>
                                    {% endif %}
                                </p>
                            </div>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="">
                        <b>
                            <span class="css-ability-color">Abilities</span> define your learned skills and knowledge
                        </b>
                        <ul>
                            <li>
                                Abilities are rated 0 to 5.
                            </li>
                            <li>
                                Even a single rank in an Ability indicates training or experience in that field. 
                            </li>
                            <li>
                                Abilities are only used in skill checks. They do not grant stats.
                            </li>
                            <li>
                                You may also invent your own <span class="css-sec-ability-color"> Secondary Abilities.</span>
                                <ul>
                                    <li>
                                        They must be more specific than the Primary Abilities that appear on all sheets.
                                    </li>
                                    <li>
                                        In return, you receive a bonus when you use them.
                                    </li>
                                    <li>
                                        Punk's <span class="css-sec-ability-color">Smuggling</span> Ability is a Secondary Ability; it is unique to her.
                                    </li>
                                    <li>
                                        Secondary Abilities can not grant any supernatural effects.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
