<div class=" css-rules">
    <b>Equipment</b>
    <ul>
        <li>
            You specify your equipment on the "Stock" tab of your character sheet.
        </li>
        <li>
            You can list any equipment you would reasonably be able to acquire.
        </li>
        <li>
            You can carry up to Brawn x 15 pounds without it affecting your movement.
        </li>
        <li>
            Your equipment list can be as detailed or vague as you like. However. . .
            <ul>
                <li>
                    <b>If it isn't listed on your sheet, you don't have it.</b>
                </li>
            </ul>
        </li>
    </ul>
    <b>Weapons and Armor</b>
    <ul>
        <li>
            Weapons and Armor are separated into broad categories with shared stats.
        </li>
        <li>
            With Gifts, any sort of weapon, even silly ones, can be viable.
        </li>
    </ul>
    <ul class="nav nav-tabs nav-justified nav-justified-sm css-nav-tabs" role="tablist">
        <li role="presentation" class="active" >
            <a href="#weapons" aria-controls="weapons" role="tab" data-toggle="tab">Weapons</a>
        </li>
        <li role="presentation"><a href="#armor" aria-controls="armor" role="tab" data-toggle="tab">Armor</a></li>
    </ul>
    <div class="tab-content css-tab-content">
        <div role="tabpanel" class="tab-pane active " id="weapons">
            <div class="row css-equip-header">
                <div class="col-xs-5">
                    Type
                </div>
                <div class="col-xs-4">
                    Roll
                </div>
                <div class="col-xs-3">
                    Damage
                </div>
            </div>
            <div class="css-equip-container">
                <div class="row css-equip-row">
                    <div class="col-xs-5">
                        Knife or dagger
                    </div>
                    <div class="col-xs-5">
                        (Dex or Brawn) + (Brawl or Melee)
                    </div>
                    <div class="col-xs-2">
                        +0
                    </div>
                </div>
                <div class="row css-equip-row ">
                    <div class="col-xs-5">
                        Full-sized edged (sword, axe)
                    </div>
                    <div class="col-xs-5">
                        Brawn + Melee
                    </div>
                    <div class="col-xs-2">
                        +1
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-5">
                        Edgeless thrusting (rapier, spear)
                    </div>
                    <div class="col-xs-5">
                        Dexterity + Melee
                    </div>
                    <div class="col-xs-2">
                        +1
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-5">
                        Greatsword, giant axe
                    </div>
                    <div class="col-xs-5">
                        Brawn + Melee
                    </div>
                    <div class="col-xs-2">
                        +2
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-5">
                        Handgun
                    </div>
                    <div class="col-xs-5">
                        Dexterity + Firearms
                    </div>
                    <div class="col-xs-2">
                        +1
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-5">
                        Rifle
                    </div>
                    <div class="col-xs-5">
                        Dexterity + Firearms
                    </div>
                    <div class="col-xs-2">
                        +2
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-12 text-center">
                        <a href="/guide/rules/#weapons">
                            Click Here
                        </a>
                        for a complete list of weapon stats
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="armor">
            <div class="row css-equip-header">
                <div class="col-xs-3">
                    Type
                </div>
                <div class="col-xs-3">
                    Armor Rating
                </div>
                <div class="col-xs-6">
                    Penalty to Physical Actions
                </div>
            </div>
            <div class="css-equip-container">
                <div class="row css-equip-row">
                    <div class="col-xs-3">
                        Street clothes
                    </div>
                    <div class="col-xs-3">
                        0
                    </div>
                    <div class="col-xs-2">
                        -0
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-3">
                        Rugged clothes
                    </div>
                    <div class="col-xs-3">
                        1
                    </div>
                    <div class="col-xs-2">
                        -0
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-3">
                        Armored clothing
                    </div>
                    <div class="col-xs-3">
                        2
                    </div>
                    <div class="col-xs-2">
                        -0
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-3">
                        Bullet-proof vest
                    </div>
                    <div class="col-xs-3">
                        3
                    </div>
                    <div class="col-xs-2">
                        -1
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-3">
                        Plate Armor
                    </div>
                    <div class="col-xs-3">
                        4
                    </div>
                    <div class="col-xs-2">
                        -3
                    </div>
                </div>
                <div class="row css-equip-row">
                    <div class="col-xs-12 text-center">
                        <a href="/guide/rules/#armor">
                            Click Here
                        </a>
                        for a complete list of armor stats
                    </div>
                </div>
            </div>
        </div>
    </div>
    <small>Each Character Sheet features an expandable Weapons reference below the Equipment section.</small>
</div>