{% load static %}
<div id="js-other-resolution" class="css-quickstart-container js-resolution-container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3 style="margin-top: 5px;">I will</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="css-quickstart-action">
        <button  class="js-qs-prev-action css-quickstart-left-btn btn btn-default" >
            <span class="glyphicon glyphicon-backward"></span>
        </button>
        <span class="js-qs-action-text css-quickstart-action-text">
        </span>
        <button class="js-qs-next-action css-quickstart-right-btn btn btn-default">
            <span class="glyphicon glyphicon-forward"></span>
        </button>
            </div>
        </div>
    </div>
    <div class="row text-center css-quickstart-gm-text">
        <div class="col-xs-12">
            <div class="thumbnail css-rules text-left js-additional-rules" style="display:none;">
            </div>
            <p>
                "Roll <b class="js-qs-attribute">Dexterity</b>
                + <b class="js-qs-ability">Ledgerdemain</b>,
                Difficulty <b class="js-qs-difficulty">-</b>"
                <div>
                    <small class="js-qs-difficulty-extra"></small>
                </div>
            </p>
            <p>
                <b class="js-qs-attribute-val"></b>
                <span class="js-qs-attribute"></span>
                + <b class="js-qs-ability-val"></b>
                <span class="js-qs-ability"></span>  =
                <span id="js-qs-roll-button" class="btn btn-primary">
                    Roll <b class="js-qs-num-dice js-roll-num-dice">-</b> Dice
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="js-qs-roll-dice css-qs-roll-results">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="js-qs-roll-results css-qs-roll-results">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <h4 >Outcome:
                <b>
                    <span class="js-qs-outcome-num"></span>
                    <span class="js-qs-contested-outcome"></span>
                </b>
                <br>
                <small class="js-qs-outcome-explanation"></small>
            </h4>
            <p class="js-qs-action-outcome css-narrative">
            </p>
            <small>
                <i>
                    <div class="js-qs-additional-narrative ">

                    </div>
                </i>
            </small>

        </div>
    </div>
</div>
