{% load bootstrap %}

<div class="text-muted text-center">
    Customize your Gift's behavior.
    <div class="visible-xs-block"></div>
    When you're satisfied, <a href="#sec-customize-flavor">finish by adding flavor.</a>
</div>
<div class="visible-xs-block text-center" style="padding: 10px;">
    <b>Click this button any time to preview your Gift:</b>
    <div class="css-gift-cost-cont" style="display: block; position: relative;">
        <span >
            <div class="css-gift-cost">
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#giftPreviewModal">
                    Preview Gift
                </button>
                <span    style="margin-top: 7px; margin-left: 10px;"
                        data-html="true"
                        v-bind:data-original-title="giftCostTooltip"
                        v-bind:data-title="giftCostTooltip"
                        class="has-popover">
                     Cost:
                    <span v-html="giftCost"></span>
                </span>
            </div>
        </span>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap;">
    <div v-if="vectors.length > 1"
         class="css-customization-field">
        <h5>
            Style
        </h5>
        <div v-for="component in vectors"
             class="css-customization-field"
             :key="component.id"
             style="display: inline-block;">
            <label v-bind:for="component.id"
                   class="css-component-radio css-vector-radio"
                   :class="{'css-selected-component': component.slug === selectedVector}"
                   >
                <input type="radio"
                       v-bind:id="component.id"
                       v-bind:name="component.type"
                       v-bind:value="component.slug"
                       v-model="selectedVector"
                       @change="clickVector"
                       style="display:none;"
                >
                <span style="padding-left: 10px;">
                    { component.displayName }
                    <small class="text-muted" v-html="getCostForVector(component.slug)">

                    </small>
                </span>
            </label>
        </div>
    </div>
    <div v-for="field in systemFields"
         :key="field.id"
         class="css-customization-field">
        <h5 style="margin-bottom: 5px;">
            {field.name}
        </h5>
        <div v-if="field.isText">
            <input type="text" v-model="fieldTextInput[field.id]" class="form-control" @input="changeParam">
        </div>
        <div v-if="field.isRoll" class="form-inline">
            <select v-model="fieldRollInput[field.id][0]" class="form-control" @change="changeParam">
                <option v-for="value in field.attributeChoices" :value="value[1]">{value[1]}</option>
            </select>
            <span v-if="field.abilityChoices.length > 0" style="padding-left: 10px;">
                <select v-model="fieldRollInput[field.id][1]" class="form-control" @change="changeParam">
                    <option v-for="value in field.abilityChoices" :value="value[1]">{value[1]}</option>
                </select>
            </span>
        </div>
        <div v-if="field.isWeapon" class="form-inline">
            <select v-model="fieldWeaponInput[field.id]" class="form-control" @change="changeParam">
                <option v-for="value in field.weaponChoices" :value="value[0]">{value[1]}</option>
            </select>
        </div>
        <div v-if="field.eratta">
            <small>
                { field.eratta }
            </small>
        </div>
    </div>
    <div v-for="(param, p_index) in parameters"
         :key="param.id"
         class="css-customization-field">
        <span class="js-data-prefix-container" v-bind:data-prefix="p_index">
            {{params_formset.empty_form.level}}
            {{params_formset.empty_form.power_param_id}}
        </span>
        <div style="margin-bottom: 5px;">
            <h5 style="margin-bottom: 0px; display: inline-block">{param.name}</h5>
            <small class="text-muted" v-if="giftCostOfVueParam(param) != 0">
                Gift Cost:
                <span v-html="costDisplay(giftCostOfVueParam(param))">
                </span>
            </small>
        </div>
        <select v-model="parameterSelections[param.id]"
                class="form-control"
                @change="changeParam"
                :disabled="param.id in disabledParameters">
            <option v-for="(value, index) in param.levels" :value="value">
                {value}
                <template v-if="index === param.defaultLevel">
                    (Default)
                </template>
                <template v-if="param.seasonedLevel === index">
                    (Seasoned)
                </template>
                <template v-if="param.vetLevel === index">
                    (Veteran)
                </template>
            </option>
        </select>
        <div v-if="param.id in disabledParameters">
            <div v-for="reason in disabledParameters[param.id]">
                <small style="color: red;">
                    { reason }
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center" style="margin-bottom: 0px;">Enhancements</h3>
        <div class="text-center" style="margin-bottom: 5px; height: 20px">
            <small class="text-muted" v-if="enhancementsCost != 0">
                Gift Cost:
                <span class="css-component-gift-price" >
                    +{ enhancementsCost }
                </span>
            </small>
        </div>
        <div id="js-enhancements-container" v-if="enhancements.length > 0">
            <div v-for="modifier in enhancements"
                 :key="modifier.id" >
                {% with 'Enhancements' as vue_model_name %}
                {% with 'clickEnhancement' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center" style="margin-bottom: 0px;">Drawbacks</h3>
        <div class="text-center" style="margin-bottom: 5px; height: 20px">
            <small class="text-muted" v-if="drawbacksCost != 0">
                Gift Cost:
                <span class="css-component-gift-credit" v-text="drawbacksCost">
                </span>
            </small>
        </div>
        <div id="js-drawbacks-container" v-if="drawbacks.length > 0">
            <div v-for="modifier in drawbacks"
                 :key="modifier.id">
                {% with 'Drawbacks' as vue_model_name %}
                {% with 'clickDrawback' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<div id="sec-customize-flavor">
    <h2 class="text-center">Customize Flavor and Finish</h2>
    {{power_form.name|bootstrap}}
    {{power_form.tagline|bootstrap}}
    {{power_form.description|bootstrap}}
    {% if request.user.is_superuser %}
        {{power_form.tags|bootstrap}}
        {{power_form.example_description|bootstrap}}
    {% endif %}
    {{power_form.effect}}
    {{power_form.vector}}
    {{power_form.modality}}
    <div v-if="warnings.length > 0">
        <h3>Gift incomplete:</h3>
        <div class="alert alert-warning">
            <ul>
                <li v-for="warning in warnings">
                    <span v-text="warning"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <input id="form-submit" class="btn btn-primary btn-lg" type="submit" value="Save Gift" />
    </div>
</div>