<div class="text-muted text-center">
    A Gift's Effect determines what it <i>does</i>. Flavor is added during customization.
    <br>
    <small>
        For example, Alternate Form could be used by both werewolves and magical girls.
        <br>
        Injure could be anything from a fireball to a sudden stroke of bad luck for the target.
    </small>
</div>

<span v-if="effectFilters.length > 1">
    <h4 style="display: inline-block; margin-right: 15px; margin-bottom: 5px;">Filter Effects</h4>
</span>
<div v-for="effectFilter in effectFilters" style="display: inline-block; margin-right: 15px; margin-top: 5px;" class="radio">
    <label v-bind:for="effectFilter.id"
           class="css-effect-filter-radio">
            <input type="radio"
                   v-bind:id="effectFilter.id"
                   name="effect-filter"
                   v-bind:value="effectFilter.value"
                   v-model="selectedEffectFilter"
                   @change="changeEffectFilter">
        {effectFilter.display}
    </label>
</div>
<div v-for="category in categoriesWithEffects">
    <div class="panel panel-default" style="margin-bottom: 5px;">
        <div class="panel-heading">
            <h3 style="margin-top: 5px !important; margin-bottom: 5px !important; font-size: 22px;">
                {category.name}
                <small>
                    <div class="visible-xs-block">
                        {category.description}
                    </div>
                    <span class="hidden-xs">
                        {category.description}
                    </span>
                </small>
            </h3>
        </div>
        <div class="panel-body" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="row">
                <div v-for="component in category.effects"
                     :key="component.id">
                    <div class="col-xs-12 col-sm-6" style="padding-left:30px;">
                        <label v-bind:for="component.id"
                               style="margin: 5px; width: 100%; height: 100%;"
                               class="css-component-radio css-effect-radio"
                               :class="{'css-selected-component': selectedEffect && component.id === selectedEffect.id}">
                            <div>
                                <input type="radio"
                                       v-bind:id="component.id"
                                       v-bind:name="component.type"
                                       v-bind:value="component"
                                       v-model="selectedEffect"
                                       @change="changeEffect"
                                       @click="clickEffect"
                                       style="display:none;"
                                >
                                <h4 class="css-component-header" style="margin-top: 4px !important; margin-bottom: 4px !important; display: inline-block;">
                                    {component.displayName}
                                    <div>
                                        <small>
                                            <b>{ component.summary } </b>
                                            <i>
                                            <span style="padding-left: 5px;" class="text-muted" v-html="getCostForEffect(component.slug, component.giftCredit)">
                                            </span>
                                            </i>
                                        </small>
                                    </div>
                                </h4>
                                <div class="text-muted">
                                    <small >

                                    </small>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
