<div class="text-muted text-center">
    A Gift's Effect determines what it <i>does</i>. Flavor is added during customization.
    <br>
    <small>
        For example, the "Alternate Form" Effect could be used by both werewolves and magical girls.
    </small>
</div>

<div class="css-effect-filters" v-if="effectFilters.length > 1" style="margin-bottom: 15px; margin-top: 15px;">
    <h4 style="margin-bottom: 0px; margin-left: 10px;"> {modalityEffectFilterPrompt} {selectedEffectFilter.display}</h4>
    <div  v-for="effectFilter in effectFilters" style="display: inline-block; margin-left: 5px; margin-right: 5px; margin-top: 5px;" >
        <label v-bind:for="effectFilter.id"
               class="css-component-radio css-effect-filter-radio"
               :class="{'css-selected-filter': selectedEffectFilter && selectedEffectFilter.value === effectFilter.value}"
        >
            <input type="radio"
                   v-bind:id="effectFilter.id"
                   name="effect-filter"
                   v-bind:value="effectFilter"
                   v-model="selectedEffectFilter"
                   @change="changeEffectFilter"
                   @click="clickEffectFilter"
                   style="display:none;">
            {effectFilter.display}
        </label>
    </div>
</div>
<div v-for="category in categoriesWithEffects">
    <div class="panel panel-default"  style="margin-bottom: 5px;">
        <div class="panel-heading" :class="[category.containerClass]">
            <h3 style="margin-top: 5px !important; margin-bottom: 5px !important; font-size: 22px;">
                {category.name}
                <small>
                    <div class="visible-xs-block">
                        {category.description}
                    </div>
                    <span class="hidden-xs">
                        {category.description}
                    </span>
                </small>
            </h3>
            <div class="row">
                <div v-for="component in category.effects"
                     :key="component.id">
                    <div class="col-xs-12 col-sm-6" style="padding-left:15px;">
                        <label v-bind:for="component.id"
                               style="margin: 5px; width: 100%; height: 100%;"
                               class="css-component-radio css-effect-radio"
                               :class="{'css-selected-component': selectedEffect && component.id === selectedEffect.id}">
                            <div>
                                <input type="radio"
                                       v-bind:id="component.id"
                                       v-bind:name="component.type"
                                       v-bind:value="component"
                                       v-model="selectedEffect"
                                       @change="changeEffect"
                                       @click="clickEffect"
                                       style="display:none;"
                                >
                                <img v-bind:src="component.icon_url" width="40" height="40" style="position: absolute;">
                                <h4 class="css-component-header" style="margin-top: 4px !important; margin-bottom: 4px !important; padding-left: 50px;">
                                    {component.displayName}
                                    <div >
                                        <small>
                                            <b>{ component.summary } </b>
                                            <i>
                                            <span class="text-muted" v-html="getCostForEffect(component.slug, component.giftCredit)">
                                            </span>
                                            <span v-if="component.requiredStatusLabel" class="text-muted">
                                                    (Requires <b>{component.requiredStatusLabel}</b>)
                                            </span>
                                            </i>
                                        </small>
                                    </div>
                                </h4>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
        </div>
    </div>
</div>
