{% load bootstrap %}

<div class="text-muted text-center">
    Customize your Gift's behavior.
    <div class="visible-xs-block"></div>
    When you're satisfied, scroll down to flavor and finish.
</div>
<div class="visible-xs-block text-center" style="padding: 10px;">
    <b>Tap this button any time to preview your Gift:</b>
    <div class="css-gift-cost-cont" style="display: block; position: relative;">
        <span >
            <div class="css-gift-cost">
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#giftPreviewModal">
                    Preview Gift
                </button>
                <span    style="margin-top: 7px; margin-left: 10px;"
                        data-html="true"
                        v-bind:data-original-title="giftCostTooltip"
                        v-bind:data-title="giftCostTooltip"
                        class="has-popover">
                     Cost:
                    <span v-html="giftCost"></span>
                </span>
            </div>
        </span>
    </div>
    {% if is_stock %}
        <div class="visible-xs-block visible-sm-block" style="margin-top: 10px;">
            <button type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#mainTutorialModal">
                View Help
            </button>
        </div>
    {% endif %}
</div>
<div v-if="selectedEffect && selectedEffect.errata">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="alert alert-info" >
                <div style="display: inline-block;" >
                    <div class="glyphicon glyphicon-info-sign" aria-hidden="true"
                         style="font-size: 18px; display: inline-block; line-height: 0; position: relative; top: 3px"></div>
                    {selectedEffect.errata}
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap;">
    <div v-if="vectors.length > 1"
         class="css-customization-field">
        <h5>
            Style
        </h5>
        <div v-for="component in vectors"
             class="css-customization-field"
             :key="component.id"
             style="display: inline-block;">
            <label v-bind:for="component.id"
                   class="css-component-radio css-vector-radio"
                   :class="{'css-selected-component': component.slug === selectedVector.slug}"
                   >
                <input type="radio"
                       v-bind:id="component.id"
                       v-bind:name="component.type"
                       v-bind:value="component"
                       v-model="selectedVector"
                       @change="clickVector"
                       style="display:none;"
                >
                <span style="padding-left: 10px;">
                    { component.displayName }
                    <small class="text-muted" v-html="getCostForVector(component.slug)">

                    </small>
                </span>
            </label>
        </div>
    </div>
        <span class="css-customization-field" v-for="(field, fieldIndex) in systemFields.filter(field=> field.isText)"
             :key="field.id"
            :class="{'css-hidden': !lastUsedMarkers.includes(field.marker)}">
            <h5 style="margin-bottom: 5px;">
                {field.name}
            </h5>
            <div>
                <span class="js-data-prefix-container" v-bind:data-prefix="fieldIndex">
                    {{ sys_field_text_formset.empty_form }}
                </span>
            </div>
            <div v-if="field.eratta">
                <small>
                    { field.eratta }
                </small>
            </div>
        </span>
        <span class="css-customization-field" v-for="(field, fieldIndex) in systemFields.filter(field => field.isRoll )"
             :key="field.id"
            :class="{'css-hidden': !lastUsedMarkers.includes(field.marker)}">
            <h5 style="margin-bottom: 5px;">
                {field.name}
            </h5>
            <div class="form-inline">
                <select v-model="fieldRollInput[field.id][0]" class="form-control" @change="changeParam">
                    <option v-for="value in field.attributeChoices" :value="value">{value[1]}</option>
                </select>
                <span v-if="field.abilityChoices.length > 0" style="padding-left: 10px;">
                <select v-model="fieldRollInput[field.id][1]" class="form-control" @change="changeParam">
                    <option v-for="value in field.abilityChoices" :value="value">{value[1]}</option>
                </select>
            </span>
                <span class="js-data-prefix-container" v-bind:data-prefix="fieldIndex">
                {{ sys_field_roll_formset.empty_form }}
            </span>
            </div>
            <div v-if="field.eratta">
                <small>
                    { field.eratta }
                </small>
            </div>
        </span>
        <span class="css-customization-field" v-for="(field, fieldIndex) in systemFields.filter(field => field.isWeapon)"
             :key="field.id">
            <h5 style="margin-bottom: 5px;">
                {field.name}
            </h5>
            <div class="form-inline">
                <select v-model="fieldWeaponInput[field.id]" class="form-control" @change="changeParam">
                    <option v-for="value in field.weaponChoices" :value="value[0]">{value[1]}</option>
                </select>
                <span class="js-data-prefix-container" v-bind:data-prefix="fieldIndex">
                {{ sys_field_weapon_formset.empty_form }}
            </span>
            </div>
            <div v-if="field.eratta">
                <small>
                    { field.eratta }
                </small>
            </div>
        </span>
    <div v-for="(param, p_index) in parameters"
         :key="param.id"
         class="css-customization-field">
        <span class="js-data-prefix-container" v-bind:data-prefix="p_index">
            {{params_formset.empty_form.level}}
            {{params_formset.empty_form.power_param_id}}
        </span>
        <div style="margin-bottom: 5px;">
            <h5 style="margin-bottom: 0px; display: inline-block">{param.name}</h5>
            <small class="text-muted" v-if="giftCostOfVueParam(param) != 0">
                Gift Cost:
                <span v-html="costDisplay(giftCostOfVueParam(param))">
                </span>
            </small>
        </div>
        <select v-model="parameterSelections[param.id]"
                class="form-control"
                @change="changeParam"
                :disabled="param.id in disabledParameters">
            <option v-for="(value, index) in param.levels" :value="value">
                {value}
                <template v-if="index === param.defaultLevel">
                    (Default)
                </template>
                <template v-if="param.seasonedLevel === index">
                    (Seasoned)
                </template>
                <template v-if="param.vetLevel === index">
                    (Veteran)
                </template>
            </option>
        </select>
        <div v-if="param.id in disabledParameters">
            <div v-for="reason in disabledParameters[param.id]">
                <small class="text-danger" style="padding-left: 5px;">
                    { reason }
                </small>
            </div>
        </div>
    </div>
</div>
<div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center" style="margin-bottom: 0px;">Enhancements</h3>
        <div class="text-center" style="margin-bottom: 5px; height: 20px">
            <small class="text-muted" v-if="enhancementsCost != 0">
                Gift Cost:
                <span class="css-component-gift-price" >
                    +{ enhancementsCost }
                </span>
            </small>
        </div>
        <div v-if="getRequiredStatusEnhancements('ANY').length > 0">
            <div v-for="(modifier, modIndex) in getRequiredStatusEnhancements('ANY')"
                 :key="modifier.id" >
                {% with 'Enhancements' as vue_model_name %}
                    {% with 'clickEnhancement' as vue_on_click %}
                        {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                    {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div v-if="getRequiredStatusEnhancements('NOVICE').length > 0">
            <h5 class="text-muted" v-if="selectedEffect.requiredStatusLabel != 'Novice'">Novice Enhancements</h5>
            <div v-for="(modifier, modIndex) in getRequiredStatusEnhancements('NOVICE')"
                 :key="modifier.id" >
                {% with 'Enhancements' as vue_model_name %}
                {% with 'clickEnhancement' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div v-if="getRequiredStatusEnhancements('SEASONED').length > 0">
            <h5 class="text-muted" v-if="selectedEffect.requiredStatusLabel != 'Seasoned'">Seasoned Enhancements</h5>
            <div v-for="(modifier, modIndex) in getRequiredStatusEnhancements('SEASONED')"
                 :key="modifier.id" >
                {% with 'Enhancements' as vue_model_name %}
                {% with 'clickEnhancement' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div v-if="getRequiredStatusEnhancements('VETERAN').length > 0">
            <h5 class="text-muted">Veteran Enhancements</h5>
            <div v-for="(modifier, modIndex) in getRequiredStatusEnhancements('VETERAN')"
                 :key="modifier.id" >
                {% with 'Enhancements' as vue_model_name %}
                {% with 'clickEnhancement' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center" style="margin-bottom: 0px;">Drawbacks</h3>
        <div class="text-center" style="margin-bottom: 5px; height: 20px">
            <small class="text-muted" v-if="drawbacksCost != 0">
                Gift Cost:
                <span class="css-component-gift-credit" v-text="drawbacksCost">
                </span>
            </small>
        </div>
        <div id="js-drawbacks-container" v-if="drawbacks.length > 0">
            <div v-for="(modifier, modIndex) in drawbacks"
                 :key="modifier.id">
                {% with 'Drawbacks' as vue_model_name %}
                {% with 'clickDrawback' as vue_on_click %}
                {% include "powers/ps2_create_pages/snip_modifier_template.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
</div>
<div id="sec-customize-flavor">
    <h2 class="text-center">Customize Flavor and Finish</h2>
    <div class="row">
        <div class="col-md-6">
            {{power_form.name|bootstrap}}
        </div>
        <div class="col-md-6">
            {{power_form.tagline|bootstrap}}
        </div>
    </div>
    <div v-if="selectedModality.slug === 'signature-item-mod'" class="row">
        <div class="col-md-6">
            {{sig_item_artifact_form.selected_artifact|bootstrap}}
        </div>
        <div class="col-md-6" v-if="!selectedItem">
            {{sig_item_artifact_form.item_name|bootstrap}}
        </div>
        <div class="col-xs-12" v-if="!selectedItem">
            {{sig_item_artifact_form.item_description|bootstrap}}
        </div>
    </div>
    <div class="form-group">
        <h4 style="margin-bottom: 5px;">
            {{power_form.description.label}}
        </h4>
        <div class="help-block" style="margin-bottom: 3px;">
            {{power_form.description.help_text}}
        </div>
        <div style="margin-bottom: 5px;" v-if="renderedVisual.length > 0"
             data-title="The system demands these visibility requirements for balance purposes."
             data-toggle="tooltip">
            <span class="glyphicon glyphicon-eye-open has-popover"
                  style="margin-right: 6px;"
                  aria-hidden="true"
            ></span>
            <i>
                <span v-html="renderedVisual">

                </span>
            </i>
        </div>
        {{power_form.description}}
    </div>
    <div class="form-group">
        <h5 style="margin-bottom: 5px; margin-top: 15px;">
            {{power_form.extended_description.label}}
        </h5>
        <div class="help-block">
            {{power_form.extended_description.help_text}}
        </div>
        {{power_form.extended_description}}
    </div>
    {% if request.user.is_superuser %}
        {{power_form.tags|bootstrap}}
        {{power_form.example_description|bootstrap}}
        {{power_form.stock_order|bootstrap}}
    {% endif %}
    {{power_form.effect}}
    {{power_form.vector}}
    {{power_form.modality}}
    <div v-if="giftInfoHeader.length > 0">
        <div class="alert alert-info">
            <h4 class="text-center" v-text="giftInfoHeader" style="margin-top: 0px; margin-bottom: 0px;"></h4>
            <ul>
                <li v-for="gift in giftInfoList">
                    <span v-text="gift"></span>
                </li>
            </ul>
        </div>
    </div>
    <div v-if="warnings.length > 0">
        <div class="alert alert-warning">
            <h3 class="text-center" style="margin-top: 0px;">Gift incomplete</h3>
            <ul>
                <li v-for="warning in warnings">
                    <span v-text="warning"></span>
                </li>
            </ul>
        </div>
    </div>
    <div v-if="hasCrafted">
        <div class="alert alert-info">
            <h4 class="text-center" style="margin-top: 0px;">How will my edits affect things I've already crafted?</h4>
            <ul>
                <li>
                    <b>Adjustments:</b>
                    Only editing text fields will automatically update any items that have been
                    crafted this Downtime to use the new text.
                </li>
                <li>
                    <u class="has-popover" data-title="Changing Enhancements, Drawbacks, Parameters, Effect, Gift Type, or Style"
                       data-toggle="thumbnail">
                        <b>Revisions or Improvements:</b>
                    </u> will refund all items that have been crafted this Downtime.
                </li>
                <li>
                    <u class="has-popover" data-title="Lowering a Parameter, adding a Drawback, removing an Enhancement, or changing Gift
                    Type, Effect, or Style AFTER bringing it on a Contract">
                        <b>Major Revisions:</b></u> will refund all items that have been crafted this Downtime and put a
                        marker on all previously crafted items signifying that the Gift used to craft them has since undergone a
                        major revision.
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <input id="form-submit"
               class="btn btn-primary btn-lg"
               type="submit"
               value="Save Gift" />
    </div>
</div>
