<div class="text-muted text-center">
    A Gift's Type determines how it manifests. Is it an intrinsic superpower, a unique item, or the ability to craft extraordinary objects?
    <div class="visible-xs-block visible-sm-block" style="margin-top: 10px;">
        <button type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#mainTutorialModal">
            View Intro
        </button>
    </div>
</div>

<div class="row" style="margin-top: 15px; margin-bottom: 30px;">
    <div v-for="component in modalities"
         :key="component.id"
         class="col-xs-12 col-sm-6 col-md-3" style="padding-right:15px; padding-left: 15px;">
        <div style="margin-left: 0px; margin-right: 0px; margin-top: 15px;"
        class="css-modality-container">
            <label
                    v-bind:for="component.id"
                    class="css-component-radio css-modality-radio"
                    :class="{'css-selected-component': selectedModality && component.id === selectedModality.id}"
                    style="width: 100%;">
                <input type="radio"
                       v-bind:id="component.id"
                       v-bind:name="component.type"
                       v-bind:value="component"
                       v-model="selectedModality"
                       @change="changeModality"
                       @click="clickModality"
                       style="display:none;"
                >
                <h3 class="css-component-header"  style="margin-top: 5px; margin-bottom: 5px;">
                    { component.displayName }
                </h3>
                <img v-bind:src="component.icon_url" width="100" height="100"/>
                <h5 style="margin-top: 0px; margin-bottom: 5px;">
                    { component.summary }
                </h5>
                <div class="text-muted">
                    <small>
                        { component.description }
                    </small>
                </div>
                <div class="text-right text-muted has-popover"
                     data-toggle="tooltip"
                     data-title="Gift Types add or subtract from a completed Gift's overall cost. All Gifts must cost a minimum of 1 Gift Credit.">
                    <small>
                        Gift Cost:
                        <span v-if="component.giftCredit > 0" class="css-component-gift-credit">-{component.giftCredit - 1}</span>
                        <span v-if="component.giftCredit == 0" class="css-component-gift-price">+1</span>
                        <span v-if="component.giftCredit < 0" class="css-component-gift-price">+{-1*(component.giftCredit - 1)}</span>
                    </small>
                </div>
            </label>
        </div>
        <button type="button"  class="btn btn-sm btn-default" style="width:100%" data-toggle="modal" v-bind:data-target="'#tutorialModal' + component.slug">
          Learn about { component.displayName } Gifts
        </button>
    </div>
</div>

<hr style="margin-bottom: 10px;">
{% include "powers/ps2_create_pages/tutorial/interactive_tutorial.html" %}

{% if not current_power %}
    <hr>
    <div class="text-center">
        <h5>
        <a @click="randomGift" href="#">
                Generate Random Gift
        </a>
            <div>
                <small>
                    (Note: a Gift's cost ensures it is not too strong, not that it is useful. Random Gifts are often worse than custom-made.)
                </small>
            </div>
        </h5>
    </div>
{% endif %}