{% extends "site_base.html" %}

{% load static %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'powers/ps2_create_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
	<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
	{{power_blob|json_script:"powerBlob"}}
	<script src="{% static 'powers/ps2_create_script.js' %}"></script>
{% endblock %}

{% block head_title %}
	Ps2 Prototype
{% endblock %}

{% block body_base %}
<div class="container-fluid" id="vue-app">
	<div class="row">
		<div class="css-gift-cost-cont">
				<span data-spy="affix" data-offset-top="0">
    				<div class="text-center nav navbar-nav css-gift-cost">
        				Current Gift Cost: <b><span id="current_gift_cost_number" v-html="giftCost">1</span></b>
    				</div>
				</span>
			<div class="css-fake-height-div">
			</div>
		</div>
	</div>
	<div class="row" style="max-height: 350px; overflow:scroll;">
		<div id="modalities" class="col-md-4">
			<h3>Modalities</h3>
			<div v-for="component in modalities"
				 :key="component.id">
				<label v-bind:for="component.id" class="thumbnail" style="margin: 5px;">
					<div>
						<input type="radio"
							   v-bind:id="component.id"
							   v-bind:name="component.type"
							   v-bind:value="component.slug"
							   v-model="selectedModality"
							   @change="clickModality"
						>
						<span  style="padding-left: 10px;">
							{ component.displayName }
						</span>
					</div>
					<div>
						<small>
							{ component.summary }
						</small>
					</div>
				</label>
			</div>
		</div>
		<div id="effects" class="col-md-4">
			<h3>Effects</h3>
			<div v-for="component in effects"
				 :key="component.id">
				<label v-bind:for="component.id" class="thumbnail" style="margin: 5px;">
					<div>
						<input type="radio"
							   v-bind:id="component.id"
							   v-bind:name="component.type"
							   v-bind:value="component.slug"
							   v-model="selectedEffect"
							   @change="clickEffect"
						>
						<span  style="padding-left: 10px;">
							{ component.displayName }
						</span>
					</div>
					<div>
						<small>
							{ component.summary }
						</small>
					</div>
				</label>
			</div>
		</div>
		<div id="vectors" class="col-md-4">
			<h3>Vectors</h3>
			<div v-for="component in vectors"
				 :key="component.id">
				<label v-bind:for="component.id" class="thumbnail" style="margin: 5px;">
					<div>
						<input type="radio"
							   v-bind:id="component.id"
							   v-bind:name="component.type"
							   v-bind:value="component.slug"
							   v-model="selectedVector"
							   @change="clickVector"
						>
						<span  style="padding-left: 10px;">
							{ component.displayName }
						</span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="text-center" style="margin-top: 5px;">System</h3>
					<div id="rendered-system" v-html="renderedSystem">
					</div>
					<a class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						Show Unrendered System
					 </a>
					<div class="collapse" id="collapseExample">
						<h4 class="text-center" style="margin-top: 20px">Unrendered System</h4>
						<small>
							<div id="unrendered-system" v-html="unrenderedSystem">
							</div>
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3 class="text-center">Modifiers</h3>
			<div id="js-parameters-container" v-if="parameters.length > 0">
				<h4>Parameters</h4>
				<div v-for="param in parameters"
					 :key="param.id" >
						<h5>{param.name}</h5>
						<select v-model="parameterSelections[param.id]" class="form-control" @change="changeParam" :disabled="param.id in disabledParameters">
							<option v-for="(value, index) in param.levels" :value="value">
								{value}
								<template v-if="index === param.defaultLevel">
									(Default)
								</template>
								<template v-if="param.seasonedLevel === index">
									(Seasoned)
								</template>
								<template v-if="param.veteranLevel === index">
									(Veteran)
								</template>
							</option>
						</select>
					<div v-if="param.id in disabledParameters">
						<div v-for="reason in disabledParameters[param.id]">
							<small style="color: red;">
								{ reason }
							</small>
						</div>
					</div>
				</div>
			</div>
			<div id="js-fields-container" v-if="systemFields.length > 0">
				<h4>Fields</h4>
				<div v-for="field in systemFields"
					 :key="field.id">
					<h5 style="margin-bottom: 5px;">
						{field.name}
					</h5>
					<div v-if="field.eratta">
						<small>
							{ field.eratta }
						</small>
					</div>
					<div v-if="field.isText">
							<input type="text" v-model="fieldTextInput[field.id]" class="form-control" @input="changeParam">
					</div>
					<div v-if="field.isRoll" class="form-inline">
						<select v-model="fieldRollInput[field.id][0]" class="form-control" @change="changeParam">
							<option v-for="value in field.attributeChoices" :value="value[1]">{value[1]}</option>
						</select>
						<span v-if="field.abilityChoices.length > 0" style="padding-left: 10px;">
							<select v-model="fieldRollInput[field.id][1]" class="form-control" @change="changeParam">
								<option v-for="value in field.abilityChoices" :value="value[1]">{value[1]}</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4 class="text-center">Enhancements</h4>
			<div id="js-enhancements-container" v-if="enhancements.length > 0">
				<div v-for="modifier in enhancements"
						:key="modifier.id" >
					{% with 'Enhancements' as vue_model_name %}
						{% with 'clickEnhancement' as vue_on_click %}
							{% include "powers/ps2_create_pages/snip_modifier_template.html" %}
						{% endwith %}
					{% endwith %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h4 class="text-center">Drawbacks</h4>
			<div id="js-drawbacks-container" v-if="drawbacks.length > 0">
				<div v-for="modifier in drawbacks"
						:key="modifier.id">
					{% with 'Drawbacks' as vue_model_name %}
					{% with 'clickDrawback' as vue_on_click %}
					{% include "powers/ps2_create_pages/snip_modifier_template.html" %}
					{% endwith %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
