{% extends "site_base.html" %}

{% load static %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'powers/ps2_create_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
	<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
	{{power_blob|json_script:"powerBlob"}}
	<script src="{% static 'powers/ps2_create_script.js' %}"></script>
{% endblock %}

{% block head_title %}
	Ps2 Prototype
{% endblock %}

{% block body_base %}
<div class="container-fluid" id="vue-app">
	<div class="modal fade" id="giftPreviewModal" tabindex="-1" role="dialog" aria-labelledby="giftPreviewModalLabel" >
		<div class="modal-dialog modal-lg" role="document" style="top: 100px;">
			<div class="modal-content" >
				<div v-if="giftPreviewModalFirstShow" style="padding: 10px;">
					<div class="text-center">
						<b>
							This preview shows your Gift's default system.
						</b>
					</div>
					As you customize your Gift, its system and cost will be updated in real-time.
				</div>
				{% include "powers/ps2_create_pages/section_gift_preview.html" %}
				<div class="modal-footer" v-if="giftPreviewModalFirstShow">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Start Customizing
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin-bottom: 10px;"></div>
		<div class="col-xs-12">
			{% include "powers/ps2_create_pages/snip_head_and_steps.html" %}
		</div>
		<div class="hidden-sm hidden-md hidden-lg css-gift-preview-button"
				:class="{'css-hidden': expandedTab != 'customize'}">
			<div class="css-gift-cost-cont">
				<span data-spy="affix" data-offset-top="290">
					<div class="css-gift-cost">
						<button class="btn btn-default" type="button" data-toggle="modal" data-target="#giftPreviewModal">
							Preview Gift
						</button>
						<span style="margin-top: 7px; margin-left: 10px;">
							Cost: <span v-html="giftCost"></span>
						</span>
					</div>
				</span>
			</div>
		</div>
		<div class="col-xs-12 hidden-xs css-gift-preview-sidebar"
			 :class="{
				'col-md-4': expandedTab === 'customize',
				'col-sm-6': expandedTab === 'customize',
				'css-hidden': expandedTab != 'customize'
			}">
			<div data-spy="affix" data-offset-top="80">
				{% include "powers/ps2_create_pages/section_gift_preview.html" %}
			</div>
		</div>
		<div class="col-xs-12 css-content-section"
			 :class="{
			 	'col-md-8': expandedTab === 'customize',
			 	'col-sm-6': expandedTab === 'customize'
			 	}"
		>
			{% include "powers/ps2_create_pages/section_content.html" %}
		</div>
	</div>
</div>
{% endblock %}
