<script type="text/html" id="js-modifier-template">
    <label v-bind:for="modifier.id" class="thumbnail" style="margin: 5px;">
        <input type="checkbox"
               v-bind:id="modifier.id"
               v-bind:slug="modifier.slug"
               @click="$emit('click-action', modifier)"
        >
        <span style="padding-left: 10px;">
            <b>
                { modifier.displayName }
            </b>
            <span style="font-weight: 400;">
                (
                { modifier.description }
                )
            </span>
        </span>
    </label>
</script>
