<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="" style="margin-top: 5px; margin-bottom: 5px">
            <span v-if="giftName" v-text="giftName"></span>
            <span v-if="giftName === null">Gift Preview</span>
            <small>
                <i>
                    <span v-if="giftTagline.length > 0" v-text="giftTagline" style="margin-left: 10px;">
                    </span>
                </i>
            </small>
            <small>
                <div class="css-description" v-text="renderedDescription" style="margin-top: 5px;">
                </div>
            </small>
        </h3>
        <div class="">
            Gift Cost:
            <span v-html="giftCost"></span>
        </div>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <div v-if="giftDescription" v-text="giftDescription" class="css-system-text-user-input" style="margin-top: 5px; margin-bottom: 5px;">
        </div>
        <div v-if="giftDescription" style="margin: auto; width: 50%;">
            <hr style="margin-top: 10px; margin-bottom: 10px;">
        </div>
        <div id="rendered-system" v-html="renderedSystem" class="js-render-power-keywords">
        </div>
        {% if request.user.is_superuser %}
        <a class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Show Unrendered System (dev only)
        </a>
        {% endif %}
        <div class="collapse" id="collapseExample">
            <small>
                <div id="unrendered-system" v-html="unrenderedSystem">
                </div>
            </small>
        </div>
    </div>
</div>
