<div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading">
        <h3 class="" style="margin-top: 5px; margin-bottom: 5px">
            <span v-if="giftName" v-text="giftName"></span>
            <span v-if="giftName === null" class="hidden-xs">Gift Preview</span>
            <small>
                <i>
                    <span v-if="giftTagline.length > 0" v-text="giftTagline" style="margin-left: 10px;">
                    </span>
                </i>
            </small>
            <small>
                <div class="css-description" v-html="renderedDescription" style="margin-top: 5px;">
                </div>
            </small>
        </h3>
        <div v-if="requiredStatus" class="pull-right"  data-toggle="tooltip" title="Seasoned = 10+ Victories. Veteran = 25+ Victories">Requires <b>{requiredStatus}</b> Status</div>
        <div
             data-html="true"
             v-bind:data-original-title="giftCostTooltip"
             v-bind:data-title="giftCostTooltip"
             class="has-popover" >
            Gift Cost:
            <span v-html="giftCost"></span>
        </div>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <div v-if="giftDescription" v-text="giftDescription" class="css-system-text-user-input" style="margin-top: 5px; margin-bottom: 5px;">
        </div>
        <div v-if="giftDescription" style="margin: auto; width: 50%;">
            <hr style="margin-top: 10px; margin-bottom: 10px;">
        </div>
        <div id="rendered-system" v-html="renderedSystem" class="js-render-power-keywords">
        </div>
        <div v-if="giftErrata">
                <span data-toggle="tooltip"
                      data-html="true"
                      data-placement="top"
                      v-bind:data-title="giftErrata"
                      v-bind:data-original-title="giftErrata"
                      class="has-popover css-extended-system"
            style="">
                    <i class="fa fa-question-circle fa-lg"></i>
            </span>
        </div>
        {% if request.user.is_superuser %}
        <a class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
            Show Unrendered System (dev only)
        </a>
        {% endif %}
        <div class="collapse" id="collapseExample1">
            <small>
                <div id="unrendered-system" v-html="unrenderedSystem">
                </div>
            </small>
        </div>
    </div>
</div>
