<div class="panel panel-default">
    <div class="css-creating-gift-header visible-xs-block text-center" >
        <h1 style="margin-top: 10px; margin-bottom: 10px;">
            {% if is_stock %}
                Customizing Gift <small><small><div style="padding-top: 5px;">{% if character %}For {{character.name}}: {% endif %} {{ current_power.name }}</div></small></small>
            {% elif current_power %}
                Editing Gift {% if current_power %}<small><small><div style="padding-top: 5px;">{{ current_power.name }}</div></small></small>{% endif %}
            {% else %}
                Creating a Gift {% if character %}<small><small><div style="padding-top: 5px;">For {{character.name}}</div></small></small>{% endif %}
            {% endif %}
        </h1>
    </div>
    <div class="panel-heading" style="display: flex; align-items: stretch; padding: 0px;">
        <div class="css-creating-gift-header hidden-xs" style="flex: 0 1 auto;">
            <h1 style="margin-top: 10px; margin-bottom 0px; margin-right: 30px; padding-left: 20px;">
                {% if is_stock %}
                    Customizing Gift <small><small><div style="padding-top: 5px;">{% if character %}For {{character.name}}: {% endif %}{{ current_power.name }}</div></small></small>
                {% elif current_power %}
                    Editing Gift {% if current_power %}<small><small><div style="padding-top: 5px;">{{ current_power.name }}</div></small></small>{% endif %}
                {% else %}
                    Creating a Gift {% if character %}<small><small><div style="padding-top: 5px;">For {{character.name}}</div></small></small>{% endif %}
                {% endif %}
            </h1>
        </div>
            <div class="css-step-container">
                <div class="css-step-contents"
                     :class="{
                             'css-step-active': expandedTab === 'modalities',
                             'css-step-unfinished': !selectedModality,
                             'css-step-finished': selectedModality
                             }"
                     @click="clickModalityTab">
                    <div class=" css-step-after">
                    </div>
                    <div class="css-step-icon">
                        <span v-if="!selectedModality" class="glyphicon glyphicon-record" aria-hidden="true"></span>
                        <img class="css-step-image" v-if="selectedModality" v-bind:src="selectedModality.icon_url" width="40" height="40" />
                    </div>
                    <div v-if="selectedModality">
                        <div class="css-component-tab-title">
                            { selectedModality.displayName }
                        </div>
                    </div>
                    <div v-if="!selectedModality" class="css-step-unfinished hidden-xs">
                        Select a Gift Type
                    </div>
                    <div v-if="!selectedModality" class="css-step-unfinished visible-xs-block">
                        Gift Type
                    </div>
                </div>
            </div>
            <div class="css-step-container">
                <div class="css-step-contents"
                     :class="{
                             'css-step-active': expandedTab === 'effects',
                             'css-step-unfinished': !selectedEffect,
                             'css-step-finished': selectedEffect
                             }"
                     @click="clickEffectsTab" >
                    <div class="css-step-icon css-step-after css-step-before">
                        <span v-if="!selectedEffect" class="glyphicon glyphicon-record" aria-hidden="true"></span>
                        <img class="css-step-image" v-if="selectedEffect" v-bind:src="selectedEffect.icon_url" width="40" height="40" />
                    </div>
                    <div  v-if="selectedEffect">
                        <div class="css-component-tab-title">
                            { selectedEffect.displayName }
                        </div>
                    </div>
                    <div v-if="!selectedEffect" >
                        Select an Effect
                    </div>
                </div>
            </div>
            <div class="css-step-container css-customize-container" >
                <div class="css-step-contents css-step-unfinished"
                     :class="{
                             'css-step-active': expandedTab === 'customize',
                             }"
                     @click="clickCustomizationTab" >
                    <div class="css-step-icon css-step-before">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </div>
                    <div  v-if="selectedEffect">
                        <div class="css-component-tab-title">
                            <div class="css-component-tab-title">
                                Customize
                            </div>
                        </div>
                    </div>
                    <div v-if="!selectedEffect" >
                        Customize
                    </div>
                </div>
            </div>
    </div>
</div>