<label v-bind:for="modifier.id" class="css-modifier"
       :class="[
        modifier.slug in disabled{{vue_model_name}} ? 'text-muted' : '',
        modifier.categoryClass,
        selected{{vue_model_name}}.includes(modifier.id) ? 'css-mod-selected': '',
        modifier.slug in disabled{{vue_model_name}} ? 'css-mod-disabled' : 'css-mod-enabled',
        ]">
    <input type="checkbox" v-bind:id="modifier.id"
           v-bind:value="modifier.id"
           v-model="selected{{vue_model_name}}"
           @change="{{vue_on_click}}"
           :disabled="modifier.slug in disabled{{vue_model_name}}"
           style="display:none;">
    <span>
        <b><span v-if="modifier.group">{groupLabelFromId(modifier.group)}: </span>{ modifier.displayName }</b>
        <span class="css-modifier-text">
            ({ modifier.description }<span v-if="modifier.eratta"><span data-toggle="tooltip"
                      data-placement="top"
                      v-bind:title="modifier.eratta"
                      style="padding-left: 5px;"
                ><i class="fa fa-question-circle fa-1x"></i></span>
            </span>)
        </span>
        <span v-if="modifier.requiredStatusLabel" class="css-modifier-text">
            Requires <b>{ modifier.requiredStatusLabel }</b> status.
        </span>
        <div v-if="modifier.detailLabel && selected{{vue_model_name}}.includes(modifier.id)" class="form-inline" style="margin-top: 5px;">
            <b style="padding-right: 10px;">{modifier.detailLabel}:</b>
            <input type="text" v-model="modifier.details" class="form-control" @input="changeParam" :disabled="modifier.slug in disabled{{vue_model_name}}">
        </div>
        <div v-if="modifier.slug in disabled{{vue_model_name}}">
            <div v-for="reason in disabled{{vue_model_name}}[modifier.slug]">
                <small class="text-danger">
                    { reason }
                </small>
            </div>
        </div>
    </span>
</label>
