<div class="panel panel-default">
    <div class="css-creating-gift-header visible-xs-block text-center" >
        <h1 style="margin-top: 10px; margin-bottom: 10px;">Creating a Gift</h1>
    </div>
    <div class="panel-heading" style="display: flex; align-items: stretch; padding: 0px;">
        <div class="css-creating-gift-header hidden-xs" style="flex: 0 1 auto;">
            <h1 style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px; padding-left: 20px;">Creating a Gift</h1>
        </div>
            <div class="css-step-container">
                <div class="css-step-contents"
                     :class="{
                             'css-step-active': expandedTab === 'modalities',
                             'css-step-unfinished': !selectedModality,
                             'css-step-finished': selectedModality
                             }"
                     @click="clickModalityTab">
                    <div class="css-step-icon css-step-after">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </div>
                    <div v-if="selectedModality">
                        <div class="css-component-tab-title">
                            { selectedModality.displayName }
                        </div>
                    </div>
                    <div v-if="!selectedModality" class="css-step-unfinished">
                        Select a Gift Type
                    </div>
                </div>
            </div>
            <div class="css-step-container">
                <div class="css-step-contents"
                     :class="{
                             'css-step-active': expandedTab === 'effects',
                             'css-step-unfinished': !selectedEffect,
                             'css-step-finished': selectedEffect
                             }"
                     @click="clickEffectsTab" >
                    <div class="css-step-icon css-step-after css-step-before">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </div>
                    <div  v-if="selectedEffect">
                        <div class="css-component-tab-title">
                            { selectedEffect.displayName }
                        </div>
                    </div>
                    <div v-if="!selectedEffect" >
                        Select an Effect
                    </div>
                </div>
            </div>
            <div class="css-step-container css-customize-container" >
                <div class="css-step-contents css-step-unfinished"
                     :class="{
                             'css-step-active': expandedTab === 'customize',
                             }"
                     @click="clickCustomizationTab" >
                    <div class="css-step-icon css-step-before">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </div>
                    <div  v-if="selectedEffect">
                        <div class="css-component-tab-title">
                            <div class="css-component-tab-title">
                                Customize
                            </div>
                        </div>
                    </div>
                    <div v-if="!selectedEffect" >
                        Customize
                    </div>
                </div>
            </div>
    </div>
</div>