
<label v-bind:for="modifier.id" class="thumbnail" style="margin: 5px;" :class="{ 'text-muted': modifier.slug in disabled{{vue_model_name}} }">
    <input type="checkbox" v-bind:id="modifier.id"
           v-bind:value="modifier.id"
           v-model="selected{{vue_model_name}}"
           @change="{{vue_on_click}}"
           :disabled="modifier.slug in disabled{{vue_model_name}}"
    >
    <span style="padding-left: 10px;">
        <b>
            { modifier.displayName }
        </b>
        <span class="css-modifier-text">
            ({ modifier.description })
        </span>
        <span v-if="modifier.requiredStatusLabel" class="css-modifier-text">
            Requires <b>{ modifier.requiredStatusLabel }</b> status.
        </span>
        <div v-if="modifier.detailLabel" class="form-inline">
            <b style="padding-right: 10px;">{modifier.detailLabel}:</b>
            <input type="text" v-model="modifier.details" class="form-control" @input="changeParam" :disabled="modifier.slug in disabled{{vue_model_name}}">
        </div>
        <div v-if="modifier.slug in disabled{{vue_model_name}}">
            <div v-for="reason in disabled{{vue_model_name}}[modifier.slug]">
                <small class="text-danger">
                    { reason }
                </small>
            </div>
        </div>
    </span>
</label>
