{% load games_tags %}

{% for date, event_list in timeline.items %}
  <h4>{{ date }}</h4>
  <ul>
    {% for event in event_list %}
      {{ event.2 }}
      {% if event.0 == "elem_created" %}
        <li class="css-timeline-item css-timeline-element">
          <b>Aquired {{event.1.get_type_display}}: {{event.1.name}} </b>
          <i>{{event.1.description}}</i>
        </li>
      {% elif event.0 == "elem_deleted" %}
        <li class="css-timeline-item css-timeline-element">
          <b>Removed {{event.1.get_type_display}}: {{event.1.name}} </b>
          <i>{{event.1.description}}</i>
        </li>
      {% elif event.0 == "game"%}
        {% with event.1 as attendance %}
          {% include "games/game_attendance_badge_snippet.html" %}
        {% endwith %}
      {% elif event.0 == "exp_reward" %}
        <li class="css-timeline-item css-timeline-exp">
          <b>{{event.1.get_history_blurb.0}}</b>
          {{event.1.get_history_blurb.1}}
        </li>
      {% elif event.0 == "reward" %}
        <li class="css-timeline-item css-timeline-reward">
          {% with event.1 as reward %}
            {% render_reward reward %}
          {% endwith %}
        </li>
      {% elif event.0 == "crafting" %}
        <li class="css-timeline-item css-timeline-crafting">
          {% if event.1.scenario_name %}
            <p>Crafting for <b>{{event.1.scenario_name}}</b></p>
          {% endif %}
          {% if event.1.total_crafted_consumables %}
            Crafted <b>{{event.1.total_crafted_consumables}}</b> consumable{{event.1.total_crafted_consumables|pluralize}} for <b>{{event.1.total_exp_spent_consumables}}</b> Experience
            {% if event.1.power_quantity %}
              <ul>
                {% for pq in event.1.power_quantity %}
                  <li><b>{{pq.quantity}} </b>
                    <a href="{% url 'powers:powers_view_power' pq.power.id %}">{{pq.power.name}}</a>
                    <i class="text-muted">({{pq.quantity_free}} free)</i></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
          {% if event.1.total_art_effects_crafted %}
            Crafted <b>{{event.1.total_art_effects_crafted }}</b> Effect{{event.1.total_art_effects_crafted|pluralize}} onto Artifacts for <b>{{event.1.total_exp_spent_artifacts}}</b> Experience
            <ul>
              {% for art, powers in event.1.powers_by_artifact.items %}
                <li>
                  <a href="{% url 'characters:characters_artifact_view' art.pk %}">{{art.name}}</a>
                  <ul>
                    {% for pow in powers %}
                      <li>
                        {{pow.0.name}}
                        {% if pow.1 %}
                          <i class="text-muted">(free)</i></li>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% else %}
        {% for phrase in event.1 %}
          <li class="css-timeline-item css-timeline-exp">
            <b>{{phrase.0}} Exp:</b> {{phrase.1}}
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
  {% empty %}
  <h4>{{character.name}} Has never edited their stats or attended a Contract</h4>
{% endfor %}
