{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Viewing Character{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load power_tags %}

{% load static %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>
            Add/Remove Powers for <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a>
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if character.num_unspent_rewards <= 0 %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-warning text-center" role="alert">
                        <p>
                            {{ character.name}} does not have any unspent Gifts or Improvements.
                            <br>
                            You may still assign Powers to them, but it will put them in bad standing.
                            {% if character.num_spent_rewards > 0 %}
                                <br>
                                Unassigning Powers will refund any Gifts and Improvements spent on that Power.
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                 <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-success text-center" role="alert">
                       <h4>
                           {{ character.name}} has <b>{{character.num_unspent_gifts}}</b> Gift{{character.num_unspent_gifts|pluralize}}
                           {% if character.unspent_improvements|length > 0 %}
                                and <b>{{character.unspent_improvements|length}}</b> Improvements
                           {% endif %}
                           unassigned and ready to spend.
                       </h4>
                    </div>
                </div>
            {% endif %}
            {% if character.show_gift_alert %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-danger text-center" role="alert">
                        <p>
                            Character's total Power cost does not match their number of spent Gifts and Improvements!
                            <br>
                            <b>Power Value: </b>{{character.get_power_cost_total}}
                            <b>Spent Gifts and Improvements: </b> {{character.num_active_spent_rewards }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if assigned_items or unassigned_items %}
            <div class="double-columns">
                <div>
                    <h3 class="text-center">
                        {{character.name}}'s Signature Items
                    </h3>
                    {% for item in assigned_items %}
                        <div class="row">
                            <div class="col-xs-8 col-sm-9" >
                                <div class="css-signature-item">
                                    <h4 style="margin-top: 0px;">
                                        {{item.name}}
                                    </h4>
                                    {% for power in item.power_full_set.all %}
                                        <span class="css-world-element-name">
                                            {% power_heading power %}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                <a href="{% url 'characters:characters_item_toggle' character.id item.id %}">
                                    <div class="btn btn-default">
                                        Remove
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="text-center">
                        Available Signature Items
                    </h3>
                    {% for item in unassigned_items %}
                        <div class="hidden-xs hidden-sm col-xs-2 col-sm-3 col-md-2 col-lg-2">
                            <a href="{% url 'characters:characters_item_toggle' character.id item.id %}">
                                <div class="btn-default btn">
                                    Assign
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <div class="css-signature-item">
                                <h4 style="margin-top: 0px;">
                                    {{item.name}}
                                </h4>
                                {% for power in item.power_full_set.all %}
                                <span class="css-world-element-name">
                                        {% power_heading power %}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="double-columns">
                <div>
                    <h3 class="text-center">
                        {{character.name}}'s Powers
                        <small>Total cost: {{character.get_power_cost_total}}</small>
                    </h3>
                    {% for power in assigned_powers %}
                    <div class="row">
                        <div class="col-xs-8 col-sm-9">
                            <a href="{% url 'powers:powers_view_power_full' power.id %}">
                                <div class="thumbnail">
                                    <b>{{ power.name }} - </b> {{power.get_gift_cost}} Gift {{power.base.name}} Power
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                            <a href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                <div class="btn btn-default">
                                Remove
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="text-center">Available Powers</h3>
                    {% for power in unassigned_powers %}
                        <div class="row">
                                <div class="hidden-xs hidden-sm col-xs-2 col-sm-3 col-md-2 col-lg-2">
                                    <a href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                    <div class="btn-default btn">
                                        Assign
                                    </div>
                                    </a>
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <a href="{% url 'powers:powers_view_power_full' power.id %}">
                                    <div class="thumbnail">
                                        <b>{{ power.name }} - </b> {{power.get_gift_cost}} Gift {{power.base.name}}  Power <br>
                                    </div>
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                    <a class="hidden-md hidden-lg" href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                    <div class="btn-default btn">
                                    Assign
                                    </div>
                                    </a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}