{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Assigning Gifts{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load power_tags %}

{% load static %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>
            Add/Remove Gifts for <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a>
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if character.num_unspent_rewards <= 0 %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-warning text-center" role="alert">
                        <p>
                            {{ character.name}} does not have any unspent Gift Credits or Improvements.
                            <br>
                            You may still assign Gifts to them, but it will put them in bad standing.
                            {% if character.num_spent_rewards > 0 %}
                                <br>
                                Unassigning Gifts will refund any Gift Credits and Improvements spent on that Gift.
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                 <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-success text-center" role="alert">
                       <h4>
                           {{ character.name}} has <b>{{character.num_unspent_gifts}}</b> Gift Credit{{character.num_unspent_gifts|pluralize}}
                           {% if character.unspent_improvements|length > 0 %}
                                and <b>{{character.unspent_improvements|length}}</b> Improvements
                           {% endif %}
                           ready to spend.
                       </h4>
                        <div>
                            Assign Gifts you've already made below, or
                            <a class="btn btn-success btn-xs" href="{% url 'characters:characters_spend_reward' character.id %}">
                                click here to improve or create a new Gift for {{ character.name}}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if character.show_gift_alert %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 alert alert-danger text-center" role="alert">
                        <p>
                            Character's total Gift Cost does not match their spent Rewards!
                            <br>
                            <b>Gift Value: </b>{{character.get_power_cost_total}}
                            <b>Spent Rewards: </b> {{character.num_active_spent_rewards }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if assigned_items or unassigned_items %}
            <div class="double-columns">
                <div>
                    <h3 class="text-center">
                        {{character.name}}'s Legendary Artifacts
                    </h3>
                    {% for item in assigned_items %}
                        <div class="row">
                            <div class="col-xs-8 col-sm-9" >
                                <div class="css-signature-item" style="padding:10px;">
                                    <h4 style="margin-top: 0px;">
                                        <a href="{% url 'characters:characters_artifact_view' item.id %}">
                                            {{item.name}}
                                        </a>
                                        {% if item.character != character %}
                                            <small>
                                                Currently in {{item.character.name}}'s possession.
                                            </small>
                                        {% endif %}
                                    </h4>
                                    {% for power in item.power_set.all %}
                                        <span class="css-world-element-name">
                                            {% power_heading power %}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                <a href="{% url 'characters:characters_item_toggle' character.id item.id %}">
                                    <div class="btn btn-default">
                                        Remove
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="text-center">
                        Available Legendary Artifacts
                    </h3>
                    {% for item in unassigned_items %}
                        <div class="hidden-xs hidden-sm col-xs-2 col-sm-3 col-md-2 col-lg-2">
                            <a href="{% url 'characters:characters_item_toggle' character.id item.id %}">
                                <div class="btn-default btn">
                                    Assign
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <div class="css-signature-item" style="padding:10px;">
                                <h4 style="margin-top: 0px;">
                                    {{item.name}}
                                </h4>
                                {% for power in item.power_set.all %}
                                <span class="css-world-element-name">
                                        {% power_heading power %}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg col-xs-2 col-sm-3 col-md-2 col-lg-2">
                            <a href="{% url 'characters:characters_item_toggle' character.id item.id %}">
                                <div class="btn-default btn">
                                    Assign
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="double-columns">
                <div>
                    <h3 class="text-center">
                        {{character.name}}'s Gifts
                        <small>Total cost: {{character.get_power_cost_total}}</small>
                    </h3>
                    {% for power in assigned_powers %}
                    <div class="row">
                        <div class="col-xs-8 col-sm-9">
                            <a href="{% url 'powers:powers_view_power_full' power.id %}">
                                {% power_heading power.latest_rev %}
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                            <a href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                <div class="btn btn-default">
                                Remove
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="text-center">Available Gifts</h3>
                    {% for power in unassigned_powers %}
                        <div class="row">
                                <div class="hidden-xs hidden-sm col-xs-2 col-sm-3 col-md-2 col-lg-2">
                                    <a href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                    <div class="btn-default btn">
                                        Assign
                                    </div>
                                    </a>
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <a href="{% url 'powers:powers_view_power_full' power.id %}">
                                        {% power_heading power.latest_rev %}
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                    <a class="hidden-md hidden-lg" href="{% url 'characters:characters_power_toggle' character.id power.id %}">
                                    <div class="btn-default btn">
                                    Assign
                                    </div>
                                    </a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}