{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load games_tags %}

{% block head_title %}Assigning Item{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
     <div class="text-center">
        {% if item.crafting_character and item.crafting_character_id == character.id %}
            <h1>Remove {{item.name}} from {{character.name}}?</h1>
        {% else %}
            <h1>Assign {{item.name}} to {{character.name}}?</h1>
        {% endif %}
     </div>
    <div class="panel panel-defaul text-center">
        <div class="panel-body">
            {% if not item.crafting_character or item.crafting_character_id != character.id %}
                {% if gift_deficit > 0 %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert">
                            <h4>{{character.name}} does not have enough unspent Gifts.</h4>
                            <p>All Items cost at least one Gift credit. Gift credits are only obtained by playing a
                                Contractor in a Contract and winning.</p>
                            <p>You can still assign this Item, but it will put your Contractor in bad standing.</p>
                        </div>
                    </div>
                {% elif improvement_deficit > 0 %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert">
                            <h4>{{character.name}} does not have a sufficient number of Gifts and Improvements to take this item.</h4>
                            <p>{{item.name}} has a cost of {{item_cost}}, and {{character.name}} can only afford {{rewards_to_spend|length}}.</p>
                            <p>You require <b>{{gift_deficit}}</b> more Gift{{gift_deficit|pluralize}} and
                                <b>{{improvement_deficit}}</b> Improvement{{reward_deficit|pluralize}}.</br>
                            <b>You can still assign this Item, but it will put your Contractor in bad standing.</b></p>
                        </div>
                    </div>
                {% endif %}
                {% if rewards_to_spend|length > 0 %}
                    <h4>
                        Assigning this Signature Item will cost the following:
                    </h4>
                    <ul class="list-unstyled">
                        {% for reward in rewards_to_spend %}
                            <li>
                                <div class="thumbnail" style="margin-bottom: 10px;">
                                    {% render_reward reward %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                {% if item.get_assigned_rewards|length > 0 %}
                    <h4>
                        Removing this Signature Item will refund the following Gifts and Improvements
                    </h4>
                    <ul class="list-unstyled">
                        {% for reward in item.get_assigned_rewards %}
                            <li>
                                <div class="thumbnail" style="margin-bottom: 10px;">
                                    {% render_reward reward %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <div class="text-center">
                <form action="{% url 'characters:characters_item_toggle' character.id item.id %}" method="post">
                {{ assignment_form.about.errors }}
                {{ assignment_form.non_field_errors }}
                {% csrf_token %}
                    <input class="btn btn-primary" type="submit"
                           value=
                           {% if item.crafting_character and item.crafting_character_id == character.id %}
                                "Refund Item"
                           {% else %}
                                "Assign Item"
                           {% endif %}
                    />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}