{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load games_tags %}

{% block head_title %}Assigning Power{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
     <div class="text-center">
        {% if power_full.character.id != character.id %}
            <h1>Assign {{power_full.latest_rev.name}} to {{character.name}}?</h1>
        {% else %}
            <h1>Remove {{power_full.latest_rev.name}} from {{character.name}}?</h1>
        {% endif %}
     </div>
    <div class="panel panel-defaul text-center">
        <div class="panel-body">
            {% if power_full.character.id != character.id %}
                {% if insufficient_gifts %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert">
                            <h4>{{character.name}} does not have any unspent Gifts.</h4>
                            <p>All powers cost at least one Gift. Gifts are only obtained by playing a Contractor in a Contract and winning.</p>
                            <p>You can still assign this Power, but it will put your Contractor in bad standing.</p>
                        </div>
                    </div>
                {% elif reward_deficit > 0 %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert">
                            <h4>{{character.name}} does not have a sufficient number of Gifts and Improvements to grant this Power.</h4>
                            <p>{{power_full.latest_rev.name}} has a cost of {{power_full.get_gift_cost}}, and {{character.name}} can only afford {{rewards_to_spend|length}}.</p>
                            <p>You require <b>{{reward_deficit}}</b> more Gift{{reward_deficit|pluralize}} or Improvement{{reward_deficit|pluralize}}.</br>
                            <b>You can still assign this Power, but it will put your Contractor in bad standing.</b></p>
                        </div>
                    </div>
                {% endif %}
                {% if rewards_to_spend|length > 0 %}
                    <h4>
                        Assigning this power will cost the following:
                    </h4>
                    <ul class="list-unstyled">
                        {% for reward in rewards_to_spend %}
                            <li>
                                <div class="thumbnail" style="margin-bottom: 10px;">
                                    {% render_reward reward %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                {% if power_full.reward_list|length > 0 %}
                    <h4>
                        Removing this power will refund the following Gifts and Improvements
                    </h4>
                    <ul class="list-unstyled">
                        {% for reward in power_full.reward_list %}
                            <li>
                                <div class="thumbnail" style="margin-bottom: 10px;">
                                    {% render_reward reward %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% if power_full.is_crafting %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert">
                    <h4>Refunding this Gift wil affect items you have previously crafted.</h4>
                    <p>All items crafted this downtime will be refunded. All items crafted previously will be marked
                        that the Gift has undergone a major revision.</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="text-center">
                <form action="{% url 'characters:characters_power_toggle' character.id power_full.id %}" method="post">
                {{ assignment_form.about.errors }}
                {{ assignment_form.non_field_errors }}
                {% csrf_token %}
                    <input class="btn btn-primary" type="submit"
                           value=
                           {% if power_full.character.id != character.id %}
                                "Assign Power"
                           {% else %}
                                "Refund Power"
                           {% endif %}
                    />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}