{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ stats_form.media }}
    {{ char_form.media }}
{% endblock %}

{% block head_title %}Editing Character{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            {{ stats_form.about.errors }}
            {{ char_form.about.errors }}
            {% if character %}
                <h1>Editing {{character.name}}</h1>
                <form action="{% url 'characters:characters_edit' character.id %}" method="post">
                <h4>If you'd rather assign powers,
                    <a href="{% url 'characters:characters_power_picker' character.id %}">Click Here!</a>
                </h4>
            {% else %}
                <h1>Create a new character</h1>
                <form action="{% url 'characters:characters_create' %}" method="post">
            {% endif %}
            <div class="container">
                <h3>Basic Information</h3>
                <h4>These fields are required</h4>
            </div>
            {{ char_form.non_field_errors }}
            {{ stats_form.non_field_errors }}
            {% csrf_token %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="container">
                {{ char_form.name | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.tagline | bootstrap}}
            </div>
            <div class="container">
               <div class="row">
                    <div class="col-xs-3">
                        {{ char_form.private | bootstrap}}
                    </div>
                    <div class="col-xs-7">
                        {{ char_form.cell | bootstrap}}
                    </div>
               </div>

            </div>
            <div class="container">
                {{ char_form.appearance | bootstrap }}
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ char_form.age | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ char_form.sex | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                {{ char_form.concept_summary | bootstrap }}
            </div>
            <div class="container">
                {{ char_form.ambition | bootstrap }}
            </div>
            <div class="container">
                {{ stats_form.stats | bootstrap}}
            </div>
            <div class="container">
                <h3>Additional Information</h3>
                <h4>These fields are optional</h4>
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ char_form.total_encumbrance | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ char_form.max_encumbrance | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                {{ char_form.equipment | bootstrap}}
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ stats_form.movement | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ stats_form.armor | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ char_form.current_alias | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ char_form.previous_aliases | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ char_form.paradigm | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ char_form.residence | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                {{ char_form.languages | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.insanities | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.disabilities | bootstrap}}
            </div>
            <div class="container">
                <div class ="row">
                    <div class="col-sm-6">
                        {{ char_form.resources | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ char_form.contacts | bootstrap }}
                    </div>
                </div>
            </div>
            <div class="container">
                {{ char_form.wish_list | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.to_do_list | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.contracts | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.background | bootstrap}}
            </div>
            <div class="container">
                {{ stats_form.advancement_history | bootstrap}}
            </div>
            <div class="container">
                {{ char_form.notes | bootstrap}}
            </div>
        </div>
    </section>
    <div class="container">
    <input class="btn btn-primary" type="submit" value="Done!" />
        </div>
    </form>
{% endblock %}