{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ obit_form.media }}
{% endblock %}

{% block head_title %}Editing Obituary{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <form action="{% url 'characters:characters_obituary' character.id %}" method="post">
        <section>
            <div class="container text-center">
                {{ obit_form.about.errors }}
                <h1>Rest in Peace {{character.name}}</h1>
                <h4>
                    Parting is such sweet sorrow
                </h4>
                {{ char_form.non_field_errors }}
                {{ stats_form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ obit_form.cause_of_death | bootstrap}}
                {{obit_form.obituary | bootstrap}}
                {% if obit_form.is_void %}
                    {{obit_form.is_void |bootstrap }}
                {% endif %}
            </div>
        </section>
        <div class="container">
            {% if not character.is_dead %}
                {% if character.active_game_attendances %}
                    <h4>You cannot kill a character that is currently in an active game. The GM will declare death on game end.</h4>
                    <input class="btn btn-primary" type="submit" value="Kill {{character.name}}" disabled />
                {% else %}
                    <h4>
                        Warning: If you submit this form, your character will be declared dead and you will be unable to play them.
                    </h4>
                    <input class="btn btn-primary" type="submit" value="Kill {{character.name}}" />
                {% endif %}
            {% else %}
                <input class="btn btn-primary" type="submit" value="Done!" />
            {% endif %}
        </div>
    </form>
{% endblock %}