{% extends "site_base.html" %}


{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block extra_head %}
    {{ obit_form.media }}
{% endblock %}

{% block head_title %}Editing Obituary{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    <form action="{% url 'characters:characters_obituary' character.id %}" method="post">
        <section>
            <div class="text-center">
                {{ obit_form.about.errors }}
                <h1>Rest in Peace {{character.name}}</h1>
                <h4>
                    Parting is such sweet sorrow
                </h4>
                {{ char_form.non_field_errors }}
                {{ stats_form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ obit_form.cause_of_death | bootstrap}}
                {{obit_form.obituary | bootstrap}}
                {% if obit_form.is_void %}
                {{obit_form.is_void |bootstrap }}
                {% endif %}
            </div>
        </section>
        <div class="text-center">
            {% if not character.is_dead %}
            <div class="alert alert-danger text-center css-char-alert" role="alert">
                <h4>
                    Are you sure you're dead?
                </h4>
                <h5>
                    If your Contractor succumbed to their Injuries,
                    remember: <b><u>damage does not stack linearly.</u></b>
                    <br>
                    <br>
                    Your wound level is equal to the Severity of your worst Injury + the number of other Injuries
                    you've suffered.
                    <br>
                    <br>
                    Enter all your Injuries on the Character sheet and ensure your wound level equal reaches the
                    <img class="css-dead-img" src="{% static 'characters/skull.svg' %}" data-toggle="tooltip" title='You are Dead.'/>
                </h5>
            </div>

            {% if character.active_game_attendances %}
                <h4>You cannot kill a Contractor that is currently in an active Contract. The GM will declare death on Contract end.</h4>
                <input class="btn btn-primary" type="submit" value="Kill {{character.name}}" disabled />
            {% else %}
                <input class="btn btn-primary" type="submit" value="Kill {{character.name}}" />
                <br>
                If you submit this form, your Contractor will be declared dead, and you will be unable to play them.
            {% endif %}
            {% else %}
                <input class="btn btn-primary" type="submit" value="Done!" />
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}