{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Granting Bonus Exp{% endblock %}

{% block body_class %}home{% endblock %}

{% load static %}
{% load bootstrap %}


{% block body_base %}
    <div class="container">
        <div class="text-center form-inline">
            <h1>Grant Bonus Experience</h1>
            <p class="help-block">
                Declare which Contractors should receive Bonus Experience.
                Once confirmed, this action cannot be undone.
            </p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>

                        Only Contractors that meet the following conditions may be rewarded:
                    <div class="text-left" style="max-width: 800px; margin: auto;">
                        <ol >
                            <li>
                                They are alive.
                            </li>
                            <li>
                                Their total earned Exp is less than 16 + (12 * their number of victories).
                            </li>
                            <li>
                                They are in the same Playgroup the Experience Reward was earned in.
                            </li>
                        </ol>
                    </div>
                    </p>
                    <hr>
                    <form action="{% url 'characters:characters_allocate_gm_exp'%}" method="post">
                        {% csrf_token %}
                        {{ reward_formset.management_form }}
                        <div class="text-left">
                            {% for form in reward_formset %}
                                {{form.chosen_character}}
                                {{form.reward_id}}
                                <span style="display:inline-block;width:10px;"></span>
                                +
                                {{form.initial.reward_amount}} Exp Reward {{form.initial.reward_source}}
                             {% if form.initial.reward.source_cell %}
                            in <b>{{form.initial.reward.source_cell.name}}</b>
                        {% endif %}
                                <br><br>
                            {% endfor %}
                        </div>
                        <input type="submit" class="btn btn-md btn-primary" value="Reward">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}