{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Viewing Character{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load staticfiles %}

{% block body_base %}
    <div class="container text-center">
        <h1>
            Graveyard
            <br>
            <small>
                 {{header|safe}}
            </small>
        </h1>
    </div>
    <div class="container">
        <div class="text-center">
            <h3 style="margin-top: 0px; margin-bottom: 0px;"><small>Population: {{num_deaths}}</small></h3>
        </div>
        <div class="panel-group" id="accordion">
            {% if tombstones.Veteran %}
                <h2>Veterans</h2>
            {% endif %}
            {% for tombstone in tombstones.Veteran %}
                {% include 'characters/tombstone_snippet.html' %}
            {% endfor %}

            {% if tombstones.Seasoned %}
                <h2>Seasoned</h2>
            {% endif %}
            {% for tombstone in tombstones.Seasoned %}
                {% include 'characters/tombstone_snippet.html' %}
            {% endfor %}

            {% if tombstones.Novice %}
                <h3>Novices</h3>
            {% endif %}
            {% for tombstone in tombstones.Novice %}
                {% include 'characters/tombstone_snippet.html' %}
            {% endfor %}


            {% if tombstones.Newbie %}
                <h4>Newbies</h4>
            {% endif %}
            {% for tombstone in tombstones.Newbie %}
                {% include 'characters/tombstone_snippet.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}