{% extends "site_base.html" %}

{% block body_base %}
<div class="container">
<div class="backdropped">
    {%if not character.stats_snapshot %}
        <div class="text-centered">
            <h1>{{character.name}}</h1>
        <h2>This is a legacy character that hasn't been upgraded.</h2>
        {% if user_can_edit %}
            <a href="{% url 'characters:characters_edit' character.id %}" class="btn btn-default">
                Upgrade this character
            </a>
        {% else %}
            Their owner must view this page and upgrade them before anyone else can view the character.
        {% endif %}
        </div>
    {% else %}
        How did you get here? this is a bug.
    {% endif %}
</div>
</div>
</div>
{% endblock %}