{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Rewarding Contractor{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load static %}
{% load games_tags %}
{% load power_tags %}

{% block body_base %}
<div class="container">
    <div class="backdropped">
    {% if character.num_unspent_rewards > 0 %}
        <div class="text-center">
            {% if character.num_unspent_gifts > 0 %}
                <h1>
                    You've done well, <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a>
                </h1>
                <h3>
                    {% if character.num_unspent_gifts == 1 and character.num_unspent_improvements == 0 %}
                        Spend this Gift wisely
                    {% elif character.num_unspent_gifts > 1 %}
                        Spend these Gifts wisely
                    {% endif %}
                </h3>
            {% else %}
                <h1>
                    Imbue <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a> with an Improvement
                </h1>
            {% endif %}
        </div>
        {% if character.num_unspent_rewards > 0 %}
            <ul class="list-unstyled text-center">
                {% for reward in character.unspent_rewards %}
                    <li>
                        <div class="thumbnail" style="margin-bottom: 10px;">
                            {% render_reward reward %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    {% if character.num_unspent_gifts > 0 %}
                        <div class="col-xs-12 col-sm-6">
                            <a class="btn btn-success btn-lg" href="{% url 'powers:powers_create_ps2_for_char' character.id %}">
                                Create a New Gift
                            </a>
                        </div>
                    {% endif %}
                    {% if unassigned_powers %}
                        <div class="col-xs-12 col-sm-6">
                            <a class="btn btn-default btn-lg" href="{% url 'characters:characters_power_picker' character.id %}">
                                Assign existing Gifts
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if character.power_full_set.all|length > 0 %}
                    <hr>
                    <h2 class="text-center">Improve Existing Gifts</h2>
                    {% for power_full in character.power_full_set.all %}
                        <div class="row">
                            <div class= "col-xs-3 col-md-1">
                                <a href="{% url 'powers:powers_edit_ps2' power_full.id %}" class="btn btn-success">
                                    <i class="fa fa-plus-square fa-4x"></i>
                                </a>
                            </div>
                            <div class= "col-xs-9 col-md-11">
                                {% power_heading power_full.latest_revision %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>
            <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a> does not have any Gift Credits or Improvements to spend.
        </h1>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}