{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Rewarding Character{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load static %}
{% load games_tags %}
{% load power_tags %}

{% block body_base %}
<div class="container">
    <div class="backdropped">
    {% if character.num_unspent_rewards > 0 %}
        <div class="text-center">
            {% if character.num_unspent_gifts > 0 %}
                <h1>
                    You've done well, <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a>
                </h1>
                <h3>
                    {% if character.num_unspent_gifts == 1 and character.num_unspent_improvements == 0 %}
                        Please accept this Gift
                    {% elif character.num_unspent_gifts > 1 %}
                        Please accept these Gifts
                    {% endif %}
                </h3>
            {% else %}
                <h1>
                    Imbue <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a> with a Power Improvement
                </h1>
            {% endif %}
        </div>
        {% if character.num_unspent_rewards > 0 %}
            <ul class="list-unstyled text-center">
                {% for reward in character.unspent_rewards %}
                    <li>
                        <div class="thumbnail" style="margin-bottom: 10px;">
                            {% render_reward reward %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if character.num_unspent_gifts > 0 %}
                    <a href="{% url 'powers:powers_create_for_char' character.id %}">
                        <h2>Create a New Power</h2>
                    </a>
                {% endif %}
                {% if character.power_full_set.all|length > 0 %}
                    <hr>
                    <h2>Improve an Existing Power</h2>
                    {% for power_full in character.power_full_set.all %}
                        <div class="row">
                            {% if request.user.is_authenticated and request.user.id == character.player.id and character.num_unspent_rewards > 0 %}
                                <div class= "col-sm-1 container">
                                    <a href="{% url 'powers:powers_edit_power' power_full.id %}" class="btn btn-success"><i class="fa fa-plus-square fa-4x"></i></a>
                                </div>
                                <div class= "col-sm-11">
                                    {% power_badge power_full %}
                                </div>
                            {% else %}
                                <div class= "col-sm-12">
                                    {% power_badge power_full %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if unassigned_powers %}
                    <hr>
                    <a href="{% url 'characters:characters_power_picker' character.id %}">
                        <h2>Assign Created Powers to {{ character.name }}</h2>
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>
            <a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a> does not have any Gifts or Improvements to spend.
        </h1>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}