<div class="panel panel-default {% if tombstone.death.obituary %}css-tombstone-with-obit{%endif%}">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{tombstone.death.id}}">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{tombstone.death.relevant_character.name}}
                <small>
                    <b>
                        the {{tombstone.death.relevant_character.concept_summary}}
                        {% if tombstone.death.relevant_character.paradigm %}
                            {{ tombstone.death.relevant_character.paradigm}}
                        {% endif %}
                    </b>
                    <div class="visible-xs-block text-muted" style="margin-top: 3px;">
                        {% if tombstone.death.relevant_character.number_of_victories %}
                            ({{tombstone.death.relevant_character.number_of_victories }}
                            {% if tombstone.death.relevant_character.number_of_victories  == 1 %}
                                Victory
                            {% else %}
                                Victories
                            {% endif %}{% if tombstone.num_journals %}, {{tombstone.num_journals}} journals{%endif%})
                        {% endif %}
                    </div>
                    <span class="pull-right hidden-xs">
                        {% if tombstone.death.relevant_character.number_of_victories %}
                            ({{tombstone.death.relevant_character.number_of_victories }}
                            {% if tombstone.death.relevant_character.number_of_victories  == 1 %}
                                Victory
                            {% else %}
                                Victories
                            {% endif %}{% if tombstone.num_journals %}, {{tombstone.num_journals}} journals{%endif%})
                        {% endif %}
                    </span>
                </small>
            </h4>
        </div>
    </a>
    <div id="collapse{{tombstone.death.id}}" class="panel-collapse collapse">
        <div class="panel-body">
            {% include 'characters/tombstone_content_snippet.html' %}
            <hr>
            <small>
                <a href="{% url 'characters:characters_view' tombstone.death.relevant_character.id %}">
                    View Sheet
                </a>
                {% if tombstone.num_journals %}
                -
                <a href="{% url 'journals:journal_read' tombstone.death.relevant_character.id %}">
                    Read {{tombstone.death.relevant_character.name}}'s Journal ({{tombstone.num_journals}} pages)
                </a>
                {% endif %}
            </small>
        </div>
    </div>
</div>