{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Viewing Character{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load games_tags %}

{% block body_base %}
<div class="container">
    <div class="backdropped">
	<div class="text-center">
        <h1>
		{{ character.name }}
        </h1>
        <h3>
            {{ character.tagline }}
        </h3>
        <h4>
            Played by
            <a href="{% url 'profiles:profiles_view_profile' character.player.id %}">{% user_display character.player %}</a>
            {% if character.cell %}
                in
                <a href="{% url 'cells:cells_view_cell' character.cell.id %}">{{ character.cell.name }}</a>
            {% endif %}
        </h4>
        {% if character.is_dead %}
            <img src="{% static 'characters/skull.svg' %}"/>
            <h3>This character is dead. RIP</h3>
            {% if character.private %}
                <h3 class="text-warning">Hey, this character is dead and private. You should consider making them public so they appear in the graveyard.</h3>
            {% endif %}
            {%if character.real_death.obituary %}
                {{character.real_death.obituary | linebreaks}}
            {% elif request.user.id == character.player.id %}
                Write an obituary
            {% endif %}
        {% endif %}
        {% if user_can_edit %}
            {% if character.unspent_rewards|length > 0 %}
                <a href="{% url 'characters:characters_spend_reward' character.id %}" class="btn btn-success">Spend Available Gifts!</a>
            {% endif %}

            <ul class="nav nav-pills nav-justified">
                <li><a href="{% url 'characters:characters_edit' character.id %}">Edit Character</a></li>
                <li><a href="{% url 'characters:characters_power_picker' character.id %}">Assign Powers</a></li>
                <li><a href="{% url 'characters:characters_archive' character.id %}">Download Character as plain text</a></li>
                {% if character.is_dead %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}">Edit Obituary</a></li>
                {% else %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}">Declare Character Death</a></li>
                {% endif %}
            </ul>
        {% endif %}
        {% if character.private %}
            <div class="container">
                <p>
                    <i class="fa fa-user-secret fa-3x"></i> This character and their powers cannot be viewed by others because they are <b>Private</b>.
                </p>
            </div>
        {% endif %}
        <p><b> {{ character.get_status_display }} - {{ character.number_of_victories }}</b> Victories - <b>{{ character.number_of_losses }}</b> Losses</p>
        <p><b>Rewards: </b>{{character.active_spent_rewards|length}} spent - {{character.unspent_rewards|length}} unspent</p>
        {% if character.get_power_cost_total != character.active_spent_rewards|length %}
            <p class="text-danger">Character's power value does not match number of spent gifts! </br>
            <b>Power Value: </b>{{character.get_power_cost_total}}</p>
        {% endif %}
    </div>
    <div class="text-center">
        <div class ="row">
            <p>
                <b>
                    Age/Sex:
                </b>
                {{character.age}} / {{character.sex}}
            </p>
            <p>
                <b>
                    Appearance:
                </b>
                {{character.appearance|linebreaks}}
            </p>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                <p>
                    <b>
                        Concept:
                    </b>
                    {{character.concept_summary}}
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>
                        Ambition:
                    </b>
                    {{character.ambition}}
                </p>
            </div>
        </div>
        <div class ="row">
            {% if character.paradigm %}
                <div class="col-md-6">
                    <p><b>Paradigm:</b> {{character.paradigm}}</p>
                </div>
            {% endif %}
            {% if character.residence %}
                <div class="col-md-6">
                    <p><b>Residence:</b> {{character.residence}}</p>
                </div>
            {% endif %}
            {% if character.languages %}
                <div class="col-md-6">
                    <p><b>Languages:</b> {{character.languages}}</p>
                </div>
            {% endif %}
            {% if character.insanities %}
                <div class="col-md-6">
                    <p><b>Insanities:</b> {{character.insanities}}</p>
                </div>
            {% endif %}
            {% if character.disabilities %}
                <div class="col-md-6">
                    <p><b>Disabilities:</b> {{character.disabilities}}</p>
                </div>
            {% endif %}
            {% if character.current_alias %}
                <div class="col-md-6">
                    <p><b>Current_alias:</b> {{character.current_alias}}</p>
                </div>
            {% endif %}
            {% if character.previous_aliases %}
                <div class="col-md-6">
                    <p><b>Previous_aliases:</b> {{character.previous_aliases}}</p>
                </div>
            {% endif %}
            {% if character.contacts %}
                <div class="col-md-6">
                    <p><b>Contacts:</b> {{character.contacts}}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class ="row">
            <div class="col-md-6">
                <h2>Stats</h2>
                <p>
                    {{character.basic_stats.stats |markdown |linebreaks}}
                </p>
            </div>
            <div class="col-md-6">
                <h2>Powers</h2>
                <p><b>Power Value: </b>{{character.get_power_cost_total}}</p>
                <p><b>Rewards invested: </b>{{character.active_spent_rewards|length}}</p>
                {% if character.paradigm %}
                    <p><b>Paradigm: </b> {{character.paradigm}}</p>
                {% endif %}
                {% for power_full in character.power_full_set.all %}
                    <div class="row">
                        {% if request.user.is_authenticated and request.user.id == character.player.id and character.unspent_rewards|length > 0 %}
                            <div class= "col-md-2 container">
                                <a href="{% url 'powers:powers_edit_power' power_full.id %}" class="btn btn-success"><i class="fa fa-plus-square fa-4x"></i></a>
                            </div>
                            <div class= "col-md-10">
                        {% else %}
                            <div class= "col-md-12">
                        {% endif %}
                        {% include "powers/power_badge_snippet.html" %}
                        </div>
                    </div>
                {% empty %}
                    <h4>{{character.name}} doesn't have any powers yet. What a noob :(</h4>
                {% endfor %}
            </div>
        </div>
    </div>
        <h2>Game History</h2>
            <p><b>{{ character.number_of_victories }}</b> Victories - <b>{{ character.number_of_losses }}</b> Losses</p>
            {% for attendance in character.completed_games %}
                    {% include "games/game_attendance_badge_snippet.html" %}
            {% empty %}
                <h4>{{character.name}} Still hasn't been invited on their first game! Awww</h4>
            {% endfor %}
            {% if character.basic_stats.advancement_history %}
                <h3>Advancement History</h3>
                <p>{{character.basic_stats.advancement_history |linebreaks}}</p>
            {% endif %}

        <h2>Equipment</h2>
            <div class ="row">
                {% if character.basic_stats.movement %}
                    <div class="col-md-6">
                        <p><b>Movement:</b> {{character.basic_stats.movement}}</p>
                    </div>
                {% endif %}
                {% if character.basic_stats.armor %}
                    <div class="col-md-6">
                        <p><b>Armor:</b> {{character.basic_stats.armor}}</p>
                    </div>
                {% endif %}
                {% if character.total_encumbrance %}
                    <div class="col-md-6">
                        <p><b>Total Encumbrance:</b> {{character.total_encumbrance}}</p>
                    </div>
                {% endif %}
                {% if character.max_encumbrance %}
                    <div class="col-md-6">
                        <p><b>Maximum Encumbrance:</b> {{character.max_encumbrance}}</p>
                    </div>
                {% endif %}
             </div>
            {% if character.equipment %}
                <p>{{character.equipment | markdown | linebreaks}}</p>
            {% endif %}

        <h2>Gifts and Improvements</h2>
            {% if character.unspent_rewards|length > 0 %}
                <h4>Character has {{character.unspent_rewards|length}} unspent rewards</h4>
                    <ul >
                        {% for reward in character.unspent_rewards %}
                            <li>{% render_reward reward %}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            {% if character.spent_rewards|length > 0 %}
                <h4>Gift / Reward History</h4>
                    <ul >
                        {% for reward in character.spent_rewards %}
                            <li>{% render_reward reward %}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
    {% if character.wish_list %}
        <div class="container">
            <h3>Wish List</h3>
            <div class="container">
                <p>{{character.wish_list | linebreaks}}</p>
            </div>
        </div>
    {% endif %}
    {% if character.to_do_list %}
        <div class="container">
            <h3>To-Do List</h3>
            <div class="container">
                <p>{{character.to_do_list | linebreaks}}</p>
            </div>
        </div>
    {% endif %}
    {% if character.notes %}
        <div class="container">
            <h3>Other Notes</h3>
            <div class="container">
                <p>{{character.notes | markdown | linebreaks}}</p>
            </div>
        </div>
    {% endif %}
    {% if character.void_deaths %}
        <div class="container text-danger">
            <h2>Voided Deaths</h2>
            <h4>You should probably know about these. . .</h4>
            <ul>
            {% for death in character.void_deaths %}
                <div class="container">
                    <li>{{death.date_of_death}} - {{death.cause_of_death }}</li>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    </div>

{% endblock %}