{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}Viewing Artifact{% endblock %}

{% block body_class %}home{% endblock %}


{% load account_tags %}
{% load power_tags %}
{% load static %}
{% load character_tags %}
{% load ad_tags %}

{% block extra_scripts %}
  {% if artifact.character %}
    {{attribute_value_by_id|json_script:"attributeValueById"}}
    {{ability_value_by_id|json_script:"abilityValueById"}}
    <script src="{% static 'characters/roll_values.js' %}"></script>
  {% endif %}
  <script src="{% static 'characters/world_elements.js' %}"></script>
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" type="text/css" media="print" href="{% static 'characters/print_character_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
  <h1 class="text-center css-no-print">
    {% if artifact.is_signature %}
      Legendary Artifact
    {% elif artifact.is_consumable %}
      Crafted Consumable{{artifact.quantity|pluralize}}
    {% elif artifact.is_crafted_artifact %}
      Crafted Artifact
    {% endif %}
  </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {% if artifact.is_signature %}
        {% render_sig_item artifact request.user %}
      {% elif artifact.is_consumable %}
        {% render_consumable artifact request.user %}
      {% elif artifact.is_crafted_artifact %}
        {% render_sig_item artifact request.user %}
      {% endif %}
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-default css-no-print" onclick="window.print()">Print / PDF</a>
  </div>

  <div class="row css-no-print">
    {% render_fake_ad request.user %}
    {% if related_artifacts %}
    <div class="col-xs-12 col-md-6">
      <h2 class="text-center" style="margin-top: 10px;">
        Community Artifacts
      </h2>
      {% for item in related_artifacts %}
        {% if item.pk != artifact.pk %}
          {% render_sig_item item request.user item.character None False True %}
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    {% if stock_gifts %}
    <div class="col-xs-12 col-md-6">
      <h2 class="text-center" style="margin-top: 10px;">
        Stock {% if artifact.is_signature %} Legendary Artifacts {% else %} Artifact Crafting Gifts{% endif %}
      </h2>
      {% for power_full in stock_gifts %}
      {% if power_full.pk != power.parent_power.pk %}
        {% if not power_full.is_signature %}
            {% discovery_power_badge power_full %}
        {% else %}
          {% render_sig_item power_full.artifacts.first request.user item.character None True %}
        {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

</div>

{% endblock %}
