{% extends "site_base.html" %}

{% load pinax_blog_tags %}

{% block body_class %}blog{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        <a href="{%url 'pinax_blog:blog' %}">News and Updates</a>
    </h1>
    <div class="text-center" style="margin-bottom: 15px;">
        {% block sidebar %}
        <b>Categories:</b>
        <span class="{% if current_section == "all" %}active{% endif %}">
        <a href="{%url 'pinax_blog:blog' %}">All</a>
        </span>
        {% blog_sections as sections %}
        {% for section in sections %}
        {% if scoper_lookup %}
        {% url "pinax_blog:blog_section" scoper_lookup section.slug as section_url %}
        {% else %}
        {% url "pinax_blog:blog_section" section.slug as section_url %}
        {% endif %}
        <span class="{% if current_section == section %}active{% endif %}">
                                    | <a href="{{ section_url }}">{{ section.name }}</a>
                                </span>
        {% endfor %}
        {% endblock %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 blog-content">
                    <div style="max-width: 800px; margin: auto; ">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
