{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load games_tags %}

{% block head_title %}
Community Journals
{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Latest Community Journals
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                This Page links to the latest <b>{{journals|length}}</b> Journals written for Contractors in all Playgroups.
                <br>
                Journals will not show up on this list if they belong to private Contractors or contain spoilers for
                Scenarios you have not discovered.
            </p>
            <ul class="list-unstyled">
                {% for journal in journals %}
                    <li>
                        <div class="thumbnail">
                            <a href="{% url 'profiles:profiles_view_profile' journal.game_attendance.attending_character.player.profile.id %}">
                                {{journal.game_attendance.attending_character.player.username}}'s
                            </a>
                            Contractor
                            <a href="{% url 'characters:characters_view' journal.game_attendance.attending_character.id %}">
                                {{journal.game_attendance.attending_character.name}}
                            </a>
                            wrote a
                            <a href="{% url 'journals:journal_read_id' journal.id %}">
                                {% if journal.is_downtime %}
                                    Downtime
                                {% else %}
                                    Contract
                                {% endif %}
                                Journal
                            </a>
                            {% if not journal.is_downtime %}
                                for
                                {% render_scenario_title_check_for_link journal.game_attendance.relevant_game.scenario %}
                            {% endif %}
                            on
                            {{ journal.created_date }}

                            <a href="{% url 'journals:journal_read_id' journal.id %}">
                            {% if journal.title %}
                                <h4>{{journal.title}}</h4>
                            {% else %}
                                <h4>An untitled Journal</h4>
                            {% endif %}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
