{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account_tags %}
{% load bootstrap %}k

{% block head_title %}Write Journal{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block body_base %}
<h1 class="text-center">
    Write a new Journal
</h1>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{% url 'journals:journal_write' game.id character.id %}" method="post">
                {{form|bootstrap}}
                <input class="btn btn-primary" type="submit" value="Done!" />
            </form>
        </div>
    </div>
</div>

{% endblock %}