{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account_tags %}
{% load bootstrap %}k

{% block head_title %}
    Write Journal
{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Writing in {{character.name}}'s Journal
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="thumbnail">
                {{character.name}} played in {{game.scenario.title}}.
            </div>
            <form action="{% url 'journals:journal_write_game' game.id character.id %}" method="post">
                {{form.title|bootstrap}}
                {{form.content|bootstrap}}
                {{form.is_downtime|bootstrap}}
                <input class="btn btn-primary" type="submit" value="Done!" />
            </form>
        </div>
    </div>
</div>

{% endblock %}