{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account_tags %}
{% load bootstrap %}k

{% block head_title %}
    Write Journal
{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Writing in {{character.name}}'s Journal
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="thumbnail">
                {% if is_downtime %}
                    Write in-character as {{character.name }} about what happened after the events of
                    {{game.scenario.title}}. Remember, Experience points represent your Contractor spending their time training.
                {% else %}
                    {{character.name}} played in {{game.scenario.title}}.
                {% endif %}
            </div>
            <form
                    {% if is_downtime %}
                        action="{% url 'journals:journal_write_downtime' game.id character.id %}"
                    {% else %}
                        action="{% url 'journals:journal_write_game' game.id character.id %}"
                    {% endif %}
                    method="post">
                {% csrf_token %}
                {{form.title|bootstrap}}
                {{form.content|bootstrap}}
                {{form.contains_spoilers|bootstrap}}
                <input class="btn btn-primary" type="submit" value="Done!" />
            </form>
        </div>
    </div>
</div>

{% endblock %}