
{% load staticfiles %}

<div role="tabpanel"
     class="tab-pane {% if journal_page.id == view_game_id %} active {% endif %}"
     id="{{journal_page.id}}">
    {% if journal_page.cover %}
        <h2 class="text-center">
            {{journal_page.cover.title}}
        </h2>

        <div class="css-journal-cover-content">
            {{journal_page.cover.content|safe}}
        </div>
        {% if viewer_can_write %}
        <a class="btn btn-default"
           href="{% url 'journals:journal_edit_cover' character.id %}">
            Edit Journal Cover
        </a>
        <br>
        <br>
        <div class="text-center alert alert-info" role="alert">
            <b>
                The next Game journal you write will grant you
                {% if next_reward_is_improvement %}
                    an Improvement.
                {% else %}
                    1 Exp. You must write {{num_journals_until_improvement}} more
                    Game journal{{num_journals_until_improvement|pluralize}} to get an Improvement.
                {% endif %}

            </b>
            <br>
        </div>
        {% endif %}

    {% elif journal_page.death %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if journal_page.game %}
                    <small class="css-game-link">
                        <a href="{% url 'games:games_view_game' journal_page.game.id %}">
                            {{ journal_page.game.scenario.title }}
                        </a>
                    </small>
                {% endif %}
                <div class="thumbnail">
                    <div class="text-center">
                        <h3>Here Lies {{character.name}}</h3>
                        {% if journal_page.death.cause_of_death %}
                        <div class="lead">Cause of Death: {{journal_page.death.cause_of_death}}</div>
                        {% endif %}
                    </div>
                    {% if journal_page.death.obituary %}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p>
                                    {{journal_page.death.obituary|linebreaks}}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if viewer_can_write %}
                    <div class="text-center">
                        <a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default btn-sm text-center">
                            Edit Obituary
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

    {% else %}
        {% if journal_page.game_journal %}
            <small class="css-game-link">
                {% if journal_page.game_journal.is_valid %}
                    <img class ="css-valid-quill-img"
                         src="{% static 'journals/quill.svg' %}"
                         data-toggle="tooltip"
                         title='This journal entry is valid and granted a Reward.'
                    />
                {% else %}
                    <i class="fa fa-exclamation-circle fa-1x"
                       data-toggle="tooltip"
                       title='This Journal is not 250 words and did not grant a Reward.'
                    ></i>
                {% endif %}
                {% if journal_page.game_journal.contains_spoilers %}
                    <i class="fa fa-lock fa-1x"
                       data-toggle="tooltip"
                       title='This journal entry contains spoilers for a Scenario and cannot be viewed by those who have not discoverd it'
                    ></i>
                {% endif %}
                <a href="{% url 'games:games_view_game' journal_page.game.id %}">
                    {{ journal_page.game.scenario.title }}
                </a>
            </small>
            <div class="thumbnail">
                {% if journal_page.game_journal.is_viewable_by_reader %}
                    <h3>
                        {{journal_page.game_journal.title}}
                    </h3>
                    <div>
                        {{journal_page.game_journal.content|safe}}
                    </div>
                    {% if viewer_can_write %}
                    <a class="btn btn-default"
                       href="{% url 'journals:journal_edit' journal_page.game_journal.id %}">
                        Edit Journal
                    </a>
                    {% endif %}
                {% else %}
                    <div class="text-center">
                        <b>You cannot view this Journal entry because it contains spoilers for a Scenario you have not discovered.</b>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if viewer_can_write %}
                <div class="alert alert-success text-center">
                    You have not written a journal for this game yet.
                    You will earn
                    {% if next_reward_improvement %}
                        <b>an Improvement</b>
                    {% else %}
                        1 Exp
                    {% endif %}
                    for {{character.name}} if you write an in-character journal about
                    the events of the Game.
                    <br>
                    <a class="btn btn-primary"
                       href="{% url 'journals:journal_write_game' journal_page.game.id character.id %}">
                        Write Journal
                    </a>
                </div>
            {% endif %}
        {% endif %}
        {% for journal in journal_page.downtime_journals %}
        <small class="css-game-link">
            {% if journal.is_valid and not forloop.counter0 %}
            <img class ="css-valid-quill-img"
                 src="{% static 'journals/quill.svg' %}"
                 data-toggle="tooltip"
                 title='This journal entry is valid and granted 1 Exp.'
            />
            {% elif not forloop.counter0 %}
            <i class="fa fa-exclamation-circle fa-1x"
               data-toggle="tooltip"
               title='This Journal is not 250 words and did not grant any Exp.'
            ></i>
            {% endif %}
            {% if journal.contains_spoilers %}
            <i class="fa fa-lock fa-1x"
               data-toggle="tooltip"
               title='This journal entry contains spoilers for a Scenario and cannot be viewed by those who have not discoverd it'
            ></i>
            {% endif %}
            Downtime
        </small>
        <div class="thumbnail">
            {% if journal.is_viewable_by_reader %}
                <h3>
                    {{journal.title}}
                </h3>
                <div>
                    {{journal.content|safe}}
                </div>
                {% if viewer_can_write %}
                    <a class="btn btn-default"
                       href="{% url 'journals:journal_edit' journal.id %}">
                        Edit Journal
                    </a>
                {% endif %}
            {% else %}
            <div class="text-center">
                <b>You cannot view this Journal entry because it contains spoilers for a Scenario you have not discovered.</b>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if viewer_can_write %}
        <div class="text-center alert {% if journal_page.downtime_journals %} alert-info {% else %} alert-success {% endif %}">
            {% if journal_page.downtime_journals %}
                You may write additional Downtime journals, but you will not gain Experience from them.
            {% else %}
                You have not written a Downtime Journal for this Game yet.
                You will earn 1 Exp
                for {{character.name}} if you write an in-character Journal at least
                250 words in length explaining what occurred between this Game and the next.
            {% endif %}
            <br>
            <a class="btn btn-primary"
               href="{% url 'journals:journal_write_downtime' journal_page.game.id character.id %}">
                Write Downtime Journal
            </a>
        </div>
        {% endif %}
    {% endif %}
    <div class="text-center">
        {% if journal_page.prev_id %}
            <a class="btn btn-default js-tab-nav"
               href="#{{journal_page.prev_id}}"
               aria-controls="{{journal_page.prev_id}}"
               data-toggle="tab">
                <span class="glyphicon glyphicon-backward"></span>
                Previous Page
            </a>
        {% endif %}
        {% if journal_page.next_id %}
            <a class="btn btn-default js-tab-nav"
               href="#{{journal_page.next_id}}"
               aria-controls="{{journal_page.next_id}}"
               data-toggle="tab">
                Next Page
                <span class="glyphicon glyphicon-forward"></span>
            </a>
        {% endif %}
    </div>
</div>