{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}tutorialModalcraftable-artifact{% endblock %}

{% block modal_title %}
  Artifact Crafting
{% endblock %}

{% block modal_header %}
  "Sure, I'll make you one. <i>If</i> you provide the proper incentive."
{% endblock %}

{% block modal_body %}
<p>
  <b>Artifact Crafting turns your Contractor into the golden goose.</b> No Gift Type demands more sacrifice, nor a
  higher price. However, those Contractors who invest in Artifact Crafting create equipment that rivals the Gifts of the
  Harbingers. And make no mistake: most Contractors' loyalty <i>can</i> be bought.
</p>

<p>
  Any Contractor who takes a crafting Gift can craft. When you craft with an Artifact Crafting Gift, you can either
  create a new Artifact with that Gift's Effect or add its Effect to another Artifact you've created.
</p>

<p>
  Investing a Reward into an Artifact Crafting Gift lets you craft it once for free. After that, crafting with the Gift
  costs Experience equal to its Gift Cost + 1.
</p>

<p>
  <b>Crafted Artifacts Include:</b>
  <ul>
    <li>Extraordinary weapons and armor</li>
    <li>Skunkworks prototype devices</li>
    <li>Spellbooks</li>
    <li>Alien technology</li>
    <li>Super-suits for your team</li>
  </ul>
  <b>If you're looking to rival Hephaestus or Stark, you want Artifact Crafting.</b>
</p>
{% endblock %}
