{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}tutorialModalcraftable-consumable{% endblock %}

{% block modal_title %}
  Consumable Crafting
{% endblock %}

{% block modal_header %}
  "Everybody take one. Use it if you get into trouble."
{% endblock %}

{% block modal_body %}
<p>
  <b>Consumables are single-use items that are easy to share and trade.</b>
</p>
<p>
  Any Contractor who takes a crafting Gift can craft. Each Downtime between Contracts, Contractors can craft one
  of each of their Consumables for free. Investing a Gift Credit or Improvement into a Consumable Gift grants an extra one for free.
  Additional Consumables may be crafted at a cost of 1 Exp each.
</p>

<p>
  <b>Crafted Consumables Include:</b>
  <ul>
    <li>Potions</li>
    <li>Specialty ammunition</li>
    <li>Settable traps</li>
    <li>Deployable super-tech</li>
    <li>Magic makeup</li>
    <li>Energy drinks that turn you into a mongoose</li>
  </ul>
  <b>If it's supernatural, single-use items your Contractor makes, it's Consumable Crafting.</b>
</p>
{% endblock %}
