{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}mainTutorialModal{% endblock %}

{% block modal_title %}
Building Custom Gifts
{% endblock %}

{% block modal_header %}
"Gifts are why we sign The Contract"
{% endblock %}

{% block modal_body %}
<p>
        Each session of The Contract, the present Players' Contractors are invited to risk their lives in a deadly mission.
    <b>
        Those who succeed are rewarded with a Gift that awakens their latent Powers.
    </b>
</p>
<p>
    No two Contractors are alike. Each Contractor's Gifts are a unique expression of their concept, and any character
    concept can be realized by building custom Gifts.
</p>
<div class="text-center">
    <h4>Building Custom Gifts is as Easy as 1 2 3</h4>
</div>
<ol>
    <li>
        Form an idea of what you want your Contractor to be able to do.
    </li>
    <li>
        Describe your concept to this Gift-Building webpage. Select a Gift Type and Effect, then customize its system
        with Enhancements, Drawbacks, and Parameters until it matches your idea.
    </li>
    <li>
        Finally, apply flavor to your Gift by adding a description, name, and tagline.
    </li>
</ol>

<p>
    If you want to see examples of completed Gifts, check out the <a href="/powers/stock" target="_blank">premade Stock Gifts</a>.
    These Stock Gifts can also be granted as-is or customized for your Contractor.
</p>

<p>
    Further instructions are available at the bottom of this initial "Select Gift Type" page, and many elements can be
    <span class="has-popover" data-toggle="tooltip" data-title="Exactly! When in doubt, tap/hover for more info.">
        <i>
            <span class="visible-xs-inline visible-sm-inline">tapped on</span> <span class="visible-md-inline visible-lg-inline">hovered over</span>
            for more information.
        </i>
    </span>
</p>
{% endblock %}