{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}tutorialModalpower{% endblock %}

{% block modal_title %}
  Powers
{% endblock %}

{% block modal_header %}
  "Everything in life comes and goes. Everything but Powers."
{% endblock %}

{% block modal_body %}
<p>
  <b>Powers are a Contractor's bread and butter.</b>
  They may be obvious or subtle, arcane or technological, actively called upon or passively empowering. Powers are the
  only Gift Type that does not necessarily require some sort of equipment to use and are therefore the most reliable.
</p>
<p>
  <b>Powers include:</b>
  <ul>
    <li>Any superpower</li>
    <li>Magical spells and divine invocations</li>
    <li>Cybernetic implants and other bodily augmentations</li>
    <li>Supernaturally honed Abilities</li>
    <li>Mythical Brawn, Dexterity, Intellect, Perception, or Charisma</li>
    <li>Beneficial effects stemming from your Contractor's otherworldly nature</li>
  </ul>
  <b>If your idea for a Gift isn't obviously one of the other Gift Types, it's probably a Power.</b>
</p>
{% endblock %}
