{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}tutorialModalsignature-item-mod{% endblock %}

{% block modal_title %}
  Gift Type: Legendary Artifacts
{% endblock %}

{% block modal_header %}
  "I sure hope no one steals this."
{% endblock %}

{% block modal_body %}
<p>
  <b>Legendary Artifacts are high-risk and high-reward.</b> These one-of-a-kind items are far more powerful than Powers
  or crafted items. However, they can be lost, destroyed, or even stolen by other Contractors. While there are ways to
  protect Legendary Artifacts, some risk always remains.
</p>

<p>
  As your Contractor progresses, you may invest multiple Gifts and Improvements into a single Legendary Artifact, granting
  it multiple activated and passive Effects.
  Just remember, your Legendary Artifacts can be used by anyone, whether or not you're still alive.
</p>

<p>
  <b>Legendary Artifacts Include:</b>
  <ul>
  <li>Unique alien technology</li>
  <li>Mythical relics</li>
  <li>Family heirlooms</li>
  <li>One-of-a-kind creations</li>
  </ul>
  <b>Any extraordinary equipment your Contractor did not create themselves is a Legendary Artifact.</b>
</p>
{% endblock %}
