{% with main_modal_art_url as modal_art_url %}
  {% include "powers/ps2_create_pages/tutorial/main_modal.html" %}
{% endwith %}

{% with powers_modal_art_url as modal_art_url %}
  {% include "powers/ps2_create_pages/tutorial/powers_modal.html" %}
{% endwith %}

{% with sig_item_modal_art_url as modal_art_url %}
    {% include "powers/ps2_create_pages/tutorial/signature_items_modal.html" %}
{% endwith %}

{% with art_craft_modal_art_url as modal_art_url %}
  {% include "powers/ps2_create_pages/tutorial/art_craft_modal.html" %}
{% endwith %}

{% with consumable_craft_modal_art_url as modal_art_url %}
  {% include "powers/ps2_create_pages/tutorial/consumable_craft_modal.html" %}
{% endwith %}
