{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block extra_head %}
    {{ scenario_form.media }}
    {{ writeup_form.media }}
{% endblock %}

{% block head_title %}Editing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_scripts %}
    {{stock_loose_end.element_data_by_name|json_script:"elementData"}}
    <script src="{% static 'games/edit_scenario.js' %}"></script>
    <script type="text/html" id="condition-form-template">
        <div class="js-condition-form css-scenario-element ">
            <h4>New Condition</h4>
            {{condition_formset.empty_form|bootstrap}}
        </div>
    </script>
    <script type="text/html" id="circumstance-form-template">
        <div class="js-circumstance-form css-scenario-element ">
            <h4>New Circumstance</h4>
            {{circumstance_formset.empty_form|bootstrap}}
        </div>
    </script>
    <script type="text/html" id="loose-end-form-template">
        {% with loose_end_formset.empty_form as form %}
            {% include "games/scenarios/loose_end_form.html" %}
        {% endwith %}
    </script>
    <script type="text/html" id="trophy-form-template">
        <div class="js-trophy-form css-scenario-element">
            <h4>New Trophy</h4>
            {{trophy_formset.empty_form|bootstrap}}
        </div>
    </script>

{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/edit_scenario_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        {% if scenario %}
            <h1>
                Editing Scenario
                {% if not scenario_form %}
                    Writeup for
                {% endif %}
                {{scenario.title}}
            </h1>
        {% else %}
            <h1>Create a new Scenario</h1>
        {% endif %}
    </div>
    <form
            {% if scenario %}
                action="{% url 'games:games_scenario_edit' scenario.id %}"
            {% else %}
                action="{% url 'games:games_create_scenario' %}"
            {% endif %}
            method="post" onsubmit="setFormSubmitting()"
    >
        <div class="panel panel-default">
            <div class="panel-body">
                {% csrf_token %}
                {% if scenario_form %}
                    {{ scenario_form.about.errors }}
                    {{ scenario_form.non_field_errors }}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {{ scenario_form.title | bootstrap}}
                    {{ scenario_form.summary | bootstrap}}
                    {{ scenario_form.objective | bootstrap}}
                    <div class="row">
                        <div class="col-sm-4">
                            {{ scenario_form.suggested_character_status | bootstrap }}
                        </div>
                        <div class="col-sm-4">
                            {{ scenario_form.min_players | bootstrap }}
                        </div>
                        <div class="col-sm-4">
                            {{ scenario_form.max_players | bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{ scenario_form.is_highlander | bootstrap }}
                        </div>
                        <div class="col-sm-4">
                            {{ scenario_form.is_rivalry | bootstrap }}
                        </div>
                        <div class="col-sm-4">
                            {{ scenario_form.requires_ringer | bootstrap }}
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <div>
                            <h3>Scenario Tags (Admin only)</h3>
                            {{scenario_form.tags}}
                        </div>
                    {% endif %}
                    <div class="col-md-10 col-md-offset-1">
                        {{scenario_form.is_wiki_editable |bootstrap}}
                    </div>
                    <div style="margin-top: 15px;"></div>
                {% endif %}
                {% if scenario_form %}
                    <h2 class="text-center" style="margin-top: 0px;">Scenario Writeup</h2>
                {% endif %}
                <div class="row">
                    <div class="alert alert-info col-md-8 col-md-offset-2">
                        <ul>
                            <li>
                                For tips on writing Scenarios, <a href="/guide/gm-manual/#writing-scenarios" style="text-decoration: underline;" target="_blank" rel="noopener noreferrer">read the Guide!</a>
                            </li>
                            <li>
                                The Scenario's Writeup is divided into several sections.
                                <ul>
                                    <li>
                                        Use heading levels within each section to automatically create sub-section links
                                        in the completed Scenario's index.
                                    </li>
                                </ul>
                            </li>
                            {% if scenario_form %}
                                <li>
                                    If you've selected "Allow Community Edits" this writeup is editable by anyone who has
                                    spoiled the Scenario, like a wiki page. You can revert any edits you'd like.
                                </li>
                            {% endif %}
                            <li>
                                <b>Save often.</b> You can always return to this page.
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Overview Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.overview.help_text |safe}}
                    </div>
                    {{ writeup_form.overview}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Backstory Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.backstory.help_text|safe}}
                    </div>
                    {{ writeup_form.backstory}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Introduction and Briefing Section
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.introduction.help_text|safe}}
                    </div>
                    {{ writeup_form.introduction}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Mission Section
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.mission.help_text|safe}}
                    </div>
                    {{ writeup_form.mission}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Aftermath Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.aftermath.help_text|safe}}
                    </div>
                    {{ writeup_form.aftermath}}
                </div>

                {% include "games/scenarios/world_elements.html" %}


                <div class="text-center" style="margin-top: 25px;">
                    <input class="btn btn-lg btn-primary" type="submit" value="Save Scenario" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
