{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block extra_head %}
    {{ scenario_form.media }}
    {{ writeup_form.media }}
{% endblock %}

{% block head_title %}Editing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'games/edit_scenario.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/edit_scenario_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        {% if scenario %}
            <h1>Editing Scenario {{scenario.title}}</h1>
        {% else %}
            <h1>Create a new Scenario</h1>
        {% endif %}
    </div>
    <form
            {% if scenario %}
                action="{% url 'games:games_scenario_edit' scenario.id %}"
            {% else %}
                action="{% url 'games:games_create_scenario' %}"
            {% endif %}
            method="post" onsubmit="setFormSubmitting()"
    >
        <div class="panel panel-default">
            <div class="panel-body">
                {{ scenario_form.about.errors }}
                {{ scenario_form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ scenario_form.title | bootstrap}}
                {{ scenario_form.summary | bootstrap}}
                <div class="row">
                    <div class="col-sm-4">
                        {{ scenario_form.suggested_character_status | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ scenario_form.min_players | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ scenario_form.max_players | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ scenario_form.is_highlander | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ scenario_form.is_rivalry | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ scenario_form.requires_ringer | bootstrap }}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <div>
                        <h3>Scenario Tags (Admin only)</h3>
                        {{scenario_form.tags}}
                    </div>
                {% endif %}
                <h2 class="text-center">Scenario Writeup</h2>
                <div class="row">
                    <div class="alert alert-info col-md-6 col-md-offset-3">
                        <ul>
                            <li>
                                For tips on writing Scenarios, <a href="/guide/gm-manual/#writing-scenarios" style="text-decoration: underline;" target="_blank" rel="noopener noreferrer">read the Guide!</a>
                            </li>
                            <li>
                                The Scenario's Writeup is divided into several sections.
                                <ul>
                                    <li>
                                        Use heading levels within each section to automatically create sub-section links
                                        in the completed Scenario's index.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                The writeup is editable by anyone who has spoiled the Scenario, like a wiki page.
                            </li>
                            <li>
                                <b>Save often.</b> You can always edit your Scenario.
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Overview Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.overview.help_text |safe}}
                    </div>
                    {{ writeup_form.overview}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Backstory Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.backstory.help_text|safe}}
                    </div>
                    {{ writeup_form.backstory}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Introduction and Briefing Section
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.introduction.help_text|safe}}
                    </div>
                    {{ writeup_form.introduction}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Mission Section
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.mission.help_text|safe}}
                    </div>
                    {{ writeup_form.mission}}
                </div>
                <div class="css-writeup-section">
                    <h3 class="css-scenario-section-header">
                        Aftermath Section
                        <small>(Optional)</small>
                    </h3>
                    <div class="css-writeup-section-help">
                        {{ writeup_form.aftermath.help_text|safe}}
                    </div>
                    {{ writeup_form.aftermath}}
                </div>

                <div class="text-center" style="margin-top: 25px;">
                    <input class="btn btn-lg btn-primary" type="submit" value="Save Scenario" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
