{% extends "site_base.html" %}


{% load account_tags %}
{% load static %}
{% load bootstrap%}
{% load games_tags %}

{% block head_title %}
Scenario Exchange
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'games/exchange_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
          {% if show_tutorial %}
              showTutorial=true;
          {% else %}
              showTutorial=false;
          {% endif %}
  	</script>
  <script src="{% static 'powers/stock_powers_script.js' %}"></script>
{% endblock %}

{% block body_class %}home{% endblock %}


{% block body_base %}
{% with main_modal_art_url as modal_art_url %}
  {% include "games/scenarios/exchange_modal.html" %}
{% endwith %}
<div class="container">
  <div class="text-center">
    <h1 >Community Scenario Exchange</h1>
  </div>
  <div class="panel panel-default" style="margin-top: 15px;">
    <div class="panel-body">
      <div class="text-center">
        {% if request.user.is_authenticated %}
        <h4>
          You have
          <i class="fa fa-handshake-o fa-1x css-text-exchange"></i>
          <b class="css-text-exchange">{{ exchange_credits }}</b> Exchange Credits available
        </h4>
        {% else %}
          <h4 class="text-warning">
            You must <a href="{% url 'account_login' %}">log in</a> to unlock these Scenarios
          </h4>
        {% endif %}
        <div class="text-center">
          <button type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#mainTutorialModal">
            Help
          </button>
        </div>
      </div>
      <div>
        {% if scenarios %}
        <h2>Available Scenarios</h2>
        {% endif %}
        {% for scenario in scenarios %}
          <div class="thumbnail">
            <h4><b>{{scenario.title}}</b> - {{scenario.get_suggested_status_display}}</h4>
            {% if scenario.exchange_information %}
              <div style="margin-left: 20px;">
                <i>{{scenario.exchange_information}}</i>
              </div>
            {% endif %}
            <p>
            <div>
              Written by
              <a href="{% url 'profiles:profiles_view_profile' scenario.creator.id %}">
                <b>{% user_display scenario.creator %}</b></a>, the {{scenario.creator.profile.get_gm_title}}.
            </div>
            <div>
              <b>{{scenario.num_words}} </b> words in writeup.
              <b>{{scenario.get_latest_of_all_writeup_sections|length}}</b> writeup sections used.
              <b>{{scenario.get_latest_of_all_elements|length}}</b> handouts.
            </div>
              <div>
                This Scenario has been
                run <b>{{scenario.num_finished_games}}</b> time{{scenario.num_finished_games|pluralize}}
                by <b>{{scenario.num_gms_run}}</b> GM{{scenario.num_gms_run|pluralize}}.
              </div>
              <div style="margin-left: 20px;">
                <div>
                  Victories: <b>{{scenario.num_victories}}</b>
                  Deaths: <b>{{scenario.num_deaths}}</b>
                </div>
                <div>
                  Last run {{scenario.last_run_time|timesince}} ago
                </div>
              </div>

            <div>
              Unlocked <b class="css-text-exchange">{{scenario.num_times_purchased}}</b> time{{scenario.num_times_purchased|pluralize}}.
            </div>
            </p>
            {% if request.user.is_authenticated %}
              {% if exchange_credits >= 100 %}
                <form action="{% url 'games:games_scenario_purchase' scenario.pk %}" method="post">
                  {{ form.non_field_errors }}
                  {% csrf_token %}
                  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                  <input class="btn btn-primary" type="submit" value="Unlock for 100 Exchange Credits" />
                </form>
              {% else %}
                <input disabled class="btn btn-default" type="submit" value="Unlock" />
                <i>
                  (You need at least 100 Exchange Credits to unlock this Scenario.)
                </i>
              {% endif %}
            {% else %}
              <input disabled class="btn btn-default" type="submit" value="Unlock" />
              <i>
                You must <a href="{% url 'account_login' %}">log in</a> to unlock Scenarios on the exchange.
              </i>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if discovered_scenarios %}
        <div>
          <h2>
            Unlocked Scenarios
          </h2>
          <p>
            You cannot purchase these Scenarios because you already have access to them.
          </p>
          {% for scenario in discovered_scenarios %}
          <div class="thumbnail">
            <h4 style="margin-bottom: 2px; margin-top: 5px;">
              {% render_scenario_title_with_link scenario %}
            </h4>
            <div>
              Written by
              <a href="{% url 'profiles:profiles_view_profile' scenario.creator.id %}">
                <b>{% user_display scenario.creator %}</b></a>, the {{scenario.creator.profile.get_gm_title}}.
            </div>
            <div>
              Run <b>{{scenario.num_finished_games}}</b> time{{scenario.num_finished_games|pluralize}}. Unlocked <b class="css-text-exchange">{{scenario.num_times_purchased}}</b> time{{scenario.num_times_purchased|pluralize}}.
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
