{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}mainTutorialModal{% endblock %}

{% block modal_title %}
Welcome to the Community Scenario Exchange!
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
    <a href="https://thecontractrpg.com/guide/rules/#scenarios" target="_blank" rel="noopener noreferrer">Scenarios</a>
    are content modules that GMs run as a single-session Contracts. Several free stock Scenarios come with the game, and
    GMs can also write their own and unlock the Scenarios others have written by playing in them.
</p>
<p>
    The <b>Community Scenario Exchange</b> is yet another way to get Scenarios. It lets Scenario writers share their
    content with each other, even if they've never played together.
</p>
    The Scenarios listed here were submitted to the exchange by their authors and given a stamp of quality by a site administrator.
    Each one has at least a 1000 word write-up and has been run as a Contract at least once.
</p>
<p>
    Each Scenario costs 100 Exchange Credits to unlock.
    The only way to earn Exchange Credits currently is to submit Scenarios you've written to the exchange (for 240 credits each).
    In the future, users may be able to earn Exchange Credits in other ways, including by purchasing them or receiving them as part of a premium membership.
</p>
<p>
    Submitting Scenarios to the exchange supports The Contract and will make it possible to continue providing this game
    and web service for free to everyone. Thank you!
</p>
<h5>
    A note about spoilers
</h5>
<p>
  Contractors and their Players go into each Contract completely blind.
    Even a Player knowing that a Scenario takes place in the jungle or favors investigative Contractors can affect their choice of Contractor or decision to participate.
    Because of this, this page reveals as little as possible about the nature of each Scenario.
</p>
{% endblock %}
