{% extends "powers/ps2_create_pages/tutorial/modal_template.html" %}

{% block modal_id %}mainTutorialModal{% endblock %}

{% block modal_title %}
Welcome to the Scenario Exchange!
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<h4>Support The Contract and unlock new Scenarios</h4>
<p>
    The Scenario Exchange is yet another way for GMs to unlock new
    <a href="https://thecontractrpg.com/guide/rules/#scenarios" target="_blank" rel="noopener noreferrer">Scenarios</a>.
    These Scenarios cost <span style="color:violet;">Exchange Credits</span>, which could be obtained by backing our
    <a href="https://www.kickstarter.com/projects/sapientsnake/the-contract-rpg" target="_blank" rel="noopener noreferrer">Kickstarter</a>
    or donating your own Scenarios to the Exchange. Each Scenario costs <span style="color:violet;">100 Exchange Credits</span>
    to unlock.
</p>
<p>
    Donating your Scenarios is a great way to support The Contract if you lack the funds to subscribe to our
    <a href="https://www.patreon.com/ContractRpg" target="_blank" rel="noopener noreferrer">Patreon</a>!
</p>

<h4>How do I donate a Scenario?</h4>
<p>
    Scenario writers can donate a Scenario to the Exchange via its page in their
    <a href="{% url 'games:games_view_scenario_gallery' %}">Scenario Collection</a>.
    In order to submit, the Scenario must have been run as a Contract, and its writeup must be at least 1000 words long.
    Next, The Contract's administrators will vet the writeup to ensure it meets our quality standards and may approve it or ask for revisions.
</p>
<p>
    Once your Scenario is approved, it's added to the Scenario Exchange, and you receive <span style="color:violet;">340 Exchange Credits</span>.
</p>

<h4>
    A note about spoilers
</h4>
<p>
  Contractors and their Players go into each Contract completely blind.
    Even a Player knowing that a Scenario takes place in the jungle or favors investigation can affect their
    choice of Contractor or decision to participate. Because of this, this page reveals as little as possible about the
    nature of each Scenario.
</p>
{% endblock %}
