{% extends "site_base.html" %}

{% load static %}
{% load account_tags %}
{% load games_tags %}


{% block head_title %}Viewing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/new_view_scenario.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'games/scenario_edit_history_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
    {{page_data|json_script:"pageData"}}
    <script src="{% static 'games/scenario_edit_history_scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container" id="vue-app">
    <form action="{% url 'games:scenario_history' scenario.id %}" method="post">
    {% csrf_token %}
    {{form.writeup_id}}
    <div class="text-center">
        <h1>
            Edit History for
            <a href="{% url 'games:games_view_scenario' scenario.id %}">
                {{scenario.title}}
            </a>
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body css-edit-history">
            <table>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Editor
                    </th>
                    <th>
                        Section / Handout
                    </th>
                    <th>
                        Words
                    </th>
                </tr>

                <tr v-for="edit in edits">
                    <td v-text="new Date(edit['created_date']).toLocaleString()">
                    </td>
                    <td>
                        <a v-bind:href="edit['writer_url']" v-text="edit['writer_username']">
                        </a>
                    </td>
                    <td >
                        <span v-text="edit['section_display']"></span>
                        <span class="css-diff-text" v-if="isLatestEdit(edit) && edit['is_deleted']">
                            (Deleted)
                        </span>
                        <span class="css-diff-text" v-if="isLatestEdit(edit) && !edit['is_deleted']">
                            (Current)
                        </span>
                    </td>
                    <td>
                        <div>
                            <span v-text="edit['num_words']"></span>
                            <span class="css-diff-text">
                                (<span v-text="getEditDiff(edit)"></span>)
                            </span>
                        </div>
                        <div v-if="getLastEdit(edit) && ! edit['is_deleted']">
                            <a @click="viewEditDiff" v-bind:data-edit-id="edit['id']">
                                View Edit Difference
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
            <div v-if="diffPrevEdit">
                <h2 class="text-center">Viewing Edit Difference</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="css-edit-header">
                            <b>
                                Previous Edit:
                            </b>
                            <span  v-text="getEditDiffHeader(diffPrevEdit)">

                            </span>
                        </div>
                        <div  class="css-edit-subheader" v-if="!isLatestEdit(diffPrevEdit) && !diffPrevEdit['is_element']">
                            <input type="submit" @click="updateFormId(diffPrevEdit['id'])" value="Revert to this Edit" v-if="viewerCanEdit" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div class="css-edit-header">
                            <b>
                                Selected Edit:
                            </b>
                            <span  v-text="getEditDiffHeader(diffNextEdit)">

                            </span>
                        </div>
                        <div class="css-edit-subheader" v-if="!isLatestEdit(diffNextEdit) && !diffNextEdit['is_element']">
                            <input type="submit" @click="updateFormId(diffNextEdit['id'])"  value="Revert to this Edit" v-if="viewerCanEdit" class="btn btn-default" />
                        </div>
                        <div class="css-edit-subheader" v-if="isLatestEdit(diffNextEdit)">
                            (This is the current version of this section/handout)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="css-section-header" v-text="diffPrevEdit['section_display']">
                        </h2>
                        <div class="css-edit-content css-writeup-contents">
                            <div v-html="diffPrevEdit['content']">
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block">
                    <div class="col-sm-6 visible-xs-block">
                        <div class="css-edit-header">
                            <b>
                                Selected Edit:
                            </b>
                            <span  v-text="getEditDiffHeader(diffNextEdit)">

                            </span>
                        </div>
                        <div class="css-edit-subheader" v-if="!isLatestEdit(diffNextEdit) && !diffNextEdit['is_element']">
                            <input type="submit" @click="updateFormId(diffNextEdit['id'])" value="Revert to this Edit" v-if="viewerCanEdit" class="btn btn-default" />
                        </div>
                        <div class="css-edit-subheader" v-if="isLatestEdit(diffNextEdit)">
                            (This is the current version of this section/handout)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="css-section-header" v-text="diffNextEdit['section_display']">
                        </h2>
                        <div class="css-edit-content css-writeup-contents">
                            <div v-html="diffNextEdit['content']">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}