{% extends "site_base.html" %}

{% load static %}

{% block head_title %}
    Spoil Contract Aftermath?
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Spoil {{scenario.title}}?
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{% url 'games:games_spoil_scenario' scenario.id %}" method="post">
                {% csrf_token %}
                {{ spoil_form }}

                <div class="text-center">
                    <h3>
                        After spoiling this Scenario, you will be able to view the Scenario writeup and run it
                        as a Contract for other Players.
                        <small>
                            <div style="margin-top: 10px; margin-bottom: 10px;">
                                However, you will no longer be able to play in as a Contractor.
                            </div>
                        </small>
                    </h3>
                    <input type="submit" class="btn btn-primary" value="Spoil Away!" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}