{% extends "site_base.html" %}


{% load account_tags %}
{% load static %}
{% load bootstrap %}

{% block extra_scripts %}
{% endblock %}

{% block head_title %}
Submit Scenario
{% endblock %}

{% block body_class %}home{% endblock %}


{% block body_base %}
<div class="container">
    <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-body">
            {% include "_messages.html" %}
            {% if scenario.is_on_exchange %}
                <h2 class="text-center">
                    <a href="{% url 'games:games_view_scenario' scenario.pk %}" >
                        {{scenario.title}}
                    </a>
                     is active on the
                    <a href="{% url 'games:games_scenario_exchange' %}">
                        Scenario Exchange
                    </a>
                </h2>
                <div class="text-center" style="margin-bottom: 25px;">
                    {% if latest_approval.closed_date %}
                            {{scenario.title}} has been on the exchange for {{latest_approval.closed_date|timesince}}.
                    {% endif %}
                    It has been purchased <b class="css-text-exchange">{{scenario.num_times_purchased}}</b> times.
                </div>
                <div  style="max-width: 800px; margin: auto;">
                    <h4 class="text-center">
                        Remove {{scenario.title}} from the exchange?
                        <div>
                            <small>
                                {% if scenario.num_times_purchased_since_last_submission < 4 %}
                                    Because this Scenario has been purchased at fewer than 4 times since its last
                                    submission, your Exchange Credits and Exp will be refunded when you remove it from
                                    the exchange.
                                {% else %}
                                    This Scenario has been purchased by enough people that your Exchange Credits will
                                    not be refunded.
                                {% endif %}
                            </small>
                        </div>
                    </h4>
                    <div style="display: flex; justify-content: center;">

                        <form action="{% url 'games:games_scenario_retract' scenario.pk %}" method="post">
                            {{ form.non_field_errors }}
                            {% csrf_token %}
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            <input class="btn btn-default" type="submit" value="Remove from Exchange" />
                        </form>
                        <a href="{% url 'games:games_view_scenario' scenario.pk %}" class="btn btn-primary" style="margin-left: 20px;">
                            Return to Scenario
                        </a>
                    </div>
                </div>
            {% else %}
                {% if not latest_approval or not latest_approval.is_waiting %}
                    <div class="text-center">
                        <h2>
                            Submit
                            <a href="{% url 'games:games_view_scenario' scenario.pk %}" >
                                {{scenario.title}}
                            </a>
                            to the
                            <a href="{% url 'games:games_scenario_exchange' %}">
                                Scenario Exchange?
                            </a>
                        </h2>
                    </div>

                    <div style="max-width: 800px; margin: auto;">
                        <small>
                            <i>
                                <p>
                                    Once you submit your Scenario to the
                                    <a href="{% url 'games:games_scenario_exchange' %}">
                                        Scenario Exchange,
                                    </a>
                                    it must be approved by
                                    a site administrator to ensure quality.
                                </p>
                                <p>
                                    Once your Scenario is approved, it will appear on the Scenario Exchange and you
                                    will earn {{submission_value}} Exchange Credits to unlock other Scenarios as well as
                                    5 Exp to grant to a Contractor.
                                </p>
                                <p>
                                    Scenarios submitted to the exchange must satisfy the following requirements:
                                    <ul>
                                        <li>The Scenario's writeup must be at least 1000 words.</li>
                                        <li>The Scenario must have been run as a Contract for real Players and Contractors
                                            and entered into the site.</li>
                                        <li>The Scenario must be written for The Contract and use its stats and mechanics.</li>
                                        <li>Scenarios that are <i>primarily</i> AI-written are not allowed.</li>
                                        <li>The Scenario must conform with all the standard
                                            <a href="https://www.thecontractrpg.com/guide/gm-manual/#structure-and-rules" target="_blank" rel="noopener noreferrer">
                                                Scenario Creation rules
                                            </a> and achieve a minimum standard of quality:
                                            <ul>
                                                <li>
                                                    <b>The writeup is complete and runnable.</b> The mission section outlines
                                                    how the Contractors arrive to the situation and notes some paths they
                                                    might take to the objective.
                                                </li>
                                                <li>
                                                    <b>You use the proper heading styles</b> in the writeup so that the table of contents populates properly.
                                                    <div>
                                                        <img src="{% static 'games/images/headermenu.jpg' %}" width="300">
                                                    </div>
                                                </li>
                                                <li>
                                                    Spelling, grammar, and overall level of polish are at an acceptable level.
                                                </li>
                                                <li>
                                                    Bonus points for images, read-aloud narrative, maps, etc.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    Contributing a Scenario to the Community Exchange is subject to The Contract's
                                    <a href="{% url 'info:terms' %}">EULA and Terms and Conditions</a>. You testify that you
                                    own the copyright to the Scenario, including but not limited to all text, images, and
                                    characters within. You grant Sapient Snake LLC the associated rights to publish this
                                    Scenario as they see fit.
                                </p>
                                <p>
                                    In the future, users may be able to purchase Exchange Credits or obtain them via a
                                    premium membership. Submitting a Scenario to the Community Exchange supports The Contract
                                    and allows us to continue offering this game and service for free.
                                </p>
                                <p>
                                    You may remove your Scenario from the Exchange at any time. If your Scenario has not been
                                    purchased at least 4 times, {{submission_value}} Exchange credits will be deducted from your account balance, and the Exp will be refunded.
                                </p>
                            </i>
                        </small>
                    </div>
                    {% if scenario.get_steps_to_receive_improvement|length > 0 or not scenario.objective %}
                        <h4 class="text-danger">This Scenario does not satisfy the requirements to be submitted.</h4>
                        <h5>Requirements:</h5>
                        <ul>
                            {% for reason in scenario.get_steps_to_receive_improvement %}
                            <li>{{reason}}</li>
                            {% endfor %}
                            {% if not scenario.objective %}
                                <li>
                                    Edit your Scenario and fill out the newly required fields, such as the Objective.
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <form action="{% url 'games:games_scenario_submit' scenario.pk %}" method="post">
                            <div>
                                {{form|bootstrap}}
                            </div>
                            <div class="" style="display:flex; justify-content: center;">
                                <div class="" style="margin-right: 10px;">
                                        {{ form.non_field_errors }}
                                        {% csrf_token %}
                                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                        <input class="btn btn-primary" type="submit" value="Submit to Exchange" />
                                </div>
                                <div class="">
                                    <a href="{% url 'games:games_view_scenario' scenario.pk %}" class="btn btn-default" >
                                        No thanks
                                    </a>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <div class="text-center">
                        <h3>You submitted {{scenario.title}} for approval {{latest_approval.created_date|timesince}} ago</h3>
                        <h5>Approval is currently pending.</h5>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <form action="{% url 'games:games_scenario_retract' scenario.pk %}" method="post">
                            {{ form.non_field_errors }}
                            {% csrf_token %}
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            <input class="btn btn-default" type="submit" value="Cancel Submission" />
                        </form>
                        <a href="{% url 'games:games_view_scenario' scenario.pk %}" class="btn btn-primary" style="margin-left: 20px;">
                            Return to Scenario
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% if approvals %}
            <div style="margin-top: 20px;"></div>
            <h4>Submission history</h4>
            {% for approval in approvals %}
            <div class="thumbnail">
                <b>
                    {% if approval.is_removed %}
                        Removed from the exchange
                    {% else %}
                        Submitted
                    {% endif %}
                    {{approval.created_date|timesince}} ago.
                </b>
                {% if approval.closed_date %}
                <div>
                    Closed {{approval.closed_date|timesince}} ago.
                </div>
                {% endif %}
                {% if not approval.is_removed %}
                    <div>
                        <b>
                            Outcome: {{approval.get_status_display}}
                        </b>
                    </div>
                {% endif %}
                {% if approval.feedback %}
                <div>
                    <b>Feedback:</b> {{approval.feedback|linebreaks}}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
