{% extends "site_base.html" %}

{% load static %}
{% load account_tags %}
{% load games_tags %}


{% block head_title %}Viewing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'guide/read_guide_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'games/new_view_scenario.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script>
        {% if show_spoiler_warning %}
            showSpoilers=true;
        {% else %}
            showSpoilers=false;
        {% endif %}
        {% if is_public %}
            scenarioIsPublic=true;
        {% else %}
            scenarioIsPublic=false;
        {% endif %}
    </script>
    <script src="{% static 'games/new_view_scenario_scripts.js' %}"></script>
    <script src="{% static 'guide/read_guide_scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="visible-xs css-expand-button css-no-print">
    <button class="btn btn-default" onclick="toggleToc();">
        <span class="fa fa-bars"></span>
    </button>
</div>
<div class="container-fluid">
    <div id="main-container" class="row">
        <div class="css-toc-sec css-no-print">
            <div id="js-guide-index" class="horizontal-toc">
                <div id="js-guide-sidebar" class="guide-toc">
                    <h3 class="text-center hidden-xs">
                        Scenario Index
                        <hr>
                    </h3>
                    {% include "games/scenarios/scenario_toc.html" %}
                </div>
            </div>
        </div>
        <div class="visible-xs-block" style="height: 20px;"></div>
        <div class="css-guidebook-col">
            <div class="text-center"
                 {% if scenario.is_valid %}
                 class="css-scenario-with-writeup-title"
                 {% endif %}
            >
                <h1 style="margin-bottom: 5px;">
                    {{ scenario.title }}
                </h1>
                <h4 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">
                    A
                    {% if scenario_writeup.is_rivalry or scenario_writeup.is_highlander %}
                    {% if scenario_writeup.is_rivalry %}Rivalry{% endif %} {% if scenario_writeup.is_highlander %}Highlander{% endif %}
                    {% endif %}
                    Scenario written by
                    <a href="{% url 'profiles:profiles_view_profile' scenario.creator.profile.id %}">{% user_display scenario.creator %}</a>
                </h4>
                <h5 style="margin-top: 0px; margin-bottom:5px;">
                    Suggested for
                    <b>{{scenario.min_players}}</b>
                    to
                    <b>{{scenario.max_players}}</b>
                    <b>{{scenario.get_suggested_status_display}}</b>
                    {% if scenario.requires_ringer %}
                    Contractors and a Ringer.
                    {% else %}
                    Contractors.
                    {% endif %}
                    <div class="text-muted">
                        {% include "games/view_scenario_writeup_stats.html" %}
                    </div>
                </h5>
                {% if scenario.summary %}
                <div class="css-scenario-subheader">
                    {{ scenario.summary }}
                </div>
                {% endif %}
            </div>

            {% include "games/scenarios/view_scenario_header.html" %}

            <div class="panel panel-default css-scenario-section-panel">
                    {% include "games/scenarios/scenario_history.html" %}
            </div>
            {% for section in writeup_sections %}
                <div class="panel panel-default css-scenario-section-panel">
                    <div class="panel-heading">
                        <div id="scenario-{{section.section}}" class="css-guide-section"></div>
                        <div role="tab" id="writeup{{section.section}}">
                            <h2>
                                {{section.get_section_display}}
                            </h2>
                        </div>
                    </div>
                    <div class="panel-body" style="overflow: hidden">
                        <div class="css-writeup-contents" id="js-scenario-{{section.section}}-contents">
                            {{section.content|safe}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}