<div class="css-scenario-header-container">
    <ul class="nav nav-pills nav-justified navbar-default">
        {% if viewer_can_edit %}
            <li>
                <a class="btn-primary" href="{% url 'games:games_scenario_edit' scenario.id %}">
                    Edit Scenario
                </a>
            </li>
        {% endif %}
        <li>
            <a class="btn-default" href="{% url 'games:games_view_scenario_gallery' %}">My Scenario Gallery</a>
        </li>
        <li>
            <a class="btn-default" href="{% url 'games:games_create_game' %}">Schedule Contract</a>
        </li>
    </ul>

</div>

