<div class="css-scenario-header-container">
    <ul class="nav nav-pills nav-justified navbar-default">
        {% if viewer_can_edit %}
            <li>
                <a class="btn-primary" href="{% url 'games:games_scenario_edit' scenario.id %}">
                    Edit Scenario
                </a>
            </li>
            <li>
                <a class="btn-default" href="{% url 'games:scenario_history' scenario.id %}">
                    View Edit History
                </a>
            </li>
            {% if not scenario.is_on_exchange and scenario.creator == request.user %}
                <li>
                    <a class="btn-default" href="{% url 'games:games_scenario_submit' scenario.pk %}">Submit to Exchange</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a class="btn-default" href="{% url 'games:games_create_game' %}">Schedule Contract</a>
        </li>
    </ul>

</div>

