<div class="css-scenario-header-container css-no-print">
    <ul class="nav nav-pills nav-justified navbar-default">
        {% if viewer_can_edit %}
            <li>
                <a class="btn-primary" href="{% url 'games:games_scenario_edit' scenario.id %}">
                    Edit
                </a>
            </li>
            <li>
                <a class="btn-default" href="{% url 'games:scenario_history' scenario.id %}">
                    View Edit History
                </a>
            </li>
            {% if  scenario.creator == request.user %}
                <li>
                    <a class="btn-default css-text-exchange" href="{% url 'games:games_scenario_submit' scenario.pk %}">
                        {% if not scenario.is_on_exchange %}
                            Submit to Exchange
                        {% else %}
                            Exchange Status
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a class="btn-default" href="{% url 'games:games_enter_game' %}" >
               Play
            </a>
        </li>
        {% if early_access %}
        <li>
            <a class="btn-default" href="{% url 'games:games_scenario_share' scenario.id %}" >
                Share
            </a>
        </li>
        {% endif %}
    </ul>

</div>

