<span {% if forloop.counter0 < 3 %} class="css-top3" {% else %} class="css-runnerup"{% endif %}>
<li>
    {% block entry_content %}
    {% endblock %}
</li>
</span>
{% if forloop.counter == 3 %}
    <div class=""
         id="collapse-{{entry_name}}}-heading"
         role="button" data-toggle="collapse"
         data-target=".collapse-{{entry_name}}"
         aria-expanded="false"
         aria-controls="collapse-{{entry_name}}">

        <div class="collapse collapse-{{entry_name}} in"
             role="tabpanel"
             aria-labelledby="collapse-{{entry_name}}-heading">
            <a >
                <div style="margin-top: 10px;" class="btn btn-default btn-xs visible-xs-block visible-sm-block text-center"><i>Tap to see more</i></div>
                <div style="margin-top: 10px;" class="visible-md-block visible-lg-block"><i>Click to see more</i></div>
            </a>
        </div>
    </div>
    <div class="panel-collapse collapse collapse-{{entry_name}}"
         role="tabpanel"
         aria-labelledby="collapse-{{entry_name}}-heading">
{% endif %}
{% if forloop.last and forloop.counter > 4 %}
    </div>
{% endif %}
