<div class="css-power-components" style="min-height: 25px; margin-top: -5px;">
    <span
            data-title="Gift cost: {{power.get_gift_cost}}"
            data-original-title="Gift cost: {{power.get_gift_cost}}"
            data-toggle="tooltip"
            class="has-popover css-gift-cost-icon"
            style="border-radius: 3px; background-color: #20252d;display:inline-block; height: 25px; position:relative; top: 3px;" >
        <span style="font-size: 18px; height: 25px; display: inline-block;  padding: 5px;"><b style="position:relative; bottom: 5px;">{{power.get_gift_cost}}</b>
        </span>
    </span>
    <span
            data-title="Gift Type: {{power.modality.name}}"
            data-original-title="Gift Type: {{power.modality.name}}"
            data-toggle="tooltip"
            class="has-popover"
            style=" height: 25px; display: inline-block;">
        {% if power.modality.icon %}
            <img src="{{power.modality.icon.url}}" width="25" height="25" style="vertical-align: text-bottom;">
        {% endif %}
    </span>
    <span
        data-title="Effect: {{power.base.name}}"
        data-original-title="Effect: {{power.base.name}}"
        data-toggle="tooltip"
        class="has-popover"
        style=" height: 25px; display: inline-block;">
        {% if power.base.icon %}
            <img src="{{power.base.icon.url}}" width="25" height="25" style="vertical-align: text-bottom;" >
        {% endif %}
    </span>
    {% if power.shouldDisplayVector %}
        <span
            data-title="Style: {{power.vector.name}}"
            data-original-title="Style: {{power.vector.name}}"
            data-toggle="tooltip"
            class="has-popover"
            style=" height: 25px; display: inline-block;">
            {% if power.vector.icon %}
                <img src="{{power.vector.icon.url}}" width="25" height="25" style="vertical-align: text-bottom;">
            {% endif %}
        </span>
    {% endif %}
    {% if power.get_num_enhancements %}
        <span
            data-html="true"
            aria-hidden="true"
            data-title="{{power.get_enhancement_list|safe}}"
            data-original-title="{{power.get_enhancement_list|safe}}"
            data-placement="bottom"
            data-toggle="tooltip"
            class="css-system-text-enhancement css-mod-summary"
            style=" height: 25px; display: inline-block; position: relative; bottom: 5px;">
                <span style="position:relative; left: 1px; top: 3px; font-size: 18px; line-height: 1;">
                    {{ power.get_num_enhancements }}
                </span>
                <span class="glyphicon glyphicon-menu-up">
                </span>
        </span>
    {% endif %}
    {% if power.get_num_drawbacks %}
        <span
            data-html="true"
            aria-hidden="true"
            data-title="{{power.get_drawback_list|safe}}"
            data-original-title="{{power.get_drawback_list|safe}}"
            data-placement="bottom"
            data-toggle="tooltip"
            class="css-system-text-drawback css-mod-summary"
            style=" height: 25px; display: inline-block;  position: relative; bottom: 5px;">
                <span style="position:relative; left: 1px; top: 3px; font-size: 18px; line-height: 1;">
                    {{ power.get_num_drawbacks }}
                </span>
                <span class="glyphicon glyphicon-menu-down">
                </span>
            </span>
    {% endif %}
    {% if power.required_status == "SEASONED" or power.required_status == "VETERAN" %}
    <div class="{% if show_status_warning %} text-danger {% else %} text-muted {% endif %}"
         data-toggle="tooltip"
         title="Your Contractor must be {{power.get_required_status_display}} to use this Gift. Seasoned = 10+ Victories. Veteran = 25+ Victories."
         style="display: inline-block; margin-left: 3px; position: relative; bottom: 3px;">
        {% if force_show_warnings %}
            Creator
        {% endif %}
        <i> Requires <b>{{power.get_required_status_display}}</b></i>
    </div>
    {% endif %}
</div>
