<div
        class="panel-heading power-badge"
        style="background-color: #353e4b; padding: 10px;"
        id="collapse-power-{{latest_revision.id}}-heading"
         role="button" data-toggle="collapse"
         data-target=".collapse-power-{{latest_revision.id}}"
         aria-expanded="false"
         aria-controls="collapse-power-{{latest_revision.id}}">
    <div >
        {% if power_full.tags.count > 0 %}
        <div class="pull-right" style="margin-left: 5px;">
            <a href="{% url 'powers:powers_create_from_existing_ps2' power_full.id %}"
               class="btn btn-default btn-xs">
                Customize
            </a>
        </div>
        {% endif %}
        {% if show_active_toggle %}
        <div class="pull-right form-inline" style="margin-left: 5px;">
            <form
                    method="post"
                    {% if art_id %}
                        action="{% url 'powers:powers_toggle_active' latest_revision.id is_active art_id %}"
                    {% else %}
                        action="{% url 'powers:powers_toggle_active' latest_revision.id is_active %}"
                    {% endif %}
            >
                {% csrf_token %}
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-xs btn-default {% if is_active %}active disabled {% endif %}" {% if is_active %}active disabled style="color:white;"{% endif %}>
                        On
                    </button>
                    <button class="btn btn-xs btn-default {% if not is_active %}active disabled{% endif %}" {% if not is_active %} active disabled{% endif %}>
                        Off
                    </button>
                </div>
            </form>
            <div style="font-size: 10px; " class="{% if is_active %} text-success {% else %} text-muted {% endif %} text-center">
                {% if is_active %}Stat Bonus+{% else %}Stat Bonus{% endif %}
            </div>
        </div>
        {% endif %}
    <h4 style="font-size: 20px; margin-top: 0px; margin-bottom: 5px;">
        {% if user_can_edit and available_gift and not discovery_page %}
        <a href="{% url 'powers:powers_edit_ps2' power_full.id %}"
           class="btn btn-success btn-xs" >
            <i class="fa fa-plus-square fa-2x"></i>
        </a>
        {% endif %}
        <a href="{% url 'powers:powers_view_power' latest_revision.id %}">{{latest_revision.name}}</a>
        <small>
            <i>
                <div style="margin-left: 5px; display: inline-block">
                    {{latest_revision.flavor_text}}
                </div>
            </i>
        </small>
    </h4>
    {% if discovery_page and power_full.character %}
    <div style="margin-top: -5px; margin-bottom: 5px;">
        <small>
            {% if power_full.character %}
            Used by <a href="{% url 'characters:characters_view' power_full.character_id %}">
            <b>{{ power_full.character.name }}</b>, the {{  power_full.character.concept_summary }}</a>
            {% endif %}
        </small>
    </div>
    {% endif %}
        {% with latest_revision as power %}
            {% include "powers/ps2_view_pages/components_snippet.html" %}
        {% endwith %}
        {% if crafter_blurb %}
        <div>
            <small>
                {{crafter_blurb|safe}}
            </small>
        </div>
        {% endif %}
        {% if not discovery_page %}
        <div class="text-danger">
            <small>
                {% if power_full.character or force_show_warnings %}
                {% if not power_full.at_least_one_gift_assigned %}
                    No Gifts assigned!
                {% elif power_full.get_gift_cost > power_full.reward_count %}
                    Insufficient Rewards assigned! ({{power_full.reward_count }} assigned, {{power_full.get_gift_cost}} required)
                {% endif %}
                {% endif %}
            </small>
        </div>
        {% endif %}
        <div class="collapse collapse-power-{{latest_revision.id}} in"
             role="tabpanel"
             aria-labelledby="collapse-power-{{latest_revision.id}}-heading" >
            <div style="">

                <div class="text-muted" style="display: inline-block;">
                    {{ latest_revision.gift_summary|safe }}
                </div>
                <div class="hidden-xs" style="display: inline-block;text-align: left; width: 120px;">
                    <small class="visible-sm-inline-block text-center"><i>(Tap to show system)</i></small>
                    <small class="visible-md-inline-block visible-lg-inline-block"><i>(Click to show system)</i></small>
                </div>
                <div class="visible-xs-block text-center" >
                    <small ><i>(Tap to show system)</i></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div
        class="panel-collapse panel-body collapse collapse-power-{{latest_revision.id}}"
        role="tabpanel"
        aria-labelledby="collapse-power-{{latest_revision.id}}-heading"
        style="padding-top: 0px; padding-bottom: 0px; background-color: #2c323d; ">
    <div  style="padding-top: 5px; padding-bottom: 5px;">
            {% if latest_revision.visibility_requirements %}
                <span
                      class="has-popover pull-left"
                      data-title="{{latest_revision.visibility_requirements}}"
                      data-html="True"
                      data-toggle="tooltip">
                    <span class="glyphicon glyphicon-eye-open"
                          style="margin-right: 6px;"
                          aria-hidden="true"
                    ></span>
                </span>
            {% endif %}
            <span class="css-system-text-user-input">
                <i>{{latest_revision.description|linebreaks}}</i>
                {% if latest_revision.extended_description %}
                    <div style="position: relative; bottom: 8px;">
                        <a id="collapse-ext-desc-{{latest_revision.id}}-heading"
                           role="button" data-toggle="collapse"
                           data-target=".collapse-ext-desc-{{latest_revision.id}}"
                           aria-expanded="false"
                           aria-controls="collapse-ext-desc-{{latest_revision.id}}">
                            <div class="collapse collapse-ext-desc-{{latest_revision.id}} in"
                                 role="tabpanel"
                                 aria-labelledby="collapse-ext-desc-{{latest_revision.id}}-heading">
                                    <i><small>Extend Description</small></i>
                            </div>
                        </a>
                        <div
                                class="panel-collapse collapse collapse-ext-desc-{{latest_revision.id}} css-system-text-user-input text-muted"
                                role="tabpanel"
                                aria-labelledby="collapse-ext-desc-{{latest_revision.id}}-heading" >
                            <i>{{ latest_revision.extended_description |linebreaks}}</i>
                        </div>
                    </div>
                {% endif %}
            </span>
        <hr style="width: 50%; margin-top: 3px; margin-bottom: 8px;">
        <span class="js-render-power-keywords">
                {{latest_revision.system|safe}}
            {% if latest_revision.errata %}
                <div style="position: relative; bottom: 8px; margin-bottom: -5px;">
                    <a id="collapse-errata-{{latest_revision.id}}-heading"
                       role="button" data-toggle="collapse"
                       data-target=".collapse-errata-{{latest_revision.id}}"
                       aria-expanded="false"
                       aria-controls="collapse-errata-{{latest_revision.id}}">
                        <i><small>
                            <i class="fa fa-question-circle fa-lg"></i>
                            Toggle Extended System
                        </small></i>
                    </a>
                    <div
                            class="panel-collapse collapse collapse-errata-{{latest_revision.id}} css-extended-system"
                            role="tabpanel"
                            aria-labelledby="collapse-errata-{{latest_revision.id}}-heading">
                        {{latest_revision.errata|safe}}
                    </div>
                </div>
            {% endif %}
            </span>

    </div>
</div>
