{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}Viewing Power{% endblock %}

{% block body_class %}home{% endblock %}


{% load account_tags %}
{% load power_tags %}
{% load ad_tags %}
{% load static %}
{% load image_tags %}

{% block extra_scripts %}
    {% if power.parent_power.character %}
        {{attribute_value_by_id|json_script:"attributeValueById"}}
        {{ability_value_by_id|json_script:"abilityValueById"}}
        <script src="{% static 'characters/roll_values.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'characters/print_character_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <div class="text-center css-no-print" style="padding-top: 10px; padding-bottom: 10px;">
                <ul class="nav nav-pills nav-justified  css-power-view-buttons">
                    {% if request.user.is_authenticated %}
                    {% if can_edit %}
                        <li>
                            <a href="{% url 'powers:powers_edit_ps2' power.parent_power.id %}" class="btn btn-primary">Edit Gift</a>
                        </li>
                    {% endif %}
                    {% if request.user == power.parent_power.owner %}
                        <li>
                            <a href="{% url 'powers:powers_delete_power' power.parent_power.id %}" class="btn btn-default">Delete Gift</a>
                        </li>
                    {% endif %}
                    {% endif %}
                    <li>
                        <a href="{% url 'powers:powers_create_from_existing_ps2' power.parent_power.id %}" class="btn btn-default">Copy and Edit New</a>
                    </li>
                    <li>
                        <a class="btn btn-default" onclick="window.print()">Print / PDF</a>
                    </li>
                </ul>
            </div>


            <div class="panel panel-default power-badge">
                {% if request.user.is_superuser %}
                Advancement Enhancements:
                <ul>
                    {% for enh in power.get_advancement_enhancements %}

                    <li>
                        {{enh.relevant_enhancement.name}}
                    </li>
                    {% endfor %}
                </ul>
                Advancement Drawbacks:
                <ul>
                    {% for mod in power.get_advancement_drawbacks %}
                    <li>
                        {{mod.relevant_drawback.name}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="panel-heading">
                    <h2 style="margin-bottom: 5px; margin-top: 0px;">
                        {{ power.name }}
                        <small><i>{{ power.flavor_text}}</i></small>
                    </h2>
                    {% include "powers/ps2_view_pages/components_snippet.html" %}
                    <div class="text-danger">
                        <small>
                            {% if power_full.character and not power_full.at_least_one_gift_assigned %}
                                No Gifts assigned!
                            {% elif power_full.character and power_full.get_gift_cost > power_full.reward_count %}
                                {{power_full.reward_count }} Reward{{ power_full.reward_count| pluralize}} assigned
                            {% endif %}
                        </small>
                    </div>
                    <div>
                        <div class="text-muted" >
                            {{ power.gift_summary|safe }}
                        </div>
                        {%if power.private %}
                            <i class="fa fa-user-secret fa-2x" data-toggle="tooltip" data-title="Power is private because it is assigned to a private character."></i>
                        {% endif %}
                        {% if power.parent_power.character %}
                            Used by <a href="{% url 'characters:characters_view' power.parent_power.character.id %}">{{ power.parent_power.character.name }}</a>,
                        {% endif %}
                        {% if power.parent_power.owner %}
                            Created by <a href="{% url 'profiles:profiles_view_profile' power.parent_power.owner.id %}">{% user_display power.parent_power.owner %}</a>.
                        {% endif %}
                        {% if sig_artifacts %}
                        <div>
                            On Signature Item {% for artifact in sig_artifacts %}<a href="{% url 'characters:characters_artifact_view' artifact.id %}">{{artifact.name}}</a>{% endfor %}.
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if power.visibility_requirements %}
                        <span class="has-popover pull-left css-no-print"
                                data-title="{{power.visibility_requirements}}"
                                data-html="True"
                                data-toggle="tooltip">
                            <span class="glyphicon glyphicon-eye-open"
                                  style="margin-right: 6px;"
                                  aria-hidden="true"></span>
                        </span>
                        <div class="has-popover pull-left css-only-print-block">
                                <span class="glyphicon glyphicon-eye-open"
                                      style="margin-right: 6px;"
                                      aria-hidden="true"></span>
                                ({{power.visibility_requirements|safe}})
                        </div>
                        <br class="css-only-print-block">
                    {% endif %}
                        <i class="text-muted">{{ power.description|linebreaks}}</i>
                    <div>
                        {% for image in power.images.all %}
                            {% image_thumb image %}
                        {% endfor %}
                    </div>
                    {% if request.user.is_superuser %}
                    <div style="margin: 5px;">
                        <a href="{% url 'powers:powers_upload_image' power.id %}">
                            <div class="btn btn-default btn-xs">
                                Add/Remove Images
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if power.extended_description %}
                        <div>
                            <a id="collapse-ext-desc-{{power.id}}-heading"
                               role="button" data-toggle="collapse"
                               data-target=".collapse-ext-desc-{{power.id}}"
                               aria-expanded="false"
                               aria-controls="collapse-ext-desc-{{power.id}}">
                                <i><small>Extended Description</small></i>
                            </a>
                            <div
                                    class="panel-collapse collapse collapse-ext-desc-{{power.id}} css-system-text-user-input text-muted"
                                    role="tabpanel"
                                    aria-labelledby="collapse-ext-desc-{{power.id}}-heading" >
                                <i>{{ power.extended_description |linebreaks}}</i>
                            </div>
                        </div>
                    {% endif %}
                    <hr style="width: 50%;">
                    <div class="js-render-power-keywords">
                        {{ power.system|safe }}
                        {% if power.errata %}
                        <div>
                            <a id="collapse-errata-{{power.id}}-heading"
                               role="button" data-toggle="collapse"
                               data-target=".collapse-errata-{{power.id}}"
                               aria-expanded="false"
                               aria-controls="collapse-errata-{{power.id}}">
                                <i><small>
                                    <i class="fa fa-question-circle fa-lg"></i>
                                    View Extended System
                                </small></i>
                            </a>
                            <div
                                    class="panel-collapse collapse collapse-errata-{{power.id}} css-extended-system"
                                    role="tabpanel"
                                    aria-labelledby="collapse-errata-{{power.id}}-heading">
                                <div style="padding-top: 10px;">
                                    {{power.errata|safe}}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    {% if power_full %}
                    <span class="css-no-print">
                        <hr>
                        <a id="collapse-history-{{power.id}}-heading"
                               role="button" data-toggle="collapse"
                               data-target=".collapse-history-{{power.id}}"
                               aria-expanded="false"
                               aria-controls="collapse-history-{{power.id}}">
                            <h5>View Edit History</h5>
                        </a>
                        <div
                                    class="panel-collapse collapse collapse-history-{{power.id}} {% if power.id != power_list.0.id %}in{% endif %}"
                                    role="tabpanel"
                                    aria-labelledby="collapse-history-{{power.id}}-heading">
                            {% include "powers/power_view_history_snippet.html" %}
                        </div>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row css-no-print">
        {% render_fake_ad request.user %}
    {% if related_gifts %}
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center" style="margin-top: 10px;">
                Community
                {% if related_component.icon %}<img src="{{related_component.icon.url}}" width="30" height="30" >{% endif %}{{related_component.name}} Gifts
            </h2>
            {% for power_full in related_gifts %}
                {% if power_full.pk != power.parent_power.pk %}
                    {% discovery_power_badge power_full %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if stock_gifts %}
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center" style="margin-top: 10px;">
                Stock
                {% if related_component.icon %}<img src="{{related_component.icon.url}}" width="30" height="30" >{% endif %}{{related_component.name}} Gifts
            </h2>
            {% for power_full in stock_gifts %}
                {% if power_full.pk != power.parent_power.pk %}
                    {% discovery_power_badge power_full %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}