{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}Viewing Power{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

{% load account_tags %}
{% load power_tags %}
{% load static %}

{% block extra_scripts %}
    {% if power.parent_power.character %}
        {{attribute_value_by_id|json_script:"attributeValueById"}}
        {{ability_value_by_id|json_script:"abilityValueById"}}
        <script src="{% static 'characters/roll_values.js' %}"></script>
    {% endif %}
{% endblock %}

<div class="container">
    <div class="text-center" style="padding-top: 10px; padding-bottom: 10px;">
        <ul class="nav nav-pills nav-justified  css-power-view-buttons">
            {% if request.user.is_authenticated %}
            {% player_can_edit_power power request.user as can_edit %}
            {% if can_edit %}
            <li>
                <a href="{% url 'powers:powers_edit_ps2' power.parent_power.id %}" class="btn btn-primary">Edit Power</a>
            </li>
            {% endif %}
            {% if request.user == power.parent_power.owner %}
            <li>
                <a href="{% url 'powers:powers_delete_power' power.parent_power.id %}" class="btn btn-default">Delete Power</a>
            </li>
            {% endif %}
            {% endif %}
            <li>
                <a href="{% url 'powers:powers_create_from_existing_ps2' power.parent_power.id %}" class="btn btn-default">Copy and Edit New</a>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="margin-bottom: 5px; margin-top: 0px;">
                {{ power.name }}
                <small><i>{{ power.flavor_text}}</i></small>
            </h2>
            {% include "powers/ps2_view_pages/components_snippet.html" %}
            <div>
                {%if power.private %}
                    <i class="fa fa-user-secret fa-2x" data-toggle="tooltip" data-title="Power is private because it is assigned to a private character."></i>
                {% endif %}
                {% if power.parent_power.character %}
                    Used by <a href="{% url 'characters:characters_view' power.parent_power.character.id %}">{{ power.parent_power.character.name }}</a>,
                {% endif %}
                {% if power.parent_power.owner %}
                    Created by <a href="{% url 'profiles:profiles_view_profile' power.parent_power.owner.id %}">{% user_display power.parent_power.owner %}</a>.
                {% endif %}
            </div>
        </div>
        <div class="panel-body">
                <i class="text-muted">{{ power.description|linebreaks}}</i>
            {% if power.extended_description %}
                <div>
                    <a id="collapse-ext-desc-{{power.id}}-heading"
                       role="button" data-toggle="collapse"
                       data-target=".collapse-ext-desc-{{power.id}}"
                       aria-expanded="false"
                       aria-controls="collapse-ext-desc-{{power.id}}">
                        <i><small>Extended Description</small></i>
                    </a>
                    <div
                            class="panel-collapse collapse collapse-ext-desc-{{power.id}} css-system-text-user-input text-muted"
                            role="tabpanel"
                            aria-labelledby="collapse-ext-desc-{{power.id}}-heading" >
                        <i>{{ power.extended_description |linebreaks}}<i/>
                    </div>
                </div>
            {% endif %}
            <hr style="width: 50%;">
            {{ power.system|safe }}
            {% if power.errata %}
                <div>
                    <a id="collapse-errata-{{power.id}}-heading"
                       role="button" data-toggle="collapse"
                       data-target=".collapse-errata-{{power.id}}"
                       aria-expanded="false"
                       aria-controls="collapse-errata-{{power.id}}">
                        <i><small>
                            <i class="fa fa-question-circle fa-lg"></i>
                            Extended System
                        </small></i>
                    </a>
                    <div
                            class="panel-collapse collapse collapse-errata-{{power.id}} css-extended-system"
                            role="tabpanel"
                            aria-labelledby="collapse-errata-{{power.id}}-heading">
                        {{power.errata|safe}}
                    </div>
                </div>
            {% endif %}
            {% if power_full %}
                <hr>
                <a id="collapse-history-{{power.id}}-heading"
                       role="button" data-toggle="collapse"
                       data-target=".collapse-history-{{power.id}}"
                       aria-expanded="false"
                       aria-controls="collapse-history-{{power.id}}">
                    <h5>View Edit History</h5>
                </a>
                <div
                            class="panel-collapse collapse collapse-history-{{power.id}} {% if power.id != power_list.0.id %}in{% endif %}"
                            role="tabpanel"
                            aria-labelledby="collapse-history-{{power.id}}-heading">
                    {% include "powers/power_view_history_snippet.html" %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}