<div class="text-muted">
    <small>
        <i>
            Choose three
        </i>
        <div>
            <button type="button" class="btn btn-primary btn-xs css-section-help" data-toggle="modal" data-target="#tutorialModalLimits">
                ?
            </button>
        </div>
    </small>
</div>
<div class="panel panel-default">
    <div class = "row text-center" data-toggle="tooltip" title='{{tutorial.limits}}'>
        <h2 style="margin-top: 25px;">
            Limits
            <div>
                <small>
                    "This is where I draw the line."
                </small>
            </div>
        </h2>
    </div>
    <div class="panel-body">
        {{ limit_formset.management_form }}
        <div class = "row text-center">
        {% for form in limit_formset %}
            {% if form.initial.selected %}
                {% include "characters/edit_pages/limit_snippet.html" %}
            {% endif %}
        {% endfor %}
        </div>
        <div class = "row text-center">
            <div class="collapse-container">
                <a class="btn btn-default btn-sm wiki-entry-collapsible">Show More</a>
                <div class="collapse-content clearfix"  style="display:none;">
                    <div class="row limit-row">
                    {% for form in limit_formset %}
                        {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="row limit-row">
                        {% endif %}
                        {% if not form.initial.selected %}
                            {% include "characters/edit_pages/limit_snippet.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-10 col-md-offset-1 alert alert-warning limit-warn" role="alert" style="display:none;">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.attributes|safe}}'>
        Attributes
        <small>
            <small>
                <i class="fa fa-question-circle fa-1x"></i>
            </small>
        </small>
    </h2>
    <div class="visible-sm-block visible-xs-block text-center"><small>Tap on each Attribute for more information.</small></div>

    <div class="panel-body">
        <div class="row">
            {{ attribute_formset.management_form }}
            {% for form in attribute_formset %}
                {% if forloop.counter0 == 3 %}
                </div><div class="row">
                {% endif %}
                <div class="col-sm-4" data-toggle="tooltip" title='{{form.initial.attribute.tutorial_text|safe}}'>
                    <b>{{form.value.label|safe}}</b>
                    <span class="css-experience-cost" data-initial-attr-value="{{form.initial.value}}">
                         (
                        <span class="js-experience-cost-value">0</span>
                        Exp )
                    </span>
                    {{form.value}}
                    {{ form.attribute_id}}
                    {{ form.previous_value_id}}
                    <br>
                </div>
                <div class="clearfix visible-xs-block"></div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.abilities|safe}}'>
        Abilities
        <small>
            <small>
                <i class="fa fa-question-circle fa-1x"></i>
            </small>
        </small>
    </h2>
    <div class="visible-sm-block visible-xs-block text-center"><small>Tap on each Ability for more information.</small></div>
    <div class="panel-body">
        <div class="row" id="abilities-forms">
            {{ ability_formset.management_form }}
            {% for form in ability_formset %}
                {% if form.initial.ability_id %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-inline css-ability-form" data-toggle="tooltip" title='{{form.initial.ability_tutorial_text}}'>
                        <span id="ability-form-{{forloop.counter0}}"
                              class="ability-form"
                              data-initial-val="{{form.initial.value}}"
                              data-max-value="{{max_ability_score}}"
                              data-min-value="0">
                            {{ form.value }}
                        </span>
                        {{ form.ability_id }}
                        {{ form.value_id }}
                        <b>{{form.initial.ability_name}}</b>
                        <span class="css-experience-cost">
                             (
                            <span class="js-experience-cost-value">0</span>
                            Exp )
                        </span>
                    </div>
                {% else %}
                    {% include "characters/edit_pages/secondary_ability_snippet.html" %}
                {% endif %}
            {% endfor %}
        </div>
    <br>
    </div>
</div>
{{ source_formset.management_form }}
{% if source_formset and source_formset|length > 0 %}
    {{ source_formset.management_form }}
    <div class="panel panel-default">
        <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.source_edit|safe}}'>
            Source
            <small>
                <small>
                    <i class="fa fa-question-circle fa-1x"></i>
                </small>
            </small>
        </h2>
        <div class="panel-body">
            {% for form in source_formset %}
                <div class="row">
                    {{form.source_id}}{{form.rev_id}}
                    <div class="col-md-2 col-md-offset-4 col-xs-6" data-toggle="tooltip" title='The name of your power source. For example: "Quintessence," "Blood," or "Mana"'>
                        <b>Source Name</b> {{form.name}}
                    </div>
                    <div class="col-md-2 text-center col-xs-6" data-toggle="tooltip" title='The maximum capacity of your Source.'>
                        <b>Capacity</b><br>
                        <span class="source-form"
                              data-initial-val="{{form.initial.value}}"
                              data-max-value="10"
                              data-min-value="1">
                            {{form.value}}
                        </span>
                        <br>
                        <span class="css-experience-cost">
                             (
                            <span class="js-experience-cost-value">0</span>
                            Exp )
                        </span>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% include "characters/edit_pages/section_assets_and_liabilities.html" %}
