{% load bootstrap %}
{% load cache %}


<div class="panel panel-default">
    <h2 class = "text-center" data-toggle="tooltip" title='{{tutorial.core_info|safe}}'>
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#tutorialModal">
            What Makes a Contractor?
        </button>
    </h2>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div id="css-name-field" class="css-essential-field">
                    {{ char_form.name}}
                    <figcaption class="help-block">
                        {{ char_form.name.help_text|safe}}
                    </figcaption>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <span class="css-essential-text"> is a </span>
                <div id="css-concept-field" class="css-essential-field">
                    {{ char_form.concept_summary}}
                    <figcaption class="help-block">
                        {{ char_form.concept_summary.help_text|safe}}
                        {% if not character %}
                            <a id="js-random-archetype-button" class="btn btn-default btn-xs" style="display:inline;">
                                Inspire Me!
                            </a>
                        {% endif %}
                    </figcaption>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
                <span class="css-essential-text"> who will risk </span>
                <div id="css-pronoun-field" class="css-essential-field">
                    {{char_form.pronoun}}
                </div>
                <span class="css-essential-text"> life in the Contracts </span>
                <div class="visible-lg-block css-new-row"></div>
                <span class="css-essential-text"> for a chance to </span>
                <div id="css-ambition-field" class="css-essential-field">
                    {{ char_form.ambition}}
                    <figcaption class="help-block">
                        {{ char_form.ambition.help_text|safe}}
                        {% if not character %}
                            <a id="js-random-ambition-button" class="btn btn-default btn-xs" style="display:inline;">
                                Inspire Me!
                            </a>
                        {% endif %}
                    </figcaption>
                </div>
                <span class="css-essential-text visible-lg-block"> .</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="css-essential-text"> They are </span>
                <div id="css-age-field" class="css-essential-field">
                    {{ char_form.age}}
                    <figcaption class="help-block">
                        {{ char_form.age.help_text|safe}}
                    </figcaption>
                </div>
                <span class="css-essential-text"> years old, and usually appear as</span>
                <div class="visible-sm-block visible-md-block visible-xs-block css-new-row"></div>
                <div id="css-appearance-field" class="css-essential-field">
                    {{ char_form.appearance}}
                    <figcaption class="help-block">
                        {{ char_form.appearance.help_text|safe}}
                    </figcaption>
                </div>
                <span class="css-essential-text visible-md-block visible-lg-block"> .</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 css-essential-cell-setting text-center" style="margin-top: 5px;">
                They are from
                <span class="form-inline">
                    {{char_form.cell}}<span class="visible-sm-inline visible-md-inline visible-lg-inline">,</span>
                </span>
                a world <span id="js-cell-setting-blurb">{{cell.setting_sheet_blurb}}</span>.
            </div>
        </div>
        <div id="js-setting-container" class="row" style="margin-top: 10px;{% if not cell %} display: none;{% endif %}">
            <div class="col-xs-12">
                <div id="js-setting-content" class="col-xs-12 thumbnail expandable-outer js-expandable-collapsed" >
                    {{cell.setting_create_char_info|safe}}
                </div>
            </div>
        </div>
        <div id="js-setting-warning" class="row" style="margin-top: 10px; {% if cell %} display: none;{% endif %}">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="alert alert-info">
                    <h4 class="text-center">
                        <span class="js-contractor-name">
                            Your Contractor
                        </span>
                        has no Playgroup.
                    </h4>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#worldTutorialModal">
                            What are Playgroups?
                        </button>
                    </div>
                    <p>
                        Contractors without a Playgroup live in an isolated parallel dimension of the default setting.
                        They cannot interact with other Contractors between Contracts.
                        You must select a Playgroup for your Contractor before their fourth Contract.
                        <br>
                        When you are finished creating your Contractor, you can
                        <a href="{% url 'cells:cells_find_world' %}" >
                            find a Playgroup
                        </a>
                        or
                        <a href="{% url 'cells:cells_create' %}" >
                            create your own.
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-4 col-xs-6">
                    <div class="css-essential-field" style="margin-top: 15px;">
                        {{ char_form.private | bootstrap}}
                    </div>
                </div>
            {% endif %}
            <div class="col-md-4 col-xs-6">
                <div id="css-tagline-field" class="css-essential-field">
                    {{ char_form.tagline | bootstrap}}
                </div>
            </div>
                {% if charon_coin_form %}
                    <div class="col-md-4 col-xs-12 text-center" style="margin-top: 15px;">
                        <div class="alert alert-info ">
                            <label data-toggle="tooltip" data-placement="bottom" title='{{tutorial.charon_coin}}'>
                                {{ charon_coin_form.spend_coin }} Spend a Charon Coin on this Character
                            </label>
                        </div>
                    </div>
                {% endif %}
                {% if ported_character_form %}
                    <div class="col-md-4 col-xs-12 text-center" style="margin-top: 15px;">
                        <div class="alert alert-info ">
                            <label data-toggle="tooltip" data-placement="bottom" title='Is this Contractor ported from House Games?'>
                                {{ ported_character_form|bootstrap }}
                            </label>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>
{% if character %}
    {% include "characters/edit_pages/edit_character_stats.html" %}
{% else %}
    {% cache 5000 new-character %}
        {% include "characters/edit_pages/edit_character_stats.html" %}
    {% endcache %}
{% endif %}