{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'characters/edit_character_style.css' %}" />
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'characters/edit_character.js' %}"></script>
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block extra_head %}
    {{ attribute_formset.media }}
    {{ char_form.media }}
{% endblock %}

{% block head_title %}
    {% if character %}
        Editing Character
    {% else %}
        Creating a Character
    {% endif %}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% include "characters/edit_pages/secondary_ability_script_snippet.html" %}
{% include "characters/edit_pages/asset_script_snippet.html" %}
{% include "characters/edit_pages/liability_script_snippet.html" %}
<div class="container"><div class="backdropped">
    {{ attribute_formset.about.errors }}
    {{ char_form.about.errors }}
    {% if character %}
        <h1 class = "text-center">Editing {{character.name}}</h1>
        <form action="{% url 'characters:characters_edit' character.id %}" method="post">
        <h4 class = "text-center">If you'd rather assign powers,
            <a href="{% url 'characters:characters_power_picker' character.id %}">Click Here!</a>
        </h4>
    {% else %}
        <h1 class = "text-center">New Character</h1>
        <form action="{% url 'characters:characters_create' %}" method="post">
    {% endif %}
    <div class="row">
        <div class="css-remaining-exp-cont">
            <span data-spy="affix" data-offset-top="110">
                <div class="text-center nav navbar-nav css-remaining-exp">
                    <b>Experience Remaining</b>
                    <h4 class="css-remaining-values">
                        <span id="js-remaining-exp">31</span>
                        <small>
                            (<span id="js-starting-exp">31</span> - <span id="js-spent-exp">0</span>)
                        </small>
                    </h4>
                </div>
            </span>
            <div class="css-fake-height-div">
            </div>
        </div>
    </div>

    {{ char_form.non_field_errors }}
    {{ attribute_formset.non_field_errors }}
    {% csrf_token %}
    <div class="thumbnail">
        <h2 class = "text-center" data-toggle="tooltip" title='{{tutorial.core_info}}'>Core Info</h2>
        <div class="row">
            <div class="col-sm-4">
                {{ char_form.name | bootstrap}}
            </div>
            <div class="col-sm-8">
                {{ char_form.tagline | bootstrap}}
            </div>
        </div>
       <div class="row">
            <div class="col-xs-3">
                {{ char_form.private | bootstrap}}
            </div>
            <div class="col-xs-7">
                {{ char_form.cell | bootstrap}}
            </div>
       </div>
        <div class ="row">
            <div class="col-sm-2">
                {{ char_form.age | bootstrap}}
            </div>
            <div class="col-sm-2">
                {{ char_form.sex | bootstrap }}
            </div>
            <div class="col-sm-8">
                {{ char_form.appearance | bootstrap}}
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ char_form.concept_summary | bootstrap }}
            </div>
            <div class="col-sm-6">
                {{ char_form.ambition | bootstrap }}
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.attributes}}'>
            Attributes
        </h2>
        <div class="row">
            {{ attribute_formset.management_form }}
            {% for form in attribute_formset %}
                {% if forloop.counter0 == 3 %}
                </div><div class="row">
                {% endif %}
                <div class="col-sm-4" data-toggle="tooltip" title='{{form.initial.attribute.tutorial_text}}'>
                    {{form.value | bootstrap}}
                    {{ form.attribute_id}}
                    {{ form.previous_value_id}}
                </div>
                <div class="clearfix visible-xs-block"></div>
            {% endfor %}
        </div>
    </div>
    <div class="thumbnail">
        <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.abilities}}'>
            Abilities
        </h2>
        <div class="row" id="abilities-forms">
            {{ ability_formset.management_form }}
            {% for form in ability_formset %}
                {% if form.initial.ability %}
                    <div class="col-sm-3 form-inline" data-toggle="tooltip" title='{{form.initial.ability.tutorial_text}}'>
                        <span id="ability-form-{{forloop.counter0}}" class="ability-form">
                            {{ form.value }}
                        </span>
                        {{ form.ability_id }}
                        {{ form.value_id }}
                        <b>{{form.initial.ability.name}}</b>
                    </div>
                {% else %}
                    {% include "characters/edit_pages/secondary_ability_snippet.html" %}
                {% endif %}
            {% endfor %}

        </div>
        <br>
    </div>
    <div class="thumbnail">
        <h2 class = "row text-center" data-toggle="tooltip" title='{{tutorial.assets_and_liabilities}}'>
            Assets and Liabilities
        </h2>
        {# asset and liability management forms #}
        {% for formset in asset_formsets %}
            {{ formset.management_form }}
        {% endfor %}
        {% for formset in liability_formsets %}
            {{ formset.management_form }}
        {% endfor %}

        <ul class="nav nav-pills text-center center-pills">
            <li class="active"><a data-toggle="pill" href="#physical">Physical</a></li>
            <li><a data-toggle="pill" href="#background">Background</a></li>
            <li><a data-toggle="pill" href="#mental">Mental/Emotional</a></li>
            <li><a data-toggle="pill" href="#restricted">Restricted</a></li>
        </ul>
        {# TODO: THIS SECTION IS AWFUL AND SLOW. ITERATE AND CHECK LESS #}
        <div class="tab-content">
            <div id="physical" class="tab-pane fade in active">
                <div class="col-md-6">
                    <h3 id="physical-assets">Physical Assets</h3>
                    {% for formset in asset_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_physical %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3 id="physical-flaws">Physical Liabilities</h3>
                    {% for formset in liability_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_physical %}
                                    {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="background" class="tab-pane fade">
                <div class="col-md-6">
                    <h3 id="background-assets">Background Assets</h3>
                        {% for formset in asset_formsets %}
                            {% for form in formset %}
                                {% if form.initial.quirk.is_background %}
                                        {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3 id="background-liabilities">Background Liabilities</h3>
                    {% for formset in liability_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_background %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="mental" class="tab-pane fade">
                <div class="col-md-6">
                    <h3 id="mental-assets">Mental Assets</h3>
                    {% for formset in asset_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_mental %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3 id="mental-liabilities">Mental Liabilities</h3>
                    {% for formset in liability_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_mental %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="restricted" class="tab-pane fade">
                <div class="col-md-6">
                    <h3 id="restricted-assets">Restricted Assets</h3>
                    {% for formset in asset_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_restricted %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3 id="restricted-liabilities">Restricted Liabilities</h3>
                    {% for formset in liability_formsets %}
                        {% for form in formset %}
                            {% if form.initial.quirk.is_restricted %}
                                {% include "characters/edit_pages/quirk_outer_snippet.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class = "row text-center" data-toggle="tooltip" title='{{tutorial.limits}}'>
        <h2>
            Limits
            <br>
            <small>"This is where I draw the line"</small>
        </h2>
        </div>
        {{ limit_formset.management_form }}
        <div class = "row text-center">
        {% for form in limit_formset %}
            {% if form.initial.selected %}
                {% include "characters/edit_pages/limit_snippet.html" %}
            {% endif %}
        {% endfor %}
        </div>
        <div class = "row text-center">
            <div class="collapse-container">
                <a class="btn btn-default btn-sm wiki-entry-collapsible">Show More</a>
                <div class="collapse-content clearfix"  style="display:none;">
                    <div class="row limit-row">
                    {% for form in limit_formset %}
                        {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="row limit-row">
                        {% endif %}
                        {% if not form.initial.selected %}
                            {% include "characters/edit_pages/limit_snippet.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-10 col-md-offset-1 alert alert-warning limit-warn" role="alert" style="display:none;">
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 alert alert-warning limit-warn text-center" role="alert" style="display:none;">
            </div>
        </div>
        <div class="row text-center">
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
        </div>
    </div>
    </form>
 </div>
</div>
{% endblock %}