{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'characters/edit_character_style.css' %}" />
{% endblock %}
{% block extra_scripts %}
    {{unspent_experience|json_script:"expToSpend"}}
    {{exp_costs|json_script:"expCosts"}}
    <script>
        {% if show_tutorial %}
            showTutorial=true;
        {% else %}
            showTutorial=false;
        {% endif %}
    </script>
    {{cell_info|json_script:"cellInfos"}}
    <script src="{% static 'characters/edit_character.js' %}"></script>
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block extra_head %}
    {{ attribute_formset.media }}
    {{ char_form.media }}
{% endblock %}

{% block head_title %}
    {% if character %}
        Editing Character
    {% else %}
        Creating a Character
    {% endif %}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% include "characters/edit_pages/secondary_ability_script_snippet.html" %}
{% include "characters/edit_pages/asset_script_snippet.html" %}
{% include "characters/edit_pages/liability_script_snippet.html" %}
<div class="container">
    {% include "characters/edit_pages/choose_world_modal.html" %}
    {% include "characters/edit_pages/what_is_contractor_modal.html" %}

    {{ attribute_formset.about.errors }}
    {{ char_form.about.errors }}
    {% if character %}
        <h1 class = "text-center">
            Editing
            <span class="js-contractor-name">
                {{character.name}}
            </span>
        </h1>
            <form action="{% url 'characters:characters_edit' character.id secret_key %}" method="post" onsubmit="setFormSubmitting()">
    {% else %}
        <h1 class = "text-center">
            <span class="js-contractor-name">
                New Contractor
            </span>
        </h1>
        <div class="visible-sm-block visible-xs-block text-center"><small>Tap on any element for more information.</small></div>
        <form action="{% url 'characters:characters_create' %}" method="post" onsubmit="setFormSubmitting()">
    {% endif %}
    <div class="row">
        <div class="css-remaining-exp-cont">
            <span data-spy="affix" data-offset-top="60">
                <div class="text-center nav navbar-nav css-remaining-exp"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     title='{{tutorial.experience_edit}}'>
                    <b>Experience Remaining:</b>
                    <span class="css-remaining-values">
                        <span class="js-remaining-exp">150</span>
                        <small>
                            (<span id="js-starting-exp">150</span> <span id="js-spent-exp">0</span>)
                        </small>
                    </span>
                </div>
            </span>
            <div class="css-fake-height-div">
            </div>
        </div>
    </div>
    {% if character %}
        <h4 class = "text-center">
            <a href="{% url 'characters:characters_power_picker' character.id %}">Click Here</a>
            to manage Powers
        </h4>
    {% endif %}

    {{ char_form.non_field_errors }}
    {{ attribute_formset.non_field_errors }}
    {% csrf_token %}
    {% include "characters/edit_pages/edit_character_content.html" %}
    </form>
</div>
{% endblock %}