<div class="quirk-btn-cont">
    {% if quirk.details_field_name %}
        <div class="wiki-entry-collapsible">
    {% else %}
            <div>
    {% endif %}
    <label class="btn btn-outline btn-block quirk-btn btn-{{quirk.is_liability}}-{{quirk.id}}
                 js-quirk-selected
                {% if form.initial.is_selected %}
                    active
                {% endif %}"
           data-toggle="buttons"
            data-initial="{{form.initial.is_selected}}"
            data-liability="{{quirk.is_liability}}">
        <div class="quirk-btn-inner">
            <h4>
                {{form.is_selected}}
                &ensp;
                <b class="js-quirk-value">{{quirk.value|safe}}</b>
                -
                {{quirk.name|safe}}
                <span class="css-experience-cost">
                     (
                    <span class="js-experience-cost-value">0</span>
                    Exp )
                </span>
            </h4>
            <p>
                {{quirk.description|safe}}
                {{quirk.system|safe}}
                {{form.id}}
                {{form.details_id}}
                {% if quirk.eratta %}
                    <span data-toggle="tooltip" title='{{quirk.eratta}}' data-placement="top">
                        <i class="fa fa-question-circle fa-1x"></i>
                    </span>
                {% endif %}
            </p>
        </div>
    </label>
    </div>
    {% if quirk.details_field_name %}
        <div class="collapse-content clearfix quirk-collapse"
             {% if not form.initial.is_selected %}
                style="display:none;"
             {% else %}
                style="display:block;"
             {% endif %}>
            <label class="col-sm-3 text-center quirk-details">
                <b>{{quirk.details_field_name|safe}}</b>
            </label>
            <div class="col-sm-9">
                {{form.details}}
            </div>
        </div>
    {% endif %}
    </div>
<br>