{% extends "site_base.html" %}
{% load hgapp_tags %}
{% load staticfiles %}

{% block head_title %}404{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/403_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="backdropped text-center">
        <h1>
            404 - Not Found
        </h1>
        <h3>
            <small>"I swear it was here during the Game. . ."</small>
        </h3>
        {% gwynn_jpg  "400" %}
        <h4>
            We'll have to <a href="javascript:history.back()">look somewhere else.</a>
        </h4>
    </div>
</div>
{% endblock %}