{% extends "site_base.html" %}
{% load hgapp_tags %}
{% load staticfiles %}

{% block head_title %}500{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/403_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="backdropped text-center">
        <h1>
            500 - Internal Error
        </h1>
        <h3>
            <small>Pobody's Nerfect!</small>
        </h3>
        {% gwynn_png  "500" %}
        <h4>
            <a href="javascript:history.back()">Go back</a> while we work on a fix?
        </h4>
    </div>
</div>
{% endblock %}