{% load i18n %}
{% load account_tags %}
{% load postman_tags %}
{% load hgapp_tags %}
{% load cache %}

{% postman_unread as unread_count %}
<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'profiles:profiles_view_profile' request.user.id %}"><i class="fa fa-user"></i> {% user_display request.user %}</a>
        </li>
        <li>
            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> <span class="visible-xs-inline">Account Settings</span></a>
        </li>
        <li>
            {% if unread_count %}
                <a href="{% url 'postman:inbox' %}"><i class="fa fa-envelope"></i> ({{ unread_count }})</a>
            {% else %}
                <a href="{% url 'postman:inbox' %}"><i class="fa fa-envelope-o"></i></a>
            {% endif %}
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}" class="btn-primary">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>
<ul class="nav navbar-nav pull-left">
    {% cache 500 nav-rules-toc1 guidebook.slug request.user.is_authenticated %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Player's Guide <span class="caret"></span>
        </a>
        <div class="guide-toc">
                {% guide_toc %}
        </div>
    </li>
    {% endcache %}
    {% if request.user.is_authenticated %}
    {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Quick Access <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="btn-primary" href="https://discord.gg/xUZZegYNNy">Visit Discord Server</a>
                </li>
                <li>
                    <a href="{% url 'games:games_looking_for_game' %}">
                        Looking for Game
                    </a>
                </li>
                <li>
                    <a href="{% url 'info:leaderboard' %}">
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="{% url 'characters:characters_create'%}">Create a Contractor</a>
                </li>
                <li>
                    <a href="{% url 'powers:powers_stock'%}">View Stock Gifts</a>
                </li>
                <li>
                    <a href="{% url 'powers:powers_create'%}">Create a Gift</a>
                </li>
                <li>
                    <a href="{%url 'pinax_blog:blog' %}">
                         News and Updates
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
