{% load i18n %}
{% load account_tags %}
{% load postman_tags %}
{% load hgapp_tags %}
{% load cache %}

{% postman_unread as unread_count %}
<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'profiles:profiles_view_profile' request.user.id %}"><i class="fa fa-user"></i> {% user_display request.user %}</a>
        </li>
        <li>
            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> </a>
        </li>
        <li>
            {% if unread_count %}
                <a href="{% url 'postman:inbox' %}"><i class="fa fa-envelope"></i> ({{ unread_count }})</a>
            {% else %}
                <a href="{% url 'postman:inbox' %}"><i class="fa fa-envelope-o"></i></a>
            {% endif %}
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}" class="btn-primary">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>
<ul class="nav navbar-nav pull-left">
    {% cache 500 nav-rules-toc %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Game Rules <span class="caret"></span>
        </a>
        {% article_toc 'rules' %}
    </li>
    {% endcache %}
    {% if request.user.is_authenticated %}
        <form class="navbar-form navbar-left" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}" style="max-width: 98%;">
                <div class="input-group">
                  <input type="search" class="form-control search-query" style="width: 150px;" name="q" placeholder="{% spaceless %}
                    {% trans "Search Guide" %}
                  {% endspaceless %}" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="fa fa-search"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
        </form>
    {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Quick Access <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'characters:characters_create'%}">Create a Contractor</a>
                </li>
                <li>
                    <a href="{% url 'powers:powers_stock'%}">View Stock Powers</a>
                </li>
                <li>
                    <a href="{% url 'powers:powers_create'%}">Create a Power</a>
                </li>
                <li>
                    <a href="https://discord.gg/xUZZegYNNy">Visit Discord Server</a>
                </li>
                <li>
                    <a href="https://www.reddit.com/r/TheContract/">Visit Subreddit</a>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
