{% load i18n %}
<div class="text-center">
    <a href="/wiki/Rules/99-further-reading/a-website/" >About Us</a>
    -
    <a href="https://forms.gle/JjpWcz8QpfurrK8A7">Send Feedback or Report a Bug</a>
    -
    <a href="https://discord.gg/xUZZegYNNy">The Contract on Discord</a>
    -
    <a href="https://www.reddit.com/r/TheContract/">The Contract on Reddit</a>

    <br>
    {% trans "&copy; 2020 The Contract" %}
    -
    By using this website, you agree to the <a href="{% url 'info:terms' %}">
        Terms and Conditions, EULA, and Privacy Policy
    </a>
</div>

