{% load i18n %}
{% load static %}

<div class="text-center css-no-print">
    <a href="/guide/further-reading/#about-us" >About Us</a>
    -
    <a href="https://forms.gle/JjpWcz8QpfurrK8A7">Send Feedback or Report a Bug</a>
    -
    <a href="{%url 'pinax_blog:blog' %}">
        News and Updates
    </a>
    -
    <a class="" href="https://discord.gg/xUZZegYNNy">
        <span>
            <img class="float-left" src="{% static 'overrides/other_graphics/Discord-Logo-Color.svg' %}" style="width: 20px; height: 20px; position: absolute;">
            <span style="padding-left: 22px;"> Join Our Discord Server</span>
        </span>
    </a>
    -
    <a class="" href="https://www.patreon.com/ContractRpg">
        <span>
            <img class="float-left" src="/static/overrides/other_graphics/Digital-Patreon-Logo_FieryCoral.png" style="width: 20px; height: 20px; position: absolute;">
            <span style="padding-left: 22px;"> Support us on Patreon</span>
        </span>
    </a>
    -
    <a href="https://thecontractrpg.square.site/" target="_blank" rel="noopener noreferrer">
        <span class="css-gold-font" style="color: #e1b276; ">
            Buy Merchandise
        </span>
    </a>

    <br>
    {% trans "&copy; 2023 Sapient Snake LLC" %}
    -
    By using this website, you agree to the <a href="{% url 'info:terms' %}">
        Terms and Conditions, EULA, and Privacy Policy.
    Last updated January 8, 2023
    </a>
</div>

