{% extends "site_base.html" %}
{% load hgapp_tags %}
{% load staticfiles %}

{% block head_title %}CSRF token failure{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/403_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="backdropped text-center">
        <h1>
            Forbidden - CSRF Token Failure
        </h1>
        <h3>
            <small>You either logged in and out while editing a form or you have multiple tabs editing the same Contractor.</small>
        </h3>
        {% gwynn_jpg  "403" %}
        <h4>
            <a href="javascript:history.back()">Go back to the form</a> and refresh the page before submitting.
            <br><br>
            Note: This will reset the form to its initial state.
        </h4>
    </div>
</div>
{% endblock %}