{% load staticfiles %}

<div class="css-backgrounded">
    <div class="row css-home-row">
        <div class="col-xs-12 css-transparent-overlay">
            <h2 class="pull-left css-header-title">Contractors</h2>
            <div class="css-header-buttons">
                <a href="{% url 'characters:characters_create' %}" class="btn btn-primary">
                    Create Contractor
                    {% if avail_charon_coins %}
                    <br>
                    <small class="text-center">
                        Charon Coin{{avail_charon_coins|pluralize}}: <b>{{avail_charon_coins | length}}</b>
                    </small>
                    {% endif %}
                </a>
                <a href="{% url 'characters:characters_graveyard' %}" class="btn btn-default">Visit Graveyard</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row css-home-row">
        <div class="col-md-10 col-md-offset-1">
            {% if not living_characters and not dead_characters %}
            <div class="alert alert-warning text-center css-contractor-alert">
                <h3>Who will you become?</h3>
                <p>You haven't made any Contractors yet.</p>
                <br>
                <a href="{% url 'characters:characters_create' %}" class="btn btn-primary btn-lg">Time to change that</a>
            </div>
            {% endif %}
            {% if avail_exp_rewards or avail_improvements %}
            <div class="alert alert-success text-center css-home-alert css-contractor-alert">
                <h4>
                    Allocate Rewards to your Contractors
                </h4>
                {% if avail_exp_rewards %}
                <a href="{% url 'characters:characters_allocate_gm_exp' %}" class="btn btn-primary">
                    Grant {{avail_exp_rewards|length}} Exp Reward{{avail_exp_rewards|pluralize}}
                </a>
                {% endif %}
                {% if avail_improvements %}
                <a href="{% url 'games:games_allocate_improvement_generic' %}" class="btn btn-primary">
                    Grant {{avail_improvements|length}} Improvement{{avail_improvements|pluralize}}
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if living_characters or dead_characters%}
    {% if living_characters %}
        <div class="row css-home-row">
            {% for character in living_characters %}
            {% include "homepage_contractor_badge_snip.html" %}
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row css-home-row">
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if dead_characters %}
        <a class="wiki-entry-collapsible">
            <div class=" css-transparent-overlay">
                <h4 style="padding: 10px;">Deceased Contractors</h4>
            </div>
        </a>
        <div class="collapse-content clearfix" style="display:none;">
            {% for character in dead_characters %}
                {% include "homepage_contractor_badge_snip.html" %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>
