{% load staticfiles %}

<div class="css-backgrounded">
    <div class="row css-home-row">
        <div class="col-xs-12 css-transparent-overlay">
            <h2 class="pull-left css-header-title">Contracts</h2>
            <div class="css-header-buttons">
                <div class="visible-xs-block clearfix"></div>
                <a href="{% url 'games:games_enter_game' %}" class="btn btn-primary">
                    Enter Contract
                </a>
                <a href="{% url 'games:games_looking_for_game' %}" class="btn btn-default">
                    Find Contract
                </a>
                <a class="btn btn-default" href="{% url 'games:games_view_scenario_gallery' %}">
                    Scenario Gallery
                </a>
            </div>
        </div>
    </div>
    <div class="row css-home-row">
        {% if active_games or attendance_invites_to_confirm or upcoming_games_running or upcoming_games_invited %}
        <br>
        {% endif %}
        <div class="col-md-10 col-md-offset-1">
            {% if active_games %}
            <div class="alert alert-warning text-center css-home-alert">
                <h4>Ongoing Contract!</h4>
                <ul class="nav nav-pills nav-stacked">
                    {% for game in active_games %}
                    <li>
                        <a href="{% url 'games:games_view_game' game.id %}"><b>{{game.title}}</b> at {{game.scheduled_start_time}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if attendance_invites_to_confirm %}
            <div class="alert alert-warning text-center css-home-alert">
                <b>A GM has declared that you attended a Contract</b>
                <p>
                    Confirm or deny your attendance
                </p>
                <ul class="nav nav-pills nav-stacked">
                    {% for invite in attendance_invites_to_confirm %}
                    <li>
                        <a href="{% url 'games:games_confirm_attendance' invite.attendance.id %}">
                            <b>{{invite.attendance.relevant_game.title}}</b> at {{invite.attendance.relevant_game.scheduled_start_time}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if upcoming_games_running %}
            <div class="alert alert-info text-center css-home-alert">
                <b>Upcoming Games You are Running</b>
                <ul class="nav nav-pills nav-stacked">
                    {% for game in upcoming_games_running %}
                    <li>
                        <a href="{% url 'games:games_view_game' game.id %}"><b>{{game.title}}</b> at {{game.scheduled_start_time}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if upcoming_games_invited %}
            <div class="alert alert-success text-center css-home-alert">
                <b>Upcoming Games you can Attend</b>
                <ul class="nav nav-pills nav-stacked">
                    {% for game_invite in upcoming_games_invited %}
                    <li>
                        <a href="{% url 'games:games_view_game' game_invite.relevant_game.id %}">
                            {% if game_invite.attendance %}
                                <b>Attending - </b>
                            {% else %}
                                <b>Invited - </b>
                            {% endif %}
                            <b>
                                {{game_invite.relevant_game.title}}
                            </b> at {{game_invite.relevant_game.scheduled_start_time}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>