<div class="" style="display:flex; margin-top: 5px;">
    {% if not character.is_dead %}
        {% if character.is_rewardable or character.unspent_experience > 2 %}
            <a class="btn btn-success btn-xs text-center" href="{% url 'characters:characters_spend_reward' character.id %}" style="height: 40px; margin-top: 2px;">
                <i class="fa fa-plus-square fa-2x"></i>
                <small style="position:relative; bottom: 3px;">
                    <div>
                        {% if character.is_rewardable %}
                            Gift
                        {% elif character.unspent_experience > 2 %}
                            Exp
                        {% endif %}
                    </div>
                </small>
            </a>
        {% endif %}
    {% endif %}
    {% if  character.is_dead %}
    {% if character.needs_obit %}
    <a class="btn btn-primary btn-xs text-center" href="{%url 'characters:characters_obituary' character.id %}" style="height: 40px; margin-top: 2px;">
        <i class="fa fa-hand-spock-o fa-2x"></i>
        <small style="position:relative; bottom: 3px;">
            <div>
                RIP
            </div>
        </small>
    </a>
    {% endif %}
    {% endif %}
    <a href="{% url 'characters:characters_view' character.id %}" style="flex:1;">
        <div >
            <div>
                <h4 class="" style="display:inline-block; margin-bottom:0px; margin-top: 4px; margin-left: 7px;">
                    {{character.name}}
                    <div>
                        <small>The {{ character.concept_summary}} {% if character.paradigm %} {{ character.paradigm}} {% endif %}</small>
                    </div>
                </h4>
                <div style="padding-top: 5px;">
                </div>
            </div>
        </div>
    </a>
</div>