{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load account_tags %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/homepage_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <br>
     <div class="upper-section css-backgrounded" style="background-image: url({% static 'overrides/art/doors_bg.jpg' %});">
         <br>
    <div class="text-center">
        <h1>Welcome, {% user_display request.user %} </h1>
        <br>
        {% include "_messages.html" %}
    </div>
    <div class="css-transparent-overlay-dark" style="padding-top: 5px; padding-left: 10px; padding-bottom: 10px;">
        {% with latest_blog_post as post %}
        <h4 class="css-blog-header" style="margin-bottom: 0px;">
            <a href="{%url 'pinax_blog:blog' %}">
                Site News
            </a>
            <small>
                {{ post.published|date:"jS F Y" }}
            </small>
            : <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        {% endwith %}
    </div>
     </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            {% include "homepage_contractors_snip.html" %}
            <br>
            {% include "homepage_powers_snip.html" %}
            <br>
        </div>
        <div class="col-md-6">
            {% include "homepage_games_snip.html" %}
            <br>
            {% include "homepage_world_snip.html" %}
            <br>
        </div>

    </div>
<section>
        <hr>
        <h1 class="text-center">{% blocktrans %}Community{% endblocktrans %}</h1>
        <p class="lead text-center">
            <div class="text-center">
                <a class="btn btn-default btn-lg" href="https://discord.gg/xUZZegYNNy">
                    <div>
                        <img class="float-left" src="/static/overrides/other_graphics/Discord-Logo-Color.svg" style="width: 30px; height: 30px; position: absolute;">
                        <span style="padding-left: 35px;"> Join Our Discord Server</span>
                    </div>
                </a>
                <br class="visible-xs-block ">
                <br class="visible-xs-block ">
                <a href="{% url 'journals:community_journals' %}" class="btn btn-default btn-lg">
                    Read Community Journals
                </a>
                <br class="visible-xs-block ">
                <br class="visible-xs-block ">
                <a href="{% url 'info:leaderboard' %}" class="btn btn-default btn-lg">
                    View Leaderboard
                </a>
            </div>
        </p>
        <div class="feature-columns">
            <div>
                <h3>New Players</h3>
                 {% if new_players %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for player in new_players %}
                            <li><a href="{% url 'profiles:profiles_view_profile' player.id %}">{{ player.username }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <h3>New Characters</h3>
                 {% if new_characters %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for character in new_characters %}
                            <li><a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <h3>New Powers</h3>
                 {% if new_powers %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for power in new_powers %}
                            <li><a href="{% url 'powers:powers_view_power_full' power.id %}">({{power.base.name}}) - {{ power.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
</section>
<section>
        <p class="lead text-center">
            {% blocktrans %}
                <a href="https://forms.gle/JjpWcz8QpfurrK8A7">Send Feedback or Report a Bug</a>
            {% endblocktrans %}
        </p>
</section>
</div>
{% endblock %}