{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load account_tags %}
{% load power_tags %}
{% load ad_tags %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/homepage_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <br>
     <div class="upper-section css-backgrounded" style="background-image: url({% static 'overrides/art/doors_bg.jpg' %});">
         <br>
    <div class="text-center">
        <h1>Welcome, {% user_display request.user %} </h1>
        <br>
        {% include "_messages.html" %}
        {% if not email_verified %}
            <div class="alert alert-info text-center css-contractor-alert">
                <h4>Your Email Address is not verified.</h4>
                <p>Your email address {{request.user.email}} is not verified.</p>
                <a href="{% url 'account_resend_confirmation' %}" class="btn btn-primary btn-sm">Resend Confirmation Email</a>
                <a href="{% url 'account_settings' %}" class="btn btn-primary btn-sm">Change Email Address</a>
            </div>
        {% endif %}
    </div>
    <div class="css-transparent-overlay-dark" style="padding-top: 5px; padding-left: 10px; padding-bottom: 10px;">
        {% with latest_blog_post as post %}
        <h4 class="css-blog-header" style="margin-bottom: 0px;">
            <a href="{%url 'pinax_blog:blog' %}">
                Site News
            </a>
            <small>
                {{ post.published|date:"jS F Y" }}
            </small>
            : <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        {% endwith %}
    </div>
     </div>
    {% render_fake_ad request.user %}
    <div class="row">
        <div class="col-md-6">
            {% include "homepage_contractors_snip.html" %}
            <br>
            {% include "homepage_powers_snip.html" %}
            <br>
        </div>
        <div class="col-md-6">
            {% include "homepage_games_snip.html" %}
            <br>
            {% include "homepage_world_snip.html" %}
            <br>
        </div>

    </div>
<section>
        <hr>
        <h1 class="text-center">{% blocktrans %}Community{% endblocktrans %}</h1>
        <p class="lead text-center">
            <div class="text-center">
                <a class="btn btn-default btn-lg" href="https://discord.gg/xUZZegYNNy">
                    <div>
                        <img class="float-left" src="{% static 'overrides/other_graphics/Discord-Logo-Color.svg' %}" style="width: 30px; height: 30px; position: absolute;">
                        <span style="padding-left: 35px;"> Join Our Discord Server</span>
                    </div>
                </a>
                <br class="visible-xs-block ">
                <br class="visible-xs-block ">
                <a href="{% url 'journals:community_journals' %}" class="btn btn-default btn-lg">
                    Recent Journals
                </a>
                <br class="visible-xs-block ">
                <br class="visible-xs-block ">
                <a href="{% url 'info:leaderboard' %}" class="btn btn-default btn-lg">
                    Hall of Fame
                </a>
            </div>
        </p>
        <div class="feature-columns">
            <div>
                <h3>New Players</h3>
                 {% if new_players %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for player in new_players %}
                            <li><a href="{% url 'profiles:profiles_view_profile' player.id %}">{{ player.username }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <h3>New Contractors</h3>
                 {% if new_characters %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for character in new_characters %}
                            <li><a href="{% url 'characters:characters_view' character.id %}">{{ character.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <h3>New Gifts</h3>
                 {% if new_powers %}
                    <ul class="nav nav-pills nav-stacked">
                        {% for power in new_powers %}
                            <li><a href="{% url 'powers:powers_view_power_full' power.id %}">({{power.base.name}}) - {{ power.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
</section>
<section>
    <div class="text-center">
        <a class="btn btn-default btn-lg" href="https://forms.gle/JjpWcz8QpfurrK8A7">Send Feedback or Report a Bug</a>
        <br class="visible-xs-block ">
        <br class="visible-xs-block ">
        <a class="btn btn-default btn-lg" href="https://www.patreon.com/ContractRpg">
            <div>
                <img class="float-left" src="/static/overrides/other_graphics/Digital-Patreon-Logo_FieryCoral.png" style="width: 30px; height: 30px; position: absolute;">
                <span style="padding-left: 35px;"> Support us on Patreon</span>
            </div>
        </a>
    </div>
</section>
</div>
{% endblock %}