{% extends "site_base.html" %}
{% load hgapp_tags %}

{% block footer_base %}{% endblock %}

{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load power_tags %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'overrides/splash_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'overrides/splash_scripts.js' %}"></script>
{% endblock %}


{% block head_title %}The Contract{% endblock %}

{% block body_class %}home{% endblock %}
{% block body_base %}
{% cache 50000 loggedouthome3 %}
<div class="css-main-container">
    <span class="css-art-credit"><small>Art by <a href="https://www.artstation.com/tavaresart">Gwynn Tavares</a></small></span>

    <div id="home" class="css-nav-section">
        <span class="css-art-front-punk" style='background-image:url("{% static 'overrides/art/front-punk.jpg' %}")'></span>
        <span class="css-front-bg-logo" style='background-image:url("{% static 'overrides/branding/logobone_big_alpha.png' %}")'></span>
        <div class="css-head-spacer-sm"></div>

        <div id="css-front-text" class="css-backdropped-text">
            <span class="lead">
                <b>The Contract</b> is a TableTop Role Playing Game about ambitious individuals who agree to go on deadly
                missions in exchange for fantastic Powers. Those who survive are forged into some of the
                most fearsome beings in the multiverse.
            </span>
        </div>
        <div id="css-front-bullets-section" class="css-backdropped-text">
            <div class="text-center">
                <span class="css-subtitle">
                    A modern take on TTRPGs featuring grit, action, and custom powers in a modern setting.
                </span>
            </div>
            <hr>
            <div class="css-front-text-bullets">
                <h4>Test your wits and resourcefulness.</h4>
                <ul>
                    <li>Face challenges that demand outside-the-box problem solving, not min-maxed stats.</li>
                    <li>
                        Will your Contractor rise to the top of
                        <a href="{% url 'info:leaderboard' %}">
                            the Leaderboard
                        </a>
                        or end up in the
                        <a href="{% url 'characters:characters_graveyard' %}">
                            the Graveyard?
                        </a>
                    </li>
                    <li>Streamlined rules and online tools empower GMs to support creative tactics instead of playing calculator. </li>
                </ul>

                <h4>“Adult-schedule-friendly” is an understatement. </h4>
                <ul>
                    <li>Each session is a self-contained mission with great risks and rewards.</li>
                    <li>Play your favorite Contractors no matter who shows up to game night.</li>
                    <li>No more "forever GM." A different player may act as GameMaster (GM) each session.</li>
                    <li>
                        No in-person group? Join an active online community like
                        <a href="https://discord.gg/xUZZegYNNy">
                            our Discord
                        </a>
                        and play as often as you’d like.
                    </li>
                </ul>

                <h4>Play Characters you care about.</h4>
                <ul>
                    <li>Build custom, flavorful Powers for any character concept you can imagine.</li>
                    <li>Play and advance your Contractors session after session.</li>
                    <li>Contractors’ strong, individual ambitions spur exciting interactions and relationships. </li>
                </ul>

                <h4>The easiest full-sized RPG to pick up and play.</h4>
                <ul>
                    <li>The Contract is available 100% free online via this website.</li>
                    <li>Online character sheets and integrated rules mean less memorization and fewer trips to the rulebook.</li>
                    <li>An active online community runs drop-in-friendly sessions almost every day for new and seasoned Players alike. </li>
                </ul>
                <div id="get-started-wrapper" class="text-center">
                    <div id="get-started" class="text-center">
                        <div class="css-subtitle">
                            You don’t need to enter a credit card, read a hefty rulebook,
                            or even assemble your own group.
                            <br>
                            You can play The Contract <b>today</b>.
                        </div>
                        <br>
                        <a class="btn btn-lg btn-warning" href="{% url 'info:how-to-play' %}">Start Playing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}