{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% load hgapp_tags %}



{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    {% block extra_styles %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'overrides/branding/favicon.jpg' %}" />

    {% if not debug %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-193028736-1">
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-193028736-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-48E3C4RNYE"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-48E3C4RNYE');
        </script>
    {% endif %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
    {% block extra_scripts %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block unhidden_navbar %}
    <li>
        <a href="/" class="btn btn-outline" style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; margin-left: 5px;">
            <img src="{% static 'overrides/branding/homed10.png' %}" width="38" height="38" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
            <span style="position: relative; top: 0px;"> Home </span>
        </a>
    </li>
        {% if request.user.is_authenticated and not request.user.game_set.all %}
            <li>
                <a class="css-nav-butt btn-primary" href="{% url 'info:how-to-play' %}">Start Playing</a>
            </li>
        {% elif request.user.is_authenticated %}
            <li class="dropdown hidden-sm">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Quick Access <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'cells:cells_find_world' %}" >
                            Find World
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'games:games_looking_for_game' %}" >
                            Find Game
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'games:games_create_game' %}">
                            Schedule Game
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'info:leaderboard' %}">
                            Leaderboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'games:games_view_scenario_gallery' %}">
                            Scenario Gallery
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'characters:characters_create'%}">Create Contractor</a>
                    </li>
                    <li>
                        <a href="{% url 'characters:characters_graveyard' %}">Visit Graveyard</a>
                    </li>
                    <li>
                        <a href="{% url 'powers:powers_stock'%}">Stock Powers</a>
                    </li>
                    <li>
                        <a href="{% url 'powers:powers_create'%}">Create Power</a>
                    </li>
                    <li>
                        <a href="{%url 'pinax_blog:blog' %}">
                             News and Updates
                        </a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li>
                <a class="css-nav-butt btn-warning" href="{% url 'info:how-to-play' %}">Start Playing</a>
            </li>
        {% endif %}
{% endblock %}