{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    {% block extra_styles %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
    {% block extra_scripts %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block site_brand %}
    <a href="/">
    <img src="{% static 'overrides/branding/logobone_small.png' %}" width="160" height="45" style="margin-top: 3px;">
    </a>
{% endblock %}