{% extends "theme_bootstrap/base.html" %}

{% load static %}
{% load i18n %}
{% load hgapp_tags %}
{% load cache %}



{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    {% block extra_styles %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'overrides/branding/favicon.jpg' %}" />

    {% guidebook_search_blob %}
    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if not debug and not request.user.is_superuser %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNYS07F3ZC"></script>
        <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'G-YNYS07F3ZC');
        </script>
    {% endif %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
    {% block extra_scripts %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block unhidden_navbar %}
    <li class=" {% if not request.user.is_authenticated %}hidden-xs{%endif%}">
        <a href="/" class="btn btn-outline" style="height: 50px; padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 10px; margin-left: 5px;">
            <span style="position: absolute; top: 28px;">Home</span>
            <img src="{% static 'overrides/branding/homed10.png' %}" width="25" height="25" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
        </a>
    </li>
    {% if not request.user.is_authenticated %}
        <li>
            <a class="css-nav-butt btn-warning" href="{% url 'info:learn-to-play' %}">Play<span class="hidden-xs"> for free</span></a>
        </li>
    {% endif%}
    {% cache 500 nav-rules-toc1 guidebook.slug request.user.is_authenticated  %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle css-nav-butt" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Guide <span class="caret"></span>
        </a>
        <div id="js-guide-toc-nav" class="guide-toc">
            <div class="dropdown-menu">
                <div>
                    {% guide_toc %}
                </div>
            </div>
        </div>
    </li>
    {% endcache %}
        {% if request.user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 15px !important;">
                    Quick Nav<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="position: absolute; background-color: #20252d; left: -20px; max-height: 80vh; overflow: auto;">
                    <div class="visible-xs-block clearfix"></div>
                    {% cache 500 nav-contractors request.user.id %}
                        {% characters_nav_list request.user %}
                    {% endcache %}
                    <li class="dropdown-header">
                        Gifts
                    </li>
                    <li>
                        <a href="{% url 'powers:powers_create_ps2'%}">Create Gift</a>
                    </li>
                    <li>
                        <a href="{% url 'powers:powers_stock'%}">Stock Gifts</a>
                    </li>
                    <li class="dropdown-header">
                        Contracts
                    </li>
                    <li>
                        <a href="{% url 'games:games_enter_game' %}" >
                            Enter Contract
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'games:games_view_scenario_gallery' %}">
                            My Scenario Collection
                        </a>
                    </li>
                    {% if request.user.profile.exchange_approver or request.user.is_superuser %}
                        <li>
                            <a href="{% url 'games:games_scenario_approve' %}">
                                Approve Scenarios
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'games:games_scenario_exchange' %}">
                             <i class="fa fa-handshake-o fa-1x css-text-exchange"></i>
                            Scenario Exchange
                        </a>
                    </li>
                    <li class="dropdown-header">
                        Contractors
                    </li>
                    <li>
                        <a href="{% url 'characters:characters_create'%}">Create Contractor</a>
                    </li>
                    <li>
                        <a href="{% url 'characters:characters_graveyard' %}">Graveyard</a>
                    </li>
                    <li class="dropdown-header">
                        Community
                    </li>
                    <li>
                        <a class="" href="https://discord.gg/xUZZegYNNy">
                            <img class="float-left" src="{% static 'overrides/other_graphics/Discord-Logo-Color.svg' %}" style="width: 25px; height: 25px; position: absolute; left: 42px;">
                            <span style="position: relative; left: 25px;">
                                Discord Server
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cells:cells_find_world' %}" >
                            Find Playgroup
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'games:games_looking_for_game' %}" >
                            Find Contract
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'info:leaderboard' %}">
                            Hall of Fame
                        </a>
                    </li>
                    <li class="dropdown-header">
                        Website
                    </li>
                    <li>
                        <a class="" href="https://www.kickstarter.com/projects/sapientsnake/the-contract-rpg" target="_blank" rel="noopener noreferrer">
                            <span>
                                <img class="float-left" src="{% static '/overrides/other_graphics/kickstarter-logo.png' %}" style="width: 20px; height: 20px; position: absolute;">
                                <span style="padding-left: 25px;"> Follow our Kickstarter!</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://thecontractrpg.square.site/" target="_blank" rel="noopener noreferrer">
                            <span class="css-gold-font" style="color: #e1b276; ">
                                Buy Merchandise
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="https://www.patreon.com/ContractRpg" target="_blank" rel="noopener noreferrer">
                            <span>
                                <img class="float-left" src="{% static '/overrides/other_graphics/Digital-Patreon-Logo_FieryCoral.png' %}" style="width: 20px; height: 20px; position: absolute;">
                                <span style="padding-left: 25px;"> Get Early Access</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'pinax_blog:blog' %}">
                             News and Updates
                        </a>
                    </li>
                </ul>
            </li>
        {% else %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 15px;">
        Quick Nav <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" style="position: absolute; background-color: #20252d; left: -20px;">
        <div class="visible-xs-block clearfix"></div>
        <li >
            <a href="{% url 'info:learn-to-play' %}" class="btn-primary">Learn to Play</a>
        </li>
        <li class="dropdown-header">
            Contractors
        </li>
        <li>
            <a href="{% url 'characters:characters_create'%}">Create Contractor</a>
        </li>
        <li>
            <a href="{% url 'characters:characters_graveyard' %}">Graveyard</a>
        </li>
        <li class="dropdown-header">
            Gifts
        </li>
        <li>
            <a href="{% url 'powers:powers_create_ps2'%}">Create Gift</a>
        </li>
        <li>
            <a href="{% url 'powers:powers_stock'%}">Stock Gifts</a>
        </li>
        <li class="dropdown-header">
            Community
        </li>
        <li>
            <a class="" href="https://discord.gg/xUZZegYNNy">
                <img class="float-left" src="{% static 'overrides/other_graphics/Discord-Logo-Color.svg' %}" style="width: 25px; height: 25px; position: absolute; left: 42px;">
                <span style="position: relative; left: 25px;">
                    Discord Server
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'games:games_looking_for_game' %}">
                Looking for Game
            </a>
        </li>
        <li>
            <a href="{% url 'cells:cells_find_world' %}">
                Find a Playgroup
            </a>
        </li>
        <li>
            <a href="{% url 'info:leaderboard' %}">
                Hall of Fame
            </a>
        </li>
        <li class="dropdown-header">
            Website
        </li>
        <li>
            <a class="" href="https://www.kickstarter.com/projects/sapientsnake/the-contract-rpg" target="_blank" rel="noopener noreferrer">
                            <span>
                                <img class="float-left" src="{% static '/overrides/other_graphics/kickstarter-logo.png' %}" style="width: 20px; height: 20px; position: absolute;">
                                <span style="padding-left: 25px;"> Follow our Kickstarter!</span>
                            </span>
            </a>
        </li>
        <li>
            <a class="" href="https://www.patreon.com/ContractRpg">
                <span>
                    <img class="float-left" src="/static/overrides/other_graphics/Digital-Patreon-Logo_FieryCoral.png" style="width: 20px; height: 20px; position: absolute;">
                    <span style="padding-left: 25px;"> Get Early Access</span>
                </span>
            </a>
        </li>
        <li>
            <a href="https://thecontractrpg.square.site/" target="_blank" rel="noopener noreferrer">
                <span class="css-gold-font" style="color: #e1b276; ">
                    Buy Merchandise
                </span>
            </a>
        </li>
        <li>
            <a href="{%url 'pinax_blog:blog' %}">
                News and Updates
            </a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}