commands:
  setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hgapp.settings
container_commands:
  13_memcache:
    command: "memcached -m 300 -I 2m -d -u memcached"
  01_postgres_activate:
    command: "source /var/app/venv/*/bin/activate && sudo amazon-linux-extras enable postgresql10"
  02_postgres_install:
    command: "source /var/app/venv/*/bin/activate && sudo yum install -y postgresql-devel"
  03_install_python_reqs:
    command: "source /var/app/venv/*/bin/activate && pip install -r /var/app/staging/requirements.txt"
  04_install_node_npm:
    command: "sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -"
  05_update_node_npm:
    command: "sudo yum -y install nodejs"
  06_install_npm_reqs:
    command: "npm --prefix /var/app/staging/ install"
  07_run_npm_build:
    command: "npm --prefix /var/app/staging/ run build"
  08_makelog:
    command: "touch /var/app/staging/hgapp/APPNAME.log && chmod 777 /var/app/staging/hgapp/APPNAME.log"
  09_makelog2:
    command: "touch /var/app/staging/hgapp/contract-app.log && chmod 777 /var/app/staging/hgapp/contract-app.log"
  10_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py collectstatic --noinput"
  11_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py migrate --noinput"
    leader_only: true
  12_clear_sessions:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py clearsessions"
    leader_only: true
