commands:
  setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hgapp.settings
container_commands:
  01_postgres_activate:
    command: "source /var/app/venv/*/bin/activate && sudo amazon-linux-extras enable postgresql10"
  02_postgres_install:
    command: "source /var/app/venv/*/bin/activate && sudo yum install -y postgresql-devel"
  03_install_python_reqs:
    command: "source /var/app/venv/*/bin/activate && pip install -r /var/app/staging/requirements.txt"
  04_install_epel:
    command: "yes | sudo amazon-linux-extras install epel"
  05_install_redis:
    command: "yes | sudo amazon-linux-extras install redis6"
  06_start_redis:
    command: "sudo systemctl start redis"
  07_install_node_npm:
    command: "sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -"
  08_update_node_npm:
    command: "sudo yum -y install nodejs"
  09_install_npm_reqs:
    command: "npm --prefix /var/app/staging/ install"
  10_run_npm_build:
    command: "npm --prefix /var/app/staging/ run build"
  11_makelog:
    command: "touch /var/app/staging/hgapp/APPNAME.log && chmod 777 /var/app/staging/hgapp/APPNAME.log"
  12_makelog2:
    command: "touch /var/app/staging/hgapp/contract-app.log && chmod 777 /var/app/staging/hgapp/contract-app.log"
  13_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py collectstatic --noinput"
  14_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py migrate --noinput"
    leader_only: true
  15_clear_sessions:
    command: "source /var/app/venv/*/bin/activate && python /var/app/staging/manage.py clearsessions"
    leader_only: true
  16_memcache:
    command: "memcached -m 500 -I 3m -d -u memcached"
  17_kill_celery:
    command: "sudo pkill -f celery"
