commands:
  set_env:
    command: "source /opt/python/current/env"

container_commands:
  01_install_python_reqs:
    command: "source /opt/python/run/venv/bin/activate && pip install -r /opt/python/ondeck/app/requirements.txt"
  02_install_node_npm:
    command: "sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -"
  03_update_node_npm:
    command: "sudo yum -y install nodejs"
  04_install_npm_reqs:
    command: "npm --prefix /opt/python/ondeck/app/ install"
  05_run_npm_build:
    command: "npm --prefix /opt/python/ondeck/app/ run build"
  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py collectstatic --noinput"
  07_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py migrate --noinput"
    leader_only: true
  08_makelog:
    command: "touch /opt/python/ondeck/app/hgapp/APPNAME.log && chmod 777 /opt/python/ondeck/app/hgapp/APPNAME.log"
  09_memcache:
    command: "memcached -m 400 -d -u memcached"