option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: hgapp.wsgi:application
    NumProcesses: 4
    NumThreads: 15
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "hgapp.settings"
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /static: static
