{% extends "characters/edit_pages/tutorial_modals/modal_template_imageless.html" %}

{% block modal_id %}tutorialModalAbilities{% endblock %}

{% block modal_title %}
  Abilities
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
  Abilities describe your Contractor's special skills and training.
</p>
<p>
  Raising an Ability's rank is cheap (current rating x2 Exp), but it only improves your odds of success at actions
  involving that specific Ability.
</p>
<p>
  An Ability rank of 0 indicates that your Contractor has negligible training or experience in that field. Full-time
  professionals tend to have a rank of 2-3 in relevant Abilities, and those who are among the best in the world have rank 5.
</p>
<p>
  Learn more about each Ability by <span class="visible-xs-inline">tapping on</span><span class="hidden-xs">mousing over</span>
  its name. You can also read the
  <a href="/guide/rules/#abilities" target="_blank" rel="noopener noreferrer">
    Abilities article in the Player's Guide
  </a> for more information.
</p>

<h4>Secondary Abilities</h4>
<p>
  You can invent your own Ability called a Secondary Ability. Secondary Abilities must be more limited in scope than the
  Primary Abilities, but you receive a Difficulty reduction to any non-combat roll that utilizes one.
</p>
<p>
  Examples include visual art, security, internet sleuthing, japanese mythology, cooking, and security systems.
</p>

<h4>What's Useful?</h4>
<p>
  Contracts are deadly missions with all sorts of different objectives. Contractors must creatively use their Attributes, Abilities,
  Equipment, and Gifts to achieve their objective, even if they aren't particularly suited for the challenge at hand.
</p>
<p>
  Some Abilities are tested by the situation at hand (Alertness and Athletics, for example). Other Abilities are unlikely
  to be useful unless you create opportunities to use them (such as Performance or Drive).
</p>
<p>
  Abilities are tools. How useful they are depends on the situation, your preparation, and your creativity.
</p>
{% endblock %}
