{% extends "characters/edit_pages/tutorial_modals/modal_template_imageless.html" %}

{% block modal_id %}tutorialModalAssets{% endblock %}

{% block modal_title %}
  Assets and Liabilities
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
  Assets and Liabilities allow you to further customize your Contractor by defining their background, personality, and other major characteristics.
</p>
<p>
  Assets are beneficial and cost 3x their point value in Exp. Liabilities are negative and credit you 3x their point value in extra Exp.
</p>
<p>
  They are arranged in four categories: Physical, Mental / Emotional, Background, and Restricted. Restricted Assets and Liabilities require your Playgroup Leader's approval to take.
</p>

<h4>
  Traumas and Battle Scars, Conditions and Circumstances.
</h4>
<p>
  Assets and Liabilities grant Traumas, Battle Scars, Conditions, and Circumstances.
  These are ways of tracking long-term statuses that affect your Contractor and are normally obtained as you play.
</p>
<ul class="css-modal-list">
  <li>
    <b>
      Traumas
    </b>
    are specific mental health issues such as phobias, delusions, or compulsions.
    <ul>
      <li>
        Contractors are especially resilient
        to mental health issues and can cure any Trauma by opening up to a therapist (and spending 3 Exp) on a Downtime.
      </li>
      <li>
        Some Gifts also grant the ability to cure Traumas.
      </li>
    </ul>
  </li>
  <li>
    <b>
      Battle Scars
    </b>
    are <i>significant</i> physical issues that do not heal, such as missing fingers, blindness, or having your face covered in scar tissue from a burn.
    <ul>
      <li>
        Battle Scars cannot be cured by mundane means.
      </li>
      <li>
         Some Gifts allow Contractors to cure Battle Scars on themselves or others.
      </li>
    </ul>
  </li>
  <li>
    <b>
      Circumstances
    </b>
    describe how your Contractor fits into the setting. Things like connections, notoriety, wealth, and legal status are
    examples of Circumstances.
    <ul>
      <li>
        Most circumstances can be changed, but it won't happen for free: you must
        plan and execute a Move to change your place in the world.
      </li>
    </ul>
  </li>
  <li>
    <b>
      Conditions
    </b>
    are any additional, significant facts about your Contractor's person, such as dominating personality traits, physical peculiarities, or curses affecting them.
    <ul>
      <li>
        The methods of obtaining or ridding yourself of Conditions depends entirely on each particular Condition.
      </li>
      <li>
         Many Conditions are effectively permanent.
      </li>
    </ul>
  </li>
</ul>
{% endblock %}
