{% extends "characters/edit_pages/tutorial_modals/modal_template_imageless.html" %}

{% block modal_id %}tutorialModalAttributes{% endblock %}

{% block modal_title %}
  Attributes
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
  Attributes define your Contractor's core capabilities.
</p>
<p>
  Increasing an Attribute costs a lot of Exp (5 times its current rank). However, the higher your Attributes, the more likely you are to succeed risky
  or difficult actions. Many other stats are derived from your Attribute ratings, including Mind
  (mental/emotional fortitude), Body (physical fortitude), movement speed, and weight carrying limits.
</p>
<p>
  Raising an Attribute to rank 5 (world-class) allows you to purchase a special kind of Gift called a Mythic Attribute.
  Keeping any Attribute at rank 1 (below average) is risky, but doing so unlocks powerful Assets that give even the
  most bumbling dolts a chance of becoming a viable Contractor.
</p>
<p>
  It's a good idea to spend around 75 Exp on Attributes during character creation.
</p>
<p>
  Learn more about each Attribute by <span class="visible-xs-inline">tapping on</span><span class="hidden-xs">mousing over</span>
  its name.
</p>
{% endblock %}
