{% extends "characters/edit_pages/tutorial_modals/modal_template.html" %}

{% block modal_id %}tutorialModal{% endblock %}

{% block modal_title %}
  What Makes a Contractor?
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<span class="lead">You are exceptional.</span>
<p>
  {{tutorial.modal_1|safe}}
</p>
<br>
<span class="lead">You will sign The Contract.</span>
<p>
  {{tutorial.modal_2|safe}}
</p>
<br>
<span class="lead">Incredible power sleeps within you.</span>
<p>
  {{tutorial.modal_3|safe}}
</p>
<p>
  <div class="text-center">
  You can always <span class="visible-xs-inline">tap</span><span class="hidden-xs">click</span> the
  <a class="btn btn-default btn-xs" style="display:inline;">Inspire Me!</a> buttons to help you get ideas for your concept.
</div>
</p>
{% endblock %}
