{% extends "characters/edit_pages/tutorial_modals/modal_template.html" %}

{% block modal_id %}tutorialModalLimits{% endblock %}

{% block modal_title %}
Limits
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
  Limits describe your Contractor's deepest boundaries. These are the choices and experiences that have the potential to
  harm their mental health.
</p>
<p>
  When one of your Contractor's Limits is violated, you must make a Trauma roll (Mind, Difficulty 8). Failure causes a
  point of Mind damage or the formation of a new Trauma such as a phobia, compulsion, or delusion.
</p>
<p>
  Normal humans share the same three Limits: Anguish, Atrocities, and Murder. However, you're free to swap these for other
  pre-made Limits or create your own with the help of your Playgroup Leader.
</p>
<p>
  Some Limits don't fit certain character concepts. For example, a Contractor who has suffered their entire life shouldn't
  have the Anguish Limit; a soldier or trauma doctor may be hardened against Atrocities; and an unrepentant,
  psychopathic killer wouldn't have the Murder Limit.
</p>
{% endblock %}
