{% extends "characters/edit_pages/tutorial_modals/modal_template.html" %}

{% block modal_id %}tutorialModalSource{% endblock %}

{% block modal_title %}
  Source
{% endblock %}

{% block modal_header %}
{% endblock %}

{% block modal_body %}
<p>
  Most Contractors draw upon some sort of otherworldly energy to activate their Powers, be it mana, rage, electricity,
  or something else.
</p>
<p>
  Here, you can flavor your Source by changing its name. You can also increase its maximum level by spending 2x current
  level Exp.
</p>
{% endblock %}
