{% extends "characters/edit_pages/tutorial_modals/modal_template.html" %}

{% block modal_id %}tutorialModalSupernatural{% endblock %}

{% block modal_title %}
  Transcending Humanity
{% endblock %}

{% block modal_header %}
  This story is just beginning
{% endblock %}

{% block modal_body %}
<p>
  Most Contractors start as normal humans. At the start of their first session, they are imbued into Contractors and go on to awaken their supernatural
  potential by claiming victory on Contracts.
</p>
<p>
  Contractors advance very quickly. Even a single victorious Contract can transform them into any archetype (or creature) you desire.
</p>
<p>
  It is possible to create a Contractor who has had a premature awakening or starts non-human.
  However, doing so requires a solid understanding of the setting and the <a href="{% url 'powers:powers_create_ps2' %}" target="_blank" rel="noopener noreferrer"> Gift Builder</a>.
</p>
<p>
  New Players are encouraged to create Contractors that <i>begin their career</i> as normal humans.
</p>
{% endblock %}
