{% extends "characters/edit_pages/tutorial_modals/modal_template.html" %}

{% block modal_id %}tutorialModalSupernatural{% endblock %}

{% block modal_title %}
  Transcending Humanity
{% endblock %}

{% block modal_header %}
  This is only the beginning
{% endblock %}

{% block modal_body %}

<p>
  Most Contractors start as humans who awaken their supernatural potential by claiming victory on Contracts.
</p>
<p>
  Contractors advance quickly. They will grow into any sort of archetype (or creature) you desire after only a few victories.
</p>
<p>
  It is possible to create a Contractor who starts non-human or who has had a premature awakening. However, doing so requires a solid understanding of the setting and the Gift system.
</p>
<p>
  New Players should create Contractors that <i>begin their career</i> as normal humans.
</p>
{% endblock %}
