{% with experience_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/experience_modal.html" %}
{% endwith %}

{% with concept_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/concept_modal.html" %}
{% endwith %}

{% with supernatural_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/supernatural_modal.html" %}
{% endwith %}

{% with limits_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/limits_modal.html" %}
{% endwith %}

{% with attributes_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/attributes_modal.html" %}
{% endwith %}

{% with attributes_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/abilities_modal.html" %}
{% endwith %}

{% with assets_modal_art_url as modal_art_url %}
  {% include "characters/edit_pages/tutorial_modals/assets_modal.html" %}
{% endwith %}
