
{{new_artifact_formset.management_form}}
{{artifact_gift_selector_formset.management_form}}
<div class="panel-heading">
  <h3 style="margin-top: 5px; margin-bottom: 5px; display: inline-block;">Artifacts</h3>
  <a @click="newArtifact" class="btn btn-default btn-sm" style="display: inline-block; margin-left: 15px; margin-bottom: 8px;">Craft New Artifact</a>
</div>
<div class="panel-body">
  <div v-if="unavailArtifacts.length > 0">
    <div class="alert alert-info">
      <h5 style="margin-top: 0px;">You have crafted Artifacts this Downtime that are no longer in your possession</h5>
      <ul>
        <li v-for="artifact in unavailArtifacts">
          <a v-bind:href="artifact.art_url">{artifact.name}</a>
          <small class="text-muted"><i> (held by
            <a v-bind:href="artifact.holder_url">{artifact.holder}</a>)
          </i></small>
        </li>
      </ul>
      <div style="margin-top: 5px;">
        You can only edit Artifacts you created that are currently in your possession.
      </div>
    </div>
  </div>
  <div v-for="artifact in artifacts" style="background-color: rgb(53, 62, 75); padding: 10px; margin-bottom: 10px;">
    <div v-if="artifact.isPreExisting">
      <h4 style="margin-top: 0px;">
        {artifact.name}
        <small>
          <div v-html="artifact.expCost">
          </div>
        </small>
        <div>
          <small>
            {artifact.description}
          </small>
        </div>
      </h4>
      <div class="text-muted" v-if="artifact.nonRefundablePowerFulls.length > 0">
        <b>Effects previously crafted onto this Artifact:</b>
        <ul>
          <li v-for="power in artifact.nonRefundablePowerFulls">{power.name}</li>
        </ul>
      </div>
    </div>
    <div v-if="!artifact.isPreExisting">
      <h4 style="margin-top: 0px;">
        <div v-text="artifact.name" ></div>
        <small>
          <div v-html="artifact.expCost">
          </div>
        </small>
        <div style="margin-top: 5px;">
          <small >
            <div v-text="artifact.description"></div>
          </small>
        </div>
      </h4>
      {% with new_artifact_formset.prefix as prefix %}
        <label v-bind:for="'id_' + '{{prefix}}-' + artifact.newArtNum + '-name'">Name:</label>
        <input type="text"
               v-bind:name="'{{prefix}}-' + artifact.newArtNum + '-name'"
               class="form-control" required="" maxlength="300"
               v-model="artifact.name"
               v-bind:id="'id_' + '{{prefix}}-' + artifact.newArtNum + '-name'">
        <label v-bind:for="'id_' + '{{prefix}}-' + artifact.newArtNum + '-description'">Description:</label>
        <input type="text"
               v-bind:name="'{{prefix}}-' + artifact.newArtNum + '-description'"
               class="form-control" required="" maxlength="1000"
               v-model="artifact.description"
               v-bind:id="'id_' + '{{prefix}}-' + artifact.newArtNum + '-description'">
        <input type="hidden"
               v-model="artifact.id"
               v-bind:name="'{{prefix}}-' + artifact.newArtNum + '-artifact_id'"
               v-bind:id="'id_' + '{{prefix}}-' + artifact.newArtNum + '-artifact_id'" >
      {% endwith %}
    </div>
    <input type="hidden"
           v-bind:name="'{{artifact_gift_selector_formset.prefix}}-'+artifact.number+'-artifact_id'"
           v-bind:id="'id_' + '{{artifact_gift_selector_formset.prefix}}-' +artifact.number+'-artifact_id'"
           v-model="artifact.id"
    >
    <div  style="margin-top: 10px;">
      <div v-if="artifact.giftOptions.length > 0" style="margin-bottom: 5px;">
        <b >Select Effects to craft into Artifact:</b>
      </div>
      <div v-if="artifact.giftOptions.length == 0" style="margin-bottom: 5px;">
        No Effects available to apply to this Artifact.
      </div>
      <ul class="list-unstyled" style="padding-left: 10px;">
        <li v-for="giftOption in artifact.giftOptions">
          <label v-bind:for="giftOption.name">
            <input type="checkbox" @change="recalculateExpCosts" v-bind:name="artifact.giftOptionsName" v-bind:id="giftOption.name" v-bind:value="giftOption.value" :checked="giftOption.startChecked" v-model="checkedGiftOptions[giftOption.name]">
            {giftOption.label}
          </label>
          <span style="margin-left: 10px;" v-html="giftOption.currentCost"></span>
        </li>
      </ul>
    </div>
  </div>
</div>