{% extends "site_base.html" %}

{% load bootstrap %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'crafting/crafting_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
<!--    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>-->
    <script src="{% static 'crafting/vue.global.prod.js' %}"></script>
    {{page_data|json_script:"pageData"}}
    <script src="{% static 'crafting/crafting.js' %}"></script>
{% endblock %}

{% block head_title %}Crafting{% endblock %}

{% load account_tags %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>{{character.name}} is crafting</h1>
    </div>
    <form action="{% url 'crafting:crafting_craft' character.id %}" method="post" >
        {% csrf_token %}
        <div id="vue-app" class="panel panel-default" style="padding-bottom:15px;">
            {% if consumable_forms %}
                {% include 'crafting/consumables.html' %}
            {% endif %}
            {% if new_artifact_formset %}
                {% include 'crafting/artifacts.html' %}
            {% endif %}
            <div class="panel panel-body">
                <div v-if="Object.entries(consumableNumWouldBeCrafted).length > 0" class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <h4 class="text-center" style="margin-top: 0px;">Submitting will craft</h4>
                            <ul>
                                <li v-for="(quantity, powerName) in consumableNumWouldBeCrafted">
                                    <b>{quantity}</b> {powerName}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-if="Object.entries(consumableNumWouldBeRefunded).length > 0" class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <h4 class="text-center" style="margin-top: 0px;">Submitting will remove</h4>
                            <ul>
                                <li v-for="(quantity, powerName) in consumableNumWouldBeRefunded">
                                    <b>{-quantity}</b> {powerName}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input id="form-submit"
                           {% if not request.user.is_superuser %} disabled {% endif %}
                           class="btn btn-primary btn-md"
                           type="submit"
                           value="Craft Items" />
                    <b>
                        <div v-html="totalExpCost"></div>
                    </b>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
