{% extends "site_base.html" %}

{% load bootstrap %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'crafting/crafting_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
<!--    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>-->
    <script src="{% static 'crafting/vue.global.prod.js' %}"></script>
    {{page_data|json_script:"pageData"}}
    <script src="{% static 'crafting/crafting.js' %}"></script>
{% endblock %}

{% block head_title %}Crafting{% endblock %}

{% load account_tags %}

{% block body_base %}
<script type="text/html" id="empty_new_art_form">
    {{new_artifact_formset.empty_form}}
</script>
<script type="text/html" id="empty_gift_selector_id_form">
    {{artifact_gift_selector_formset.empty_form.artifact_id}}
</script>
<div class="container">
    {% include "crafting/tutorial_modal.html" %}
    <div class="text-center" style="margin-bottom: 10px;">
        <h1>{{character.name}} is crafting</h1>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#tutorialModal">
            Crafting Help
        </button>
    </div>
    <form action="{% url 'crafting:crafting_craft' character.id %}" method="post" >
        {% csrf_token %}
        <div id="vue-app" class="panel panel-default" style="padding-bottom:15px;">
            {% if consumable_forms %}
                {% include 'crafting/consumables.html' %}
            {% endif %}
            {% if new_artifact_formset %}
                {% include 'crafting/artifacts.html' %}
            {% endif %}
            <div class="panel panel-body">
                <div v-if="Object.entries(consumableNumWouldBeCrafted).length + Object.entries(artifactsWouldBeCraftedWithPowers).length > 0" class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <h4 class="text-center" style="margin-top: 0px;">Submitting will craft</h4>
                            <div v-if="Object.entries(consumableNumWouldBeCrafted).length > 0">
                                <b>Consumables:</b>
                                <ul>
                                    <li v-for="(quantity, powerName) in consumableNumWouldBeCrafted">
                                        <b>{quantity}</b> {powerName}
                                    </li>
                                </ul>
                            </div>
                            <div v-if="Object.entries(artifactsWouldBeCraftedWithPowers).length > 0">
                                <b>Artifacts:</b>
                                <ul>
                                    <li v-for="(powers, art) in artifactsWouldBeCraftedWithPowers">
                                        <b>{artifacts.filter(artif=> artif.id === parseInt(art))[0].name}</b>
                                        <ul>
                                            <li v-for="power in powers">
                                                {power}
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="Object.entries(consumableNumWouldBeRefunded).length + Object.entries(artifactsWouldBeRefundedWithPowers).length > 0" class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <h4 class="text-center" style="margin-top: 0px;">Submitting will remove</h4>
                            <div v-if="Object.entries(consumableNumWouldBeRefunded).length > 0">
                                <b>Consumables:</b>
                                <ul>
                                    <li v-for="(quantity, powerName) in consumableNumWouldBeRefunded">
                                        <b>{-quantity}</b> {powerName}
                                    </li>
                                </ul>
                            </div>
                            <div v-if="Object.entries(artifactsWouldBeRefundedWithPowers).length > 0">
                                <b>Artifacts:</b>
                                <ul>
                                    <li v-for="(powers, art) in artifactsWouldBeRefundedWithPowers">
                                        <b>{artifacts.filter(artif=> artif.id === parseInt(art))[0].name}</b>
                                        <ul>
                                            <li v-for="power in powers">
                                                {power}
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input id="form-submit"
                           {% if not request.user.is_superuser %} disabled {% endif %}
                           class="btn btn-primary btn-md"
                           type="submit"
                           value="Craft Items" />
                    <b>
                        <div v-html="totalExpCost"></div>
                    </b>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
