{% load static %}


<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-primary">&times;</span></button>
        <h2 class="modal-title">Crafting</h2>
      </div>
      <div class="modal-body">
        <p>
          <span class="lead">A Crafting Location</span> is a specially-prepared location where your crafting takes place,
          such as your home, laboratory, or wizard’s tower. If you do not have access to your Crafting Location (for
          example, if it is destroyed or you are imprisoned), you cannot craft. If you have the freedom and materials,
          you may spend a Downtime creating a Crafting Location instead of Crafting. Each Contractor receives a single
          free Crafting Location with their first Artifact Crafting or Consumable Crafting Gift.
        </p>
        <p>
          <span class="lead">Consumable Crafting</span> allows you to create powerful single-use items. Each time you
          Craft, you may create one of each Consumable you’re capable of crafting for free. If you invested a Reward
          into a Consumable Crafting Gift this Downtime, you may create an additional one of that Consumable for free.
          You may craft additional Consumables at a cost of 1 Exp each.
        </p>
        <p>
          <span class="lead">Artifact Crafting</span> imbues a supernatural effect into a new or existing Crafted
          Artifact. Artifact Crafting costs Experience equal to the cost of the Gift plus 1 to perform. Investing a Reward
          into an Artifact Crafting Gift grants an additional free crafting of that Artifact this Downtime.
        </p>
        <p>
          <span class="lead">After Crafting,</span> the items you've crafted appear in the "Stock" tab of your
          Contractor's character sheet. There, Artifacts may be renamed and edited, and Consumables and Artifacts may
          be transferred to other Contractors.
        </p>
        <p>
          <i>You may edit this Downtime's crafting until your next Contract. Once the Downtime passes, you can no longer
          refund the items you've crafted.</i>
        </p>
      </div>
      <div class="modal-footer" >
        <div class="text-center">
          <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>