<div class="text-center">
    <i>
        The contents of this section will not appear on the printed / downloaded sheet.
    </i>
</div>

<div>
    <b>Options:</b>
    <div>
        <span class="css-option">
            <input type="checkbox" id="opt-showExtraStats" v-model="showExtraStats">
            <label for="opt-showExtraStats">Show blank extra stat levels</label>
        </span>

        <span class="css-option">
            <input type="checkbox" id="opt-showTutorialText" v-model="showTutorialText">
            <label for="opt-showTutorialText">Show rule references</label>
        </span>
        <span class="css-option">
            <input type="checkbox" id="opt-showFieldValues" v-model="showFieldValues">
            <label for="opt-showFieldValues">Include Battle Scars and Traumas</label>
        </span>
    </div>
    <div>
        {% if new_powers_1 %}
            <span class="css-option">
                <input type="checkbox" id="opt-includeExpandedPowers" v-model="includeExpandedPowers">
                <label for="opt-includeExpandedPowers">Include Expanded Powers</label>
            </span>
        {% endif %}
        {% if artifacts.consumables or artifacts.signature_items or artifacts.avail_crafted_artifacts %}
            <span class="css-option">
                <input type="checkbox" id="opt-includeCraftedItems" v-model="includeCraftedItems">
                <label for="opt-includeCraftedItems">Include Crafted items</label>
            </span>
        {% endif %}
        {% if crafting_artifact_gifts or crafting_consumable_gifts %}
            <span class="css-option">
                <input type="checkbox" id="opt-includeCraftables" v-model="includeCraftables">
                <label for="opt-includeCraftables">Include Craftables</label>
            </span>
        {% endif %}
        <div>
        <span class="css-option">
                <input type="checkbox" id="opt-includeStory" v-model="includeStory">
                <label for="opt-includeStory">Include Story</label>
            </span>
            <span class="css-option">
                <input type="checkbox" id="opt-includeTimeline" v-model="includeTimeline">
                <label for="opt-includeTimeline">Include Timeline</label>
            </span>

        </div>
    </div>

    <div class="text-center" style="margin-top: 10px;">
        <button onclick="window.print()">Print / Download PDF</button>
        <div>
            <small>
                <i>
                    (For PDF, select "print to PDF" printer)
                    <div>
                        Recommended browsers: anything but Safari
                    </div>
                </i>
            </small>
        </div>
    </div>
</div>