{% load static %}
{% load power_tags %}

<div class="css-page-header-sm">
    <span class="css-header-left" v-text="character.name">
    </span>
    <img class="css-sm-logo" src="{% static 'overrides/branding/contract-white.svg' %}">
</div>
<div class="css-page-content">
    <div class="css-double-col">
        <h3 class="text-center" style="margin-top: .1in;">Equipment</h3>
        <div class="css-advancement-text text-center" v-if="showTutorialText">
            Max Encumbrance: Brawn x 15 lbs.
        </div>
        <div class="css-equip" v-html="character.equipment"> </div>
        <div v-for="trophy in character.trophies">
            <div class="css-blank-field">
                <div class="css-field-value css-condition-field">
                    <b>
                        {trophy[0]}
                    </b>
                    <span v-if="showFieldValues" style="margin-left: 5px;">
                        {trophy[1]}
                    </span>
                </div>
            </div>
        </div>
        <div v-for="index in 70">
            <div class="css-field-container">
                <div class="css-blank-field">
                </div>
            </div>
        </div>
    </div>
    <div class="css-double-col">
            {% if new_powers_1 %}
                <h3 class="text-center" style="margin-top: .1in;">Powers</h3>
                <div class="css-col-cont">

                <div {% if new_powers_2|length > 9 %} class="css-double-col" {% endif %}>
                    <div class="padded-col">
                    {% for power_full in new_powers_1 %}
                        {% with power_full.latest_rev as power %}
                            {% include "characters/print_pages/power_mini_badge.html" %}
                        {% endwith %}
                    {% endfor %}
                    </div>
                </div>
                <div {% if new_powers_2|length > 9 %} class="css-double-col" {% endif %}>
                    <div class="padded-col">
                    {% for power_full in new_powers_2 %}
                        {% with power_full.latest_rev as power %}
                            {% include "characters/print_pages/power_mini_badge.html" %}
                        {% endwith %}
                    {% endfor %}
                    </div>
                </div>
                </div>
            {% endif %}

            {% if artifacts.signature_items or artifacts.lost_signature_items %}
            <div>

                <h3 class="text-center">Legendary Artifacts</h3>
                {% for item in artifacts.signature_items %}
                    <div class="css-item">
                        <h5 class="text-center">
                            {{item.name}}
                        </h5>
                        <div class="css-flex-col">
                            {% for power in item.power_set.all %}
                                <div style="width: 47%;">
                                    {% include "characters/print_pages/power_mini_badge.html" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% for item in artifacts.lost_signature_items %}
                <div class="css-item css-item-lost">
                    <h5>
                        {{item.name}} (lost)
                    </h5>
                    <div class="css-flex-col">
                    {% for power in item.power_set.all %}
                        <div style="width: 47%;">
                            {% include "characters/print_pages/power_mini_badge.html" %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if artifacts.consumables %}
                <h3 class="text-center">Consumables</h3>
                {% for consumable in artifacts.consumables %}
                    {% if consumable.quantity > 0 %}
                        <div>
                            {{consumable.name}}
                            <small>
                                Quantity: {{consumable.quantity}}
                            </small>
                        </div>
                        {% with consumable.power_set.first as power %}
                            {% include "characters/print_pages/power_mini_badge.html" %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% if artifacts.avail_crafted_artifacts%}
                <h3 class="text-center">Crafted Artifacts</h3>
                <div class="css-flex-col">
                    {% for item in artifacts.avail_crafted_artifacts %}
                        <div class="css-item">
                            <h5 class="text-center">
                                {{item.name}}
                            </h5>
                            {% for power in item.power_set.all %}
                            {% include "characters/print_pages/power_mini_badge.html" %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
</div>
