{% load static %}
{% load power_tags %}
{% load character_tags %}

<div class="css-page-header-sm">
    <span class="css-header-left" v-text="character.name">
    </span>
    <img class="css-sm-logo" src="{% static 'overrides/branding/contract-white.svg' %}">
</div>
<div class="css-page-content">
    <div class="css-col-cont">
        <h2 class="text-center">So you’re playing The Contract</h2>
        <p>
            Someone sat you down and handed you this pre-made character sheet for The Contract.
            Nice! Give them a high-five for me. Here’s what you should know before you play.
        </p>
        <b>A world much like our own</b>
        <ul>
            <li>
                This game takes place in a setting that’s very similar to modern-day earth. However,  here, unexplainable phenomena (like werewolves, aliens, psychics, and wizards) do exist.
            </li>
            <li>
                No grand conspiracies conceal the supernatural from the public, but it’s not a part of everyday life. Hoaxes and charlatans are commonplace.
            </li>
        </ul>
        <b>You’re playing a Contractor</b>
        <ul>
            <li>Contractors are talented people who have been approached by powerful, mysterious entities called Harbingers and offered an incredible opportunity: you may risk your life on deadly missions (called “Contracts”), and, if you win, you receive incredible powers. </li>
            <li>
                Your Contractor has already gone on a couple of Contracts and has earned two Powers.
                <ul>
                    <li>
                       Other than these Powers, your Contractor is a normal human, not a superhero.
                    </li>
                </ul>
            </li>
            <li>
                Each Contractor is driven by a personal ambition. You choose to risk your life so you can achieve this ambition. You may follow it zealously or compromise your ideals for the greater good.
            </li>
        </ul>
        <b>You’ve never met your coworkers</b>
        <ul>
            <li>
                A different set of Contractors may be invited to each Contract. Today, your character has never met the other Players’ Contractors, so introduce yourself!
                <ul>
                    <li>
                        You may reveal as much or as little about yourself, your powers, and your motivations as you wish.
                    </li>
                    <li>
                        You may not get along with the other Contractors.
                    </li>
                </ul>
            </li>
        </ul>
        <b>You weren’t chosen as a specialist</b>
        <ul>
            <li>This isn’t Ocean’s Eleven, and you weren’t invited for your skills. Contracts are more like escape rooms that you can’t win unless you cheat. They’re tests.</li>
            <li>
                Your abilities, equipment, and powers are your tools. You’ll have to use them creatively to win.
            </li>
        </ul>
        <b>
           Here’s a couple more tips
        </b>
        <ul>
            <li>
                Violence is a risky tactic, and this isn’t an action movie. Getting stabbed or shot is really bad. If you do decide to fight, success hinges on creating advantages like an ambush before the violence begins.
            </li>
            <li>
                This is a challenging game. If you act brain-dead, you will fail, piss off your teammates, and probably die.
                <ul>
                    <li>
                        Don’t play if you’re going to clown around and ruin the game for the other Players.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
