{% extends "site_base.html" %}
{% load static static %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/invite.js' %}"></script>
{% endblock %}

{% block head_title %}
    Invite Players
{% endblock %}

{% block body_class %}home{% endblock %}
{% load tz %}


{% block body_base %}
    <div class="container">
        {{ form.about.errors }}
        <h1 class="text-center">Invite players to <a href="{% url 'cells:cells_view_cell' cell.id %}">{{cell.name}}</a></h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>By username</h2>
                <div class="row">
                    <form action="{% url 'cells:cells_invite_players' cell.id %}" method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <div class="col-xs-4">{{ form.username | bootstrap }}</div>
                    <div class="col-xs-4"><input class="btn btn-primary" type="submit" value="Send Invitation" /></div>
                    </form>
                </div>
                {% if cell.open_invitations %}
                <h4>Open Invitations</h4>
                <ul>
                    {% for invite in cell.open_invitations %}
                    <div style="padding: 5px">
                        <li>
                            <strong><a href="{% url 'profiles:profiles_view_profile' invite.invited_player.profile.id %}">{% user_display invite.invited_player %}</a></strong>
                            {% localtime on %}
                            - {{ invite.created_date }}
                            {% endlocaltime %}
                            <a href="{%url 'cells:cells_revoke_invite' cell.id invite.id%}"><button class="btn btn-xs btn-default">Revoke</button></a>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2>Using invite link</h2>
                <p>Anyone with this link will be able to join your Playgroup.</p>
                <div class="row">
                    <div class="col-xs-1">
                        <a class="btn btn-default" id="copySecretLink"><i class="fa fa-copy"></i> copy</a>
                    </div>
                    <div class="col-xs-9">
                        <input id="secretCopyField"
                               class="form-control"
                               type="text"
                               value="https://{{ request.META.HTTP_HOST }}{% url 'cells:cells_rsvp_invite' cell.id cell.invite_link_secret_key %}"
                               id="secretLinkInput">
                    </div>
                </div>
                </br>
                <p>Sent the invite link to the worng person? Reset the link to create a new URL and invalidate all previous invite links.</p>
                <form action="{% url 'cells:cells_reset_invite_link' cell.id %}" method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <input class="btn btn-primary" type="submit" value="Reset Link"/>
                </form>
                <h4>General RSVP Link</h4>
                <p>
                    <b>
                        {% if cell.allow_self_invites %}
                            This Playgroup allows self-invites.
                        {% else %}
                            Players must be invited to join this Playgroup.
                        {% endif %}
                    </b>
                    You may change this behavior in <a href="{% url 'cells:cells_edit_find_world' cell.id %}">Recruitment Settings</a>
                </p>
                <p>
                    {% if cell.allow_self_invites %}
                        Any Player
                    {% else %}
                        Invited Players
                    {% endif %}
                    can RSVP by visiting this url:
                </p>
                <div class="row">
                    <div class="col-xs-1"><a class="btn btn-default" id="copyRsvpLink"><i class="fa fa-copy"></i> Copy</a></div>
                    <div class="col-xs-4"><input class="form-control" id="rsvpCopyField" type="text" value="https://{{ request.META.HTTP_HOST }}{% url 'cells:cells_rsvp_invite' cell.id %}" id="rsvpLinkInput"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
