{% extends "site_base.html" %}


{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}
    Leave?
{% endblock %}

{% block body_class %}home{% endblock %}
{% load tz %}


{% block body_base %}
    <div class="container">
        <h3 class="text-center">Are you sure you want to leave <a href="{% url 'cells:cells_view_cell' cell_id=cell.id %}">{{cell.name}}</a>?</h3>
        <p class="text-center">All your characters in this cell will be disassociated, saved, and remain active.</p>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <form action="{% url 'cells:cells_leave_cell' cell_id=cell.id %}" method="post">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input class="btn btn-danger" type="submit" value="Leave" />
                </form>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <a href="{% url 'cells:cells_view_cell' cell_id=cell.id %}"><button type="button" class="btn btn-primary">Stay</button></a>
            </div>
        </div>
    </div>
{% endblock %}
