{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Managing Memberships{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>
            Manage Memberships for <a href="{% url 'cells:cells_view_cell' cell.id %}">{{cell.name}}</a>
        </h1>
        <h3><small>
            If you would like to invite players
            <a href="{% url 'cells:cells_invite_players' cell.id %}">
                Click Here
            </a>
        </small></h3>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Members and Roles</h3>
            </div>
            <div class="panel-body">
                {% for form in formset %}
                    <form id="kick-{{form.initial.player_id}}"
                          action="{% url 'cells:cells_kick_player' cell_id=cell.id user_id=form.initial.player_id %}"
                          method="post">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                    </form>
                    <form id="ban-{{form.initial.player_id}}"
                          action="{% url 'cells:cells_ban_player' cell_id=cell.id user_id=form.initial.player_id %}"
                          method="post">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                    </form>
                {% endfor %}
                <form id="manage_form" action="{% url 'cells:cells_manage_members' cell.id %}" method="post">
                    {{ formset.about.errors }}
                    {{ formset.management_form }}
                    {{ formset.non_field_errors }}
                    {% csrf_token %}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    <div class="row">
                        {% for form in formset %}
                        {% if forloop.counter0|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <br>
                            {{form.player_id.as_hidden}}
                            <span class = "lead">{% user_display form.initial.username %} </span>
                            <span>- {{form.initial.role_display}}</span>
                            <div class="text-muted">
                                Last activity: {{form.initial.last_activity|timesince}} ago
                            </div>
                            <div class="form-inline ">
                                Change role: {{form.role}}
                                <span style="margin-left: 10px;">
                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#kick-{{form.initial.username}}">Kick Player</button>
                                </span>
                            </div>
                            <div id="kick-{{form.initial.username}}" class="collapse" style="margin-top: 5px;">
                                <label class="control-label" for="id_reason_banned">Reason (optional)</label>
                                <input type="text"
                                       id="id_reason_banned"
                                       form="ban-{{form.initial.player_id}}"
                                       name="reason_banned"
                                       class="form-control"
                                       style="margin-left: 10px;"/>
                                <div class="text-center" style="margin-bottom: 5px; margin-top: 10px;">
                                    Are you sure?
                                </div>
                                <div class="text-center">
                                <input
                                        form="kick-{{form.initial.player_id}}"
                                        type="submit"
                                        class="btn btn-warning btn-sm"
                                        value="Kick "
                                        style="margin-left: 10px;"
                                />
                                <input
                                        form="ban-{{form.initial.player_id}}"
                                        type="submit"
                                        class="btn btn-danger btn-sm"
                                        value="Ban "
                                        style="margin-left: 10px;"
                                />
                                <button type="button" style="margin-left: 10px;"
                                        class="btn btn-info btn-sm" data-toggle="collapse" data-target="#kick-{{form.initial.username}}">
                                    Never mind
                                </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class = "panel-footer">
                        <input class="btn btn-primary" type="submit" value="Submit Changes" form="manage_form"/>
                    </div>
                </form>
                <div class="panel-body">
                    <h4>Current Role Permissions</h4>
                    {% if can_edit_perms %}
                        To edit role permissions,
                        <a href="{% url 'cells:cells_manage_roles' cell.id %}">
                            click here.
                        </a>
                    {% endif %}
                    <div class="row">
                        {% for role, permissions in perms_by_role.items %}
                            <div class="col-md-4 col-sm-6">
                                <ul class="">
                                    <span class="lead">{{role}}</span>
                                        {% for permission in permissions %}
                                        <li>
                                            {{permission}}
                                        </li>
                                        {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}