{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block head_title %}
    {% if world_event %}
        Editing World Event
    {% else %}
        Post World Event
    {% endif %}
{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block body_class %}
home
{% endblock %}

{% block body_base %}
<div class="container">
    {{ form.about.errors }}
    <h1 class="text-center">
        {% if world_event %}
            Editing World Event
        {% else %}
            New World Event in {{cell.name}}
        {% endif %}
    </h1>
    {% if world_event %}
        <form action="{% url 'cells:cells_edit_world_event' cell.id world_event.id %}" method="post">
    {% else %}
        <form action="{% url 'cells:cells_post_world_event' cell.id %}" method="post">
    {% endif %}
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{form.headline |bootstrap }}
                    {{form.event_description | bootstrap}}
                    {% if world_event %}
                        {{ form.should_delete|bootstrap}}
                    {% endif %}
                    <div class="text-center">
                        <input class="btn btn-primary btn-lg" type="submit" value="Done!" />
                    </div>
                </div>
            </div>
        </form>
</div>
{% endblock %}