{% extends "site_base.html" %}


{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}
    RSVP?
{% endblock %}

{% block body_class %}home{% endblock %}
{% load tz %}


{% block body_base %}
<br>
<div class="container">
    <div class="panel panel-default">
        {% if game %}
            <div class="alert alert-success text-center">
                <b>
                    You have successfully RSVPed to
                    <a href="{% url 'games:games_view_game' game.id %}" target="_blank" rel="noopener noreferrer">
                        {{game.scenario.title}}
                    </a>
                </b>
            </div>
            <h3 class="text-center">
                This Contract takes place in a Playgroup you are not a member of.
            </h3>
            <h2 class="text-center">Would you like to join the Playgroup <a href="{% url 'cells:cells_view_cell' cell_id=cell.id %}" target="_blank" rel="noopener noreferrer">{{cell.name}}</a>?</h2>
            <br>
        {% else %}
            <h3 class="text-center">You have been invited to join  <a href="{% url 'cells:cells_view_cell' cell_id=cell.id %}" target="_blank" rel="noopener noreferrer">{{cell.name}}</a></h3>
            <br>
            <h1 class="text-center">What do you do?</h1>
            <br>
        {% endif %}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
                {% if secret_key %}
                    <form action="{% url 'cells:cells_rsvp_invite' cell_id=cell.id secret_key=secret_key accept='y' %}" method="post">
                {% else %}
                    {% if game %}
                        <form action="{% url 'cells:cells_rsvp_invite_contract' cell_id=cell.id game_id=game.id accept='y' %}" method="post">
                    {% else %}
                        <form action="{% url 'cells:cells_rsvp_invite' cell_id=cell.id accept='y' %}" method="post">
                    {% endif %}
                {% endif %}
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input class="btn btn-primary" type="submit" value="Accept" />
                </form>
            </div>
            <div class="col-xs-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-1">
                {% if secret_key %}
                    <form action="{% url 'cells:cells_rsvp_invite' cell_id=cell.id secret_key=secret_key accept='n' %}" method="post">
                {% else %}
                    <form action="{% url 'cells:cells_rsvp_invite' cell_id=cell.id accept='n' %}" method="post">
                {% endif %}
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input class="btn btn-danger" type="submit" value="Decline" />
                </form>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
