{% if cell.setting_name != cell.name %}
    <h2 class="text-center">{{cell.setting_name}}</h2>
{% endif %}
{% if cell.setting_summary %}
    <div class="lead css-setting-summary">
        {{cell.setting_summary|linebreaks}}
    </div>
{% endif %}
{% if cell.house_rules %}
<h3 class="text-center">House Rules</h3>
<div class="text-center">
    <small>
        Contractors from {{cell.name}}
        <b>
            {% if cell.are_contractors_portable %}
            Are portable, and may play in Contracts in other Playgroups.
            {% else %}
            Are NOT portable, and may NOT visit other Playgroups to participate in Contracts.
            {% endif %}
        </b>
        {% if cell.use_golden_ratio %}
            <div>
                {{ cell.name }} grants an Improvement to GMs who achieve the Golden Ratio.
            </div>
        {% endif %}
    </small>
</div>
<div class="thumbnail expandable-outer js-expandable-collapsed" role="button" style="padding-left: 20px; padding-right: 20px;">
    {{cell.house_rules|safe}}
</div>
{% endif %}
<h3 class="text-center">Full Setting Description</h3>
<div class="thumbnail expandable-outer js-expandable-collapsed" role="button" style="padding-left: 20px; padding-right: 20px;">
    {{cell.setting_description|safe}}
</div>
<div id="allWorldEvents">
    <h3 class="text-center">World Events</h3>
    {% if can_post_world_events %}
        <div class="text-center">
            <a href="{% url 'cells:cells_post_world_event' cell.id %}">Post a new World Event</a>
        </div>
    {% endif %}
    {% for event in world_events %}
        <div id="event-{{event.id}}">
            {% include "cells/world_event_snip.html" %}
        </div>
    {% endfor %}
</div>
