{% load account_tags %}

{% if upcoming_games %}
    <h4 class="text-center">Upcoming Contracts</h4>
    {% for game in upcoming_games %}
        <div class="alert alert-info text-center css-upcoming-game" role="alert">
            <h4 class="text-center" style="display: inline-block; margin-bottom: 0px;">
                <a href="{% url 'profiles:profiles_view_profile' game.gm.id %}">
                    {{game.gm.username}}
                </a>
                will run
                <a href="{% url 'games:games_view_game' game.id %}">
                    {{game.title}}
                </a>
                in {{game.scheduled_start_time|timeuntil}}.
            </h4>
            <div class="clearfix visible-sm-block"></div>
            <a href="{% url 'games:games_view_game' game.id %}">
                (Click to view)
            </a>
        </div>
    {% endfor %}
{% endif %}
{% if world_events %}
    <h2 class="text-center" style="margin-bottom:5px;">Latest World Events</h2>
    <div class="text-center" style="margin-bottom:5px">
        {% if can_post_world_events %}
        <a href="{% url 'cells:cells_post_world_event' cell.id %}">
            <small>Post a new World Event</small>
        </a>
        -
        {% endif %}
        <a id="js-all-world-tab" href="#allWorldEvents" >
            <small>View all World Events</small>
        </a>
    </div>
    {% for event in world_events|slice:":2" %}
        {% include "cells/world_event_snip.html" %}
    {% endfor %}
{% elif can_post_world_events %}
    <h3 class="text-center">{{cell.name}} does not have any World Events yet</h3>
    <div class="thumbnail text-center">
        Use <b>World Events</b> to announce important developments in {{cell.name}}.
        <br>
        These may be the result of a Contract, the actions of a Contractor, or a special event. Contractors and NPCs in this
        setting may hear about these events and choose to investigate.
        <br>
        <a href="{% url 'cells:cells_post_world_event' cell.id %}">Post a new World Event</a>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h4>Latest Journals</h4>
        </div>
        {% if latest_journals %}
            {% for journal in latest_journals|slice:":3" %}
                {% include "cells/view_cell_journal_snip.html" %}
            {% endfor %}
            <div class="text-center">
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#moreJournals" role="button" aria-expanded="false" aria-controls="moreJournals">
                    More Journals
                </a>
            </div>
            <div class="collapse" id="moreJournals">
                {% for journal in latest_journals|slice:"3:" %}
                    {% include "cells/view_cell_journal_snip.html" %}
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <p>
                    You cannot view any Journals written for Contracts that occurred in this Playgroup.
                </p>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h4>Latest Completed Contracts</h4>
            <small>{{cell.num_completed_games}} Contracts have been run in this Playgroup</small>
        </div>
        {% if completed_games %}
            {% for game in completed_games|slice:":3" %}
                <div>
                <small>
                    {{ game.end_time|timesince }} ago:
                    <a href="{% url 'profiles:profiles_view_profile' game.gm.id %}">
                        {% user_display game.gm %}
                    </a>
                    ran
                    <a href="{% url 'games:games_view_game' game.id %}">
                        {{ game.scenario.title }}
                    </a>
                </small>
                    <div class="thumbnail">
                        {% include "cells/view_cell_game_snip.html" %}
                    </div>
                </div>
            {% endfor %}
            {% if completed_games|slice:"3:" %}
            <div id="hx-timeline-contracts">
                <div class="text-center btn-sm" style="margin-top: 5px;">
                    <button
                            class="btn btn-primary js-disable-on-click"
                            hx-get="{% url 'cells:cell_contracts' cell.id %}"
                            hx-trigger="click"
                            hx-target="#hx-timeline-contracts"
                            hx-swap="outerHTML">
                        All Completed Contracts
                    </button>
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
