{% load account_tags %}
{% if not user_membership %}
<div class="thumbnail">
    <div class="expandable-outer js-expandable-collapsed">
        <h3>Curious about joining {{cell.name}}?</h3>
        {{cell.cell_sell|linebreaks}}
    </div>
</div>
{% endif %}
<h4 class="text-center">
    {% if community_link %}
        <br>
        Connect with this World's Community:
        <a href="{{community_link}}">
            {{community_link}}
        </a>
    {% endif %}
</h4>
<div class="text-center">
    {{cell.name}} was created by
<a href="{% url 'profiles:profiles_view_profile' cell.creator.profile.id %}">
    {% user_display cell.creator %}
</a>
{{cell.created_date|timesince}} ago
</div>
<div class="row">
    {% for membership_and_characters in memberships_and_characters %}
        <div class="col-md-6">
            <div class="thumbnail">
                <h4 class="text-center">
                    <a href="{% url 'profiles:profiles_view_profile' membership_and_characters.0.member_player.id %}">
                        {% user_display membership_and_characters.0.member_player %}
                    </a>
                    <br>
                    <small>World {{ membership_and_characters.0.get_role_display }}</small>
                </h4>
                {% if membership_and_characters.1 %}
                <div class="row">
                    {% for character in membership_and_characters.1 %}
                        <div class="col-md-6 text-center">
                            <a href="{% url 'characters:characters_view' character.id %}">
                                <b>
                                    {{character.name}}
                                </b>
                                 the {{character.concept_summary}}
                            </a>
                            <br>
                            <small>
                                A {{character.number_of_victories }}-Victory {{ character.get_contractor_status_display }} Contractor
                            </small>
                            {% if character.num_unspent_rewards > 0 and can_edit_characters %}
                            <br>
                                <a class="btn btn-success btn-xs"
                                   href="{% url 'characters:characters_spend_reward' character.id %}">
                                    Spend Rewards
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
