{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}Viewing Playgroup{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cells/view_cell.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/view_cell.js' %}"></script>
{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>
        {{ cell.name }}
        </h1>
        A world {{cell.setting_sheet_blurb}}.
    </div>
    {% include "_messages.html" %}
    <br>
    {% include "cells/view_cell_navbar_snip.html" %}
    {% if invite %}
        <div class="alert alert-success text-center">
            <h5>You have been invited to join this Playgroup</h5>
            <h4><a href="{% url 'cells:cells_rsvp_invite' cell.id %}">Click here to RSVP</a></h4>
        </div>
    {% elif cell.allow_self_invites and not user_membership %}
        <div class="alert alert-success text-center">
        <b style="margin-top: 5px;">This Playgroup has open memberships.</b>
        {% if user.is_anonymous %}
            But you must
            <a href="{% url 'account_signup' %}">Sign up</a>
            or
            <a href="{% url 'account_login' %}">Log in</a>
            to join.
        {% else %}
            <a href="{% url 'cells:cells_rsvp_invite' cell.id %}">Click here to join</a>
        {% endif %}
        </div>
    {% endif %}
    <div>
        <ul class="nav nav-tabs nav-justified nav-justified-sm" role="tablist">
            <li role="presentation" {% if user_membership %} class="active" {% endif %} >
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest</a>
            </li>
            <li role="presentation"><a href="#community" aria-controls="community" role="tab" data-toggle="tab">Members</a></li>
            <li role="presentation"
                {% if not user_membership %}
                    class="active"
                {% endif %}
            ><a id="settingTab" href="#setting" aria-controls="setting" role="tab" data-toggle="tab">Setting</a></li>
        </ul>
        <div class="panel panel-default css-cell-body">
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {% if user_membership %} active {% endif %} " id="home">
                        {% include "cells/view_cell_home_snip.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="community">
                        {% include "cells/view_cell_community_snip.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane {% if not user_membership %} active {% endif %}" id="setting">
                        {% include "cells/view_cell_setting_snip.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}