{% load static %}

{% if not user_membership and community_link %}
    <ul class="nav nav-pills nav-justified navbar-default">
        <li>
            {% if cell.community_link_is_discord %}
                <a class="btn btn-default btn" href="{{cell.community_link}}">
                    <img class="float-left" src="{% static 'overrides/other_graphics/Discord-Logo-Color.svg' %}" style="width: 25px; height: 25px; position: absolute;">
                    <span style="padding-left: 25px;">Visit {{cell.name}}'s Discord Server</span>
                </a>
            {% else %}
                <a class="btn-primary" href="{{community_link}}">
                    Visit {{cell.name}}'s off-site Community
                </a>
            {% endif %}
        </li>
    </ul>
<br>
{% endif %}
{% if user_membership %}
<ul class="nav nav-pills nav-justified navbar-default">
    {% if can_gm %}
        <li>
            <a href="{% url 'games:games_create_game_world' cell.id %}">
                Schedule Contract
            </a>
        </li>
        {% if can_post_world_events %}
        <li>
            <a href="{% url 'games:create_move_cell' cell.id %}">Record Move</a>
        </li>
        {% endif %}
    {% endif %}
    {% if my_cell_contractors %}
    <li class="dropdown">
        <a id="dLabelContractors" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Local Contractors
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li>
                <a href="{% url 'characters:characters_create_world' cell.id %}" class="btn-primary">
                    Create a local Contractor
                </a>
            </li>
            {% for contractor in my_cell_contractors %}
                <li>
                    <a href="{% url 'characters:characters_view' contractor.id %}">
                        {{contractor.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
        <li>
            <a href="{% url 'characters:characters_create_world' cell.id %}">
                Create Contractor
            </a>
        </li>
    {% endif %}
    {% if can_edit_world or can_manage_memberships or can_manage_games %}
        <li class="dropdown">
            <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Playgroup
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                {% if can_edit_world %}
                <li>
                    <a href="{% url 'cells:cells_edit' cell.id %}">
                        Edit Playgroup
                    </a>
                </li>
                {% endif %}
                {% if can_manage_memberships %}
                    {% if not community_link %}
                        <li>
                            <a class="btn-primary"  href="{% url 'cells:cells_edit_find_world' cell.id %}">
                                Add Link to Your off-site Community
                            </a>
                        </li>
                    {% endif %}
                <li>
                    <a href="{% url 'cells:cells_edit_find_world' cell.id %}">Edit Recruitment Settings</a>
                </li>
                <li>
                    <a href="{% url 'cells:cells_invite_players' cell.id %}">Invite Players</a>
                </li>
                <li>
                    <a href="{% url 'cells:cells_manage_members' cell.id %}">Manage Memberships</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and can_administer %}
                    <li>
                        <a href="{% url 'cells:cells_manage_webhooks' cell.id %}">Manage Webhooks</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated and can_administer %}
                    <li>
                        <a href="{% url 'cells:cells_manage_roles' cell.id %}">Edit Role Permissions</a>
                    </li>
                {% endif %}
                {% if can_post_world_events %}
                <li>
                    <a href="{% url 'cells:cells_post_world_event' cell.id %}">Post World Event</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and can_manage_games %}
                <li>
                    <a href="{% url 'games:games_create_ex_game_for_cell' cell.id %}">
                        Declare a Completed Contract
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if community_link %}
        <li>
            <a class="btn-primary" href="{{community_link}}">
                Visit off-site Community
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'cells:cells_leave_cell' cell.id %}">
            Leave Playgroup
        </a>
    </li>
</ul>
<br>
{% endif %}

{% if show_webhook_tip %}
    <div class="text-center" style="margin-bottom: 10px;">
        <a class="btn btn-default" href="{% url 'cells:cells_manage_webhooks' cell.id %}">
            Add Webhooks to your Playgroup's Discord Server!
        </a>
    </div>
{% endif %}
