<span style="margin-left:5px;">
    <small>
        Posted by
        <a href="{% url 'profiles:profiles_view_profile' event.creator.id %}">
            {{event.creator.username}},
        </a>
        {{event.created_date|timesince}} ago.
        <a href="#event-{{event.id}}">
            Permalink
        </a>

    </small>
</span>
<div class="thumbnail expandable-outer js-expandable-collapsed" role="button" style="padding-left: 20px; padding-right: 20px;">
    <h3 >
        {{event.headline}}
    </h3>
    {{event.event_description|safe}}
    {% if can_edit_world or request.user == event.creator %}
    <br>
    <a class="btn btn-default btn-sm" href="{% url 'cells:cells_edit_world_event' cell.id event.id %}">
        Edit Event
    </a>
    {% endif %}
</div>
