{% extends "wiki/base.html" %}
{% load wiki_tags i18n hgapp_tags sekizai_tags cache %}

{% block head_title %}
    {{ article.current_revision.title }}
{% endblock %}


{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
    {% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}
    <div id="article-container" class="row">
        {% include "wiki/includes/article_menu.html" %}
        {% cache 500 article-siebar urlpath.path %}
        <div id="js-article-index" class="col-sm-4 col-md-3 panel panel-default hidden-xs">
                {% with urlpath.cached_ancestors as ancestors %}
                    {% if ancestors.1 %}
                        {% article_toc urlpath.cached_ancestors.1.path False article %}
                    {% else %}
                        {% article_toc urlpath.path False article %}
                    {% endif %}
                {% endwith %}
        </div>
        {% endcache %}
        <div class="col-sm-8 col-md-9 ">
            <div>
                <h1 id="article-title" class="text-center">
                    {{ article.current_revision.title }}
                </h1>
                <div class="panel panel-default css-article-content">
                  <div class="panel-body css-article-content">
                    {% block wiki_contents_tab %}
                    {% endblock %}
                  </div>
                </div>
                <div class="text-center">
                    <a href="#" class="js-prev-article btn btn-default" style="display:none;">
                        <span class="glyphicon glyphicon-backward"></span>
                        Previous Article
                    </a>
                    <a href="#" class="js-next-article btn btn-default" style="display:none;">
                        Next Article
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </div>
            </div>
        </div>
        <div id="js-lower-index" class="panel panel-default visible-xs-block">
        </div>
    </div>

{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
