{% if character.private %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-warning text-center css-char-alert" role="alert">
            <p>
                <i class="fa fa-user-secret fa-2x"></i>
                This character and their powers cannot be viewed by others because they are <b>Private</b>.
            </p>
        </div>
    </div>
{% endif %}
{% if character.get_power_cost_total != character.active_spent_rewards|length %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-danger text-center css-char-alert" role="alert">
            <p>
                Character's power value does not match number of spent gifts! </br>
                <b>Power Value: </b>{{character.get_power_cost_total}}
                <b>Spent Rewards: </b>{{character.active_spent_rewards|length}}
            </p>
        </div>
    </div>
{% endif %}
{% if character.unspent_experience < 0 %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-danger text-center css-char-alert" role="alert">
            <p>
                {{character.name}} has overspent Experience</br>
                <b>Remaining: </b>{{character.unspent_experience}} Exp.
                (<b>Earned: </b> {{character.exp_earned}} - <b>Spent: </b> {{character.exp_cost}})
            </p>
        </div>
    </div>
{% endif %}
{% if character.unspent_experience > 2 and user_can_edit %}
    <div class="row">
        <a href="{% url 'characters:characters_edit' character.id %}">
            <div class="col-md-8 col-md-offset-2 alert alert-success btn btn-success css-char-alert" role="alert">
                Spend {{character.name}}'s <b>{{character.unspent_experience}}</b> unspent Experience
            </div>
        </a>
    </div>
{% endif %}
{% if user_can_edit and character.unspent_rewards|length > 0 %}
    <div class="row">
        <a href="{% url 'characters:characters_spend_reward' character.id %}">
            <div class="col-md-8 col-md-offset-2 alert alert-success btn btn-success css-char-alert" role="alert">
                Spend Available Gifts
            </div>
        </a>
    </div>
{% endif %}