{% load power_tags %}

{% if signature_items %}
    <h3 class="text-center" data-toggle="tooltip" title='{{tutorial.artifacts|safe}}'>
        Signature Items
    </h3>
    {% for item in signature_items %}
        <div class="css-world-entity-value">
            <span class="css-world-element-name">
                {{artifact.name}}
            </span>
            {% for power in item.power_full_set %}
                <span class="css-world-element-name">
                    {% power_badge power_full %}
                </span>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

<h3 class="text-center" data-toggle="tooltip" title='{{tutorial.artifacts|safe}}'>
  Artifacts
</h3>
{% if not artifacts_by_cell %}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info text-center">
      <p>
        <b>Artifacts are GM-created objects and equipment.</b>
      </p>
      <p>
        Examples of Artifacts include healing potions, scrolls, sci-fi technology, or any supernatural
        item that was not created with The Contract's Power system.
        Artifacts are not subject to standardized balance.
        Therefore, their effects may be altered or ignored outside the Playgroup where they were obtained.
      </p>
      {% if user_can_edit %}
      <p>
        Until you participate in a Contract or join a Playgroup, you cannot add
        Artifacts to your Contractor.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
<div class="js-world-element-container">
  {% for cell, artifacts in artifacts_by_cell.items %}
  <div class="css-condition-section">
                    <span class="css-condition-cell-header"
                          {% if artifacts|length == 0 %}
                          style="display:none;"
                          {% endif %}
                    >
                        <a href="{% url 'cells:cells_view_cell' cell.id %}">
                            {{cell.name}}
                        </a>
                    </span>
    <div class="js-world-element-content-{{cell.id}}">
      {% for artifact in artifacts %}
      <div class="css-world-entity-value">
        {% if user_can_edit %}
        <span class="pull-left css-world-element-delete">
                                <form class="js-delete-world-element-form"
                                      data-del-world-element-url="{% url 'characters:delete_world_element' artifact.id 'artifact' secret_key %}">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-xs btn-danger" value="X" />
                                </form>
                            </span>
        {% endif %}
        <span class="css-world-element-name">
                            {{artifact.name}}
                        </span>
        <span class="css-world-element-description">
                            {{artifact.description}}
                        </span>
        <span class="css-world-element-system">
                            {{artifact.system}}
                        </span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  {% if artifact_form %}
  <div class="text-center">
    <a class="btn btn-default btn-sm wiki-entry-collapsible text-center">New Artifact</a>
    <div class="collapse-content clearfix" style="display:none;">
      <div class="text-left">
        {% with 'artifact' as element %}
        {% include "characters/view_pages/world_element_form.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
