{% load bootstrap %}
{% load character_tags %}

<h3 class="text-center" data-toggle="tooltip" title='{{tutorial.artifacts|safe}}' style="margin-top: 15px;">
    Trophies
</h3>
{% if not artifacts_by_cell %}
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info text-center">
          <p>
            <b>Artifacts are GM-created objects and equipment.</b>
          </p>
          <p>
            Examples of Artifacts include healing potions, scrolls, sci-fi technology, or any supernatural
            item that was not created with The Contract's Power system.
            Artifacts are not subject to standardized balance.
            Therefore, their effects may be altered or ignored outside the Playgroup where they were obtained.
          </p>
          {% if user_can_edit %}
          <p>
            Until you participate in a Contract or join a Playgroup, you cannot add
            Artifacts to your Contractor.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
{% endif %}
<div class="js-world-element-container">
  {% for cell, artifacts in artifacts_by_cell.items %}
  <div class="css-condition-section">
                    <span class="css-condition-cell-header"
                          {% if artifacts|length == 0 %}
                          style="display:none;"
                          {% endif %}
                    >
                        <a href="{% url 'cells:cells_view_cell' cell.id %}">
                            {{cell.name}}
                        </a>
                    </span>
    <div class="js-world-element-content-{{cell.id}}">
      {% for artifact in artifacts %}
        <div>
            {% if user_can_edit  %}
                <span class="pull-left css-world-element-edit">
                    <button class="btn btn-xs btn-default js-edit-world-element-button"
                            data-id="{{artifact.id}}"
                            data-element-type="artifact"
                            style="margin-right: 5px;">
                        <i class="fa fa-edit fa-1x"></i>
                    </button>
                </span>
                <span class="pull-left css-world-element-delete">
                    <form class="js-delete-world-element-form"
                          data-del-world-element-url="{% url 'characters:delete_world_element' artifact.id 'artifact' secret_key %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-xs btn-danger" value="X" />
                    </form>
                </span>
            {% endif %}
            <div class="css-world-entity-value">
                <span class="css-world-element-name">
                    {{artifact.name}}
                </span>
                <span class="css-world-element-description">
                    {{artifact.description}}
                </span>
                <span class="css-world-element-system">
                    {{artifact.system}}
                </span>
            </div>
            {% if condition_form %}
                <form class="js-edit-world-element-form"
                      data-edit-world-element-url="{% url 'characters:edit_world_element' artifact.id 'artifact' secret_key %}"
                      style="display:none;">
                    <div id="edit-artifact-{{artifact.id}}" style="margin-bottom: 10px;">
                        {{condition_form.name|bootstrap}}
                        {{condition_form.description|bootstrap}}
                        {{condition_form.system|bootstrap}}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  {% if artifact_form %}
  <div class="text-center">
    <a class="btn btn-default btn-sm wiki-entry-collapsible text-center">New Trophy</a>
    <div class="collapse-content clearfix" style="display:none;">
      <div class="text-left">
        {% with 'artifact' as element %}
          {% with default_trophy_form as default_form %}
            {% include "characters/view_pages/world_element_form.html" %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
