<div class ="row css-attributes">
    <h2 class="text-center" data-toggle="tooltip" title='{{tutorial.attributes_view}}'>
        Attributes
    </h2>
    {% for attribute_value in physical_attributes %}
        <div class="col-md-2 col-xs-6">
            <h4 data-toggle="tooltip" title='{{attribute_value.relevant_attribute.tutorial_text}}'>
                <span class="stat-value visible-xs-inline">{{attribute_value.val_with_bonuses}}</span>
                {{attribute_value.relevant_attribute.name}}
                <span class="stat-value hidden-xs">{{attribute_value.val_with_bonuses}}</span>
            </h4>
        </div>
    {% endfor %}
    {% for attribute_value in mental_attributes %}
        <div class="col-md-2 col-xs-6">
            <h4 data-toggle="tooltip" title='{{attribute_value.relevant_attribute.tutorial_text}}'>
                <span class="stat-value">{{attribute_value.val_with_bonuses}}</span>
                {{attribute_value.relevant_attribute.name}}
            </h4>
        </div>
    {% endfor %}
</div>

<hr>
<div class ="row">
    <div id="abilities-toggle" class="css-section-button text-center">
        <h2 data-toggle="tooltip" title='{{tutorial.abilities_view}}' style="margin-top: 0px;">
            Abilities
        </h2>
    </div>
    <div >
        <div class="col-md-6">
            <div class="row">
            {% for ability_value in ability_value_by_name %}
                {% if ability_value.1.is_physical %}
                <div class="ability {% if not ability_value.2%} zero-ability {% endif %}">
                    <p>
                        <div class="col-md-4 col-sm-3 col-xs-6 css-physical-ability"
                             data-toggle="tooltip"
                             title='{{ability_value.1.tutorial_text}}'>
                            <p>
                                <span class="stat-value visible-xs-inline">{{ability_value.2}}</span>
                                <b>{{ability_value.1.name}}</b>
                                <span class="stat-value hidden-xs">{{ability_value.2}}</span>
                            </p>
                        </div>
                    </p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
            {% for ability_value in ability_value_by_name %}
                {% if not ability_value.1.is_physical %}
                    <div class="ability {% if not ability_value.2%} zero-ability {% endif %}">
                        <p>
                            <div class="col-md-4 col-sm-3 col-xs-6 css-mental-ability"
                                 data-toggle="tooltip"
                                 title='{{ability_value.1.tutorial_text}}'>
                                <p>
                                    <span class="stat-value">{{ability_value.2}}</span>
                                    <b>{{ability_value.1.name}}</b>
                                </p>
                            </div>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>