<div class="css-complication-reference row">
    <a class="wiki-entry-collapsible text-center" role="button">
        <div class="col-xs-12">
            <small>
                <i>
                    (Click to toggle Complications reference)
                </i>
            </small>
        </div>
    </a>
    <div class="collapse-content col-xs-12" style="display:none;" style="margin-top: 10px;">
        <div class="text-center">
            <i><small>Whenever you take an Injury Severity 4 or greater, </small></i>
            <div>
                <i><b>roll 1d10</b> <small>and subtract the Injury's Severity from the die's value.</small></i>
            </div>
            <div>
                <b>If the result is 2 or less, you suffer a Complication</b>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <ul class="css-complication-list">
                <li data-icon="2:">
                    <b>Minor Battle Scar</b>
                </li>
                <li data-icon="1:">
                    <b>Disrupted </b>
                    <i class="css-complication-system">(Drop whatever is in your hands and lose your footing)</i>
                </li>
                <li data-icon="0:">
                    <b>Bleeder </b>
                    <i  class="css-complication-system"> (Injury increases in Severity by 1 every three Rounds until stabilized using an Intellect + Medicine roll Difficulty 6 with an Outcome of 4 or higher)</i>
                </li>
                <li data-icon="-1:">
                    <b>Equipment Damage</b>
                    <i  class="css-complication-system">(A piece of Equipment on your person is damaged to the point where it no longer functions properly)</i>
                    <div class="text-center">
                        <small>or, if damage was non-physical</small>
                    </div>
                    <b>Traumatic Injury</b>
                    <i  class="css-complication-system">(Gain a new Trauma)</i>
                </li>
                <li data-icon="-2:">
                    <b>Stunned</b>
                    <i class="css-complication-system">(Lose your next Action)</i>
                </li>
                <li data-icon="-3:">
                    <b>Major Battle Scar</b>
                </li>
                <li data-icon="-4:">
                    <b>Internal Injury</b>
                    <i class="css-complication-system">(Injury increases in Severity by 1 each hour until it is stabilized at a medical facility equipped for surgery such as a vet's office or hospital)</i>
                </li>
                <li data-icon="-5:">
                    <b>Severe Battle Scar</b>
                </li>
                <li data-icon="-6:">
                    <b>Extreme Battle Scar</b> And <b>Roll for another Complication</b>
                </li>
            </ul>
        </div>
    </div>
</div>
