{% load power_tags %}
<div  style="display: flex;  align-items: stretch; max-width: 100%;">
    <div class="css-consumable-item" style="display: inline-block; margin-right: 5px; border: 1px solid #453e4b;">
        <div data-title="Consumable quantity: {{artifact.quantity}}"
            data-toggle="tooltip"
             class="text-center">
            <span style="border: 1px solid #454e5b; border-radius: 3px; padding: 5px; background-color: #453e4b;">
                {% if power.modality.icon %}
                    <img src="{{power.modality.icon.url}}" width="15px" height="15px" style="vertical-align: text-top;">
                {% endif %}
                <span style="font-size: 16px;">
                    {{artifact.quantity}}
                </span>
            </span>
        </div>
        {% if can_use %}
            <div class="text-center"  style="margin-top: 10px;">
                <button class="btn btn-sm btn-default js-transfer-artifact-button"
                        data-id="{{item.id}}"
                        data-title="Use Consumable"
                        data-toggle="tooltip"
                        style="">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                </button>
            </div>
            <div class="text-center" style="margin-top: 5px;">
                <button class="btn btn-sm btn-default js-transfer-artifact-button"
                        data-id="{{item.id}}"
                        data-title="Transfer/Trade"
                        data-toggle="tooltip"
                        style="">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="css-consumable-item" style="display: inline-block;flex:1; padding: 0px;">
        {% power_rev_badge power True %}
    </div>
</div>
