{% load static %}

<div class="text-center css-header-buttons">
    {% if user_can_edit %}
        <ul class="nav nav-pills nav-justified">
            {% if character.spendable_experience > 1 %}
                <li><a href="{% url 'characters:characters_edit' character.id secret_key %}" class="btn btn-success" style="height: 42px; padding: 10px;">
                    <span style="position: relative; bottom: 7px;">
                        Edit Contractor
                        <small>
                            <small>
                                <div>
                                    Spend {{unspent_exp}} Exp
                                </div>
                            </small>
                        </small>
                    </span>
                </a></li>
            {% else %}
                <li><a href="{% url 'characters:characters_edit' character.id secret_key %}" class="btn btn-default">
                    Edit Contractor
                </a></li>
            {% endif %}
            {% if character.crafting_avail %}
                <li>
                    <a href="{% url 'crafting:crafting_craft' character.id %}"
                       class="btn {% if character.highlight_crafting %}btn-success {% else %}btn-default{% endif %}">
                        Craft
                    </a>
                </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Download or Print <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'characters:characters_archive' character.id %}" >
                        Plaintext / Markdown
                    </a></li>
                    <li><a href="{% url 'characters:characters_print' character.id %}" >
                        PDF / Print
                    </a></li>
                </ul>
            </li>
            {% if character.player %}
                <li>
                    <a href="{% url 'characters:characters_spend_reward' character.id %}" class="btn
                    {% if available_gift and not character_at_reward_limit and not character_over_reward_limit %}
                    btn-success
                    {% else %}
                    btn-default
                    {% endif %}" style="height: 42px; padding: 10px;">
                    <span {% if available_gift%}
                            style="position: relative; bottom: 7px;"
                            {% endif %} >
                        Advance Contractor
                        {% if available_gift %}
                        <small>
                            <small>
                                <div>
                                    {% if available_gift %}
                                        Spend Gift
                                    {% endif %}
                                </div>
                            </small>
                        </small>
                        {% endif %}
                    </span>
                    </a>
                </li>
                {% if character.is_dead %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                        Edit Obituary
                    </a></li>
                {% else %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                        Kill Contractor
                    </a></li>
                {% endif %}
                {% if request.user == character.player %}
                <li><a href="{% url 'characters:characters_delete' character.id %}" class="btn btn-default">
                    Delete Contractor
                </a></li>
                {% endif %}
            {%endif %}

        </ul>
    {% endif %}
</div>