{% load staticfiles %}

<div class="text-center css-header-buttons">
    {% if user_can_edit %}
        <ul class="nav nav-pills nav-justified">
            <li><a href="{% url 'characters:characters_edit' character.id secret_key %}" class="btn btn-default">
                Edit Contractor
            </a></li>
            {% if request.user == character.player %}
                <li><a href="{% url 'characters:characters_delete' character.id %}" class="btn btn-default">
                    Delete Contractor
                </a></li>
            {% endif %}
            {% if character.player %}
                <li><a href="{% url 'characters:characters_power_picker' character.id %}" class="btn btn-default">
                    Assign Powers
                </a></li>
                <li><a href="{% url 'characters:characters_archive' character.id %}" class="btn btn-default">
                    Download Contractor as plain text
                </a></li>
                {% if character.is_dead %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                        Edit Obituary
                    </a></li>
                {% else %}
                    <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                        Declare Contractor Death
                    </a></li>
                {% endif %}
            {%endif %}

        </ul>
    {% endif %}
</div>