{% load account_tags %}
{% load staticfiles %}

<div class="text-center">
    {% if user_can_edit %}
        <ul class="nav nav-pills nav-justified">
            <li><a href="{% url 'characters:characters_edit' character.id %}" class="btn btn-default">
                Edit Character
            </a></li>
            {% if request.user == character.player %}
                <li><a href="{% url 'characters:characters_delete' character.id %}" class="btn btn-danger">
                    Delete Character
                </a></li>
            {% endif %}
            <li><a href="{% url 'characters:characters_power_picker' character.id %}" class="btn btn-default">
                Assign Powers
            </a></li>
            <li><a href="{% url 'characters:characters_archive' character.id %}" class="btn btn-default">
                Download Character as plain text
            </a></li>
            {% if character.is_dead %}
                <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                    Edit Obituary
                </a></li>
            {% else %}
                <li><a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                    Declare Character Death
                </a></li>
            {% endif %}
        </ul>
    {% endif %}
    <h1>
        {{ character.name }}
        <br>
        <small>
            {{ character.tagline }}
        </small>
    </h1>
    <p>
        {% if character.number_of_victories %}
            {{ character.number_of_victories }} victory
        {% endif %}
        A <b>{{ character.get_status_display }}</b>
        played by
        <a href="{% url 'profiles:profiles_view_profile' character.player.id %}">{% user_display character.player %}</a>
        {% if character.cell %}
            in
            <a href="{% url 'cells:cells_view_cell' character.cell.id %}">{{ character.cell.name }}</a>
        {% else %}
            as a Free Agent
        {% endif %}
    </p>
    {% if character.is_dead %}
        <img src="{% static 'characters/skull.svg' %}"/>
        <h3>This character is dead. RIP</h3>
        {% if character.private %}
            <h3 class="text-warning">Hey, this character is dead and private. You should consider making them public so they appear in the graveyard.</h3>
        {% endif %}
        {%if character.real_death.obituary %}
            {{character.real_death.obituary | linebreaks}}
        {% elif request.user.id == character.player.id %}
            <a href="{%url 'characters:characters_obituary' character.id %}" class="btn btn-default">
                    Edit Obituary
            </a>
        {% endif %}
    {% endif %}

    <div class="char-view-alerts">
        {% include "characters/view_pages/alerts.html" %}
    </div>
</div>