{% load markdown_deux_tags %}
{% load bootstrap %}

<script type="text/html" id="scar-template">
    <li class="stat-value">
        <form style="display: inline-block" class="js-delete-scar-form" data-del-scar-url=__delUrl__>
            {% csrf_token %}
            <input type="submit" class="btn btn-xs btn-danger" value="X" />
        </form>
        <b>__description__</b> (__system__)
    </li>
</script>
<script type="text/html" id="stabilized-icon-template">
    <i class="fa fa-medkit" aria-hidden="true" data-toggle="tooltip"
       title="This Injury is Stabilized and will not degrade."></i>
</script>
<script type="text/html" id="injury-stabilization-template">
    <div class="pull-right js-injury-stabilization-status">
        <i class="fa fa-heartbeat text-danger" aria-hidden="true" data-toggle="tooltip"
           title="This Injury is not Stabilized. It will worsen in Severity by one level every half hour until Stabilized."></i>
        <form class="js-edit-injury-form"
              data-edit-injury-url="__stabilizeUrl__"
              style="display: inline-block;">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs btn-primary" data-toggle="tooltip"
                    title="Mark Injury Stabilized">
                <i class="fa fa fa-medkit" aria-hidden="true" ></i>
            </button>
        </form>
    </div>
</script>
<script type="text/html" id="injury-template">
    <span>
        <div class="stat-value col-xs-3 text-center css-injury-val">
            <form class="js-edit-injury-form"
                  style="display: inline-block;"
                  data-edit-injury-url=__decUrl__>
                    {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs">
                    <i class="fa fa-minus"></i>
                </button>
            </form>
            <b class="injury-severity">__severity__</b>
            <form class="js-edit-injury-form"
                  style="display: inline-block;"
                  data-edit-injury-url=__incUrl__>
                    {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs">
                    <i class="fa fa-plus"></i>
                </button>
            </form>
        </div>
        <div class="stat-value col-xs-9">
            __description__
            __stabilization__
        </div>
        <div class="clearfix"></div>
    </span>
</script>
<div class="row text-center">
    <div class="col-xs-12">
        <h3 data-toggle="tooltip" title='{{tutorial.injuries}}'>Injuries</h3>
        <div class="text-left" id="js-injury-container">
            {% for injury in character.injury_set.all %}
                <span>
                    {% if user_can_edit and not character.is_dead %}
                        <div class="stat-value col-xs-3 text-center css-injury-val">
                            <form class="js-edit-injury-form"
                                  style="display: inline-block;"
                                  data-edit-injury-url="{% url 'characters:dec_injury' injury.id secret_key %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-xs">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </form>
                            <b class="injury-severity">{{injury.severity}}</b>
                            <form class="js-edit-injury-form"
                                  style="display: inline-block;"
                                  data-edit-injury-url="{% url 'characters:inc_injury' injury.id secret_key %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-xs">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </form>
                        </div>
                    {% else %}
                        <div class="stat-value col-xs-1 text-center css-injury-val">
                            <b class="injury-severity">{{injury.severity}}</b>
                        </div>
                    {%endif%}
                    <div class="css-injury-description {% if user_can_edit and not character.is_dead %}col-xs-9 {% else %} col-xs-11 {% endif %}">
                        {{injury.description}}
                        <div class="pull-right js-injury-stabilization-status">
                            {% if injury.severity > 3 %}
                                {% if injury.is_stabilized %}
                                    <i class="fa fa-medkit" aria-hidden="true" data-toggle="tooltip"
                                       title="This Injury is Stabilized and will not degrade."></i>
                                {% else %}
                                <i class="fa fa-heartbeat text-danger" aria-hidden="true" data-toggle="tooltip"
                                   title="This Injury is not Stabilized. It will worsen in Severity by one level every half hour until Stabilized."></i>
                                    {% if user_can_edit and not character.is_dead %}
                                        <form class="js-edit-injury-form"
                                              data-edit-injury-url="{% url 'characters:stabilize_injury' injury.id secret_key %}"
                                              style="display: inline-block;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-xs btn-primary" data-toggle="tooltip"
                                                title="Mark Injury Stabilized">
                                                <i class="fa fa fa-medkit" aria-hidden="true" ></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </span>
            {% empty %}
                <h4 class="text-center" id="js-no-injuries"><small>({{character.name}} is unharmed)</small></h4>
            {% endfor%}
        </div>
        {% if user_can_edit and not character.is_dead %}
            <br>
            <div class="col-xs-12">
            <div class="row form-inline">
                <form id="injury-form"
                      class="injury-form"
                      data-new-injury-url="{% url 'characters:post_injury' character.id secret_key %}"
                      data-inc-injury-url="{% url 'characters:inc_injury' 'injuryIdJs' secret_key %}"
                      data-dec-injury-url="{% url 'characters:dec_injury' 'injuryIdJs' secret_key %}"
                      data-stabilize-injury-url="{% url 'characters:stabilize_injury' 'injuryIdJs' secret_key %}">
                    {{ injury_form.about.errors }}
                    {{ injury_form.non_field_errors }}
                    {% csrf_token %}
                    <span class="js-injury-form">
                        {{ injury_form.severity }}
                    </span>
                    {{injury_form.description}}
                    <input type="submit" class="btn btn-default" value="Ouch!" />
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>
{% include "characters/view_pages/stabilization_reference.html" %}
<div class="row text-center">
    <div class="col-xs-12">
        <h3 data-toggle="tooltip" title='{{tutorial.battle_scars}}' style="margin-bottom: 5px;">
            Battle Scars
        </h3>
        <div class="text-muted" style="margin-bottom: 10px;" data-toggle="tooltip" title="Instead, the highest penalty is used">
            <i><small>
                Penalties from Battle Scars do not stack with <span style="color: #fb7e48;">Wound Penalty</span>
            </small></i>
        </div>
        <div class="text-left" id="js-scar-container">
            {% for scar in character.battlescar_set.all %}
                <li class="stat-value">
                    {% if user_can_edit %}
                        <form style="display: inline-block" class="js-delete-scar-form" data-del-scar-url="{% url 'characters:delete_scar' scar.id secret_key %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-xs btn-danger" value="X" />
                        </form>
                    {%endif%}
                    <b>{{scar.description}}</b> {% if scar.system %} ({{scar.system}}) {% endif %}
                </li>
            {% empty %}
            <h4 class="text-center" id="js-no-scars"><small>({{character.name}} has no Battle Scars)</small></h4>
            {% endfor%}
        </div>
        {% if user_can_edit %}
        <div class="text-center">
            <a class="btn btn-default btn-sm wiki-entry-collapsible text-center">Add Battle Scar</a>
            <div class="collapse-content clearfix" style="display:none;">
                <div class="text-left">
                    <form id="scar-form"
                          data-new-scar-url="{% url 'characters:post_scar' character.id secret_key %}"
                          data-delete-scar-url="{% url 'characters:delete_scar' 'scarIdJs' secret_key %}">
                        {% csrf_token %}
                        {{ battle_scar_form.about.errors }}
                        {{ battle_scar_form.non_field_errors }}
                        {{ default_scar_field|bootstrap }}
                        {{ battle_scar_form.scar_description|bootstrap }}
                        {{ battle_scar_form.scar_system|bootstrap }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Add Scar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>