{% load power_tags %}
{% load bootstrap %}

<div class="css-item-display {% if item.is_crafted_artifact %}css-crafted-art{% else %}css-signature-item{% endif %} js-world-element-container {% if is_greyed_out %}css-sig-item-greyed-out{% endif %}">
    {% if user_can_edit and not is_stock and not is_preview %}
        <span class="pull-right css-world-element-edit css-no-print ccs-print-page-hidden">
            <button class="btn btn-xs btn-default js-edit-world-element-button"
                    data-id="{{item.id}}"
                    data-element-type="artifact"
                    style="margin-right: 5px;">
                <i class="fa fa-edit fa-1x"></i>
            </button>
        </span>
        {% if transfer_form %}
        <span class="pull-right css-no-print ccs-print-page-hidden">
            <button class="btn btn-xs btn-default js-transfer-artifact-button"
                    data-id="{{item.id}}"
                    style="margin-right: 5px; margin-left: 2px;">
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
            </button>
        </span>
        {% endif %}
    {% endif %}
  <div class="css-world-entity-value" style="padding-left: 5px; padding-bottom: 5px;">
      {% if render_link %}
        <a href="{% url 'characters:characters_artifact_view' item.id %}">
      {% endif %}
      <h4 class="text-center css-world-element-name" style="{%if user_can_edit %}padding-left: 50px;padding-right: 55px;{%endif%} margin-top: 0px; font-size: 22px; margin-bottom: 0px;">
          {{item.name}}
      </h4>
      {% if render_link %}
        </a>
      {% endif %}
      {% if status_blurb %}
        <div class="text-center text-muted">
            <small>
                {{status_blurb|safe}}
                <b><div class="css-reason-unavail">{% if reason_unavail %}{{reason_unavail}}{% endif %}</div></b>
            </small>
        </div>
      {% endif %}
    <i class="css-system-text-user-input css-world-element-description">{{item.description}}</i>
  </div>
    {% if transfer_form and user_can_edit %}
        <form class="js-transfer-artifact-form css-no-print"
              action="{% url 'characters:transfer_artifact' item.id %}"
              method="post"
              style="display:none;">
            {% csrf_token %}
            <h4 class="text-center">Transfer Item</h4>
            <div id="transfer-artifact-{{item.id}}" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{ transfer_form.transfer_type|bootstrap}}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {{ transfer_form.to_character|bootstrap}}
                    </div>
                </div>
                {{ transfer_form.notes|bootstrap}}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Transfer Item" />
                    <div>
                        <small>Warning: Once you transfer this item, it will be controlled by the other Contractor.</small>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    {% if edit_form and user_can_edit %}
        <form class="js-edit-world-element-form"
              data-edit-world-element-url="{% url 'characters:edit_world_element' item.id 'artifact' secret_key %}"
              style="display:none;">
            {% csrf_token %}
            <div id="edit-artifact-{{item.id}}" style="margin-bottom: 10px;">
                {{edit_form.name|bootstrap}}
                {{edit_form.description|bootstrap}}
                {% if status_form %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            {{status_form.change_availability|bootstrap}}
                        </div>
                        <div class="col-xs-12 col-sm-6" style="display:none;">
                            {{status_form.notes|bootstrap}}
                        </div>
                    </div>
                {% endif %}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </form>
    {% endif %}
    <div class="css-item-gift-list">
        {% if is_crafted %}
            {% for crafter_powers in powers_by_crafter.items %}
                {% if powers_by_crafter|length > 1 %}
                <b>Crafted by {{crafter_powers.0.name}}</b>
                {% endif %}
                {% for power in crafter_powers.1 %}
                    <span class="css-world-element-name">
                        {% if is_greyed_out %}
                            {% power_heading power %}
                        {% else %}
                            {% power_rev_badge power True item %}
                        {% endif %}
                    </span>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for power in item.power_full_set.all %}
                <span class="css-world-element-name">
                    {% power_badge power True item can_edit_gifts rewarding_character is_stock %}
                </span>
            {% endfor %}
        {% endif %}
    </div>
    {% if not is_stock %}
        <div  class="css-no-print ccs-print-page-hidden">
            <span id="hx-timeline-item{{item.id}}">
                <button
                        class="btn btn-default btn-xs"
                        hx-get="{% url 'characters:item_timeline' item.id %}"
                        hx-trigger="click"
                        hx-target="#hx-timeline-item{{item.id}}"
                        hx-swap="outerHTML">
                    History
                </button>
            </span>
            {% if can_edit_gifts and is_early_access and not is_crafted %}
            <span >
                <a href="{% url 'powers:powers_create_ps2_for_artifact' item.pk %}"
                   class="btn btn-default btn-xs ">
                    Add Effect to this Artifact
                </a>
            </span>
            {% endif %}
        </div>
    {% endif %}
</div>
