{% load power_tags %}
{% load bootstrap %}

<div class="css-signature-item js-world-element-container">
            <span >
            </span>
    {% if user_can_edit  %}
    <span class="pull-right css-world-element-edit">
        <button class="btn btn-xs btn-default js-edit-world-element-button"
                data-id="{{artifact.id}}"
                data-element-type="artifact"
                style="margin-right: 5px;">
            <i class="fa fa-edit fa-1x"></i>
        </button>
    </span>
    {% endif %}
  <div class="css-world-entity-value" style="padding-left: 5px; padding-bottom: 5px;">
      <h4 class="text-center css-world-element-name" style="margin-top: 0px; padding-left: 5px; font-size: 22px;">
          {{item.name}}
      </h4>
    <i class="css-system-text-user-input css-world-element-description">{{item.description}}</i>
  </div>
    {% if condition_form and user_can_edit %}

    <form class="js-edit-world-element-form"
          data-edit-world-element-url="{% url 'characters:edit_world_element' item.id 'artifact' secret_key %}"
          style="display:none;">
        <div id="edit-artifact-{{artifact.id}}" style="margin-bottom: 10px;">
            {{condition_form.name|bootstrap}}
            {{condition_form.description|bootstrap}}
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </form>
    {% endif %}
  {% for power in item.power_full_set.all %}
    <span class="css-world-element-name">
        {% power_badge power %}
    </span>
  {% endfor %}
</div>
