<div class="css-complication-reference row">
    <a class="wiki-entry-collapsible text-center" role="button">
        <div class="col-xs-12">
            <small>
                <i>
                    (<b><span class="visible-xs-inline-block">Tap</span><span class="hidden-xs">Click</span> for Severe Injury reference)</b>
                </i>
            </small>
        </div>
    </a>
    <div class="collapse-content col-xs-12" style="display:none;" style="margin-top: 10px;">
        <div class="text-center">
            <i><small>
                Injuries Severity 4+ cause a <b>Battle Scar</b> and require <b>Stabilization</b>
            </small></i>
            <div>
                <i><small>
                    Stabilization is the Injury's main treatment, and
                    each Injury can only be successfully Stabilized <b>once</b>
                </small></i>
            </div>
            <div>
                <i><small>Unstabilized Injuries worsen by 1 Severity level every half hour</small></i>
            </div>
        </div>
        <h5 class="text-center" style="margin-bottom: 5px;"><b>Proper Stabilization</b></h5>
        <div>
            <small class="css-stabilization-text">
            Requires an
            <u data-toggle="tooltip"
                    title="Antiseptic, bandages, splints, stitches / staples, and tape" >
                advanced first aid kit
            </u>
            for Severity 4 Injuries, a
            <u data-toggle="tooltip"
                    title="Standard first aid equipment plus surgery tools, drugs, and donor blood">
                field surgery kit</u>
            for Severity 5 Injuries, and a
            <u data-toggle="tooltip"
                    title="A doctor / vet's office or a hospital">
                surgery theater</u>
            for Severity 6+ Injuries.
            </small>
        </div>

        <div class="text-center" style="margin-top: 5px;">
            Roll <b>Intellect + Medicine</b>, Difficulty equal to Severity
        </div>
        <small class="css-stabilization-text">
            <ul>
                <li>
                    An Outcome of 1 or greater will Stabilize the Injury and stop its degradation.
                </li>
                <li>
                    Complete success (Outcome 4+) puts the Injury on track to heal clean: its Battle Scar heals with it.
                </li>
                <li>
                    Failed attempts can be retried at +1 Difficulty per failure.
                </li>
                <li>
                    On a Botch, the Injury's Severity increases by 1.
                </li>
            </ul>
        </small>

        <h5 class="text-center" style="margin-bottom: 5px;"><b>Makeshift Stabilization</b></h5>
        <div>
            <small class="css-stabilization-text">
                Attempt a major treatment using insufficient or improvised medical equipment.
            </small>
        </div>
        <div class="text-center" style="margin-top: 5px;">
            Roll <b>Intellect + Medicine</b>, Difficulty > Severity
            <div>
                <small>(Difficulty based on materials and tactics used)</small>
            </div>
        </div>
        <small class="css-stabilization-text">
            <ul>
                <li>
                   Any positive Outcome (1+) will Stabilize the Injury and stop its degradation.
                </li>
                <li>
                    However, any Outcome less than 4 increases the Injury’s Severity by 1. Botches also worsen its Battle Scar.
                </li>
                <li>
                     Regardless of Outcome, any Battle Scars caused by the Injury will persist after it is fully healed.
                </li>
                <li>
                    Failed attempts can be retried at +1 Difficulty per failure.
                </li>
            </ul>
        </small>
        <hr style="margin-top: 5px; margin-bottom: 5px; width: 50%;" >
        <div class="text-center">
            <small class="css-stabilization-text">
                Self-stabilization attempts are rolled at +1 Difficulty.
            </small>

            <div>
                <a href="/guide/rules/#injuries">
                    Read more about Injuries and Stabilization
                </a>
            </div>
        </div>
    </div>
</div>
