{% load image_tags %}

<div class="row">
    <div class="col-xs-12 col-md-6">
        {% include "characters/view_pages/timeline_snip.html" %}
    </div>
    <div class="col-xs-12 col-md-6">
        {% include "characters/view_pages/journal_snip.html" %}
    </div>
</div>
    <div>
        <h3 style="margin-bottom: 5px;" data-toggle="tooltip" title='The Questionnaire rewards Contractors who answer character-building questions'>
            {% if num_questions_answered %}
            <a href="{% url 'questionnaire:questionnaire_view' character.id %}">
                Questionnaire
            </a>
            {% else %}
                Questionnaire
            {% endif %}
        </h3>
        {% if has_available_questions and character.player == request.user %}
            <a href="{% url 'questionnaire:questionnaire_answer' character.id %}">
                <div class="btn btn-primary css-char-alert" style="white-space: normal; margin-bottom: 10px;">
                    Earn {{next_question_reward}}
                    {% if num_questions_answered %}
                    continuing your questionnaire
                    {% else %}
                    answering a few questions about {{character.name}}
                    {% endif %}
                </div>
            </a>
        {% endif %}
        <p>
            <i>Latest {{last_few_answers|length}} of {{num_questions_answered}} answers</i>
        </p>
        {% if last_few_answers %}
        <ul>
            {% for answer in last_few_answers %}
                <li>
                    <a href="{{answer.get_url}}">
                        {{answer.question.prompt}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

{% include "characters/view_pages/moves_snip.html" %}

{% if character.images.count > 1 %}
    <div>
        <h3 style="margin-bottom: 5px;" >
            Images
        </h3>
        {% if early_access and user_can_edit %}
        <a href="{% url 'characters:characters_upload_image' character.id %}" class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            Manage Images
        </a>
        {% endif %}
        <div style="display:flex; flex-wrap: wrap;">

        </div>
        {% for image in character.images.all %}
            {% image_thumb image %}
        {% endfor %}
    </div>
{% endif %}

{% include "characters/view_pages/bio_and_gm_notes_snip.html" %}

{% if character.void_deaths %}
    <hr>
    <div class="container text-danger">
        <h3>
            Voided Deaths
            <div>
                <small>
                    You should probably know about these. . .
                </small>
            </div>
        </h3>
        <ul>
            {% for death in character.void_deaths %}
            <div class="container">
                <li>{{death.date_of_death}} - {{death.cause_of_death }}</li>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% include "characters/view_pages/assets_and_liabilities_snip.html" %}
