{% load markdown_deux_tags %}
{% load power_tags %}
{% load character_tags %}

<div class="row">
    <div class="col-md-6">
        {% if early_access %}
        {% else %}
            <h3 class="text-center" data-toggle="tooltip" title='{{tutorial.powers_view}}'>
                    Powers
            </h3>
        {% endif %}
        {% if new_powers and early_access %}
            <h3 class="text-center">Powers</h3>
            {% for power_full in new_powers %}
                <div>
                    {% power_badge power_full %}
                </div>
            {% endfor %}
        {% endif %}
        {% if signature_items and early_access %}
            <h3 class="text-center" data-toggle="tooltip" >
                Legendary Artifacts
            </h3>
            {% for item in signature_items %}
                {% render_sig_item item request.user character %}
            {% endfor %}
        {% endif %}
        {% if lost_signature_items and early_access %}
            <h3 class="text-center" data-toggle="tooltip" >
                Lost Legendary Artifacts
            </h3>
            {% for item in lost_signature_items %}
                {% render_sig_item item request.user character %}
            {% endfor %}
        {% endif %}
        {% if legacy_powers %}
            <h4>
                {% if early_access %}
                Legacy Powers
                {% endif %}
            </h4>
            {% for power_full in legacy_powers %}
            <div>
                {% power_badge power_full %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if crafted_artifacts and early_access %}
            <h3 class="text-center" data-toggle="tooltip" >
                Crafted Artifacts
            </h3>
            {% for item in crafted_artifacts %}
                {% render_sig_item item request.user character %}
            {% endfor %}
        {% endif %}

        {% if consumables and early_access %}
            <h3 class="text-center" data-toggle="tooltip" >
                Consumables
            </h3>
            {% for consumable in consumables %}
                {% render_consumable consumable request.user %}
            {% endfor %}
        {% endif %}

        <hr>
        <h3 class="text-center" data-toggle="tooltip" title='{{tutorial.equipment|safe}}'>
            Equipment
        </h3>
        <div class="text-center" data-toggle="tooltip" title='{{tutorial.encumbrance|safe}}'>
            <small>
                Max Encumbrance: <span class="js-roll-num-dice" data-attr-id="1" data-multiplier="15">0</span> pounds</b>.
            </small>
        </div>
        {% if user_can_edit %}
         <form id="equipment-form"
               data-post-url="{% url 'characters:post_equipment' character.id secret_key %}">
             <div id="js-equipment-form" style="display:none;">
                 {{ equipment_form.about.errors }}
                 {{ equipment_form.non_field_errors }}
                 {% csrf_token %}
                 {{equipment_form.equipment}}
                 <input class="btn btn-sm btn-default" type="submit" value="Save">
                 <small><a href="https://commonmark.org/help/">Markdown</a> enabled</small>
             </div>
         </form>
        {% endif %}
        <div id="js-equipment-display">
            <span id="js-equipment-text">{{character.equipment | markdown}}</span>
            {% if user_can_edit %}
                <div id="js-edit-equipment-button" class="btn btn-default btn-xs">
                    <i class="fa fa-edit fa-2x"></i> Edit
                </div>
            {% endif %}
        </div>
        {% include "characters/view_pages/weapon_reference.html" %}
        {% include "characters/view_pages/artifacts_snip.html" %}
    </div>
</div>
<hr style="width: 75%;">
<div class="row">
    <div class="col-xs-12 col-md-6">
        {% if crafting_artifact_gifts and early_access %}
            <h3 class="text-center">Artifact Crafting Gifts</h3>
            {% for power_full in crafting_artifact_gifts %}
                <div>
                    {% power_badge power_full %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">
        {% if crafting_consumable_gifts and early_access %}
            <h3 class="text-center">Consumable Crafting Gifts</h3>
            {% for power_full in crafting_consumable_gifts %}
                <div>
                    {% power_badge power_full %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
