<div class="row">
    <div class="col-xs-12 col-md-6">
        {% include "characters/view_pages/timeline_snip.html" %}
    </div>
    <div class="col-xs-12 col-md-6">
        {% include "characters/view_pages/journal_snip.html" %}
    </div>
</div>
{% if early_access %}
<div>
    <h3 style="margin-bottom: 5px;" data-toggle="tooltip" title='{{tutorial.moves|safe}}'>Questionnaire</h3>
    {% if num_questions_answered %}
        <a href="{% url 'questionnaire:questionnaire_view' character.id %}">
            View {{character.name}}'s {{num_questions_answered}} answer{{num_questions_answered|pluralize}}.
        </a>
    {% endif %}
</div>
{% endif %}

{% include "characters/view_pages/moves_snip.html" %}

{% include "characters/view_pages/bio_and_gm_notes_snip.html" %}

{% if character.void_deaths %}
    <hr>
    <div class="container text-danger">
        <h3>
            Voided Deaths
            <div>
                <small>
                    You should probably know about these. . .
                </small>
            </div>
        </h3>
        <ul>
            {% for death in character.void_deaths %}
            <div class="container">
                <li>{{death.date_of_death}} - {{death.cause_of_death }}</li>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% include "characters/view_pages/assets_and_liabilities_snip.html" %}
