{% load static %}
{% load games_tags %}
{% load bootstrap %}
{% load markdown_deux_tags %}



<div class="row">
    <div class="col-xs-12">
        {% include "characters/view_pages/essentials_section.html" %}
    </div>
</div>
{% include "characters/view_pages/attributes_and_abilities.html" %}
{% include "characters/view_pages/combat_reference.html" %}
<div class="row css-health-section">
    <div class="col-md-4">
        {% include "characters/view_pages/left_column.html" %}
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                {% include "characters/view_pages/center_column.html" %}
            </div>
            <div class="col-md-6">
                {% include "characters/view_pages/right_column.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Assets And Liabilities</h3>
        {% if assets %}
            <span class="css-condition-cell-header">
                Assets
            </span>
            {% for asset_details in assets %}
                <div class="css-quirk-container">
                    <b>
                        <span class="css-quirk-value">
                            +{{asset_details.relevant_asset.value}}
                        </span>
                    </b>
                    <span class="css-quirk-content">
                        <b class="css-quirk-name">
                            {{asset_details.relevant_asset.name}}:
                        </b>
                        {{asset_details.relevant_asset.system}}
                        {% if asset_details.details %}
                            <div class="css-quirk-details">
                                <b>{{asset_details.relevant_asset.details_field_name}}:</b>
                                {{asset_details.details}}
                            </div>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
        {% if liabilities %}
            <span class="css-condition-cell-header">
                Liabilities
            </span>
            {% for liability_details in liabilities %}
                <div class="css-quirk-container">
                    <b>
                        <span class="css-quirk-value">
                            -{{liability_details.relevant_liability.value}}
                        </span>
                    </b>
                    <span class="css-quirk-content">
                        <b class="css-quirk-name">
                            {{liability_details.relevant_liability.name}}:
                        </b>
                        {{liability_details.relevant_liability.system}}
                        {% if liability_details.details %}
                            <div class="css-quirk-details">
                                <b>{{liability_details.relevant_liability.details_field_name}}:</b>
                                {{liability_details.details}}
                            </div>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h3 class="text-center" data-toggle="tooltip" title='{{tutorial.conditions|safe}}'>
            Conditions
        </h3>
        {% if not circumstances_by_cell %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info text-center">
                        <p>
                            <b>Conditions are GM-assigned status effects.</b>
                        </p>
                        <p>
                            Examples of Conditions include supernatural curses, enchantments, and diseases.
                            Conditions are created by GMs and Playgroup leaders and are not subject to any standardized balance.
                            Therefore, their effects may be altered or ignored outside the Playgroup where they were obtained.
                            For example, lycanthropy may be contagious in one Playgroup, but not another.
                        </p>
                        {% if user_can_edit %}
                        <p>
                            Until you participate in a Contract or join a Playgroup, you cannot add
                            Conditions to your Contractor.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="js-world-element-container">
            {% for cell, conditions in conditions_by_cell.items %}
            <div class="css-condition-section">
                    <span class="css-condition-cell-header"
                          {% if conditions|length == 0 %}
                              style="display:none;"
                          {% endif %}
                    >
                        <a href="{% url 'cells:cells_view_cell' cell.id %}">
                            {{cell.name}}
                        </a>
                    </span>
                <div class="js-world-element-content-{{cell.id}}">
                    {% for condition in conditions %}
                    <div>
                        {% if user_can_edit %}
                            <span class="pull-left css-world-element-edit">
                                <button class="btn btn-xs btn-default js-edit-world-element-button"
                                        data-id="{{artifact.id}}"
                                        data-element-type="artifact"
                                        style="margin-right: 5px;">
                                    <i class="fa fa-edit fa-1x"></i>
                                </button>
                            </span>
                            <span class="pull-left css-world-element-delete">
                                <form class="js-delete-world-element-form"
                                      data-del-world-element-url="{% url 'characters:delete_world_element' condition.id 'condition' secret_key %}">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-xs btn-danger" value="X" />
                                </form>
                            </span>
                        {% endif %}
                        <div class="css-world-entity-value">
                            <span class="css-world-element-name">
                                {{condition.name}}
                            </span>
                                <span class="css-world-element-description">
                                {{condition.description}}
                            </span>
                                <span class="css-world-element-system">
                                {{condition.system}}
                            </span>
                        </div>
                        {% if condition_form %}
                            <form class="js-edit-world-element-form"
                                  data-edit-world-element-url="{% url 'characters:edit_world_element' condition.id 'condition' secret_key %}"
                                  style="display:none;">
                                <div style="margin-bottom: 10px;">
                                    {{condition_form.name|bootstrap}}
                                    {{condition_form.description|bootstrap}}
                                    {{condition_form.system|bootstrap}}
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary" value="Save" />
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        {% if condition_form %}
            <div class="text-center">
                <a class="btn btn-default btn-sm wiki-entry-collapsible text-center">New Condition</a>
                <div class="collapse-content clearfix" style="display:none;">
                    <div class="text-left">
                    {% with 'condition' as element %}
                        {% with default_condition_form as default_form %}
                            {% include "characters/view_pages/world_element_form.html" %}
                        {% endwith %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center" data-toggle="tooltip" title='{{tutorial.circumstances|safe}}'>
            Circumstances
        </h3>
        {% if not circumstances_by_cell %}
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert alert-info text-center">
                        <p>
                            <b>Circumstances describe your Contractor's situation in various Playgroups.</b>

                        </p>
                        <p>
                            Enemies, wealth, notoriety, status, contacts, fame, and imprisonment are all examples of potential
                            Circumstances.
                        </p>
                        {% if user_can_edit %}
                        <p>
                            Until you participate in a Contract or join a Playgroup, you cannot add
                            Circumstances to your Contractor.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="js-world-element-container">
            <div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
                {% for cell, circumstances in circumstances_by_cell.items %}
                <div class="panel panel-default css-circumstance-section"
                     {% if circumstances|length == 0 %}
                     style="display:none;"
                     {% endif %}
                >
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-circumstance-{{cell.id}}"
                        aria-controls="collapse-circumstance-{{cell.id}}"
                       {% if cell.id == initial_cell.id %}
                           aria-expanded="true"
                       {% else %}
                           aria-expanded="false"
                       {% endif %}
                    >
                        <div class="panel-heading css-circumstance-heading" role="tab" id="circumstance-heading-{{cell.id}}">
                            <h5 class="panel-title">{{cell.name}}</h5>
                        </div>
                    </a>
                    <div id="collapse-circumstance-{{cell.id}}"
                         class="panel-collapse collapse js-world-element-content-{{cell.id}} css-circumstance-container
                         {% if cell.id == initial_cell.id %} in {% endif %}"
                         labelledby="circumstance-heading-{{cell.id}}"
                         {% if cell.id == initial_cell.id %}
                         aria-expanded="true"
                         {% else %}
                         aria-expanded="false"
                         {% endif %}
                    >
                        <div class="panel-body" style="padding-top: 5px;">
                            {% for circumstance in circumstances %}
                                <div class="css-world-entity-container">
                                    {% if user_can_edit %}
                                        <span class="pull-left css-world-element-edit">
                                            <button class="btn btn-xs btn-default js-edit-world-element-button"
                                                style="margin-right: 5px;">
                                                <i class="fa fa-edit fa-1x"></i>
                                            </button>
                                        </span>
                                        <span class="pull-left css-world-element-delete">
                                            <form class="js-delete-world-element-form"
                                                  data-del-world-element-url="{% url 'characters:delete_world_element' circumstance.id 'circumstance' secret_key %}">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-xs btn-danger" value="X" />
                                            </form>
                                        </span>
                                    {% endif %}
                                    <div class="css-world-entity-value">
                                        <span class="css-world-element-name">
                                            {{circumstance.name}}
                                        </span>
                                            <span class="css-world-element-description">
                                            {{circumstance.description}}
                                        </span>
                                            <span class="css-world-element-system">
                                            {{circumstance.system}}
                                        </span>
                                    </div>
                                    {% if condition_form %}
                                        <form class="js-edit-world-element-form"
                                              data-edit-world-element-url="{% url 'characters:edit_world_element' circumstance.id 'circumstance' secret_key %}"
                                              style="display:none;">
                                            <div id="edit-artifact-__world_entity_" style="margin-bottom: 10px;">
                                                {{condition_form.name|bootstrap}}
                                                {{condition_form.description|bootstrap}}
                                                {{condition_form.system|bootstrap}}
                                                <div class="text-center">
                                                    <input type="submit" class="btn btn-primary" value="Save" />
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if circumstance_form %}
                <div class="row text-center">
                    <a class="btn btn-default btn-sm wiki-entry-collapsible">New Circumstance</a>
                    <div class="collapse-content clearfix" style="display:none;">
                        <div class="col-md-8 col-md-offset-2 text-left">
                            {% with 'circumstance' as element %}
                                {% with default_circumstance_form as default_form %}
                                    {% include "characters/view_pages/world_element_form.html" %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>