{% extends "site_base.html" %}
{% load static %}
{% load bootstrap %}
{% load i18n %}
{% load account_tags %}

{% block head_title %}
    {{character.name}}
{% endblock %}
{% block body_class %}
    home
{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'characters/view_character_style.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'characters/print_character_style.css' %}" />
{% endblock %}
{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.js"></script>
    {{num_body_levels|json_script:"numBodyLevels"}}
    {{num_mind_levels|json_script:"numMindLevels"}}
    {{character.mental_damage|json_script:"mindDamage"}}
    {{character.source_values|json_script:"sourceValues"}}
    {{character.equipment|json_script:"equipment"}}
    {{character.background|json_script:"bio"}}
    {{character.notes|json_script:"notes"}}
    {{element_description_by_name|json_script:"descByName"}}
    <script src="{% static 'characters/view_character.js' %}"></script>
    {{attribute_value_by_id|json_script:"attributeValueById"}}
    {{ability_value_by_id|json_script:"abilityValueById"}}
    <script src="{% static 'characters/roll_values.js' %}"></script>
    <script src="{% static 'characters/world_elements.js' %}"></script>
{% endblock %}

{% block body_base %}
<script type="text/html" id="world-entity-template">
    <div>
        <span class="pull-left css-world-element-edit">
            <button class="btn btn-xs btn-default js-edit-world-element-button"
                    style="margin-right: 5px;">
                <i class="fa fa-edit fa-1x"></i>
            </button>
        </span>
        <span class="pull-left css-world-element-delete">
            <form class="js-delete-world-element-form" data-del-world-element-url=__delUrl__>
                {% csrf_token %}
                <input type="submit" class="btn btn-xs btn-danger" value="X" />
            </form>
        </span>
        <div class="css-world-entity-value">
            <span class="css-world-element-name">
                __world_entity_name__
            </span>
            <span class="css-world-element-description">__world_entity_description__</span>
            <span class="css-world-element-system">__world_entity_system__</span>
        </div>
        <form class="js-edit-world-element-form"
              data-edit-world-element-url="__editUrl__"
              style="display:none;">
            <div id="edit-artifact-__world_entity_" style="margin-bottom: 10px;">
                {% if condition_form %}
                    {{condition_form.name|bootstrap}}
                    {{condition_form.description|bootstrap}}
                    {{condition_form.system|bootstrap}}
                {% endif %}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </form>
    </div>
</script>
<div class="container css-only-print-block">
    <h1>
        Use the "PDF / Print" option under the "Download or Print" dropdown at the top of the character sheet to print this
        Contractor
    </h1>
</div>
<div class="container css-no-print">
    {% include "characters/view_pages/header_section.html" %}
    <div class="char-view-alerts">
        <div class="row text-center">
            <div class="col-xs-12">
                {% include "characters/view_pages/alerts.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include "characters/view_pages/name_and_player.html" %}
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs nav-justified nav-justified-sm" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    Status
                </a>
            </li>
            <li role="presentation">
                <a href="#community" aria-controls="community" role="tab" data-toggle="tab">
                    Stock
                </a>
            </li>
            <li role="presentation">
                <a id="settingTab" href="#setting" aria-controls="setting" role="tab" data-toggle="tab">
                    Story
                </a>
            </li>
        </ul>
        <div class="panel panel-default css-cell-body">
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="home">
                        {% include "characters/view_pages/tab_stats.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="community">
                        <div hx-get="{% url 'characters:characters_view_stock' character.pk %}" hx-trigger="load">
                            <div class="css-loading">
                                <h1 style="margin-bottom: 0px; margin-top: 10px;">
                                    <span class="glyphicon glyphicon-refresh spin" ></span>
                                </h1>
                                <h2 style="margin-top: 0px;">
                                    <small style="margin-top: 0px;">Loading...</small>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="setting">
                        {% include "characters/view_pages/tab_story.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}