{% load bootstrap %}
<form class="js-world-element-form"
      data-new-world-element-url="{% url 'characters:post_world_element' character.id element secret_key %}"
      data-edit-world-element-url="{% url 'characters:edit_world_element' 'worldElementIdJs' element  secret_key %}"
      data-delete-world-element-url="{% url 'characters:delete_world_element' 'worldElementIdJs' element secret_key %}">
    {% csrf_token %}
    {% if default_form and early_access %}
        <div class="js-premade-element-form">
            {{default_form|bootstrap}}
        </div>
    {% endif %}
    <div class="form-inline">
        {{condition_form.name|bootstrap}} {{condition_form.cell|bootstrap}}
    </div>
    {{condition_form.description|bootstrap}}
    {{condition_form.system|bootstrap}}
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Add {{element|capfirst}}" />
    </div>
</form>