{% extends "site_base.html" %}

{% load static %}
{% load account_tags %}
{% load bootstrap %}

{% block head_title %}
Answer Questionnaire
{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'questionnaire/write_scripts.js' %}"></script>
<script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Answering
        <a href="{% url 'questionnaire:questionnaire_view' character.id %}">
            {{character.name}}'s Questionnaire
        </a>
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row text-center">
                <a class="btn btn-default btn-sm wiki-entry-collapsible" style="margin-bottom: 0px">Help!</a>
                <div class="collapse-content clearfix"  style="display:none;">
                    <br>
                    <div class="col-md-8 col-md-offset-2 thumbnail text-left">
                        <p>
                            The Questionnaire is a series of character-building questions you can
                            answer for Experience and Improvements.
                        </p>
                        <p>
                            If you opt to answer in-character, don't be secretive. Pretend {{character.name}} was dosed with
                            truth serum or is answering the questions in their head.
                        </p>
                        <p>
                            <b>The first five questions</b> are available right from character creation. Answering all
                            five awards <b>5 Exp</b>.
                        </p>
                        <p>
                            <b>After that,</b> each time {{character.name}} attends a Contract (win or lose), they unlock
                            two more questions. Each pair of questions awards 1 Exp, except the first pair and every 5
                            pairs afterwards, which award an Improvement instead.
                            That means answering questions 7, 17, and 27 award an Improvement, and questions 9, 11, 13, etc award 1 Exp.
                        </p>
                        <p>
                            Because your answers to some questions are bound to change over time, <b>each question
                            records when you answer it.</b> Some questions can be re-answered for credit after <b>10</b>
                            Contracts have passed since your original answer. However, you must still unlock them two at
                            a time by participating in Contracts.
                        </p>
                        <p>
                            <b>You cannot edit your answers from previous Contracts.</b> Any unanswered questions
                            remain available to answer until you're ready.
                        </p>
                    </div>
                </div>
            </div>



            <h3 id="answer-{{answer.id}}">
                {{question.prompt}}
            </h3>
            <div class="text-muted">
                <small>
                    <i>Your answer must be at least <b style="font-size:1.3em;">{{question.min_word_count}} words</b> to earn credit and unlock the next question.</i>
                </small>
            </div>
            <form
                    {% if existing_answer %}
                        action="{% url 'questionnaire:questionnaire_edit' existing_answer.id %}"
                    {% else %}
                        action="{% url 'questionnaire:questionnaire_answer_question' character.id question.id %}"
                    {% endif %}
                  method="post" onsubmit="setFormSubmitting()">
                {% csrf_token %}
                {{form.content|bootstrap}}
                {% if request.user.profile.view_adult_content %}
                    {{form.is_nsfw|bootstrap}}
                {% endif %}
                <input id="question-submit" class="btn btn-primary" type="submit" value="Submit" />
            </form>
            {% if not existing_answer or not existing_answer.is_valid %}
                <div style="margin-top: 10px;">
                    {% if questions_until_reward == 0 %}
                        Answer this question with at least <b style="font-size:1.3em;">{{question.min_word_count}} words</b> to earn {{next_reward_string}}!
                    {% else %}
                        Answer this question and {{questions_until_reward}} more to earn {{next_reward_string}}.
                        <p>
                            Your answer must be at least <b style="font-size:1.3em;">{{question.min_word_count}} words</b> to unlock the next question.
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
