.css-art-403 {
    max-width: 100%;
    height: 65vh;
}

.css-xs-art-403 {
    max-width: 100%;
    height: 40vh;
}

h3 {
    margin-top: 0px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
}

.backdropped {
    padding-bottom: 40px;
}