.css-home-panel {
    margin-top: 5px;
    margin-bottom: 5px !important;
    padding-left: 5px;
}

.css-home-alert {
    padding: 10px;
}

.css-home-alert .nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.css-home-row {
    margin-right: 0px;
    margin-left: 0px;
}

.css-blog-header {
    margin-top: 5px;
    padding-top: 5px;
}

.css-header-buttons {
    padding-top: 15px;
    float: right !important;
}

@media (max-width: 767px) {
    .css-header-buttons {
        width: 100%;
        float: left !important;
        padding-top: 0px;
        padding-bottom: 10px;
    }
}

.css-header-title {
    margin-top: 15px;
}

.css-transparent-overlay-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.css-transparent-overlay {
    background-color: rgba(255, 255, 255, 0.05);
}

.css-backgrounded {
    background-color: #20252d !important;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.css-accordion-body {
    border-radius: 3px;
    border-radius-top: 0px;
    border: 1px solid #a6763a;
    border-top: 0px solid transparent;
    -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.css-accordion-header {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #2c323d;
}

.css-accordion-header:hover {
    background-color: #353e4b;
}

.css-accordion-header-button>div{
    border-radius: 3px;
    border: 1px solid #a6763a;
    border-bottom: 0px solid transparent;
    -webkit-border-radius: 3px 3px 0px 0px;
     -moz-border-radius: 3px 3px 0px 0px;
          border-radius: 3px 3px 0px 0px;
}

.css-accordion-header-button.collapsed>div{
    border: 1px solid transparent;
}


.css-accordion-header h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.css-accordion-header .nav-justified{
    margin-left: -15px;
    margin-right: -15px;
    width: inherit;
}

.css-accordion-body {
    padding: 5px;
}

.css-accordion-body .nav .btn {
    padding-top: 3px;
    padding-bottom: 3px;
}