.css-main-section {
    height: 80vh;
    width: 100%;
}

.css-main-slideshow {
  position: relative;
  overflow: hidden;
    height: 80vh;
    z-index: -50;
}

.css-main-images {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3653vh;
  animation: slideshow 480s linear infinite;
  transform: translate3d(0, 0, 0);
  background-size: contain;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  {
    -webkit-transform: translateX(-3653vh);
  }
}

.css-main-logo {
    position: relative;
    width: 50%;
    min-width: 370px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.css-logo-cont {
    position: absolute;
    top: 30vh;
    width: 100%;
}

.css-main-text {
    position: relative;
    top: 25vh;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.css-main-text .btn {
    text-shadow: none;
    font-size: 28px;
}

.css-main-text {
    position: relative;
    width: 50%;
    max-width: 900px;
    min-width: 375px;
    margin: 0;
    position: absolute;
    top: 35vh;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.css-art-front-punk {
    height: 92vh;
    width: 100%;
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 768px) {
    .css-art-front-punk {
        background-size: cover, 100%;
        background-position: top center;
    }
}

.css-punk-text {
    position: relative;
    color: #e1b276;
    top: 25vh;
    font-size: 24px;
    font-family: Prompt, Helvetica, sans-serif;
    width: 60%;
    float: left;
    left: 20%;
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
}

.css-punk-text p {
    margin-top: 3vh;
}

@media(min-width: 1600px) {
    .css-punk-text {
        font-size: 30px;
        left: 30%;
    }
}

.punk-bold {
    font-weight: 500;
    margin-bottom: 5vh;
    text-align: center;
}

.css-talent-section {
    background-color: #20252d;
}

.css-art-front-talent {
    height: 90vh;
    width: 80vw;
    top: 1vh;
    position: relative;
    left: 2vw;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;

}

.affix {
    top: 50px;
    left: 0px;
}

.css-talent-section-text {
    width: 55%;
    position: relative;
    left: 45%;
    padding-right: 50px;
    padding-top: 50px;
}


.css-talent-narrative {
    color: #e1b276;
    padding: 25px;
    font-size: 16px;
    font-family: PT sans, Helvetica,Arial,sans-serif;
}
.css-talent-narrative b {
    font-size: 20px;
}
