@media (max-width: 768px) {
    .css-mobile-spacer-10 {
        height: 10vh;
    }
    .css-mobile-spacer-20 {
        height: 20vh;
    }
    .css-mobile-spacer-30 {
        height: 30vh;
    }
    .css-mobile-spacer-40 {
        height: 45vh;
    }
    .css-mobile-spacer-50 {
        height: 50vh;
    }
}

.css-main-section {
    height: 80vh;
    width: 100%;
}

@media (max-width: 768px) {
    .css-main-section {
        min-height: 100vh;
        height: auto;
    }
}

.css-main-slideshow {
  position: absolute;
  top: 50px;
  overflow: hidden;
  height: 80vh;
  z-index: -50;
  width: 100%;
}

@media (max-width: 768px) {
    .css-main-slideshow {
        height: 100%;
    }
}

.css-main-images {
  position: absolute;
  left: 0;
  top: 0;
  height: 80vh;
  width: 3653vh;
  animation: slideshow 480s linear infinite;
  transform: translate3d(0, 0, 0);
  background-size: contain;
}

@media (max-width: 768px) {
    .css-main-images {
        height: 95vh;
    }
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  {
    -webkit-transform: translateX(-3653vh);
  }
}

.css-main-logo {
    position: relative;
    width: 50%;
    min-width: 370px;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .css-main-logo {
        padding: 10px;
        padding-top: 150px;
    }
}

.css-logo-cont {
    width: 100%;
    position: relative;
    top: 0px;
    top: 150px;
}

@media (max-width: 768px) {
    .css-logo-cont {
        padding-top: 0px;
    }
}


.css-main-text .btn {
    text-shadow: none;
    font-size: 28px;
}

.css-main-text {
    width: 50%;
    max-width: 900px;
    min-width: 375px;
    margin: 0;
    position: relative;
    margin-top: 15vh;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

@media (max-width: 768px) {
    .css-main-text {
        margin-top: 35vh;
        padding: 15px;
        padding: 15px;
    }
}

.css-art-front-punk {
    height: 95vh;
    width: 100%;
    background-position: top right;
    background-size: contain, 100%;
    background-repeat: no-repeat;
    background-color: #111418;
    position: absolute;
    z-index: -2;
}

@media(max-width: 768px) {
    .css-art-front-punk {
        height: 95vh;
        background-size: cover, 100%;
        background-position: top center;
    }
}

.css-punk-text {
    color: #e1b276;
    font-size: 24px;
    font-family: Prompt, Helvetica, sans-serif;
    width: 60%;
    padding-bottom: 20vh;
}

@media(min-width: 769px) {
    .css-punk-text {
        padding-top: 150px;
        padding-left: 10vh;
    }
}

@media(max-width: 768px) {
    .css-punk-text {
        padding-top: 50vh;
        width: 100%;
    }
    .css-backdropped-text {
        background-color: rgba(17, 20, 24, 0.5);
        padding: 15px;
    }
}


.css-punk-text p {
}

@media(min-width: 1600px) {
    .css-punk-text {
        font-size: 30px;
        left: 30%;
    }
}

.punk-bold {
    font-weight: 500;
    margin-bottom: 5vh;
    text-align: center;
}

.css-talent-section {
    background-color: #20252d;
}

.css-art-front-talent {
    height: 90vh;
    width: 80vw;
    top: 1vh;
    position: relative;
    left: 2vw;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 768px) {
    .css-art-front-talent {
        background-position: top center;
        background-size: cover, 100%;
        width: 100vw;
        left: 0px;

    }
}

.affix {
    position: fixed;
    top: 50px;
    left: 0px;
}

.affix-bottom {
    position: absolute;
}

.css-talent-section-text {
    width: 55%;
    position: relative;
    left: 45%;
    padding-right: 50px;
    padding-top: 50px;
}

@media(max-width: 768px) {
.css-talent-section-text {
    left: 0px;
    width: 100%;
    padding: 15px;
    padding-top: 70vh;
    }
}


.css-talent-narrative {
    color: #e1b276;
    padding: 25px;
    font-size: 16px;
    font-family: PT sans, Helvetica,Arial,sans-serif;
}

.css-talent-narrative b {
    font-size: 20px;
}
