.collapse-content {
  padding: 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.article-toc {
    width: 100%;
    list-style-type:decimal;
    font-size: 15px;
    color: #9fb1bc;
}

.article-toc ul {
    list-style-type:lower-alpha;
    color: #9fb1bc;
}

.article-toc ul ul {
    list-style-type:lower-roman;
}

.css-article-content {
    background-color: #353e4b !important;
    margin: auto;
}

#article-container {
    max-width: 1650px;
    margin: auto;
}

.article-toc li {
    width: 100%;
}

.article-toc li>a {
    width: 100%;
    display: block;
    padding: 2px;
}

.article-toc li>a:hover {
    background-color: #353e4b;
    border-radius: 2px;
}

#current-article>a {
    background-color: #252e3b;
    border-right: 1px solid #a6763a;
    border-radius: 2px;
    width: 100%;
    font-weight: bold;
    font-size: 17px;
}

#current-article {
    color: #a6763a;
}