{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}Editing Profile{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">Editing Profile</h1>
    <div class="panel panel-default">
        <div class="panel-body">
             {{ form.about.errors }}
             <form action="{% url 'profiles:profiles_edit' %}" method="post">
                 {{ form.non_field_errors }}
                 {% csrf_token %}
                 {{ form.about | bootstrap }}
                 {{form.view_adult | bootstrap }}
                 {{form.private_profile | bootstrap }}
                {{form.hide_fake_ads | bootstrap }}
                 <input class="btn btn-primary" type="submit" value="Done!" />
            </form>
        </div>
    </div>
</div>
{% endblock %}