{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}
{% load postman_tags %}
{% load markdown_deux_tags %}
{% load static %}
{% load cells_tags %}

{% block head_title %}Viewing Profile{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/profiles_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1 class="text-center">{{profile.user.username}}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <h3>
                            Profile
                        </h3>
                        <small>
                            Member Since {{profile.user.date_joined}}
                            |
                            {% if profile.user == request.user %}
                                <a href="{% url 'profiles:profiles_edit' %}">
                                    <i class="fa fa-edit"></i> {% trans "Edit Profile" %}
                                </a>
                            {% else %}
                                <a href="{% url 'postman:write' profile.user.username %}">
                                    <i class="fa fa-envelope-o fa-1x"></i> Send {{profile.user.username}} a Message
                                </a>
                            {% endif %}
                        </small>
                    </div>
                    {% if profile.about %}
                        <p>{{profile.about | markdown}}</p>
                    {% endif %}
                    <div class="text-center">
                        <h3>
                            Cells
                        </h3>
                    </div>
                    {% if cells %}
                        <ul class="nav nav-pills nav-stacked">
                            {% for cell in cells %}
                                <li>
                                    <a href="{% url 'cells:cells_view_cell' cell.id %}">
                                        <b>{{cell.name}}</b>
                                        <br>
                                        <small>
                                            {% player_rank cell profile.user %}
                                            - {{ cell.number_of_members }} Member{{cell.number_of_members|pluralize}}
                                            - Game Participation: {% num_games_player_participated cell profile.user %}
                                        </small>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>
                            {{profile.user.username}} is not a member of any Cells.
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h3 class="text-center">
                            {{profile.get_player_prefix_display}} {{profile.get_player_suffix_display}}
                        </h3>
                        <p>
                            {{profile.user.username}} has played {{num_games_played}} Game{{num_games_played|pluralize}} as
                            {{num_contractors_played}} Contractor{{num_contractors_played|pluralize}},
                            accruing a total of {{num_contractor_victories}} Win{{num_contractor_victories|pluralize}},
                            {{num_contractor_losses}} Failure{{num_contractor_losses|pluralize}},
                            and {{num_contractor_deaths}} Contractor Death{{num_contractor_deaths|pluralize}}.
                        </p>
                        <p>
                            They have survived {{num_deadly_games_survived}} Game{{num_deadly_games_survived|pluralize}} where another Contractor died.
                            <br>
                            <a href="#contractors-sec">View Contractors</a>
                        </p>
                        <br>
                        <h3 class="text-center">
                            {% if profile.gm_prefix %}
                                {{profile.get_gm_prefix_display}}
                            {% endif %}
                            {{profile.get_gm_suffix_display}}
                        </h3>
                        <p>
                            {{profile.user.username}} has run X Games
                            in Y Cells
                            for Z Contractors and
                            N Players.
                            They awarded X Victories
                            and Y Losses,
                            at the cost of Z Contractors.
                        </p>
                        <p>
                            They have achieved the Golden Ratio X times.
                            <br>
                            <a href="#games-sec">
                                View Games and Scenarios
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="contractors-sec"></div>
            <hr>
            <div class="row" >
                <div class="text-center">
                    <h2>Contractors</h2>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h2>
                        <small>Deceased Contractors</small>
                    </h2>
                </div>

                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            Contractor Name <small>The Demon Baker</small>
                        </h4>
                        A 5-Victory Novice from <a>Nevada County Game Players</a>
                    </div>
                </div>
            </div>

            <div id="games-sec"></div>
            <hr>

            <div class="row">
                <div class="text-center">
                    <h2>
                        Scenarios
                        <br>
                        <small>
                            Scenarios by User1 in your Gallery
                        </small>
                    </h2>
                </div>
            </div>
            <p>
                You have discovered Y of the X Scenarios {{profile.user.username}} has written.
            </p>
            <div class="row">
                {% for scenario in discovered_scenarios %}
                    {% if forloop.counter|divisibleby:2 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-6">
                        {% include "games/scenario_badge_snippet.html" %}
                    </div>
                {% empty %}
                    </div>
                    <div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="text-center">
                    <h2>
                        Game History
                    </h2>
                </div>
            </div>
            <ul>
                {% for game in game_history %}
                    <li>
                        {% include "games/game_history_badge_snippet.html" %}
                    </li>
                {% empty %}
                    </ul>
                    <p>
                        {{profile.user.username}} has never attended or run a Game.
                    </p>
                    <ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}