{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}Choose a Category{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'powers/tutorial_modal_script.js' %}"></script>
    <script>
        cookieName="base";
        {% if show_tutorial %}
            showTutorial=true;
        {% else %}
            showTutorial=false;
        {% endif %}
    </script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/tutorial_modal_style.css' %}" />
{% endblock %}

{% block body_base %}

<div class="container">
    {% include "powers/power_tutorial_modal.html" %}
    <div >
        <h1 >
            <div class="text-center">
                Create a New Power
                {% if character %}
                for {{character.name}}
                {% endif %}
                <br>
                <div>
                    <small>
                        Select an Effect
                    </small>
                    <div class="text-right" style="display:inline-block;">
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#tutorialModal">
                    Help!
                </button>

                </div>

                </div>
            </div>
        </h1>
    </div>
        {% for category in category_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin-top: 5px !important; margin-bottom: 5px !important; font-size: 22px; ">
                        {{category.name}} Effects
                        <small>

                        <div class="visible-xs-block">
                            {{category.description}}
                        </div>
                        <span class="pull-right hidden-xs">
                            {{category.description}}
                        </span>
                        </small>
                    </h3>
                </div>
                <div class="panel-body" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="row">
                {% for power in category.base_power_set.all %}
                    {% if power.is_public %}
                    <div class="col-xs-12" style="padding-left:40px;">
                        {% if character %}
                            <a href="{% url 'powers:powers_create_power_for_char' power.slug character.id %}">
                        {% else %}
                            <a href="{% url 'powers:powers_create_power' power.slug %}">
                        {% endif %}
                            <h4 style="margin-top: 4px !important; margin-bottom: 4px !important;">
                                {{ power.name }}
                                <small>
                                    {{ power.summary }}
                                    <span data-toggle="tooltip" title='Seasoned Contractors have at least 10 Victories. Veterans have at least 25.'>
                                        {% if power.required_status == "SEASONED" %}
                                            (Requires Seasoned)
                                        {% elif power.required_status == "VETERAN" %}
                                            (Requires Veteran)
                                        {% endif %}
                                    </span>
                                </small>
                            </h4>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
{% endblock %}