<div class="row">
    {% for power in powers_list %}
        <div class="col-lg-4 col-sm-6">
            {% if character %}
                <a href="{% url 'powers:powers_create_power_for_char' power.slug character.id %}">
            {% else %}
                <a href="{% url 'powers:powers_create_power' power.slug %}">
            {% endif %}
                <div class="thumbnail">
                    <div class="label">
                        <h3>{{ power.name }}</h3>
                        <p>{{ power.summary }}</p>
                        <a href="{% url 'powers:powers_view_base' power.slug %}">
                        {% if power.required_status == "SEASONED" %}
                            <i class="fa fa-flash fa-1x"></i>
                        {% endif %}
                        {% if power.required_status == "VETERAN" %}
                            <i class="fa fa-flash fa-1x"></i>
                            <i class="fa fa-flash fa-1x"></i>
                        {% endif %}
                            details</a>
                    </div>
                </div>
            </a>
        </div>
    {% empty %}
    <p>No base powers..</p>
    {% endfor %}
</div>