<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <div class ="label">
                {% if character %}
                    <a href="{% url 'powers:powers_create_all_for_char' character.id %}">
                {% else %}
                    <a href="{% url 'powers:powers_create_all' %}">
                {% endif %}
                    <h3>All Categories</h3>
                    <p>All of 'em</p>
                </a>
            </div>
        </div>
    </div>
    {% if category_list %}
    {% for category in category_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="label">
                    {% if character %}
                        <a href="{% url 'powers:powers_create_category_for_char' category.slug character.id %}">
                    {% else %}
                        <a href="{% url 'powers:powers_create_category' category.slug %}">
                    {% endif %}
                        <h3>{{ category.name }}</h3>
                        <p>{{ category.description }}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No available categories. . .</p>
    {% endif %}
</div>