{% load account_tags %}

<div class="thumbnail power-badge"
     id="collapse-power-{{power_full.id}}-heading"
     role="button" data-toggle="collapse"
     data-target=".collapse-power-{{power_full.id}}"
     aria-expanded="false"
     aria-controls="collapse-power-{{power_full.id}}"
     style="margin-bottom: 5px;">
  <h4>
    {% if user_can_edit and available_gift %}
    <a href="{% url 'powers:powers_edit_ps2' power_full.id %}" class="btn btn-success btn-xs">
      <i class="fa fa-plus-square fa-2x"></i>
    </a>
    {% endif %}
    <a href="{% url 'powers:powers_view_power_full' power_full.id %}">
      {{latest_revision.name}}
    </a>
    <small>
      - {{power_full.get_gift_cost}} Gift
      {{power_full.base.name}}
      Power

      {% if power_full.character and not power_full.at_least_one_gift_assigned %}
      <p class="text-danger">
        No Gifts assigned!
      </p>
      {% elif power_full.character and power_full.get_gift_cost > power_full.reward_list|length %}
      <p class="text-danger">
        {{power_full.reward_list|length}} Rewards assigned
      </p>
      {% endif %}
    </small>
  </h4>
  <p><i>{{latest_revision.description|linebreaks}}</i></p>
  <div class="panel-collapse collapse collapse-power-{{power_full.id}}"
       role="tabpanel"
       aria-labelledby="collapse-power-{{power_full.id}}-heading">
    <div class="js-render-power-keywords">
      {{latest_revision.render_system}}
    </div>
    {% if latest_revision.enhancement_instance_set.all %}
    <div>
      <b>Enhancements</b>
      <ul>
        {% for instance in latest_revision.enhancement_instance_set.all %}
        <li>
          <b>{{instance.relevant_enhancement.name}}:</b> {{instance.relevant_enhancement.description}}
          {% if instance.relevant_enhancement.eratta%}
          <span data-toggle="tooltip"
                title="{{instance.relevant_enhancement.eratta}}"
                data-placement="top">
                            <i class="fa fa-question-circle fa-1x"></i>
                        </span>
          {% endif %}
          {% if instance.detail%}
          <ul><li>
            {{instance.relevant_enhancement.detail_field_label}}: {{instance.detail}}
          </li></ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if latest_revision.drawback_instance_set.all %}
    <div>
      <b>Drawbacks</b>
      <ul>
        {% for instance in latest_revision.drawback_instance_set.all %}
        <li>
          <b>{{instance.relevant_drawback.name}}:</b> {{instance.relevant_drawback.description}}
          {% if instance.relevant_drawback.eratta%}
          <span data-toggle="tooltip"
                title="{{instance.relevant_drawback.eratta}}"
                data-placement="top">
                            <i class="fa fa-question-circle fa-1x"></i>
                        </span>
          {% endif %}
          {% if instance.detail%}
          <ul><li>
            {{instance.relevant_drawback.detail_field_label}}: {{instance.detail}}
          </li></ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if power_full.example_description %}
    <small style="font-style: italic; color: #808080;">Stock Power Tip: {{power_full.example_description|safe}}</small>
    {% endif %}
  </div>
  {% if power_full.tags.all %}
  <a href="{% url 'powers:powers_create_power_from_existing' latest_revision.id %}"
     class="btn btn-default btn-xs">
    Customize
  </a>
  {% endif %}
  <div class="collapse collapse-power-{{power_full.id}} in"
       role="tabpanel"
       aria-labelledby="collapse-power-{{power_full.id}}-heading">
    <small class="visible-xs-block visible-sm-block text-center"><i>Tap to show system</i></small>
    <small class="visible-md-block visible-lg-block text-center"><i>Click to show system</i></small>
  </div>
</div>
