{% extends "site_base.html" %}

{% load i18n %}
{% load image_tags %}


{% block head_title %}Power Images{% endblock %}

{% block body_class %}home{% endblock %}


{% load bootstrap %}
{% load ad_tags %}
{% load static %}

{% block extra_scripts %}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        Managing Images for
        <a href="{% url 'powers:powers_view_power' power.id %}">
            {{power.name}}
        </a>
        {% if power.parent_power.character %}
        <div>
            <small>
                On
                <a href="{% url 'characters:characters_view' power.parent_power.character.id %}">
                    {{power.parent_power.character.name}}
                </a>
            </small>
        </div>
        {% endif %}
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if not power.is_latest_revision %}
                <div class="text-center" style="margin: auto; max-width:800px;">
                    <div class="thumbnail">
                        <h4>You are managing images for an old version of this Gift.</h4>
                        To manage images for the most recent revision
                        <a href="{% url 'powers:powers_upload_image' power.parent_power.latest_rev_id %}">
                            click here.
                        </a>
                    </div>
                </div>
            {% endif %}

            <div>
                <form action="{% url 'powers:powers_upload_image' power.id %}" method="post" enctype="multipart/form-data" onsubmit="setFormSubmitting()">
                    {% csrf_token %}
                    <h4>Upload a new image</h4>
                    {{upload_form.file}}
                    <div style="margin-top: 10px;">
                        <input class="btn btn-primary" type="submit" value="Upload" />
                    </div>
                </form>
            </div>

            {% if images %}
                <div style="margin-top: 30px;">
                    <h4>Existing Images</h4>
                    <div style="display:flex; flex-wrap: wrap;">
                        {% for image in images %}
                            <div style="margin-top: 25px; margin-left: 10px;">
                                {% if image.thumbnail %}
                                <img src="{{image.thumbnail.url}}" class="css-inline-image">
                                {% else %}
                                <img src="{{image.image.url}}" class="css-inline-image" style="max-width:200px; max-height:200px;">
                                {% endif %}
                                <form action="{% url 'powers:powers_delete_image' power.id image.id %}" method="post">
                                    {% csrf_token %}
                                    {{delete_form|bootstrap}}
                                    <input class="btn btn-default btn-xs" type="submit" value="Delete" />
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
</div>

{% endblock %}

