{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'powers/nav_style.css' %}" />

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a href="{% url 'home' %}" class="navbar-brand navbar-custom"><i class="glyphicon glyphicon-hourglass" aria-hidden="true"></i> The Contract</a>
        </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav navbar-custom">
                    <li><a href="{% url 'powers:powers_create' %}">New Power</a></li>
                    <li><a href="{% url 'powers:powers_browse_powers' %}">Browse Powers</a></li>
                    <li><a href="{% url 'powers:powers_tutorial' %}">Tutorial</a></li>
                </ul>
        </div>
    </div>
</nav>