{% extends "site_base.html" %}

{% load power_tags %}

{% block head_title %}The Contract{% endblock %}

{% block body_base %}
<div class="container">
    <div class="page-header">
        <h1> Powers and Examples</h1>
    </div>
    <div class="row">
        {% if  only_examples %}
            <h2>gifts with examples but no stock tags</h2>
            {% for gift in only_examples %}
            <div class="col-xs-12 col-md-6" style="margin-bottom: 10px;">
                {% power_badge gift %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <h2>Example Gifts by effect</h2>
<div class="" style="display:flex; flex-wrap:wrap;">
    {% if base_powers_list %}
    {% for base_power in base_powers_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="label">
                             {% if not base_power.is_public %}
                             <h5>{{base_power.name}}</h5>
                             {% else %}
                             <h3>{{base_power.name}}</h3>
                             {% endif %}
                        {% if not base_power.is_public %}
                            <div style="margin-bottom: 10px;">
                                <b class="text-warn">Not public</b>
                            </div>
                        {% endif %}
                         {% for example in base_power.example_powers %}
                            <li><a class="btn btn-default" href="{% url 'powers:powers_view_power_full' example.id %}" role="button">{{example.name}}</a></li>
                         {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No available Effects. . .</p>
    {% endif %}
</div>
</div>
{% endblock %}