{% load account_tags %}

<div class="thumbnail">
    <h4>
        <a href="{% url 'powers:powers_view_power_full' power_full.id %}">
            {{power_full.name}}
        </a>
        <small>
            - {{power_full.get_point_value}} Gift
            <a href="{% url 'powers:powers_view_base' power_full.base.slug %}">{{power_full.base.name}}</a>
            Power
            {% if power_full.character and power_full.get_point_value > power_full.reward_list|length %}
                <p class="text-danger">
                    {{power_full.reward_list|length}} Rewards assigned
                </p>
            {% endif %}
            {% if power_full.character and not power_full.at_least_one_gift_assigned %}
                <p class="text-danger">
                    No Gifts assigned!
                </p>
            {% endif %}
        </small>
    </h4>
    <p>{{power_full.latest_revision.description|linebreaks}}</p>
    {% if power_full.example_description %}
        <small style="font-style: italic; color: #808080;">Stock Power Tip: {{power_full.example_description|linebreaks}}</small>
    {% endif %}
</div>
