{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}The Contract{% endblock %}

{% block body_base %}
<div class="container">
    <div class="page-header">
        <h1> Powers and Effects</h1>
    </div>
<div class="row">
    <ul>
        {% for enh, count in enhancement_counts.items %}
            {% if count == 0 %}
        <li>
            {{enh}}, {{count}}
        </li>
            {% endif %}
        {%endfor %}
    </ul>
    <ul>
        {% for enh, count in drawback_counts.items %}
        {% if count == 0 %}
        <li>
            {{enh}}, {{count}}
        </li>
        {% endif %}
        {%endfor %}
    </ul>
    {% if base_powers_list %}
    {% for base_power in base_powers_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="label">
                         <h3>{{base_power.name}}:</h3>
                    <br>
                            TOTAL COUNT:  {{base_power.used_power_fulls.count }}
                    <br>
                         {% for example in base_power.used_power_fulls %}
                            <li><a class="btn btn-default" href="{% url 'powers:powers_view_power_full' example.id %}" role="button">{{example.name}}</a></li>
                         {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No available Effects. . .</p>
    {% endif %}
</div>
</div>
{% endblock %}