{% extends "site_base.html" %}


{% block head_title %}Stock Gifts{% endblock %}

{% load static %}
{% load ad_tags %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/stock_powers_style.css' %}" />
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        {% if show_tutorial %}
            showTutorial=true;
        {% else %}
            showTutorial=false;
        {% endif %}
	</script>
    <script src="{% static 'powers/stock_powers_script.js' %}"></script>
{% endblock %}

{% block body_base %}
    {% include "powers/stock_powers_content.html" %}
    {% render_fake_ad request.user %}
{% endblock %}
