{% load power_tags %}
{% load character_tags %}

{% with main_modal_art_url as modal_art_url %}
{% include "powers/stock_powers_modal.html" %}
{% endwith %}
<div class="container">
  <div class="backdropped">
    <div class="css-desktop visible-md-block visible-lg-block visible-xl-block">
      <div >
        <h1 style="margin-bottom: 15px;">
          {% if rewarding_character %}
          Select a Stock Gift for {{rewarding_character.name}}
          {% else %}
          Stock Gifts
            <small>Example Gifts to take and customize</small>
            <button type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#mainTutorialModal">
              Help
            </button>
          {% endif %}
        </h1>
      </div>

      <div class="row no-gutters ">
        <div class="tabbable tabs-left">
          <div class="css-sidebar">

          <ul class="nav nav-tabs">
            {% for category, power_list in generic_powers_by_category.items %}
            <li role="presentation" class="{% if forloop.counter0 == 0 %}active{% endif %}">
              <a href="#{{category.slug}}" aria-controls="{{category.slug}}" role="tab" data-toggle="tab">
                <h4>{{category.name}}
                  <br>
                  <small>{{category.description}}</small>
                </h4>
              </a>
            </li>
            {% endfor %}
          </ul>
          </div>
          <div class="tab-content">
            {% for category, power_list in generic_powers_by_category.items %}
            <div role="tabpanel"
                 class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}"
                 id="{{category.slug}}">
              <div class="panel-body">
                {% if power_list.0 %}
                  <h4>
                    Powers and Crafting
                    <small data-toggle="tooltip"
                           title='Power Gifts are intrinsic superpowers and capabilities. Crafting Gifts grant Contractors the ability to create exceptional items to use or trade.'>
                      <small>
                        <i class="fa fa-question-circle fa-lg"></i>
                      </small>
                    </small>
                  </h4>
                  {% for power_full in power_list.0 %}
                    {% power_badge power_full False None False rewarding_character True %}
                  {% endfor %}
                {% endif %}
                {% if power_list.1 %}
                  <h4>
                    Legendary Artifacts
                    <small data-toggle="tooltip"
                           title='These are unique items that can be lost or stolen. Each item may have multiple Gifts on it. Customizing one of their Gifts will create a new Legendary Artifact for your Contractor.'>
                      <small>
                        <i class="fa fa-question-circle fa-lg"></i>
                      </small>
                    </small>
                  </h4>
                  {% for item in power_list.1 %}
                    {% render_sig_item item request.user None rewarding_character True %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <i>
          <small>
            Scroll this column for more Stock Gifts
          </small>
        </i>
      </div>
    </div>



    <!--       Small displays version -->
    <div class="visible-sm-block visible-xs-block">
      <div class = "text-center">
        <h1 style="margin-bottom: 15px;">
          {% if rewarding_character %}
          Select a Stock Gift for {{rewarding_character.name}}
          {% else %}
          Stock Gifts
          <div>
            <small>Example Gifts to take and customize</small>
            <button type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#mainTutorialModal">
              Help
            </button>
          </div>
          {% endif %}
        </h1>
      </div>

      <div class="small-section panel-group" id="accordion-generic" role="tablist" aria-multiselectable="false">
        {% for category, power_list in generic_powers_by_category.items %}
          <div class="panel panel-default">
            <div class="scroll-target" style="display:none; position:relative; bottom:100px;"> </div>
            <a class="unstyled-link collapsed" role="button" data-parent="#accordion-generic" data-toggle="collapse" href="#collapse{{category.slug}}" aria-expanded="false" aria-controls="collapse{{category.slug}}">
              <div class = "css-small-header text-center" role="tab" id="{{category.slug}}Heading">
                <h4 class="fake-link">
                  {{category.name}}
                </h4>
                {{category.description}}
              </div>
            </a>
            <div id="collapse{{category.slug}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{category.slug}}Heading">
              <div class="panel-body">
                {% if power_list.0 %}
                <h4 class="text-muted">
                  Powers and Crafting
                  <small data-toggle="tooltip"
                         title='Power Gifts are intrinsic superpowers and capabilities. Crafting Gifts grant Contractors the ability to create exceptional items to use or trade.'>
                    <small>
                      <i class="fa fa-question-circle fa-lg"></i>
                    </small>
                  </small>
                </h4>
                {% for power_full in power_list.0 %}
                  {% power_badge power_full False None False rewarding_character True %}
                  <br>
                {% endfor %}
                {% endif %}
                {% if power_list.1 %}
                <h4 class="text-muted">
                  Legendary Artifacts
                  <small data-toggle="tooltip"
                         title='These are unique items that can be lost or stolen. Each item may have multiple Gifts on it. Customizing one of their Gifts will create a new Legendary Artifact for your Contractor.'>
                    <small>
                      <i class="fa fa-question-circle fa-lg"></i>
                    </small>
                  </small>
                </h4>
                {% for item in power_list.1 %}
                  {% render_sig_item item request.user None rewarding_character True %}
                  <br>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
