{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}

{% block head_title %}Premade Powers{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/stock_powers_style.css' %}" />
{% endblock %}

{% block body_base %}
    {% if rewarding_character %}
        {% include "powers/stock_powers_content.html" %}
    {% else %}
        {% cache 8000 stockPowers %}
            {% include "powers/stock_powers_content.html" %}
        {% endcache %}
    {% endif %}
{% endblock %}