{% extends "site_base.html" %}

{% load i18n %}
{% load power_tags %}

{% block head_title %}Viewing Effect{% endblock %}

{% block body_class %}home{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'powers/view_base.css' %}" />
{% endblock %}


{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>Viewing Effect - {{ base_power.name }}
            <br>
            <small>{{ base_power.summary }}</small>
        </h1>
        <div>
            <p>
                {% if base_power.required_status == "SEASONED" %}
                    <i class="fa fa-flash fa-1x"></i>
                {% endif %}
                {% if base_power.required_status == "VETERAN" %}
                    <i class="fa fa-flash fa-1x"></i>
                    <i class="fa fa-flash fa-1x"></i>
                {% endif %}
                {% if base_power.required_status != "ANY" %}
                    Requires: {{base_power.get_required_status_display}}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{% url 'powers:powers_create_power' base_power.slug %}" role="button">
                Create a {{base_power.name}} Power
            </a>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div>
                            <h2>Description</h2>
                            {{ base_power.description|linebreaks }}
                            {% if base_power.eratta %}
                                <h3><small>Eratta</small></h3>
                                <p>{{ base_power.eratta }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h2>System</h2>
                        <span class="js-render-power-keywords">
                            {{ system_text.system_text|linebreaks }}
                        </span>
                        {% if system_text.eratta %}
                            <h3><small>Eratta</small></h3>
                            <p>{{ system_text.eratta }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h2>Enhancements</h2>
                        <dl>
                            {% for enhancement in base_power.enhancements.all %}
                                <div class="base_enhancement">
                                    <p>
                                    <dt><b>{{ enhancement.name }}</b>
                                        <span class="js-render-power-keywords">
                                            ({{ enhancement.description}})
                                        </span>
                                    </dt>
                                    <dd><small>{{ enhancement.eratta }}</small> </dd>
                                    </p>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="base_drawbacks" class="base">
                        <h2>Drawbacks</h2>
                        <dl>
                            {% for drawback in base_power.drawbacks.all %}
                            <div class="base_drawback">
                                <dt><b>{{ drawback.name }}</b>
                                    <span class="js-render-power-keywords">
                                        ({{ drawback.description}})
                                    </span>
                                </dt>
                                <dd><small>{{ drawback.eratta }}</small></dd>
                            </div>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for power_param in base_power.power_param_set.all %}
                <div class="col-sm-6">
                    <div class="base_parameter base">
                        <div class="power_param_info">
                            <h2>Parameter - {{power_param.relevant_parameter.name}}</h2>
                            <p><b>Default Level:</b> {{ power_param.default }} </p>
                            <p><b>Seasoned Threshold:</b> {{ power_param.seasoned }} </p>
                            <p><b>Veteran Threshold:</b> {{ power_param.veteran }}</p>
                            {% if power_param.relevant_parameter.eratta and power_param.relevant_parameter.eratta|length > 10 %}
                                <p><b>Eratta:</b> {{ power_param.relevant_parameter.eratta }}</p>
                            {% endif %}
                        </div>
                        <div class="parameter_levels">
                            <ol start="0">
                                {% for level in power_param.relevant_parameter.get_levels %}
                                    <li>{{ level }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    </div>
                <div class="example_powers">
                    <h1>Example Powers</h1>
                    {% for power_full in base_power.example_powers %}
                            {% power_badge power_full %}
                    {% empty %}
                    <h2>No Example Powers Yet</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}