{% load account_tags %}
{% load power_tags %}
<div class="jumbotron smaller">
    <h1>{{ power.name }}</h1>
        <blockquote>
            <p><i>{{ power.flavor_text|linebreaks }}</i></p>
        </blockquote>
    {% if power.parent_power.owner %}
        <h4>Created by: <a href="{% url 'profiles:profiles_view_profile' power.parent_power.owner.id %}">{% user_display power.parent_power.owner %}</a></h4>
    {% endif %}
    {% if power.parent_power.character %}
        <h4>Used by: <a href="{% url 'characters:characters_view' power.parent_power.character.id %}">{{ power.parent_power.character.name }}</a></h4>
    {% endif %}
    {%if power.private %}
        <h5><i class="fa fa-user-secret fa-2x"></i> Power is private because it is assigned to a private character.</h5>
    {% endif %}
</div>
<div>
    <div class="container">
        {% if request.user.is_authenticated %}
            {% player_can_edit_power power request.user as can_edit %}
            {% if can_edit %}
                <a href="{% url 'powers:powers_edit_power' power.parent_power.id %}" class="btn btn-primary">Edit Power</a>
            {% endif %}
            {% if request.user == power.parent_power.owner %}
                <a href="{% url 'powers:powers_delete_power' power.parent_power.id %}" class="btn btn-danger">Delete Power</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'powers:powers_create_power_from _existing' power.id %}" class="btn btn-default">Copy and Edit New</a>
    </div>
    <p class="lead">
        {{ power.description|linebreaks }}
    </p>
    <h2>
        Details
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <h3>
                System
            </h3>
            <div class="base_power">
                <p>
                    <h4>Base Power:</h4>
                    <a href="{% url 'powers:powers_view_base' power.base.slug %}">{{ power.base.name }}</a>
                </p>
                <p>
                {% if power.base.required_status != "ANY" %}
                    Requires: {{power.base.required_status}}
                {% endif %}
                </p>
            </div>
            <div class="cost">
                <p>
                <h4>Cost:</h4>
                <p>{{ power.get_point_value }} Gifts</p>
                </p>
            </div>
            <p>
            <h4>{{ power.activation_style }}:</h4>
            {{ power.system|linebreaks }}
            </p>
        </div>
    {% if power.parameter_value_set.all %}
    <div class="col-sm-6">
        <h3>Parameters</h3>
        {% for param_value in power.parameter_value_set.all %}
        <p>
        <h4>{{ param_value.relevant_power_param.relevant_parameter.name }}: </h4>
        <p>{{ param_value.value }} ({{ param_value.level_descrption}})</p>
        </p>
        {% endfor %}
    </div>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Enhancements</h3>
        {% for enhancement_inst in power.enhancement_instance_set.all %}
            <p>
                <b>{{ enhancement_inst.relevant_enhancement.name }} </b> ({{ enhancement_inst.relevant_enhancement.description }})
                {% if enhancement_inst.detail %}
                    <div class="details">
                        <p>{{ enhancement_inst.relevant_enhancement.detail_field_label }}: {{ enhancement_inst.detail }}</p>
                    </div>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <h3>Drawbacks</h3>
        {% for drawback_inst in power.drawback_instance_set.all %}
            <p>
            <b>{{ drawback_inst.relevant_drawback.name }} </b> ({{ drawback_inst.relevant_drawback.description }})
            {% if drawback_inst.detail %}
                <div class="details">
                    <p>{{ drawback_inst.relevant_drawback.detail_field_label }}: {{ drawback_inst.detail }}</p>
                </div>
            {% endif %}
            </p>
        {% endfor %}
    </div>
</div>