{% extends "postman/base_write.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<div id="postman">
    <h1>{% block pm_write_title %}{% endblock %}</h1>
        <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
            <table>
                {% block pm_write_recipient %}{% endblock %}
                {{ form|bootstrap }}
            </table>
            <button type="submit">{% trans "Send" %}</button>
    </form>
</div>
{% endblock %}