{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account_tags %}
{% load hgapp_tags %}

{% block head_title %}Getting Started{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'info/getting_started_style.css' %}" />
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        <i>So you want to sign The Contract. . .</i>
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    {% gwynn_jpg  "horns" 'true' %}
                    <br>
                    <br>
                    <p>
                        <div class="text-center">
                            <i>
                                Come closer, calf.<br><br>
                                Ahhh, yes. I do see the spark inside you. But do you have the hunger?
                                You've tested your limits; will you break them? Will you
                                wager the pittance of your life for a chance to become something. . . <b>more?</b>
                                <br>
                                <br>
                                Speak now, or slink back to the filth.
                            </i>
                        </div>
                    </p>
                </div>
            </div>
            <h2 class="text-center">Explore The Contract</h2>
            <p>
                This page explains how to start playing The Contract, but before diving straight into
                <a href="/wiki/rules/">The Player's Guide</a>, you may want to glance around.
                <ul>
                    {% if not user.is_authenticated %}
                        <li>Visit <a href="/">The Homepage</a> for a high-level overview of The Contract.</li>
                    {% endif %}
                    <li>
                        Try <a href="{% url 'characters:characters_create'%}">Creating your own Contractor</a>.
                    </li>
                    <li>
                        Check out the premade <a href="{% url 'powers:powers_stock'%}">Stock Powers</a>, or
                        <a href="{% url 'powers:powers_create'%}">try building your own</a>.
                    </li>
                    <li>
                        Visit our <a href="https://discord.gg/xUZZegYNNy">Discord Server</a> and
                        <a href="https://www.reddit.com/r/TheContract/">Subreddit</a> to find other Players and chat with
                        The Contract's Developers.
                    </li>
                    {% if not user.is_authenticated %}
                        <li>
                            Consider <a href="{% url 'account_signup' %}">Making an account</a> to enter the full website.
                        </li>
                    {% endif %}
                </ul>
                <br>
                {% if user.is_authenticated %}
                    I see you've already logged in. That's great! <a href="/">Your home page</a> acts as centralized
                    location for exploring the site. You can go Home at any time by clicking the logo in the upper
                    left.
                    <br>
                {% endif %}
                Once you've satisfied your curiosity, it's time to start Playing!
            </p>
            <h1 class="text-center">Running The Contract</h1>
            <h3>Step 1 - Read <a href="/wiki/rules/">The Rules</a></h3>
            <p>
                As the person introducing The Contract to your group, you will act as a rules resource.
                Read <a href="/wiki/rules/">The Players Guide</a> sequentially for a complete picture of how The Contract
                works.
            </p>
            <p>
                By the time you've read through the section on
                <a href="/wiki/Rules/4-running-contract/">Running The Contract</a>, you will be more than prepared to
                act as Game Master for your first session of The Contract.
            </p>
            <p>
                The Rules can be easily referenced from anywhere on the site via the search box or dropdown menu in the
                upper toolbar.
            </p>

            <h3>Step 2 - Prepare to GM</h3>
            <p>
                <b class="lead">Gather your Players</b>, and pitch them on the idea of playing The Contract. Link them
                to the website, and let them explore the game for themselves. Each Player should
                <a href="{% url 'characters:characters_create'%}">Create a Contractor</a> before you start the first Game.
                This can be done either together in a session-zero or asynchronously, and it's a good time to start
                <a href="/wiki/Rules/4-running-contract/b-contractor-introductions/">Contractor introductions</a>.
            </p>
            <p>
                <b class="lead">Read a Stock Scenario.</b> One Stock Scenario is available for free without an account
                <a href="/games/view/s/41/">here</a>. To access the other Stock Scenario, you must
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}">Sign up</a>, and
                {% endif %}
                <a href="{% url 'cells:cells_create' %}">Start a Cell</a>. The Scenario will then appear in your
                <a href="{% url 'games:games_view_scenario_gallery' %}">Scenario Gallery</a>.
            </p>
            <p>
                <b class="lead">Optional: Organize a Cell.</b> Cells are a website feature that allows you to easily
                track your setting, your Players, their Contractors, and the Games they've played.
                <a href="{% url 'cells:cells_create' %}">Click here</a> to start a cell. Once you do, you can invite your
                Players (if they've made accounts), and they can declare your new Cell as their Contractors' home Cell.
                As Cell Leader, you can record Games that have already occurred, help your Players manage their Character
                Sheets, and edit your Cell's Setting.
            </p>
            <h3>Step 3 -  Run a Game</h3>
            <p>
                If you've read <a href="/wiki/rules/">The Guide</a> and <a href="/games/view/s/41/">the Stock Scenario</a>,
                you are more than ready to run your first Game. Get your Players togther and have at it.
            </p>
            <h3>Step 4 - Record your Game</h3>
                <p>
                    <a href="{% url 'games:games_enter_game' %}">
                        Recording the Games you play
                    </a> unlocks the full potential of The Contract's website. Declaring the outcome
                    gets you far more than an easily accessible record of who played which Contractors in which Scenarios.
                </p>
            <ul>
                <li>Players are notified that their Contractors have Gifts and Experience to spend</li>
                <li>Players are guided and helped to spend their unspent Rewards</li>
                <li>
                    The Game's Scenario appears in each Player's
                    <a href="{% url 'games:games_view_scenario_gallery' %}">Scenario Gallery</a>,
                    allowing them to run it in the future
                </li>
                <li>The source of all Experience / Gifts expended is recorded on their Character Sheets</li>
                <li>The GM receives their Rewards and is given an UI for allocating them to their Contractors</li>
                <li>
                    Contractors who died are declared dead and appear in
                    <a href="{% url 'characters:characters_graveyard'%}">the Graveyard</a>
                </li>
                <li>Contractors whose stats or Powers exceed their Rewards are flagged so GMs can vet them for shenanigans</li>
            </ul>

            Visit the <a href="{% url 'games:games_enter_game' %}">Enter Game</a> page to record a completed Game
            or schedule one in the future.
            <h2>Send us Feedback!</h2>
            <p>
                The Contract is still in an early Alpha stage. We are interested in all feedback and impressions no matter
                how unpolished or incomplete.
            </p>
            <p>
                How to leave feedback:
                <ul>
                    <li>
                        Post on our <a href="https://discord.gg/xUZZegYNNy">Discord</a> or
                        <a href="https://www.reddit.com/r/TheContract/">Subreddit</a>
                    </li>
                    <li>Email us at thecontractgame@gmail.com</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}