
<div class="css-rules css-rules-centered" style="margin-bottom: 10px;">
  <div class="row" >
    <div class="col-md-6" >
      <a href="{% url 'info:how-to-play'%}" class="css-learning-style-link">
        <h3 style="margin-top: 10px;">
          The How to Play Manual
          <div class="text-muted" style="font-size: 10px;">
              <i>
                (click here)
              </i>
          </div>
        </h3>
      </a>
      <ul>
        <li>
          Learn the game's core mechanics alongside a short
          story that narrates a typical session.
        </li>
      </ul>
    </div>

    <div class="col-md-6" >
      <a href="/guide/rules/" class="css-learning-style-link">
        <h3 style="margin-top: 10px;">
          Read the Guidebook
          <div class="text-muted" style="font-size: 10px;">
            <i>
              (click here)
            </i>
          </div>
        </h3>
      </a>
      <ul>
        <li>
          All the rules, unabridged.
        </li>
        <li>
          A classic guidebook. Drink from the firehose.
        </li>
      </ul>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <a href="https://discord.gg/xUZZegYNNy"  target="_blank" rel="noopener noreferrer">
        <h3 style="margin-top: 10px;">
          Join our Discord
          <div class="text-muted" style="font-size: 10px;">
            <i>
              (click here)
            </i>
          </div>
        </h3>
      </a>
      <ul>
        <li>
          Talk to humans!
        </li>
        <li>
         Let's call it "traditional learning."
        </li>
      </ul>
    </div>
    <div class="col-md-6" >
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right text-muted">
        <i>
          Or maybe
          <a href="{% url 'info:vibes'%}" class="css-learning-style-link">
            jam out and read fiction.
          </a>
        </i>
      </div>
    </div>
  </div>
</div>
