{% load staticfiles %}
<div class="row">
    <div class="col-md-6">
        <div class="css-quickstart-container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 style="margin-top: 5px;">I want to</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="css-quickstart-action">
                <span class="css-quickstart-left-btn btn btn-default">
                    <-
                </span>
                        <span class="css-quickstart-action-text">
                    Pick the lock
                </span>
                        <span class="css-quickstart-right-btn btn btn-default">
                    ->
                </span>
                    </div>
                </div>
            </div>
            <div class="row text-center css-quickstart-gm-text">
                <div class="col-xs-12">
                    <p>
                        "Roll <b>Dexterity</b> + <b>Ledgerdemain</b>, Difficulty <b>6</b>"
                    </p>
                    <p>
                        <b>4</b> Dexterity + <b>2</b> Ledgerdemain =
                        <span class="btn btn-primary">
                    Roll <b>6</b> Dice
                </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="css-qs-roll-results">
                        <div class="css-quickstart-die" style="background-image: url({% static 'info/die-background.png' %})">
                    <span class="css-quickstart-die-val">
                        0
                    </span>
                        </div>
                        <div class="css-quickstart-die" style="background-image: url({% static 'info/die-background.png' %})">
                    <span class="css-quickstart-die-val">
                        2
                    </span>
                        </div>
                        <div class="css-quickstart-die" style="background-image: url({% static 'info/die-background.png' %})">
                    <span class="css-quickstart-die-val">
                        8
                    </span>
                        </div>
                        <div class="css-quickstart-die" style="background-image: url({% static 'info/die-background.png' %})">
                    <span class="css-quickstart-die-val">
                        1
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="css-qs-roll-results">
                        <div class="css-quickstart-die-outcome">
                            +2
                        </div>
                        <div class="css-quickstart-die-outcome">
                            +0
                        </div>
                        <div class="css-quickstart-die-outcome">
                            +1
                        </div>
                        <div class="css-quickstart-die-outcome">
                            -1
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <h4 >Outcome <b>2</b>
                        <br>
                        <small>An Outcome of 1, 2, or 3 indicates a partial success or a success with a complication</small>
                    </h4>
                    <p>
                        "You successfully pick the lock, but you break it in the process."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 hidden-xs hidden-sm">
        <br>
        <div class="text-center">
            <h4>My Attributes</h4>
        </div>
        <div class="row css-qs-attributes">
            <div class="col-md-4">
                <b>Brawn</b> 3
            </div>
            <div class="col-md-4">
                <b>Dexterity</b> 3
            </div>
            <div class="col-md-4">
                <b>Perception</b> 3
            </div>
        </div>
        <div class="row css-qs-attributes">
            <div class="col-md-4">
                <b>Charisma</b> 3
            </div>
            <div class="col-md-4">
                <b>Wits</b> 3
            </div>
            <div class="col-md-4">
                <b>Intelligence</b> 3
            </div>
        </div>
        <div class="text-center">
            <br>
            <h4>My Abilities</h4>
        </div>
    </div>
</div>
