{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}Allocating Improvement{% endblock %}

{% load account_tags %}
{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    {{ form.about.errors }}
    <h2 class="text-center">Assigning Improvement from {{improvement.reason_text}}
     {% if improvement.source_cell %}
                            in {{improvement.source_cell.name}}
                        {% endif %}
    </h2>
     <div class="panel panel-default">
        <div class="panel-body">
            {% if form.queryset.count == 0 %}
            You do not have any eligible Contractors. Only living Contractors with total Gifts and Improvements totaling
            fewer than 2 for every Contract victory are eligible. Improvements from a specific Playgroup can only be granted to Contractors in that Playgroup.
            {% else %}
            <form action="{% url 'games:games_allocate_improvement' improvement.id %}" method="post" class="form-inline">
                {{ form.non_field_errors }}
                {{ form.management_form }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="">
                    {{ form.chosen_character|bootstrap }}
                </div>
                <div class="">
                    <input class="btn btn-primary" type="submit" value="Confirm" />
                </div>
            </form>
            {% endif %}
        </div>
     </div>
</div>
{% endblock %}
