{% extends "site_base.html" %}


{% load i18n %}

{% block head_title %}Allocating Improvements{% endblock %}

{% load account_tags %}
{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    <h2 class="text-center">Which Improvement would you like to assign?</h2>
     <div class="panel panel-default">
        <div class="panel-body">
            <h5>
                Improvements that specify a Playgroup can only be granted to Contractors in that Playgroup
            </h5>
            <ul>
            {% for improvement in avail_improvements %}
                <li>
                    <a href="{% url 'games:games_allocate_improvement' improvement.id %}">
                        Improvement from {{improvement.reason_text}}
                    </a>
                        {% if improvement.source_cell %}
                            in {{improvement.source_cell.name}}
                        {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
     </div>
</div>
{% endblock %}
