{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Cancel Contract{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container text-center">
    {% if game.is_scheduled or game.is_active %}
        <h1>
            Are you sure you would like to cancel {{ game.title }}?
        </h1>
        <h4>
            All invitations, attendances, and records of this Contract will be erased.
        </h4>
        <form action="{% url 'games:games_cancel_game' game.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Cancel Contract" />
        </form>
    {% endif %}
    {% if game.is_finished or game.is_archived %}
        <h1>
            {{ game.title }} can no longer be canceled. You must move for a void.
        </h1>
    {% endif %}
    {% if game.is_canceled %}
        <h1>
            {{ game.title }} Successfully canceled!
        </h1>
    {% endif %}
</div>
{% endblock %}