{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap %}
{% block head_title %}Declaring Contract{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}

{% block body_base %}
<div class="container">
    <br>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>
                    {% if game %}
                        Adding attendances to Contract where {{game.gm}} ran {{game.scenario.title}} in {{game.cell.name}}
                    {% else %}
                        Declaring a completed Contract in
                        <a href="{% url 'cells:cells_view_cell' cell.id %}">{{cell.name}}</a>
                    {% endif %}
                </h1>
                {% if not game %}
                    <h3><small>
                        If you would like schedule an upcoming Contract, <a href="{% url 'games:games_create_game' %}">Click Here</a>
                    </small></h3>
                {% endif %}
            </div>
            <form
                {% if game %}
                    action="{% url 'games:games_add_attendance' game.id %}"
                {% else %}
                    action="{% url 'games:games_create_ex_game_for_cell' cell_id=cell.id %}"
                {% endif %}
                method="post">
                {% csrf_token %}
                {{ gm_form.about.errors }}
                {{ gm_form.management_form }}
                {{ gm_form.non_field_errors }}
                {{ outsider_formset.about.errors }}
                {{ outsider_formset.management_form }}
                {{ outsider_formset.non_field_errors }}
                {{ member_formset.about.errors }}
                {{ member_formset.management_form }}
                {{ member_formset.non_field_errors }}
                {% if not game %}
                <div class="container">
                    <h2>Who was the Game Master?</h2>
                    <div class="col-xs-9">
                        {{ gm_form |bootstrap }}
                    </div>
                </div>
                {% endif %}
                <div class="container">
                    <h2>
                        {% if game %}
                            Which additional World members attended?
                        {% else %}
                            Which World members attended?
                        {% endif %}
                    </h2>
                    {% if not game %}
                        <small>Even though you can select it here, the GM cannot attend their own Contract.</small>
                    {% endif %}
                    <ul>
                        {% for form in member_formset %}
                            <li>
                                {{form | bootstrap}}
                                {{form.player_id.as_hidden}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="container">
                    <h2>Any out-of-World attendees?</h2>
                    <ul>
                        {% for form in outsider_formset %}
                            <li class="col-xs-9">
                                {{form.username | bootstrap}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class = "panel-footer">
                    <input class="btn btn-primary" type="submit" value="Continue"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}