{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}Editing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'games/edit_scenario.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        {% if scenario %}
            <h1>Editing Scenario {{scenario.title}}</h1>
        {% else %}
            <h1>Create a new Scenario</h1>
        {% endif %}
    </div>
    {% if scenario %}
        <form action="{% url 'games:games_scenario_edit' scenario.id %}" method="post" onsubmit="setFormSubmitting()">
    {% else %}
        <form action="{% url 'games:games_create_scenario' %}" method="post" onsubmit="setFormSubmitting()">
    {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    <div class="alert alert-info col-md-6 col-md-offset-3">
                        For tips on writing Scenarios, <a href="/guide/gm-manual/#writing-scenarios" style="text-decoration: underline;">read the Guide!</a>
                    </div>
                </div>
                {{ form.about.errors }}
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ form.title | bootstrap}}
                {{ form.summary | bootstrap}}
                {{ form.description | bootstrap}}
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.suggested_character_status | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.min_players | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.max_players | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.is_highlander | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.is_rivalry | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.requires_ringer | bootstrap }}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <br>
                    <h3>Scenario Tags (Admin only)</h3>
                    {{form.tags}}
                    <br>
                {% endif %}
                <input class="btn btn-primary" type="submit" value="Done!" />
            </br>
        </div>
    </form>
</div>
{% endblock %}
