{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block extra_scripts %}
    {% include "games/datepicker.js" %}
    {{scenarios_by_cells|json_script:"scenariosByCells"}}
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
    <script src="{% static 'games/edit_game.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/edit_game.css' %}" />
{% endblock %}

{% block head_title %}
{% if game %}
    Editing Contract for {{game.scenario.title}}
{% else %}
    Scheduling a Contract
{% endif %}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    {{ form.about.errors }}
    <div class="text-center">
        <h1>
            {% if game %}
                Editing Contract for {{game.scenario.title}}
            {% else %}
                Schedule a Contract
            {% endif %}
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action=
                    {% if game %}
                        "{% url 'games:games_game_edit' game.id %}"
                    {% else %}
                        "{% url 'games:games_create_game' %}"
                    {% endif %}
                    method="post">
                {% if not game %}
                    <div class="row text-center">
                        <a class="btn btn-default btn-sm wiki-entry-collapsible">Toggle Tutorial</a>
                        <div class="collapse-content clearfix"  style="display:none;">
                            <br>
                            <div class="col-md-8 col-md-offset-2 thumbnail text-left">
                                <p>
                                   This form schedules an upcoming session that helps coordinate running a Contract. If you would like
                                    to record a completed Contract,
                                    <a href="{% url 'games:games_enter_game' %}">
                                        click here.
                                    </a>
                                    <br><br>
                                    Players who you invite or who find your Contract on the LFG page may RSVP and declare
                                    which Contractors they intend to bring. These Contractors will be revealed to you if they
                                    are Private.
                                    <br><br>
                                   When you are ready to start playing, visit your Contract's page, click the "Start Contract" button,
                                    and confirm which Players and Contractors are attending. While the Contract is Active,
                                    Players will not be able bring their Contractor on other Contracts.
                                   <br><br>
                                   When the Contract is over, transition its status to Finished and declare the outcome for
                                    each Contractor.
                                   Surviving Contractors will receive Experience and, if they won, Gifts. Those less
                                    fortunate are interned in
                                    <a href="{%url 'characters:characters_graveyard' %}">
                                        the Graveyard.
                                    </a>
                                    Regardless of the outcome, the Contract's Scenario is revealed to the Players in their
                                    Scenario Gallery, and they will be able to view any in-character Journals written
                                    about it. As the GM, you can leave feedback about your experience running it.
                                    <br><br>
                                    You are awarded 4 Experience for GMing. If any of the Players are brand-new OR at
                                    least one Contractor dies and at least one achieves Victory, you are given an
                                    Improvement to use on one of your Contractors' Powers.
                               </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.cell | bootstrap}}
                    </div>
                    <div class="col-sm-6">
                        {{ form.invite_all_members | bootstrap}}
                    </div>
                </div>
                {% if not form.cell.field.choices.queryset.all|length %}
                    <div class="row">
                        <div class="alert-danger col-xs-7 col-xs-offset-2">
                            <h4>You are not a member of any <a href="/guide/rules/#worlds">Worlds</a></h4>
                            <p>
                                All Contracts must take place inside a World. Ask your friends for an invite,
                                <a href="{% url 'cells:find_world' ">
                                    find a World to join,
                                </a>
                                or
                                <a href="{% url 'cells:cells_create' %}">make your own</a>!
                            </p>
                        </div>
                    </div>
                    <br>
                {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        {% if game.is_scheduled or not game %}
                            {{ form.scenario | bootstrap }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div id="js-scenario-title">
                            {{ form.title | bootstrap}}
                        </div>
                        <div id="js-scenario-already-play">
                            <div class="alert alert-info text-center">
                                <b>This Scenario has already been run in this World</b>
                                <p>
                                    Re-running some Scenarios can introduce story consistency issues.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if game.is_scheduled %}
                    {% if not form.scenario.field.choices.queryset.all|length %}
                        <div class="row">
                            <div class="alert-warning col-xs-7 col-xs-offset-2">
                                <h4>You do not have access to any scenarios</h4>
                                <p>
                                    You discover Scenarios by playing in Contracts or <a href="{% url 'games:games_create_scenario' %}">writing them yourself</a>!
                                    Scheduling this Contract will create a placeholder Scenario that you can edit later.
                                </p>
                            </div>
                        </div>
                        <br>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.scheduled_start_time | bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.timezone | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.required_character_status | bootstrap }}
                    </div>
                    <div class="col-md-4">
                        {{ form.invitation_mode | bootstrap }}
                    </div>
                    <div class="col-md-4">
                        {{ form.allow_ringers | bootstrap }}
                    </div>
                </div>
                {% if form.only_over_18 %}
                    {{ form.only_over_18 | bootstrap }}
                {% endif %}
                {{ form.hook | bootstrap}}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.list_in_lfg | bootstrap }}
                    </div>
                    <div class="col-md-6 form-inline css-ability-form">
                        <div>
                            <label>
                                {{form.max_rsvp.label}}
                            </label>
                        </div>
                        <span class="ability-form"
                              data-initial-val="{{form.initial.value}}"
                              data-max-value="20"
                              data-min-value="0">
                            {{ form.max_rsvp }}
                        </span>
                        <div class="help-block">
                            {{form.max_rsvp.help_text}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="css-mediums" >
                            <label>Play Mediums</label>
                            {{ form.mediums }}
                            <div class="help-block">
                                {{ form.mediums.help_text}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form.gametime_url | bootstrap }}
                    </div>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="
                            {% if game %}
                                Done
                            {% else %}
                                Schedule Contract
                            {% endif %}
                            "/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
