{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap %}
{% block head_title %}Declaring Game{% endblock %}

{% block body_class %}home{% endblock %}

{% load staticfiles %}
{% load account_tags %}
{% load markdown_deux_tags %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% include "games/datepicker.js" %}
    {% include "games/edit_archive_game.js" %}
{% endblock %}
{% block body_base %}
<div class="container">
    <br>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>
                    {% if game %}
                        Editing the Game where {{game.gm}} ran {{game.scenario.title}} in {{game.cell.name}}
                    {% else %}
                        Declaring a completed Game in <a href="{% url 'cells:cells_view_cell' cell.id %}">{{cell.name}}</a>
                    {% endif %}
                </h1>
                <h3>
                    <small>
                        {% if game %}
                            {% if players %}
                                To finish adding attendances, select their outcomes below and submit.
                            {% else %}
                                If you would like to add attendances,
                                <a href="{% url 'games:games_add_attendance' game.id %}">Click Here.</a> (Leaves page)
                            {% endif %}
                        {% else %}
                            If you would like schedule an upcoming game,
                            <a href="{% url 'games:games_create_game' %}">Click Here.</a>
                        {% endif %}
                    </small>
                </h3>
            </div>
            <form action=
                    {% if game and players %}
                        "{% url 'games:games_edit_completed' game_id=game.id players=players%}"
                    {% elif game %}
                        "{% url 'games:games_edit_completed' game_id=game.id %}"
                    {% else %}
                        "{% url 'games:games_edit_ex_game_add_players' cell_id=cell.id gm_user_id=gm_user_id players=players%}"
                    {% endif %}
                  method="post">
                {% csrf_token %}
                {{ general_form.about.errors }}
                {{ general_form.management_form }}
                {{ general_form.non_field_errors }}
                {{ outcome_formset.about.errors }}
                {{ outcome_formset.management_form }}
                {{ outcome_formset.non_field_errors }}
                <div class="container">
                    <h3>What was {% user_display gm %}'s Game?</h3>
                    <div class="col-xs-9">
                        <ul class="list-unstyled">
                        {% for field in general_form %}
                            {% if field.label == "Gm id"  %}
                                {{field.as_hidden}}
                            {% else %}
                                <li>{{ field | bootstrap }} <br></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <h2>How did it go down?</h2>
                    <ul class="list-unstyled">
                        {% for form in outcome_formset %}
                            <div class="col-xs-9">
                                <h3>{% user_display form.initial.invited_player %}</h3>
                                <li class ="col-xs-offset-1">
                                    {{form | bootstrap}}
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class = "panel-footer">
                    {% if not game %}
                        <div class="alert alert-warning" role="alert">
                            Warning: Once you confirm this game, you will be unable to edit the GM or Cell,
                            and you will be unable to delete it.
                        </div>
                    {% endif %}
                    <input class="btn btn-primary" type="submit"
                           {% if game %}
                             value="Submit Edits"
                           {% else %}
                              value="Submit Completed Game"
                           {% endif %}
                    />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}