{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}Enter a Game{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load bootstrap %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>My Contract. . .</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2 style="margin-top: 10px;">
                        hasn't happened yet
                        <div>
                            <small>
                                Schedule an upcoming Contract
                            </small>
                        </div>
                    </h2>
                    <div>
                        <a class="btn btn-primary btn-lg text-center" style="width: 100%;" href="{% url 'games:games_create_game' %}">
                            Schedule a Contract
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2 style="margin-top: 10px;">
                        occurred in the past
                        {% if cells %}
                        <div>
                            <small>
                                Record a completed Contract
                            </small>
                        </div>
                        {% endif %}
                    </h2>
                    {% for cell in cells %}
                        <div style="margin-top: 10px;">
                            <a class="btn btn-default" style="width: 100%;" href="{% url 'games:games_create_ex_game_for_cell' cell.id %}">
                                In {{ cell.name }}
                            </a>
                        </div>
                    {% empty %}
                        <i class="text-danger">You may declare archival Contracts only if you have the "Manage Games"
                            permission in the Playgroup.</i>
                        <br><br>
                        <a href="{% url 'cells:cells_create' %}" class="btn btn-info">Start a new Playgroup</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}