{% load account_tags games_tags %}
<div class="thumbnail">
    <h4>
        {% render_scenario_title_with_link scenario %}
        {% if scenario.get_active_improvement %}
        <span class="glyphicon glyphicon-star css-scenario-rewarded-star" aria-hidden="true"
              data-toggle="tooltip"
              {% if request.user and scenario.creator == request.user %}
              title='This Scenario has a valid writeup and was run as a Contract, granting you an Improvement.'
              {% else %}
              title='This Scenario has a valid writeup and was run as a Contract, granting its creator an Improvement.'
              {% endif %}
        >
            </span>
        {% else %}
        <span class="glyphicon glyphicon-star" aria-hidden="true"
              data-toggle="tooltip"
              title='This Scenario does not meet the requirements to grant an Improvement: {% for reason in scenario.get_steps_to_receive_improvement %} {{reason}} {% endfor %}'
        >
            </span>
        {% endif %}
        {% if scenario.is_on_exchange %}
        <span data-toggle="tooltip"
              title='This Scenario is on the Scenario Exchange.'>
            <i class="fa fa-handshake-o fa-1x css-text-exchange"></i>
        </span>
        {% endif %}
        <div style="margin-top: 10px;">
            <small>
                A
                {% if scenario.is_stock %}
                    <span class="text-success">
                        stock
                    </span>
                {% endif %}
                Scenario written by
                <a href="{% url 'profiles:profiles_view_profile' scenario.creator.id %}">
                    <b>{% user_display scenario.creator %}</b>
                </a>
                for {{scenario.min_players}} to {{ scenario.max_players }} {{ scenario.get_suggested_status_display }} Contractors.
                Run {{scenario.num_finished_games}} time{{scenario.num_finished_games|pluralize}}.
            </small>
        </div>
    </h4>
    {% if not hide_spoilers and scenario.summary %}
        <p>{{scenario.summary}}</p>
    {% endif %}
</div>
