{% load account_tags %}
<div class="thumbnail">
    <h4>
        <a href="{% url 'games:games_view_scenario' scenario.id %}">
            {{ scenario.title }}
        </a>
        <br>
        <small>
            A
            {% if scenario.is_stock %}
                <span class="text-success">
                    stock
                </span>
            {% endif %}
            Scenario written by
            <a href="{% url 'profiles:profiles_view_profile' scenario.creator.id %}">
                <b>{% user_display scenario.creator %}</b>
            </a>
            for {{scenario.min_players}} to {{ scenario.max_players }} {{ scenario.get_suggested_status_display }} Contractors.
            Run {{scenario.num_finished_games}} time{{scenario.num_finished_games|pluralize}}.
        </small>
    </h4>
    <p>{{scenario.summary}}</p>
</div>
