{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block head_title %}Accepting Contract invite{% endblock %}

{% load account_tags %}
{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
    <div class="text-center">
        <h1>Starting {{game.title}} in {{game.cell.name}}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                Choose which players will be attending.
                <br>
                <small>Uncheck the box to deny attendance</small>
            </h3>
            {% for player in player_errors %}
                <p class="text-danger"><b>{% user_display player %} has canceled their attendance.</b></p>
            {% endfor %}
            {% for player in char_errors %}
                <p class="text-danger"><b>{% user_display player %} has changed their Character.</b></p>
            {% endfor %}
            <form action="{% url 'games:games_start_game' game.id %}" method="post" class="form-inline">
                {{ form.about.errors }}
                {{ formset.non_field_errors }}
                {{ formset.management_form }}
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for form in formset %}
                    <p>
                        {{ form.attending | bootstrap }} <b>{{ form.attendance.game_invite.invited_player.username}}</b> Playing
                        <b>
                            {% if form.attendance.attending_character %}
                                {{form.attendance.attending_character.name}}
                            {% else %}
                                an NPC Ringer
                            {% endif %}
                        </b>
                        {{ form.player}} {{ form.character }}
                        {% if form.attendance.game_invite.invitee_is_spoiled_on_scenario %}
                            <span class="text-danger">
                                This Player has already discovered this Scenario and should only play an NPC Ringer.
                            </span>
                        {% endif %}
                    </p>

                {% empty %}
                    <h4 class="text-danger">
                        No players are attending! Contracts must have a minimum of two Player Characters (or one if the attending Character is a Veteran)
                    </h4>
                {% endfor %}
                    <p>
                        If the Contract hasn't been finished in 24 hours, each Player will be given the ability to cancel the Contract, wiping its history.
                    </p>
                {% if formset.forms %}
                    <input class="btn btn-primary" type="submit" value="Start" />
                {% else %}
                    <input class="btn btn-primary" type="submit" value="Start" disabled />
                {% endif %}
            </form>
        </div>
    </div>

</div>
{% endblock %}
