{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Viewing Scenario{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}
{% load ad_tags %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">Scenario Gallery</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <h4>
                    This gallery contains all the
                    <a href="/guide/rules/#scenarios">Scenarios</a>
                    you've written or discovered.
                </h4>
                <p>
                    You may view the full write-up of any Scenarios that appear below including spoilers,
                    Journals, and feedback from the GMs who have run them.
                </p>
            </div>
        </div>
        {% if unlocked_discoveries %}
        <div class="panel-heading">
            <h2>
                Unlocked Scenarios
            </h2>
            <div class="text-muted">
                These Scenarios are unlocked but not spoiled. You may play in them or click on them to view and spoil them so that you may run them.
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for scenario_discovery in unlocked_discoveries %}
                        <div class="col-md-6">
                            {% with scenario=scenario_discovery.relevant_scenario %}
                                {% with hide_spoilers='true' %}
                                    {% include "games/scenario_badge_snippet.html" %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="panel-heading">
            <h2>
                My Scenarios
                <small> (count: {{owned_scenarios.count}})</small>
                <a class="btn btn-primary btn-sm pull-right hidden-xs" href="{% url 'games:games_create_scenario' %}">Write a new Scenario</a>
            </h2>
            <a class="btn btn-primary btn-sm visible-xs-block" href="{% url 'games:games_create_scenario' %}">Write a new Scenario</a>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for scenario in owned_scenarios %}
                    <div class="col-md-6">
                        {% include "games/scenario_badge_snippet.html" %}
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% empty %}
                    </div>
                    <p class="text-warning">You haven't written any Scenarios yet. Try <a href="{% url 'games:games_create_scenario' %}">creating your own.</a></p>
                    <div>
                {% endfor %}
            </div>
        </div>
        <div class="panel-heading">
            <h2>
                Discovered Scenarios
                <small> (count: {{scenario_discoveries.count}})</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <h4>
                    How to unlock Scenarios
                </h4>
                <div class="">
                    <ul>
                        {% for scenario in scenarios_to_unlock %}
                        <li>
                            {% if scenario.is_public %}
                                <a href="{% url 'games:games_view_scenario' scenario.id %}">
                                    {{ scenario.title }}
                                </a>
                            {% else %}
                                <b>{{scenario.title}}: </b>
                            {% endif %}
                            {% for scenario_tag in scenario.tags.all %}
                                {{ scenario_tag.unlock_instructions | safe }}
                            {% endfor %}
                        </li>
                        {% endfor %}
                        <li>
                            Playing any Scenario in a Contract unlocks it.
                        </li>
                    </ul>
                </div>
            </div>
            {% if not_cell_leader %}
                <div class="alert alert-success text-center">
                    <h4>
                        <a href="{% url 'cells:cells_create'%}">
                            Create a Playgroup
                        </a>
                        to unlock a stock Scenario!
                    </h4>
                </div>
            {% endif %}
            <div class="row">
                {% for scenario_discovery in scenario_discoveries %}
                    <div class="col-md-6">
                        {% with scenario=scenario_discovery.relevant_scenario %}
                            {% include "games/scenario_badge_snippet.html" %}
                        {% endwith %}
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% empty %}
                    </div>
                    <p class="text-warning">You haven't discovered any Scenarios yet.</p>
                    <div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% render_fake_ad request.user %}
{% endblock %}