{% load account_tags %}

<div class="container">
    <h4>
        Players who Attended:
    </h4>
    <ul>
        {% for invitation in game.game_invite_set.all %}
            <li>
                <a href="{% url 'profiles:profiles_view_profile' invitation.invited_player.id %}"><b>{% user_display invitation.invited_player %}</b></a>
                {% if invitation.attendance.attending_character %}
                    Played <a href="{% url 'characters:characters_view' invitation.attendance.attending_character.id %}">{{invitation.attendance.attending_character.name}}</a>
                {% else %}
                    Played a ringer
                {% endif %}
                {% if not invitation.attendance.is_confirmed %}
                    {% if invitation.is_declined %}
                        <div class="alert alert-danger" role="alert">
                            <p>
                                This player denied their attendance in this game.
                            </p>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            {% if invitation.invited_player.id is request.user.id  %}
                                <p>
                                    <a href="{% url 'games:games_confirm_attendance' invitation.attendance.id %}">
                                        Click Here
                                    </a>
                                    to confirm or deny your attendance in this game.
                                </p>
                            {% else %}
                                <p>
                                    This player has not yet confirmed their attendance.
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </li>
        {% empty %}
            <p>
                No players attended this game?!??!?! <br>
            </p>
        {% endfor %}
    </ul>
</div>