{% load account_tags %}
{% load bootstrap %}
{% load games_tags %}

{% include "games/view_game_pages/other_scenarios_modal.html" %}

<div class="panel-body">
    {% if user.is_authenticated and user == game.gm %}
        <h3 class="text-center" style="margin-top: 5px;">
            Invitations
            <div>
                <small>
                        <b>This Contract's RSVP mode:</b> {{game.get_invitation_mode_display}}.
                </small>
            </div>
            <div>
                <small>
                    {{game.invite_instructions|safe}}
                </small>
            </div>
        </h3>

        {% if game.get_accepted_invites %}
            <h4>Accepted Invites</h4>
                {% if request.user == game.gm %}
                    <div style="margin:5px;">
                        <button type="button"
                                class="btn btn-default btn-xs" data-toggle="modal" data-target="#otherScenariosModal"
                                hx-get="{% url 'games:other_scenarios' game.id %}"
                                hx-trigger="click"
                                hx-target="#other-scenarios-content"
                                hx-swap="outerHTML"
                        >
                            What else could I run for these Players?
                        </button>
                    </div>
                {% endif %}
            <ul>
                {% for invitation in game.get_accepted_invites %}
                <li>
                    <a href="{% url 'profiles:profiles_view_profile' invitation.invited_player.id %}">
                        <b>{% user_display invitation.invited_player %}</b> the {{invitation.invited_player.profile.get_player_prefix_display}} {{invitation.invited_player.profile.get_player_suffix_display}}
                    </a>
                    <div>
                        <small>
                            <i>
                                {% render_citizenship invitation.invited_player game.cell %}
                            </i>
                        </small>
                    </div>
                    {% if invitation.attendance %}
                            {% if invitation.attendance.attending_character %}
                                <b>Playing</b>
                                <a href="{% url 'characters:characters_view' invitation.attendance.attending_character.id %}">
                                    {{invitation.attendance.attending_character.name}}
                                </a>
                                {% if invitation.attendance.attending_character.has_due_loose_end %}
                                    <div class="text-danger">
                                        This Contractor has Loose Ends due. <b>They must suffer the Threat of these Loose Ends before they play in a Contract.</b>
                                    </div>
                                {% endif %}
                            {% else %}
                                Playing an NPC ringer
                            {% endif %}
                    {% elif invitation.is_declined %}
                        Declined.
                    {% else %}
                        Awaiting response.
                    {% endif %}
                    {% if invitation.invitee_is_spoiled_on_scenario %}
                        <div class="text-danger">
                            This Player is already spoiled for this Scenario and should only play an NPC Ringer.
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% if game.get_open_invites %}
    <h4>Open Invites</h4>
    <ul>
        {% for invitation in game.get_open_invites %}
        <li>
            <a href="{% url 'profiles:profiles_view_profile' invitation.invited_player.id %}">
                <b>{% user_display invitation.invited_player %}</b> the {{invitation.invited_player.profile.get_player_prefix_display}} {{invitation.invited_player.profile.get_player_suffix_display}}
            </a>
            <br>
            {% if invitation.attendance %}
            {% if invitation.attendance.attending_character %}
            <b>Playing</b>
            <a href="{% url 'characters:characters_view' invitation.attendance.attending_character.id %}">
                {{invitation.attendance.attending_character.name}}
            </a>
            {% if invitation.attendance.attending_character.has_due_loose_end %}
            <div class="text-danger">
                This Contractor has Loose Ends due. <b>They must suffer the Threat of these Loose Ends before they play in a Contract.</b>
            </div>
            {% endif %}
            {% else %}
            Playing an NPC ringer
            {% endif %}
            {% elif invitation.is_declined %}
            Declined.
            {% else %}
            Awaiting response.
            {% endif %}
            {% if invitation.invitee_is_spoiled_on_scenario %}
            <div class="text-danger">
                This Player is already spoiled for this Scenario and should only play an NPC Ringer.
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
        {% if invite_form %}
            <hr>
            <h3>
                Invite Additional Players
            </h3>
            {{ invite_form.about.errors }}
            <form action="{% url 'games:games_invite_players' game.id %}" method="post">
            {{ invite_form.non_field_errors }}
            {% csrf_token %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {{ invite_form.username | bootstrap}}
            {{ invite_form.message | bootstrap}}
            {{ invite_form.invite_as_ringer | bootstrap }}
            <input class="btn btn-primary" type="submit" value="Invite" />
        {% endif %}
    {% else %}
        So far, {{ game.get_attended_players.count }} Player{{game.get_attended_players.count|pluralize}}
        RSVPed that they will attend.
        {% if game.max_rsvp %}
            {{ game.gm.username}} has set a maximum of {{game.max_rsvp}} RSVPs.
        {% endif %}
        <div>
            <ul>
                {% for invite in game.get_accepted_invites %}
                    <li>
                        {% user_display invite.invited_player %}
                        <div>
                            <small>
                                <i>
                                    {% render_citizenship invite.invited_player game.cell %}
                                </i>
                            </small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            {% if my_invitation %}
                {% if my_invitation.attendance %}
                    {% if my_invitation.attendance.attending_character %}
                        <h3>You are set to attend this Contract with
                            <a href="{% url 'characters:characters_view' my_invitation.attendance.attending_character.id %}">
                                    {{my_invitation.attendance.attending_character.name}}
                            </a>
                        </h3>
                <div style="padding-left: 15px;">
                    <h5> <a href="{% url 'games:games_accept_invite' game.id %}">Click here to change Contractor</a></h5>
                    <h5> <a href="{% url 'games:games_decline_invite' game.id %}">Click here to cancel your attendance</a></h5>
                </div>
                        {% if my_invitation.attendance.attending_character.has_due_loose_end %}
                            <div class="alert alert-warning text-center">
                                <h4>Your Contractor has Loose Ends due!</h4>
                                <p>
                                    Your Contractor has at least one Loose End with a Cutoff at zero. Your GM should resolve
                                    these Loose Ends before your Contractor participates in a Contract.
                                </p>
                            </div>
                        {% endif %}
                    {% else %}
                        <h3>You are set to attend this Contract as an NPC Ringer.</h3>
                        <h5> <a href="{% url 'games:games_decline_invite' game.id %}">Click here to cancel your attendance</a></h5>
                    {% endif %}
                {% elif my_invitation.is_declined %}
                    <h3>You have declined your invitation to this Contract.</h3>
                    {% if can_rsvp %}
                        <h5><a href="{% url 'games:games_accept_invite' game.id %}">You may still RSVP if you change your mind</a></h5>
                    {% endif %}
                {% else %}
                    <h3 class="text-center">You have been invited to attend this Contract.</h3>
                    <h4 class="text-center">
                        <a href="{% url 'games:games_accept_invite' game.id %}" class="btn btn-xl btn-success">
                            Click here to RSVP
                        </a>
                    </h4>
                {% endif %}
            {% endif %}
            {% if can_rsvp %}
                {% if not my_invitation %}
                    <h4 class="text-center">
                        <a href="{% url 'games:games_accept_invite' game.id %}" class="btn btn-xl btn-success">
                            Click here to RSVP
                        </a>
                    </h4>
                {% endif %}
                {% if scenario_spoiled %}
                    <div class="alert alert-warning text-center">
                        <h4>You have already spoiled this Scenario</h4>
                        <p>
                            You have already spoiled the Scenario
                            <a href="{% url 'games:games_view_scenario' game.scenario.id %}">{{game.scenario.title}}</a>
                            and have access to the full writeup.
                            <br>
                            You should only play in this Contract as an NPC Ringer.
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info text-center">
                    <h3>You cannot RSVP to this Contract at this time.</h3>
                    <p>
                        {{ reason_cannot_rsvp }}
                        {% if nsfw_blocked %}
                            You can adjust your content settings by
                            <a href="{% url 'profiles:profiles_edit' %}">
                                editing your Profile.
                            </a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% else %}
            <h3 class="text-center">
                <a href="{% url 'account_login' %}">Log in</a>
                to RSVP
            </h3>
        {% endif %}
    {% endif %}
</div>