{% load account_tags %}
{% load bootstrap %}

<div class="panel-body">
    {% if request.user.is_authenticated and request.user.id == game.creator.id %}
        <h3>
            Invited Players
        </h3>
        <ul>
            {% for invitation in game.game_invite_set.all %}
            <li>
                <a href="{% url 'profiles:profiles_view_profile' invitation.invited_player.id %}"><b>{% user_display invitation.invited_player %}</b></a>
                {% if invitation.attendance %}
                    {% if invitation.attendance.attending_character %}
                        Playing <a href="{% url 'characters:characters_view' invitation.attendance.attending_character.id %}">{{invitation.attendance.attending_character.name}}</a>
                    {% else %}
                        Playing a ringer
                    {% endif %}
                {% elif invitation.is_declined %}
                    <p>Declined</p>
                {% else %}
                    <p>Awaiting response.</p>
                {% endif %}
            </li>
            {% empty %}
                <p> No players invited yet! <a href="{% url 'games:games_invite_players' game.id %}">Invite Some!</a></p>
                {% if game.open_invitations %}
                    <p>This game also accepts self-invitations, so just share this page with anyone you want to invite.</p>
                {% endif %}
            {% endfor %}
        </ul>
        {% if invite_form %}
            <hr>
            <h3>
                Invite Additional Players
            </h3>
            {{ invite_form.about.errors }}
            {% include "_messages.html" %}
            <form action="{% url 'games:games_invite_players' game.id %}" method="post">
            {{ invite_form.non_field_errors }}
            {% csrf_token %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {{ invite_form.username | bootstrap}}
            {{ invite_form.message | bootstrap}}
            {{ invite_form.invite_as_ringer | bootstrap }}
            <input class="btn btn-primary" type="submit" value="Invite" />
        {% endif %}
    {% elif request.user.is_authenticated %}
        {% if  my_invitation %}
            {% if my_invitation.attendance %}
                {% if my_invitation.attendance.attending_character %}
                    <h4>You are set to attend this game with
                        <a href="{% url 'characters:characters_view' my_invitation.attendance.attending_character.id %}">
                                {{my_invitation.attendance.attending_character.name}}
                        </a>
                    </h4>
                    <h5> <a href="{% url 'games:games_accept_invite' game.id %}">Click here to change character</a></h5>
                    <h5> <a href="{% url 'games:games_decline_invite' game.id %}">Click here to cancel your attendance</a></h5>
                {% else %}
                    <h4>You are set to attend this game as a ringer (NPC).</h4>
                    <h5> <a href="{% url 'games:games_decline_invite' game.id %}">Click here to cancel your attendance</a></h5>
                {% endif %}
            {% elif my_invitation.is_declined %}
                <h4>You have declined your invitation to this game.</h4>
                <h5><a href="{% url 'games:games_accept_invite' game.id %}">You may still RSVP if you change your mind</a></h5>
            {% else %}
                <h4>You have been invited to attend this game!</h4>
                <h5> <a href="{% url 'games:games_accept_invite' game.id %}">Click here to RSVP</a></h5>
            {% endif %}
        {% elif game.open_invitations %}
            <h3>This game is open for self-invites!</h3>
            {% if view_scenario %}
                <h5>Since you already have access to this scenario, you may only attend as a ringer.</h5>
            {% endif %}
                <h5><a href="{% url 'games:games_accept_invite' game.id %}">Click here to RSVP</a></h5>
        {% else %}
            <h3>You have not been invited to this game.</h3>
        {% endif %}
    {% else %}
        <h3>Log in to check invite status</h3>
    {% endif %}
</div>