{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Viewing Game{% endblock %}

{% block body_class %}home{% endblock %}

{% load account_tags %}
{% load markdown_deux_tags %}

{% block body_base %}
	<div class="container">
        <br>
        <h1 class="text-center">
            {% if game.is_scheduled %}
                Upcoming Game
            {% elif game.is_active%}
                Ongoing Game
            {% elif game.canceled %}
                Canceled Game
            {% else %}
                Completed Game
            {% endif %}
        </h1>
        {% include "_messages.html" %}
        {% if request.user.is_authenticated and request.user.id == game.creator.id or request.user.id == game.gm.id %}
            <br>
            <ul class="nav nav-pills nav-justified navbar-default">
                {% if game.is_scheduled %}
                    <li><a href="{% url 'games:games_game_edit' game.id %}">Edit Game</a></li>
                {% endif %}
                {% if game.is_finished or game.is_recorded %}
                    <li class="active">
                        <a href="{% url 'games:games_edit_completed' game.id %}">Edit Attendances and Outcomes</a>
                    </li>
                    <li class="">
                        <a href="{% url 'games:games_add_attendance' game.id %}">Add Attendances</a>
                    </li>
                {% endif %}
                {% if game.is_active or game.is_scheduled %}
                    <li><a href="{% url 'games:games_cancel_game' game.id %}">Cancel Game</a></li>
                {% endif %}
                {% if game.is_scheduled %}
                    <li class="active"><a href="{% url 'games:games_start_game' game.id %}">Start Game</a></li>
                {% endif %}
                {% if game.is_active %}
                    <li class="active"><a href="{% url 'games:games_end_game' game.id %}">Finish Game</a></li>
                {% endif %}

            </ul>
            <br>
        {% endif %}
        <div class="panel-group">
            <div class="panel panel-default">
                <h3 class="text-center">
                    <a href="{% url 'profiles:profiles_view_profile' game.creator.id %}">
                        {% if request.user == game.gm %}
                            You
                        {% else %}
                            {% user_display game.gm %}
                        {% endif %}
                    </a>
                    {% if game.is_scheduled %}
                        will run
                    {% elif game.is_active%}
                        {% if request.user == game.gm %}
                            are
                        {% else %}
                            is
                        {% endif %}
                        currently running
                    {% elif game.canceled %}
                        was going to run
                    {% else %}
                        ran
                    {% endif %}
                    {% if can_view_scenario %}
                        <a href="{% url 'games:games_view_scenario' game.scenario.id %}">{{game.scenario.title}}</a>
                    {% else %}
                        {{ game.scenario.title }}
                    {% endif %}
                    {% if can_view_scenario %}
                        {% if game.scenario.summary %}
                            <br>
                            <small>
                                {{game.scenario.summary}}
                            </small>
                        {% endif %}
                    {% endif %}
                </h3>
                    <h4 class="text-center">
                        This Game
                        {% if game.is_scheduled %}
                            will take place
                        {% elif game.is_active%}
                            is taking place
                        {% elif game.is_canceled%}
                            would have taken place
                        {% else %}
                            took place
                        {% endif %}
                        {% if game.cell %}
                            in <a href="{% url 'cells:cells_view_cell' game.cell.id %}">{{ game.cell.name }}</a>
                        {% endif %}
                        {% if game.is_scheduled %}
                            on {{ game.scheduled_start_time|date:'M d, Y' }} at {{ game.scheduled_start_time|date:'g:iA' }}
                        {% elif game.is_active%}
                        {% elif game.is_canceled%}
                            but was canceled and never occurred
                        {% else %}
                            on {{ game.end_time|date:'M d, Y' }} at {{ game.end_time|date:'g:iA' }}
                        {% endif %}
                    </h4>
                <div class="panel-heading">
                    {% if game.is_scheduled and game.hook %}
                        <p class="lead">Invitation</p>
                        <p>
                            {% if request.user.is_authenticated and my_invitation %}
                                {{ my_invitation.invite_text }}
                            {% else %}
                                {{ game.hook|linebreaks }}
                            {% endif %}
                        </p>
                        <h4>
                            <small>
                                Bring your favorite
                                <b>
                                    {% if not game.get_required_character_status_display == "Any" %}
                                        {{game.get_required_character_status_display}}
                                    {% endif %}
                                </b>
                                Character
                            </small>
                        </h4>
                    {% endif %}
                </div>
                {% if game.is_scheduled %}
                    {% include "games/view_game_pages/scheduled_invitation_snippet.html" %}
                {% elif game.is_active %}
                    {% include "games/view_game_pages/active_attending_snippet.html" %}
                {% elif game.is_finished or game.is_archived or game.is_void or game.is_recorded %}
                    {% include "games/view_game_pages/finished_attended_snippet.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}