.css-how-to-character h3 {
    margin-top: 15px;
    margin-bottom: 12px;
}

.css-how-to-character h5 {
    margin-top: 10px;
    margin-bottom: 7px;
}

.css-tutorial-text {
    font-size: .75em;
}

.css-tutorial-text ul{
    margin-top: 8px;
    margin-bottom: 8px;
}

.css-limit {
    font-size: .85em;
    margin-bottom: .05in;
}

.css-limit span {
    font-size: .85em;
    margin-left: 5px;
}

