body {
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-print-color-adjust: exact !important;
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.css-page {
    width: 8in;
    border: 2px solid grey;
    border-style: ridge;
    padding: .2in;
    margin: auto;
    page-break-inside: avoid;
    break-inside: avoid;
    max-height: 10.3in;
    overflow: hidden;
    -webkit-box-decoration-break: clone;
    page-break-after: always;
    position:relative;
}

.css-page-long {
    width: 8in;
    border: 2px solid grey;
    border-style: ridge;
    padding: .2in;
    margin: auto;
    page-break-after: always;
    position:relative;
}

.css-page-long:last-child {
    page-break-after: avoid;
}

.css-page-long-section {
    -webkit-box-decoration-break: clone;
}

.css-condition-field {
    padding-left: .05in;
    padding-right: .05in;
}

.css-no-print {
    width: 8in;
    border: 1px solid grey;
    padding: .2in;
    padding-bottom: .05in;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.css-option {
    margin-left: .1in;
}


/* MAIN CONTENT INTRO */
.css-main-logo {
    height: .8in;
    float: right;
}

.css-logo-url {
    text-align: right;
    font-size: .7em;
    position: absolute;
    bottom: 0.02in;
    right: 0.15in;
    width: 4in;
    z-index: 9999;
    background-color: white;
    padding: .03in;
}

.css-char-name-cont {
    padding-right: 10px;
    flex: 1;
}

.css-char-name {
    font-size: 2.5em;
    text-align: center;
}

.css-char-name-subtitle {
    font-size: .8em;
    text-align: center;
}

.css-blank-fill {
    border-bottom: 1px solid black;
}

.css-character-intro {
    max-height: 1in;
    margin-bottom: .1in;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* CSS ESSENTIALS SECTION */

.css-essentials-section {
    border: 1px solid #f0f0f0;
    padding: .1in;
    font-size: .9em;
    margin-bottom: .1in;
    text-align: center;
}

/* STATS SECTION */

.css-section-stats {
    margin-bottom: .2in;
    display: flex;
}

.css-section-attributes {
    width: 2.5in;
    padding-right: .1in;
    border-right: 1px solid black;
}

.css-section-abilities {
    width: 5.45in;
    padding-left: .1in;
}

.css-ability-values {
}

.css-ability-values .css-stat-value {
    font-size: .8em;
    height: .1in;
}

.css-ability-values .css-stat-name {
    font-size: 0.9em;
    line-height: 1.3;
}

.css-attr {
    font-size: 1.15em;
}

.css-attribute-values {
    display:flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-around;
    margin-top: -.1in;
}

.css-stat-name {
}

.css-stat-value {
    font-size: 0.7em;
    float: right;
}

.css-stat-extra-value {
    font-size: 0.7em;
    float: right;
    color: #aeaeae;
}

.css-ability-values .css-stat-extra-value {
    font-size: .8em;
    height: .1in;
}

.css-advancement-text {
    position: relative;
    font-size: .7em;
    font-style: italic;
    bottom: 0.5em;
    color: #212121;
}

.dot {
  height: 1em;
  width: 1em;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1px;
}

.d10-filled {
  height: 1.3em;
  width: 1.3em;
  position: relative;
  top: .2em;
}

.d10-outline {
  height: 1.3em;
  width: 1.3em;
  position: relative;
  top: .2em;
}

.dot-filled {
  height: 1em;
  width: 1em;
  color: black;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1px;
}

.css-content {
    padding-bottom: .03in;
}

@page {
    margin: 0.25in;
}

@media print {
    .css-no-print {
        display: none;
    }

    h1 {
        break-before: always;
    }

    .css-page-spacer {
        break-inside: auto;
        height: .05in;
    }
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.css-lower-header {
    margin-top: 15px;
}

.css-section-vitals:after {
    display: table;
    content: " ";
    clear: both;
}

.css-body-sec {
    width: 5in;
    float: left;
}

.css-mind-sec {
    width: 2.9in;
    float: left;
}

.css-col-left {
    width: 3in;
    float: left;
}

.css-col-right {
    width: 1.9in;
    float: left;
}

.css-blank-injury-sev {
    width: .2in;
    border-bottom: 1px solid black;
    height: 1em;
    display: inline-block;
    margin-left: 5px;
}

.css-blank-injury-field {
    width: 2.4in;
    margin-left: .1in;
    border-bottom: 1px solid black;
    height: 1em;
    display: inline-block;
    color: white;
}

.css-blank-body {
}

.css-body-level {
    width: 1in;
    margin: auto;
}

.css-invisible-box {
    height: 1em;
    width: 1em;
    border: 1px solid transparent;
    display: inline-block;
}

.css-empty-box {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    display: inline-block;
}

.css-empty-box-dotted {
    height: 1em;
    width: 1em;
    border: 1px dotted black;
    display: inline-block;
}

.css-penalty-level {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: .8em;
    position: relative;
    bottom: .3em;
    width: .6in;
}

.css-left {
    float: left;
    margin-left: .2in;
}

.css-right {
    float: right;
    margin-right: .2in;
}

.css-header-block {
    height: 2.1em;
}

.css-blank-field {
    width: 100%;
    border-bottom: 1px solid black;
    min-height: 1em;
}

.css-dead-img {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 5px;
}

.css-field-value {
    font-size: .8em;
    line-height: .9;
    padding: 0.03in;
}

.css-field-system {
    padding-left: 0.05in;
    font-size: 0.8em;
}

.css-help-text {
    font-size: .6em;
    font-style: italic;
    opacity: 50%;
}

.css-double-col {
    width: 50%;
    float: left;
}

.css-col-cont {
    display: table;
    content: " ";
    clear: both;
    width: 100%;
}

.padded-col {
    padding-left: .05in;
    padding-right: .05in;
}

.css-field-container {
    margin: 5px;
}

.css-section-conditions {
    margin-top: 5px;
}

.css-section-conditions h3 {
    margin-bottom: 0px;
}

.left-dotted-line {
    position: absolute;
}

.left-dotted-line>div {
    border-bottom: 1px dotted black;
    width: 0.45in;
    height: 1em;
    display: inline-block;
    position: relative;
    right: .6in;
    bottom: .01in;
}


/*

PAGE 2

*/

.css-page-spacer {
    height: .05in;
    border: none;
}

.css-page-header-sm {
    height: .3in;
    border-bottom: 1px solid grey;
}

.css-header-left {
    float: left;
    position: relative;
    top: .05in;
}

.css-sm-logo {
    height: .25in;
    float: right;
}

.css-equip {
    font-size: .8em;
}

.css-equip ul {
    margin-top: .1in;
    margin-bottom: .1in;
}

.css-equip h4 {
    margin-top: .0in;
    margin-bottom: .0in;
}

.css-equip h5 {
    margin-top: .0in;
    margin-bottom: 0in;
}

.panel {
    border: 1px solid black;
}

.panel-collapse {
    background-color: white !important;
}

.panel-body {
    padding: 10px;
}

.css-ps2-power-badge {
    max-width: 3.75in;
    margin-left: 0.05in;
    margin-right: 0.05in;
}

.css-world-entity-value {
    text-align: center;
}

.css-ps2-power-badge, .css-item {
    font-size: .7em;
    page-break-inside: avoid;
}

.css-ps2-power-badge h4, .css-item h4 {
    font-size: 1.5em!important;
}

.power-badge {
    background-color: white !important;
    padding-bottom: 0px !important;
}

.power-badge a, .css-item a {
    text-decoration: none;
    color: black;
}

.css-ps2-power-badge p {
    margin-top: 0.05in !important;
    margin-bottom: 0.05in !important;
}

.css-power-flavor-text {
    font-size: .7em;
    color: grey;
    font-style: italic;
}

.js-render-power-keywords a {
    display: none !important;
}

.css-mod-summary {
    display: none!important;
}

.power-badge img {
    filter: invert(100%);
}


.css-gift-cost-icon {
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 3px;
    top: 0px!important;
    margin-right: .02in !important;
    height: 23px !important;
}

.css-gift-summary {
    display: none!important;
}

.visible-xs-block {
    display: none !important;
}

.hidden-xs {
    display: none !important;
}

.css-gift-mini-badge {
    border: 1px solid grey;
    padding: 0.03in;
    margin-bottom: .03in;
}

.css-item {
    border: 1px solid grey;
    padding: 0.03in;
    margin-bottom: .1in;
}

.css-flex-col, .css-item-gift-list {
    display: flex;
    flex-wrap: wrap;
}

.css-flex-col .css-item {
    width: 47%;
    margin-left: .01in;
}

.css-item-lost {
    border: 1px dotted grey;
}

.css-item .css-gift-mini-badge {
    border: 1px solid #D0D0D0;
}

.css-gift-mini-badge h5, .css-item h5, .css-item h4 {
    margin-top: 0.02in;
    margin-bottom: 0.02in;
    font-size: .9em;
}

.css-mini-gift-summary {
    font-size: .7em;
}

.css-item .btn {
    display: none!important;
}

.css-craftables .css-ps2-power-badge {
    border-style: dotted !important;
}