.css-how-to-character h3 {
    margin-top: 15px;
    margin-bottom: 12px;
}

.css-how-to-character h5 {
    margin-top: 10px;
    margin-bottom: 7px;
}

.css-tutorial-text {
    font-size: .75em;
}

.css-tutorial-text ul{
    margin-top: 8px;
    margin-bottom: 8px;
}

.css-limit {
    font-size: .85em;
    margin-bottom: .05in;
}

.css-limit span {
    font-size: .85em;
    margin-left: 5px;
}

.css-no-break {
    page-break-inside: avoid;
    break-inside: avoid;
}

.css-quirk-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.css-quirk {
    width: 48%;
    font-size: .85em;
    margin-bottom: .03in;
    padding: 5px;
    align-content: space-around;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
}

.css-quirk-desc {
    font-size: .9em;
}

.css-quirk-system {
    font-size: .9em;
    font-style: italic;
    padding-left: .01in;
}

.css-quirk-value {
    font-size: 1.2em;
}