h1 {
    margin-top: 0px;
}

.css-header-buttons {
    padding: 10px 0px;
}

.css-char-alert {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.char-essentials {
    border-color: #a6763a;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    background-color: #353e4b;
}

.css-health-section {
    background-color: #353e4b;
    padding-bottom: 10px;
    border-bottom: 1px solid #a6763a;
    border-top: 1px solid #a6763a;
    margin-bottom: 10px;
}

.stat-value {
    border-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: #353e4b;
    padding: 5px;
}

.css-injury-description {
    border-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    line-height: 1.7;
}

.css-left-panel {
    background-color: #20252d;
}

h3 {
    margin-top: 5px;
}

.health-box {
    position: relative;
    right: 12px;
    bottom: 3px;
}

.css-fort-stat {
    font-size: 20px;
}

.css-body-h {
    position:relative;
    left: 9px;
    font-size: 25px;
}

.css-mind-h {
    position:relative;
    right: 12px;
    font-size: 25px;
}

.css-del-trauma-form {
    display: inline;
}

.js-injury-value-input {
    width: 25px !important;
    padding: 5px !important;
    text-align:center;
    font-size:16px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.css-injury-val {
    padding-bottom: 8px;
}

.css-penalty-box {
    width: 40px !important;
    height: 40px !important;
    position: relative;
    right: 4px;
    font-size: 18px;
}

.css-dead-img {
    width: 30px !important;
    height: 30px !important;
    filter: invert(100%) sepia(3%) saturate(6757%) hue-rotate(350deg) brightness(104%) contrast(97%);
}

.css-health-area {
    padding-bottom: 15px;
    padding-top: 5px;
}

.css-status-text {
    padding-left: 5px;
    padding-right: 5px;
}

.css-source-button {
    position: relative;
    bottom: 6px;
    font-size: 22px;
    height: 35px;
    padding-bottom: 27px;
    padding-top: 0px;
}

.js-source-form {
    display: inline;
}

.css-section-button:hover {
    border: 1px dotted black;
}
.css-section-button {
    border: 1px solid transparent;
}

.css-timeline-item {
    display: block;
    padding: 4px;
    margin-bottom: 5px;
    line-height: 1.42857143;
    background-color: #353e4b;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.css-timeline-crafting {
    background-color: #453e4b;
    border-color: gray;
}

.css-timeline-exp {
    border-color: wheat;
}

.css-timeline-element {
    border-color: darkolivegreen;
}

.css-game-badge {
    border-color: lightskyblue;
}

.css-bio-text {
    padding: 10px;
}

.css-circumstance-section {
    background-color: #353e4b;
}

.css-circumstance-section .css-world-entity-value {
    padding-right: 40px;
}

.css-world-entity-container+.css-world-entity-container {
    margin-top: 10px;
}

.css-field-inline .form-control {
    display: inline-block;
    width: inherit;
}

.css-circumstance-section .css-world-element-delete {
    padding-right: 10px;
    height: 12px;
}

.css-circumstance-section .css-world-element-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.css-circumstance-section .css-world-element-description {
    left: 30px;
    position: relative;
}

.css-circumstance-section .css-world-element-source {
    left: 30px;
    position: relative;
}

.css-circumstance-section .css-world-element-system {
    display: block;
    font-style: italic;
    left: 30px;
    position: relative;
    opacity: 0.8;
}

.css-condition-cell-header {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.css-condition-section .css-world-element-delete {
    padding-right: 10px;
    height: 12px;
}

.css-condition-section .css-world-entity-value {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
}

.css-condition-section .css-world-element-name {
    font-weight: bold;
    font-size: 15px;
}

.css-condition-section .css-world-element-name::after {
    content: ":";
    position: relative;
    right: 2px;
}

.css-condition-section .css-world-element-system {
    font-style: italic;
    opacity: 0.8;
}

.css-condition-section .css-world-element-system::after {
  content: ")";
  position:absolute;
  padding-left: 3px;

}
.css-condition-section .css-world-element-system {
    padding-left: 5px;
}

.css-condition-section .css-world-element-system::before {
  content: "(";
  position:absolute;
  margin-left: -5px;
}

.css-quirk-value {
    position: absolute;
    border-color: transparent;
    font-size: 16px;
}

.css-quirk-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.css-quirk-details {
    display: inline-block;
}

.css-quirk-content {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.css-quirk-name {
    font-size: 15px;
}

.nav-justified-sm > li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified>li>a {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-justified-sm > li > a {
    margin-bottom: 0 !important;
    border-bottom-color: #a6763a;
    border-bottom-width: 1px ;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (max-width: 767px) {
  .nav-tabs.nav-justified>.active>a {
    border-bottom-color: #20252d;
    border-bottom-width: 0px;
  }
  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #20252d;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #20252d;
    border-bottom-width: 1px !important;
    border-bottom-color: #20252d !important;
}

.css-cell-body {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #20252d;
    border-left-color: #a6763a !important;
    border-right-color: #a6763a !important;
    border-radius: 0px;
}

.css-secondary-ability {
    color: #d3d2e6;
}

.css-attributes {
    text-align: left;
    padding-bottom: 10px;
}

@media (min-width: 767px) {
    .css-abilities {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #a6763a !important;
    }
    .css-attributes {
        margin-right: -1px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #a6763a !important;
    }
}

.css-attributes .stat-value {
    min-width: 23px;
    position: absolute;
    display: inline-block;
}


.css-physical-ability {
    text-align: right;
}

@media (max-width: 767px) {
    .css-physical-ability {
        text-align: left;
    }
}

.css-system-reference {
    background-color: #353e4b;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #a6763a;
}

.css-weapon-reference {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 15px;
    border-top: 1px solid #a6763a;
    border-bottom: 1px solid #a6763a;
    border-left: 1px solid #a6763a;
}

.css-complication-reference {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border-top: 1px solid #a6763a;
    border-bottom: 1px solid #a6763a;
    border-right: 1px solid #a6763a;
}

.js-injury-value-input {
    display: inline-block;
}


.css-weapon-tab-header {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.css-nav-tabs>li.active>a {
    background-color: #262d37 !important;
}
.css-nav-tabs.nav-justified>.active>a, .css-nav-tabs.nav-justified>.active>a:focus, .css-nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #262d37 !important;
}

.css-equip-header {
    font-weight: bold;
}

.css-equip-row{
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.css-equip-container {
    height: 130px;
    overflow: auto;
}

.css-tab-content {
    font-size: 12px;
    background-color: #262d37 !important;
    padding-top: 10px;
}

.css-stabilization-text {
  font-size: 90%;
}

.css-loose-end-container {
   max-width: 800px;
   margin: auto;
   background-color: #353e4b;
   padding: 15px;
   border-radius: 2px;
   margin-bottom: 15px;
}

.css-loose-end-button {
}

.css-loose-end-system {
    font-style: italic;
    position: relative;
    opacity: 0.8;
}


.css-loose-end-threat-level {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px;
}
.css-cutoff-present {
    color: #cb4b45;
}

.css-cutoff-imminent {
    color: darkorange;
}

.css-cutoff-moderate {
    color: #d3d2e6;
}

.css-cutoff-distant {
}

.css-loose-end-threat-level {
    margin-left: 5px;

}

@media (min-width: 767px) {
    .css-loose-end-header {
        display: inline-block;
    }

    .css-loose-end-subheader {
        display: inline-block;
    }

    .css-loose-end-subheader span {
        margin-left: 3px;
    }

    .css-loose-end-content {
        padding-left: 20px;
    }
}

.css-combat-ref-text {
    color: #e1b276;
}

.css-limit-compact {
    margin: 5px;
    display: block;
}

