<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blank Character Sheet</title>
    {{data|json_script:"blankSheetData"}}
    <link rel="stylesheet" type="text/css" href="{% static 'characters/print_character_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'characters/print_blank_styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="js-sheet-component" >
    <div v-if="ready">
        <div class="css-no-print">
            {% include "characters/print_pages/blank/no_print_section.html" %}
        </div>
        <div class="css-page">
            <div class="css-content">
                {% include "characters/print_pages/blank/section_stats.html" %}
                <hr>
                {% include "characters/print_pages/blank/section_vitals.html" %}
            </div>
            <div class="css-logo-url">
                TheContractRPG.com
            </div>
        </div>
        <div class="css-page-spacer"></div>
        <div class="css-page">
            <div class="css-content">
                {% include "characters/print_pages/blank/page_equipment_and_gifts.html" %}
            </div>
            <div class="css-logo-url">
                TheContractRPG.com
            </div>
        </div>
        <div class="css-page-spacer"></div>
        <div class="css-page">
            <div class="css-content">
                {% include "characters/print_pages/blank/page_story.html" %}
            </div>
            <div class="css-logo-url">
                TheContractRPG.com
            </div>
        </div>
        <span v-if="showExpLog">
            <div class="css-page-spacer"></div>
            <div class="css-page">
                <div class="css-content">
                    {% include "characters/print_pages/blank/page_exp_log.html" %}
                </div>
                <div class="css-logo-url">
                    TheContractRPG.com
                </div>
            </div>
        </span>
        <span v-if="showNewCharacterGuide">
            <div class="css-page-spacer"></div>
            <div class="css-page">
                <div class="css-content">
                    {% include "characters/print_pages/blank/page_char_creation_guide.html" %}
                </div>
                <div class="css-logo-url">
                    TheContractRPG.com
                </div>
            </div>
            <span v-if="showLimitsAndStats">
                <div class="css-page-spacer"></div>
                <div class="css-page">
                    <div class="css-content">
                        {% include "characters/print_pages/blank/page_guide_stats.html" %}
                    </div>
                    <div class="css-logo-url">
                        TheContractRPG.com
                    </div>
                </div>
            </span>
            <span v-if="showAssetsAndLiabilities">
                <div class="css-page-spacer"></div>
                <div class="css-page-long">
                    <div class="css-content">
                        {% include "characters/print_pages/blank/page_assets_and_liabilities.html" %}
                    </div>
                    <div class="css-logo-url">
                        TheContractRPG.com
                    </div>
                </div>
            </span>
        </span>
    </div>
</div>

<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
<script src="{% static 'characters/print_blank_sheet.js' %}"></script>

</body>
</html>
