{% load static %}
<div class="css-character-intro css-user-fill">
    <div class="css-char-name-cont css-header">
        <span class="css-blank css-blank-field-fill" style=""><span class="css-field-label">Contractor Name</span></span>
            <div style="text-align: left;">
                <span><span class="css-blank css-blank-field-len2">
                    <span class="css-field-label">Player Name</span>
                </span></span>
                <span><span class="css-blank css-blank-field-len0 css-blank-field-margin">
                    <span class="css-field-label"># Victories</span>
                </span></span>
                <span><span class="css-blank css-blank-field-len0 css-blank-field-margin">
                    <span class="css-field-label"># Losses</span>
                </span></span>
                <span><span class="css-blank css-blank-field-len0 css-blank-field-margin">
                    <span class="css-field-label"># Improvements</span>
                </span></span>
                <span><span class="css-blank css-blank-field-len0 css-blank-field-margin">
                    <span class="css-field-label">Exp Remaining</span>
                </span></span>
            </div>
    </div>
    <div>
        <img class="css-main-logo" src="{% static 'overrides/branding/contract-white.svg' %}">
    </div>
</div>

<div class="css-essentials-section css-user-fill">
    <i>
        <div>
            <span class="css-blank css-blank-field-len2"><span class="css-field-label">Contractor Name</span></span>
            <span class="css-blank-field-txt">is a</span>
            <span class="css-blank css-blank-field-len3"><span class="css-field-label">Archetype</span></span>
            <span class=" css-blank-field-txt">who will risk</span>
            <span class="css-blank css-blank-field-len0"><span class="css-field-label">Pronoun</span></span>
            <span class=" css-blank-field-txt">life to</span>
            <div>
                <span class="css-blank css-blank-field-fill"><span class="css-field-label">Ambition</span></span>
            </div>
        </div>
        <div style="margin-top: .1in;" class="css-user-fill">
            <span class="css-blank-field-txt">They often appear as</span>
            <span class="css-blank css-blank-field-len6"><span class="css-field-label">Appearance</span></span>
        </div>
    </i>
</div>

<div class="css-section-stats">
    <div class="css-section-attributes">
        <h3 class="text-center">Attributes</h3>
        <div class="css-attribute-values">
            <div class="css-advancement-text text-center" v-if="showTutorialText">
                Cost to increase: current rating x 5 Exp
            </div>
            <div class="css-attr" v-for="attribute in attributes">
                <b>
                    <span class="css-stat-name" v-text="attribute.name"></span>
                </b>
                <span class="css-stat-extra-value" v-html="displayValue(0, 3)" v-if="showExtraStats"></span>
                <span class="css-stat-value" v-html="displayValue(1, 5)"></span>
            </div>
        </div>
    </div>
    <div class="css-section-abilities">
        <h3 class="text-center">Abilities</h3>
        <div class="css-ability-values">
            <div class="css-advancement-text text-center"  v-if="showTutorialText">
                Cost to increase: current rating x 2 (2 Exp for first rank)
            </div>
            <div class="css-double-col">
                <div class="css-abil" v-for="ability in abilities.slice(0, Math.ceil(abilities.length/2))">
                    <b>
                        <span class="css-stat-name" v-text="ability.name"></span>
                    </b>
                    <span class="css-stat-extra-value" v-html="displayValue(0, 1)" v-if="showExtraStats"></span>
                    <span class="css-stat-value" v-html="displayValue(0, 5)"></span>
                </div>
            </div>
            <div class="css-double-col" >
                <div style="margin-left: .1in;">
                    <div class="css-abil" v-for="ability in abilities.slice(-Math.floor(abilities.length/2))">
                        <b>
                            <span class="css-stat-name" v-text="ability['name']"></span>
                        </b>
                        <span class="css-stat-extra-value" v-html="displayValue(0, 1)" v-if="showExtraStats"></span>
                        <span class="css-stat-value" v-html="displayValue(0, 5)"></span>
                    </div>
                    <div class="css-abil">
                        <div class="css-blank-field" style="width: 1.2in; display: inline-block;"></div>
                        <span class="css-stat-extra-value" v-html="displayValue(0, 1)" v-if="showExtraStats"></span>
                        <span class="css-stat-value" v-html="displayValue(0, 5)"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
