@media (min-width: 769px) {
    .css-contractor-fiction {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* anchor links fix */
#continue-from-home::before {
  display: block;
  content: "";
  height: 50px;
}

.css-contractor-fiction {
    font-family: Verdana, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.css-contractor-fiction>p {
    margin-bottom: 20px;
}

.css-contractor-fiction>p>span {
    font-weight: 300 !important;
}
