.css-art-front-music {
    float: left;
}

.css-sm-art-front-music {
    width: 33%;
    margin-right: 40px;
}

.css-xs-art-front-music {
    width: 100%;
    margin-bottom: 10px;
}

.css-discord-btn {
   top: 2px;
   position: relative;
   font-size: 15px;
}