.css-top3 {
    font-size: 20px;
}

.css-top3 .main-subtitle {
    font-size: 16px;
}

.css-top3 .subtitle {
    font-size: 16px;
}

.subtitle {
    color: #939286;
}

.css-runnerup {
    font-size: 14px;
}

.css-runnerup .main-subtitle {
    font-size: 12px;
}

.css-runnerup .subtitle {
    font-size: 12px;
}

.css-leaderboard-header {
    text-align: center;
    font-size: 25px;
    padding: 10px, 15px;
}

.css-contractor-sub {
    line-height: 20px;
}