.css-quickstart-container {
    background-color: #262d37;
    padding: 10px;
}

.css-quickstart-action {
    background-color: #191c23;
    padding-top: 5px;
    padding-bottom: 5px;
}

.css-quickstart-action-text {
    display: inline-block;
    min-width: 75%;
}

.css-quickstart-gm-text {
    margin-top: 10px;
}

.css-qs-roll-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-quickstart-die {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    left: 5px;
}


.css-quickstart-die-val {
    font-size: 22px;
    position: relative;
    top: 14px;
    left: 19px;
}

.css-quickstart-die-outcome {
   font-size: 18px;
    display: inline-block;
    width: 50px;
    position: relative;
    left: 15px;
}

.css-qs-attributes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.css-qs-attributes > div {
    margin-left: 15px;
    margin-right: 15px;
}

.css-narrative {
    padding: 10px;
    font-size: 16px;
    color: skyblue;
}

.css-rules {
    padding: 10px;
    font-size: 14px;
    background-color: #353e4b;
    border: 1px solid #000;
    border-radius: 4px;
}

.css-rules-centered {
    width: 70%;
    margin: auto;
}


.css-art-front-punk {
    position: relative;
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.css-two-thirds-col {
    width: 66%;
    background-color: rgba(17, 20, 24, 0.5);
}

.css-two-thirds-col-right {
    width: 66%;
    position: relative;
    left: 33%;
    background-color: rgba(17, 20, 24, 0.5);
}

.css-art-front-music {
    position: relative;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}

.css-art-front-doors {
    position: relative;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
}

.css-backdropped-text {
    padding: 15px;
    background-color: rgba(17, 20, 24, 0.7);
}

.css-qs-big {
    font-size: 16px;
}