{% extends "site_base.html" %}

{% load static %}
{% load hgapp_tags %}
{% load ad_tags %}

{% block head_title %}
    {{guidebook.title}}
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'guide/read_guide_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
    {{tutorial.professions|json_script:"professions"}}
    {{tutorial.archetypes|json_script:"archetypes"}}
    {{tutorial.personality_traits|json_script:"personalityTraits"}}
    {{tutorial.paradigms|json_script:"paradigms"}}
    {{tutorial.ambitions|json_script:"ambitions"}}
    <script src="{% static 'guide/read_guide_scripts.js' %}"></script>
    <script src="{% static 'overrides/wiki-macro-scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="visible-xs css-expand-button css-no-print">
    <button class="btn btn-default" onclick="toggleToc();">
        <span class="fa fa-bars"></span>
    </button>
</div>
<div class="container-fluid">
    <div id="main-container" class="row">
        <div class="css-toc-sec css-no-print">
            <div id="js-guide-index" class="horizontal-toc">
                <div id="js-guide-sidebar" class="guide-toc">
                    <h3 class="text-center hidden-xs">
                        Player's Guide Index
                        <hr>
                    </h3>
                    {% guide_toc guidebook %}
                </div>
            </div>
        </div>
        <div class="visible-xs-block" style="height: 20px;"></div>
        <div class="css-guidebook-col">
            <h1 class="text-center" style="font-size: 42px;">
                {{guidebook.title}}
            </h1>
            {% if can_edit %}
                <div class="css-admin-buttons text-center">
                    <a class="btn btn-default btn-xs"
                       href="{% url 'guide:edit_guidebook' guidebook.slug %}">
                        Edit Guidebook intro
                    </a>
                </div>
            {% endif %}
            {% if guidebook.is_under_construction %}
                <div class="alert alert-info" style="margin-left: 25px; margin-right: 25px;">
                        <img src="{% static 'guide/graphics/pencil-ruler.svg' %}" height="35" width="35" style="display: inline-block; float: left; margin-right: 10px; width: 35px; height: 35px;"/>
                        <h4 class="css-under-construction-text" style=" margin-bottom: 0px;">
                            This Guidebook is under construction
                        </h4>
                </div>
            {% endif %}
            <div class="panel panel-default" style="margin-right: 10px; margin-left: 10px; z-index: 4;">
                <div class="panel-body css-guide-content">
                    <div class="css-section-body" style="margin-top: 15px; background-color: #28313f !important; padding-bottom: 1px;">
                        {{guidebook.rendered_content|safe}}
                    </div>
                    {% for section in sections %}
                        {% if forloop.counter|divisibleby:8 %}
                            <div style="margin-top: 10px; margin-bottom: 10px;">
                                {% render_fake_ad request.user forloop.counter %}
                            </div>
                        {% endif %}
                        <div class="{% if section.is_hidden %} css-hidden-section {% endif %}">
                            {% if section.header_level > 1 %}
                                <div class="css-section-backdrop">
                            {% endif %}
                            <div id="{{section.slug}}" class="css-guide-section"></div>
                            <div>
                                <div class="css-section-heading-{{section.header_level}}"  style="padding-left: 15px;">
                                <h{{section.header_level}}>
                                    {{section.title}}
                                    <span class="css-section-anchor-link">
                                        <a class="btn-xs" href="#{{section.slug}}">
                                            <i class="fa fa-link"></i> Link
                                        </a>
                                    </span>
                                </h{{section.header_level}}>

                                {% if can_edit %}
                                    {% if section.is_hidden %}
                                        <div class="css-hidden-section-warning">
                                            This Section is only viewable by admins
                                        </div>
                                    {% endif %}
                                    <div class="css-admin-buttons" >
                                        <a class="btn btn-default btn-xs"
                                           href="{% url 'guide:edit_guide_section' guidebook.slug section.slug %}">
                                            Edit Section
                                        </a>
                                        <a class="btn btn-default btn-xs"
                                           href="{% url 'guide:new_guide_section' guidebook.slug section.slug %}">
                                            Add new Section after this one
                                        </a>
                                        <a class="btn btn-danger btn-xs"
                                           href="{% url 'guide:delete_guide_section' guidebook.slug section.slug %}">
                                            Delete Section
                                        </a>
                                    </div>
                                {% endif %}
                                </div>
                                {% if section.header_level == 1 %}
                                <hr>
                                {% endif %}
                            </div>
                            {% if section.rendered_content %}
                                {% if section.is_spoilers %}
                                        <div
                                            id="collapse-section-{{section.id}}-heading"
                                            {% if request.user.is_authenticated %}
                                                role="button" data-toggle="collapse"
                                                data-target=".collapse-section-{{section.id}}"
                                                aria-expanded="false"
                                                aria-controls="collapse-section-{{section.id}}"
                                            {% endif %}
                                        >
                                            <div class="collapse collapse-section-{{section.id}} in"
                                                 role="tabpanel"
                                                 aria-labelledby="collapse-section-{{section.id}}-heading" >
                                                <div class="css-section-body">
                                                    <h4 class="text-center">
                                                        This section is hidden because it contains spoilers
                                                        <div>
                                                            <small>
                                                                Only read this section if you're looking for content to GM.
                                                                Otherwise, you risk learning too much about content that may be run for you.
                                                            </small>
                                                        </div>
                                                        {% if request.user.is_authenticated %}
                                                            <div style="margin-top:5px;">
                                                                <small >
                                                                    (<span class="visible-xs-inline visible-sm-inline">tap</span><span class="hidden-xs hidden-sm">click</span>
                                                                    to expand)
                                                                </small>
                                                            </div>
                                                        {% else %}
                                                            <div style="margin-top:15px;">
                                                                You must
                                                                <a href="{% url 'account_login' %}">
                                                                    log in
                                                                </a>
                                                                to view spoilers.
                                                            </div>
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="panel-collapse collapse collapse-section-{{section.id}}"
                                            role="tabpanel"
                                            aria-labelledby="collapse-section-{{section.id}}-heading">
                                            <div class="css-section-body">
                                                {% if request.user.is_authenticated %}
                                                    {{section.rendered_content|safe}}
                                                {% endif %}
                                            </div>
                                        </div>
                                {% else %}
                                    <div class="css-section-body">
                                        {{section.rendered_content|safe}}
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if section.header_level > 1 %}
                                </div>
                            {% endif %}
                        </div>
                    {% empty %}
                        {% if can_edit %}
                            <div>
                                <a class="btn btn-default"
                                   href="{% url 'guide:new_guide_section' guidebook.slug section.slug %}">
                                    Add first Section
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
