{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
{{guidebook.title}}
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'guide/read_guide_style.css' %}" />
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'guide/read_guide_scripts.js' %}"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <h1 class="text-center">
        {{guidebook.title}}
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for section in sections %}
                <h{{section.header_level}} id="{{section.slug}}">{{section.title}}</h{{section.header_level}}>
                <div class="css-section-body">
                    {{section.content|safe}}
                    {% if request.user.is_superuser %}
                     <div>
                         <a class="btn btn-default"
                            href="{% url 'guide:edit_guide_section' guidebook.slug section.slug %}">
                             Edit Section
                         </a>
                     </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
