
.css-gift-cost-cont {
    width: 290px;
    margin: auto;
}

.css-gift-cost {
    width: 290px;
    margin: auto;
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: #5a5f6c;
}

.css-fake-height-div {
    height: 40px;
}

.affix {
    top: 60px;
    z-index: 9999 !important;
}

.css-detail-field {
    max-width: 60% !important;
}

.css-field-form {
    padding-top: 5px;
    padding-bottom: 5px;
}

.css-roll-field-primary {
    max-width: 45%;
    display: inline-block;
}

.css-roll-field-plus {
    width: 5%;
    display: inline-block;
    text-align: center;
}

.css-roll-field-difficulty {
    padding-left: 5px;
    display: inline-block;
}

.field-eratta {
    padding-left: 5px;
}

h3 {
    margin-top: 0px;
}