.affix {
    top: 60px;
    z-index: 9999 !important;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    width: 200px;
    direction: rtl;
    border: 1px solid black;
}
