
.css-gift-cost-cont {
    width: 290px;
    margin: auto;
    margin-top: 10px;
}

.css-gift-cost {
    width: 290px;
    margin: auto;
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    background-color: #5a5f6c;
}

.css-fake-height-div {
    height: 40px;
}

.affix {
    top: 60px;
    z-index: 9999 !important;
}

.css-modifier-text {
    font-weight: 400;
    font-size: 13px;
}

/* TOP WORKFLOW BAR */

.css-creating-gift-header {
}

.css-step-container {
    display: inline-block;
    width: 40%;
    text-align: center;
    height: 100%;
    position: relative;
}

.css-customize-container {
    width: 20%;
}

.css-component-tab {
    cursor: pointer;
    background-image: none;
}

.css-step-unfinished {
    height: 100%;
    color: #939286;
}

.css-step-finished:hover {
    cursor: pointer;
    background-color: #555e7b;
}

.css-step-contents {
    left: 50%;
    height: 100%;
    border: 1px solid transparent;
    padding: 5px;
    padding-top: 10px;
    border-radius: 4px;
}

.css-step-icon {
    font-size: 18px;
    line-height: 1.3;
}

.css-step-icon:after {
    font-size: 18px;
    line-height: 1.3;
}

.css-step-contents.css-step-active {
    background-color: #353e4b;
}

/* connecting bar for steps after */
.css-step-after:after {
    height: 3px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 50%;
    background-color: white;
}

.css-step-before:before {
    height: 3px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    background-color: white;
}

.css-step-unfinished .css-step-after:after {
    background-color:  #939286;
}

.css-step-unfinished .css-step-before:before {
    background-color:  #939286;
}

.css-step-active .css-step-before:before {
    background-color:  white;
}

.css-component-tab-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
}

.css-step-contents.css-step-active {
    color: #c6965a;
}


/* OVERALL LAYOUT */

@media (min-width: 992px) {
    .css-creating-gift-header {
    }

    .css-tabs-and-system {
        position: fixed;
        width: inherit;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .css-tabs-and-system>.panel-default {
        max-height: 83vh;
        overflow: auto;
    }

    .css-content-section {
        min-height: 83vh;
    }
}

.css-tab-header {
    margin-top: 0px;
}

/* COMPONENTS */

.css-component-radio {
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #353e4b;
    cursor: pointer;
}

.css-component-radio:hover {
    border: 1px solid grey;
}

.css-selected-component {
    border-color: white;
}

.css-selected-component .css-component-header {
    color: #c6965a;
}

.css-modality-radio {
    text-align: center;
    padding: 10px;
}

.css-effect-radio {
    padding: 5px;
    padding-left: 10px;
}

.css-vector-radio {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.css-effect-radio:hover {
}


.css-description {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* SYSTEM TEXT STYLING */

.css-system-text-user-input {
    font-style: italic;
    color: #c3c2b6;
}

.css-system-text-roll {
    font-weight: bold;
}

/* GIFT CREDIT / COST */

.css-component-gift-credit {
    color: #499773;
}

.css-component-gift-price {
    color: #a94442;
}