
.css-gift-cost-cont {
    width: 290px;
    margin: auto;
    margin-top: 10px;
}

.css-gift-cost {
    width: 290px;
    margin: auto;
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: #5a5f6c;
}

.css-fake-height-div {
    height: 40px;
}

.affix {
    top: 60px;
    z-index: 9999 !important;
}

.css-modifier-text {
    font-weight: 400;
}