
/*Special Nav Tabs
source: https://www.codeply.com/go/bp/74926
 custom inclusion of right, left and below tabs */

.tabs-below  .nav-tabs,
.tabs-right  .nav-tabs,
.tabs-left  .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below  .nav-tabs {
  border-top: 1px solid  #a6763a;
}

.tabs-below  .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below  .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below  .nav-tabs > li > a:hover,
.tabs-below  .nav-tabs > li > a:focus {
  border-top-color:  #a6763a;
  border-bottom-color: transparent;
}

.tabs-below  .nav-tabs > .active > a,
.tabs-below  .nav-tabs > .active > a:hover,
.tabs-below  .nav-tabs > .active > a:focus {
  border-color: transparent  #a6763a  #a6763a  #a6763a;
}

.tabs-left  .nav-tabs > li {
  float: none;
}

.tabs-left  .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left  .nav-tabs {
  float: left;
  margin-right: 20px;
  border-right: 1px solid  #a6763a;
}

.tabs-left  .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 0px;
}

.tabs-left  .nav-tabs > li > a:hover,
.tabs-left  .nav-tabs > li > a:focus {
  border-color: #a6763a #a6763a #a6763a #a6763a;
}

.tabs-left  .nav-tabs .active > a,
.tabs-left  .nav-tabs .active > a:hover,
.tabs-left  .nav-tabs .active > a:focus {
  border-color:  #a6763a #111418  #a6763a  #a6763a;
  position: relative;
  z-index: 3;
}


/* CUSTOM STYLES */


.col-md-9 {
    padding-right: 5px;
    padding-bottom: 5px;
}

.panel-heading {
    padding: 10px 15px;
}

.panel-default {
    margin-bottom: 5px !important;
}

.nav-tabs {
    width: 300px;
    /*background-color: #F3F3F3;*/
    margin-right: 0px !important;
    position: relative;
    left: 1px;
}

.tab-content, .nav-tabs {
    margin-left: 14px;
}

.tab-content {
    height: 100%;
    overflow: auto;
    background-color: #111418;
    border-top: 1px solid  #a6763a;
    border-left: 1px solid  #a6763a;
}

.nav-tabs>li.active>a {
    background-color: #111418 !important;
    color: #F3F2E6 !important;
}

.main-header {
    /*background-color: #FFFFFF;*/
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.tab-pane {
    height: 100%;
    background-color: #111418;

}

.small-section-header {
    background-color: #20252d;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.small-section{
    background-color: #20252d;
    margin-right: -10px;
    margin-left: -10px;
}

.tabs-left {
    height: 100%;
    background-color: #20252d;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}

.col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

h3 {
    margin-top: 5px;
}

.thumbnail {
    margin-bottom: 10px;
}


.nav>li>a h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 10px;

}

.thumbnail {
    /*background-color: #f3f3f3;*/
}

.unstyled-link {
    color: #939286;
    text-decoration: none;
}

.unstyled-link:focus {
    color: #939286;
    text-decoration: none;
}

.fake-link {
    color: #84A0B1;
    text-decoration: underline;
}

.panel-heading {
    background-color: #5a5f6c;
    border: solid 1px black;
}

.panel-group {
    margin-bottom: 20px;
}