
.css-big-modal-body {
    width:598px;
    position:relative;
    left:300px;
}

.css-big-modal-header {
    width:598px;
    position:relative;
    left:300px;
}

.css-big-modal-image {
    height: 100%;
    float:right;
    position: absolute;
    right: 600px;
}

.css-big-modal-carousel {
    width:100%;
    position: absolute;
    height: 100%;
    right:620px;
}

#tutorialModal {
    z-index: 9999;
}

.css-big-modal-lg {
    position: relative;
    left: 70px;
}

.css-sm-modal-image {
    max-height: 60vh;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}