<div class="thumbnail">
        {% if reward.is_void %}
            <strike>
        {% endif %}
        <b>
            {{ reward.type_text }}
        </b>
        from
        {% if reward.relevant_game %}
            <a href="{% url 'games:games_view_game' reward.relevant_game.id %}">
                {{ reward.reason_text }}
            </a>
        {% else %}
                {{ reward.reason_text }}
        {% endif %}
        {% if reward.relevant_power %}
            spent on
            <a href="{% url 'powers:powers_view_power' reward.relevant_power.id %}">
                {{ reward.relevant_power.creation_reason_action_text }} power: {{ reward.relevant_power.name }}
            </a>
            {% if reward.relevant_power.creation_reason_expanded_text %}
                <span title="{{reward.relevant_power.creation_reason_expanded_text}}"><i class="fa fa-question-circle fa-1x"></i> </span>
            {% endif %}
        {% else %}
                : Unspent
        {% endif %}
        {% if reward.is_void %}
            </strike> &nbsp;&nbsp; Refunded
        {% endif %}
</div>