{% extends "emails/base_email.html" %}

{% block email_body %}
<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
    <tr>
        <td style="padding:0;">
            <h4>{{gm.username}} has invited you to join a Contract in {{game.cell.name}}.</h4>
        </td>
    </tr>
    <tr>
        <td style="padding:0; color:grey;">
            <p>{{invite_text}}</p>
        </td>
    </tr>
    <tr>
        <td style="padding:0;">
            <h4><a href="{{game_url}}">Click here to see details and RSVP.</a></h4>
        </td>
    </tr>
</table>
{% endblock %}
