.css-guide-section {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
@media (max-width: 768px) {
    .css-guide-section {
        top: -100px;
    }
}

#main-container {
    max-width: 1650px;
    margin: auto;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .css-guidebook-col {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        top: 40px;
    }
}


/* required for scrollspy */
body {position:relative;}

.css-section-body {
    background-color: #353e4b !important;
    padding: 10px;
    border-radius: 4px;
}

.css-section-backdrop {
    background-color: #353e4b !important;
}

.css-guide-content h3 {
    margin-top: 0px;

}

.css-section-anchor-link {
    margin-top: -10px;
}

@media(max-width: 768px) {
    .css-section-anchor-link {
        margin-top: -8px;
    }
}

.css-admin-buttons {
    margin-bottom: 10px;
}


/* stml stylings */
.css-gm-tip {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: italic;
    background-color: #455864 !important;
    border-radius: 4px;
    border: 1px solid #252e3b;
}

.css-gm-tip-header {
    font-size: 18px;
    padding-top: 5px;
}

.css-gm-tip-content {
    padding-left: 20px;
}

.css-subsection { /* TODO: implement or delete*/
    background-color: #454e5b !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #252e3b;
}

/* navbar style */

.guide-toc {
    font-size: 15px;
    color: #9fb1bc;
    background-color: #20252d;
    padding-left: 25px;
    width: inherit;
}

#js-guide-index {
    position: fixed;
    max-height: calc(100vh - 60px);
    max-width: 400px;
    overflow: auto;
    top: 60px;
}


@media(max-width: 1540px) {
    #js-guide-index {
        max-width: 330px;
    }
}

.css-inner-nav-list {
    padding-left: 35px;
}

.guide-toc li>a {
    padding-left: 5px !important;
}

.guide-toc h3 {
    padding-right: 25px;
}

.guide-toc ol {
    list-style: square !important;
    list-style-type:decimal !important;
    color: #9fb1bc;
    font-weight: bold;
}

.guide-toc ol ol {
    list-style-type:lower-alpha !important;
    font-weight: normal;
}

.guide-toc ol ol ol {
    list-style-type:upper-roman !important;
    color: #9fb1bc;
}

.guide-toc ol ol ol li a {
    list-style-type:upper-roman !important;
    color: #9fb1bc;
}

.guide-toc ol ol ol>li+li {
    margin-top: 0px;
}


.guide-toc ol ol ol ol {
    list-style-type:lower-roman !important;
}

.css-article-content {
    margin: auto;
}

.guide-toc li {
    width: 100%;
    display: list-item;
}

.guide-toc li>a {
    width: 100%;
    display: block;
    padding: 2px;
}

.guide-toc ol li>a {
    padding: 1px;
}

.guide-toc ol ol li>a {
    padding: 1px;
}

.guide-toc li>a:hover {
    background-color: #353e4b !important;
    border-radius: 2px;
}

.guide-toc .active>a {
    background-color: #252e3b !important;
    border-right: 2px solid #a6763a;
    border-radius: 2px;
    width: 100%;
    font-weight: bold;
}

.guide-toc .active {
    color: #a6763a;
}

@media(max-width: 768px) {

    #js-guide-index {
       position: fixed;
       max-width: none;
       overflow-x: scroll;
       overflow-y: visible;
       width: 100vw;
       white-space: nowrap;
       height: 35px;
       z-index: 5;
       top: 51px;
    }

    .css-toc-sec {
        margin-left: 0px;
        padding-left: 0px;
    }

    #js-guide-index li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        width: auto;
        height: 100%;
    }

    .guide-toc {
        padding-left: 5px;
    }

    .guide-toc li>a {
        display: inline-block;
        width: auto;
        height: 100%;
        padding-top: 5px !important;
    }

    .guide-toc li {
        display: inline-block;
        width: auto;
        height: 100%;
    }

    .guide-toc ol {
        display: inline-block;
        height: 100%;
    }

    .css-inner-nav-list {
        padding-left: 5px;
    }
    .guide-toc .active>a {
        border-right-width: 0px;
        border-bottom: 1px solid #a6763a;
        width: auto;
    }
    .nav-stacked>li+li {
        margin-top: 0px;
    }
}

