.css-section-body p, .css-section-body li, .css-section-body td, .css-section-body .col-xs-12 {
    font-family: Georgia, Times, serif;
}

.css-section-body strong, .css-section-body h4, .css-section-body h5, .css-section-body h3{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.css-section-body ul {
    list-style-type: "\25C6";
}

.css-section-body li {
    padding-left: 8px;
}

.css-section-body ul ul {
    list-style-type: "\25C7";
}

.css-guide-image {
    max-height: 100%;
    max-width: 100%;
    min-height: 250px;
    position: relative;
    margin-bottom: 10px;
}
.css-guide-image img {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   display: block;
   margin: auto;
}

.css-guide-image-caption {
    padding-top: 5px;
    text-align: center;
    font-style: italic;
}

.css-guide-image-sm {
    display: inline;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top, center;
}

.css-guide-image-xs {
    display: inline-block;
    float: left;
    margin-right: 5px;
    min-width: 25px;
    min-height: 25px;
    max-height: 100%;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top, center;
}

@media (max-width: 991px) {
    .css-guide-image {
        min-height: 300px;
    }
}

@media (min-width: 991px) {
    .css-section-body>.css-guide-image {
        min-height: 500px;
    }
}

.css-guide-section {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.css-bullet-list-sub {
    padding-left: 10px;
    margin-bottom: 5px;
}

.css-hidden-section {
    border: 2px dotted violet;
}

.css-hidden-section-warning {
    color: violet;
}

@media (max-width: 768px) {
    .css-guide-section {
        top: -100px;
    }
}

#main-container {
    max-width: 1650px;
    margin: auto;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .css-guidebook-col {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        top: 40px;
        z-index: 4;
    }
}


/* required for scrollspy */
body {position:relative;}

.css-section-body {
    background-color: #353e4b !important;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

@media (min-width: 991px) {
    .css-section-body p+p {
        text-indent: 30px;
    }

    .css-section-body p+p .css-guide-image, .css-section-body p+p .css-guide-image-sm {
        /* images shouldn't be indented */
        margin-left: -30px;
    }
}

.css-section-body>p, .css-section-body>h3, .css-section-body>h4, .css-section-body>h5, .css-section-body>ul {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .css-section-body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.css-section-body .col-xs-12 {
    overflow: auto;
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    flex-flow: column;
}

.css-section-body .row {
    display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.css-section-body td, .css-section-body th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.css-section-backdrop hr {
    margin-bottom: 0px;
    margin-top: 15px;
    padding-top: 20px;
}

.css-section-heading-1 {
    padding-top: 15px;
    margin-top: 15px;
}

.css-section-heading-1 h1 {
    margin-top: 0px;
}

.css-section-heading-2 {
    background-color: #28313f;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.css-section-heading-2 h2 {
    margin-top: 0px;
}

.css-section-heading-3 {
    background-color: #303a48;
    padding-top: 10px;
    padding-bottom: 5px;
}
.css-section-heading-3 h3 {
    margin-top: 0px;
}

.css-section-heading-4 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.css-section-backdrop {
    background-color: #353e4b !important;
}

.css-guide-content h3 {
    margin-top: 0px;
}

.css-guide-content {
    padding-top: 0px;
    z-index: 4;
    position: relative;
}

.css-section-anchor-link {
    margin-top: -10px;
}

@media(max-width: 768px) {
    .css-section-anchor-link {
        margin-top: -8px;
    }
}

.css-admin-buttons {
    margin-bottom: 10px;
}


/* stml stylings */
.css-gm-tip {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: italic;
    background-color: #455864 !important;
    border-radius: 4px;
    border: 1px solid #252e3b;
}

.css-gm-tip-header {
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.css-gm-tip-header .css-guide-image-xs {
    margin-right: 10px;
}

.css-gm-tip-content {
    padding-left: 35px;
    padding-top: 5px;
}

.css-subsection { /* TODO: implement or delete*/
    background-color: #454e5b !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #252e3b;
}

.css-examples {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: italic;
    background-color: #454764 !important;
    border-radius: 4px;
    border: 1px solid #252e3b;
}

.css-examples-header {
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.css-examples-header .css-guide-image-xs {
    margin-right: 10px;
}

.css-examples-content {
    padding-left: 35px;
    padding-top: 5px;
}
